<aside class="left-sidebar" data-sidebarbg="skin5">
        <div class="scroll-sidebar ps-container ps-theme-default" style="overflow-y:scroll !important;" data-ps-id="09021c47-e9f2-1ee5-0dc0-f7c7577627bd">

            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <p-panelMenu class="menu-custom-class" [multiple]="false" [transitionOptions]="'0ms'" [model]="items" [style]="{'width':'300px'}"></p-panelMenu>    
              </ul>
            </nav>
            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;">
                <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
            </div>
        </div>
    </aside>