<!-- used for font weight 600 as per user requirement  -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300&display=swap"
    rel="stylesheet">
<!-- end -->
<div class="preloader" style="display: none;">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
    <app-header></app-header>
    <app-sidebar></app-sidebar>

    <div class="page-wrapper">
        <div class="container-fluid" style="background:#dcdcdc;">
            <form [formGroup]="requisitionform" novalidate>
                <div class="example-loading-shade" *ngIf="isLoadingResults ">
                    <mat-spinner [diameter]="40" *ngIf="isLoadingResults"></mat-spinner>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card" style="border-top: 2px solid #0e43af;box-shadow:0 1px 3px rgba(0,0,0,.3);"
                            (click)="dropdownHide()">
                            <div class="card-body border-bottom py-2 d-flex">
                                <div class="col-md-12">
                                    <div class="form-inline">
                                        <div class="col-md-8 d-md-flex align-items-center justify-content-between">
                                            <div class="d-flex">
                                                <a [routerLink]="['/die-master']"
                                                    class="btn btn-sm rounded btn-warning mr-3" title="Back"><i
                                                        class="mdi mdi-keyboard-backspace"></i></a>

                                                <h4 class="modal-title " id="exampleModalLabel">
                                                    {{'addsheetrequirementfromstore'
                                                    | translate}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex- row">
                                <div class="col-md-12 tab-content m-t-10" id="pills-tabContent">
                                    <div class="card-body border-bottom purchase-order px-0 py-2">
                                        <!-- <h4 class="modal-title " style="margin-left: 16px;margin-bottom: 8px;"
                                            id="exampleModalLabel">{{'masterinformation'
                                            | translate}}</h4> -->
                                        <div class="form-inline">


                                            <div class="form-group row col-md-4 mb-2 p-0">
                                                <label class="col-md-6 text-right ">{{'reqno'
                                                    |translate}} </label>
                                                <div class="col-md-6 pr-0">
                                                    <input class="form-control w-100  form-control-sm pl-3"
                                                        name="manualslipno" [(ngModel)]="newData.CUSTOMERINITIAL"
                                                        maxlength="4" [ngModelOptions]="{standalone: true}" >
                                                </div>
                                            </div>

                                            <div class="form-group row col-md-4 mb-2">
                                                <label class="col-md-6 text-right  ">{{'dated'
                                                    |translate}}</label>
                                                <div class="col-md-6 pr-0">
                                                    <mat-form-field
                                                        class="form-control w-100 mat-form-field-date-picker">
                                                        <input matInput [matDatepicker]="rdate" name="reqndate"
                                                            [(ngModel)]="newData.date"
                                                            [ngModelOptions]="{standalone: true}" readonly>
                                                        <mat-datepicker-toggle matSuffix [for]="rdate">
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker #rdate></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <div class="form-group row col-md-12 mb-2">
                                                <label class="col-md-2 text-right  pr-3">{{'orderof'
                                                    |translate}} </label>
                                                <div class="col-md-10 pl-1">
                                                    <input (keyup)="searchTermCustomer($event)" name="PARTYNAME"
                                                    [(ngModel)]='newData.PARTYNAME'
                                                    [ngModelOptions]="{standalone: true}"
                                                    [value]="newData.PARTYNAME || ''" autocomplete="off"
                                                    class="w-100 form-control error-border form-control-sm "
                                                    maxlength="250">
                                                <button class="close-icon" style="position: absolute; top: 8px;"
                                                    (click)="reset1(newData)"></button>
                                                <div *ngIf="arrayItemCustomer != ''" class="search-list-header">
                                                    <!-- <div class="example-loading-shade" *ngIf="isLoading">
                                                        <mat-spinner [diameter]="20" *ngIf="isLoading">
                                                        </mat-spinner>
                                                    </div> -->
                                                    <table id="selectedValue"
                                                        class="table table-condensed table-striped table-hover">
                                                        <tr class="ui-menu-item" role="menuitem">
                                                            <th>{{'name' | translate}}</th>
                                                            <th>{{'address' | translate}}</th>
                                                        </tr>
                                                        <tr class="ui-menu-item" role="menuitem"
                                                            *ngFor="let result of photosBuffer"
                                                            (click)="onChangeOfItemCodeCustomer(result, newData)">
                                                            <td>{{ result.NAME }}</td>
                                                            <td>{{ result.ADDRESS1 }} </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-inline">
                                            <div class="col-md-12">
                                                <div class="card-body p-0 mb-1 position-relative">
                                                    <ul class="nav nav-tabs custom-pills font-sm font-weight-sb"
                                                        id="pills-tab" role="tablist">
                                                        <li class="nav-item">
                                                            <a class="nav-link active show" id="qualification_term"
                                                                data-toggle="pill" href="#qualification" role="tab"
                                                                aria-selected="false">{{'despatchplandetailforcustomer'
                                                                | translate}}</a>
                                                        </li>

                                                        <!-- <li class="nav-item">
                                                            <a class="nav-link" id="experience_term" data-toggle="pill"
                                                                href="#experience" role="tab"
                                                                aria-selected="false">{{'attachducuments' | translate}}</a>
                                                        </li> -->
                                                    </ul>
                                                    <div class="table-scroll">
                                                        <div class="tab-content m-t-10" id="pills-tabContent">

                                                            <div class="tab-pane fade active show" id="qualification"
                                                                role="tabpanel" aria-labelledby="qualification_term">
                                                                <div class="scroll-spy" data-spy="scroll"
                                                                    data-target="#navbar-example2" data-offset="0">
                                                                    <div
                                                                        class="card-body border-top purchase-order px-0 py-2">
                                                                        <div class="table-wrapper-scroll"
                                                                            style="max-height: 300px;">
                                                                            <table
                                                                                class="table table-striped custom-table tr th">
                                                                                <thead>
                                                                                    <tr
                                                                                        style="background-color: #666666; color: #ffffff;">
                                                                                        <th scope="col"
                                                                                            style="width:4%;">
                                                                                            {{'sr' | translate}}</th>
                                                                                        <th scope="col"
                                                                                            style="width:15%;">
                                                                                            {{'orderno' | translate}}
                                                                                        </th>
                                                                                        <th scope="col"
                                                                                            style="width:15%;">
                                                                                            {{'ipono' | translate}}
                                                                                        </th>
                                                                                        <th scope="col"
                                                                                            style="width:15%;">
                                                                                            {{'ipodate' | translate}}
                                                                                        </th>
                                                                                        <th scope="col"
                                                                                            style="width:25%;">
                                                                                            {{'Frameno' | translate}}
                                                                                        </th>
                                                                                        <th scope="col"
                                                                                            style="width:10%;">
                                                                                            {{'coil' |
                                                                                            translate}}
                                                                                        </th>
                                                                                        <!-- <th scope="col" style="width:10%;">
                                                                                            {{'manufacturedon' | translate}}
                                                                                        </th> -->
                                                                                        <th scope="col"
                                                                                            style="width:5%;">
                                                                                            {{'width' |
                                                                                            translate}}
                                                                                        </th>
                                                                                        <th scope="col"
                                                                                            style="width:5%;">
                                                                                            {{'weight' |
                                                                                            translate}}
                                                                                        </th>

                                                                                        <th scope="col"
                                                                                            style="width:6%;text-align: center;">
                                                                                            {{'action' | translate}}
                                                                                        </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody class="font-sm">
                                                                                    <tr>
                                                                                        <td>
                                                                                            <strong></strong>
                                                                                        </td>

                                                                                        <td>
                                                                                            <input name="assetno"
                                                                                                class="w-100 form-control error-border form-control-sm"
                                                                                                [(ngModel)]='newContact.ASSETNO'
                                                                                                [ngModelOptions]="{standalone: true}"
                                                                                                [value]="newContact.ASSETNO || ''"
                                                                                                maxlength="100">
                                                                                        </td>

                                                                                        <td>
                                                                                            <ngx-select
                                                                                            class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"
                                                                                            [ngModelOptions]="{standalone: true}"
                                                                                            name="deptid"
                                                                                            [allowClear]="true"
                                                                                            [(ngModel)]="newContact.frameno"
                                                                                            [items]="toolNoArray"
                                                                                            optionValueField="id"
                                                                                            optionTextField="name"
                                                                                            placeholder="{{'pleaseselect' | translate}}">
                                                                                        </ngx-select>
                                                                                        </td>

                                                                                        <td>
                                                                                            <mat-form-field
                                                                                                class="form-control py-1 mat-form-field-date-picker">
                                                                                                <input matInput
                                                                                                    [matDatepicker]="picker13"
                                                                                                    [min]="fystartdate"
                                                                                                    [max]="myDate"
                                                                                                    [(ngModel)]='newContact.MANUFACTURINGYEAR'
                                                                                                    [ngModelOptions]="{standalone: true}">
                                                                                                <mat-datepicker-toggle
                                                                                                    matSuffix
                                                                                                    [for]="picker13">
                                                                                                </mat-datepicker-toggle>
                                                                                                <mat-datepicker
                                                                                                    #picker13>
                                                                                                </mat-datepicker>
                                                                                            </mat-form-field>
                                                                                        </td>

                                                                                        <td>
                                                                                            <div class="form-group">
                                                                                                <ngx-select
                                                                                                    class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"
                                                                                                    [ngModelOptions]="{standalone: true}"
                                                                                                    name="deptid"
                                                                                                    [allowClear]="true"
                                                                                                    [(ngModel)]="newContact.frameno"
                                                                                                    [items]="toolNoArray"
                                                                                                    optionValueField="id"
                                                                                                    optionTextField="name"
                                                                                                    placeholder="{{'pleaseselect' | translate}}">
                                                                                                </ngx-select>
                                                                                            </div>
                                                                                        </td>

                                                                                        <td>
                                                                                            <div class="form-group">
                                                                                                <input class="form-control w-100  form-control-sm pl-3"
                                                                                                name="manualslipno" [(ngModel)]="newContact.CUSTOMERINITIAL"
                                                                                                maxlength="4" [ngModelOptions]="{standalone: true}" >
                                                                                            </div>
                                                                                        </td>

                                                                                        <!-- <td>
                                                                                            <div class="form-group">
                                                                                                <mat-form-field class="form-control py-1 mat-form-field-date-picker">
                                                                                                    <input matInput [matDatepicker]="picker9" [min]="fystartdate" [max]="myDate"
                                                                                                        [(ngModel)]='newContact.manufacturedon' [ngModelOptions]="{standalone: true}"
                                                                                                        [value]="newContact.manufacturedon || ''">
                                                                                                    <mat-datepicker-toggle matSuffix [for]="picker9">
                                                                                                    </mat-datepicker-toggle>
                                                                                                    <mat-datepicker #picker9>
                                                                                                    </mat-datepicker>
                                                                                                </mat-form-field>
                                                                                            </div> -->
                                                                                            <!-- </td> -->
                                                                                            
                                                                                            <td>
                                                                                                <div class="form-group">
                                                                                                    <input class="form-control w-100  form-control-sm pl-3" name="manualslipno"
                                                                                                        [(ngModel)]="newData.CUSTOMERINITIAL" maxlength="4" [ngModelOptions]="{standalone: true}" >
                                                                                                </div>
                                                                                            </td>
                                                                                            
                                                                                            <td>
                                                                                                <div class="form-group">
                                                                                                    <input class="form-control w-100  form-control-sm pl-3" name="manualslipno"
                                                                                                        [(ngModel)]="newData.CUSTOMERINITIAL" maxlength="4" [ngModelOptions]="{standalone: true}" >
                                                                                                </div>
                                                                                            </td>
                                                                                            <td
                                                                                            style="width:60px;text-align: center;">
                                                                                            <i (click)="addContact()"
                                                                                                class="fas fa-plus {{canCreateCommonClass}}"></i>
                                                                                        </td>

                                                                                    </tr>

                                                                                    <tr
                                                                                        *ngFor="let contact of contacts ; let i = index">

                                                                                        <td
                                                                                            *ngIf="contact.ID == editContactID">
                                                                                            <input type="text"
                                                                                                class="form-control w-100"
                                                                                                [readonly]="true"
                                                                                                [(ngModel)]='contact.ID'
                                                                                                [ngModelOptions]="{standalone: true}">
                                                                                        </td>
                                                                                        <td *ngIf="contact.ID != editContactID"
                                                                                            (dblclick)="editContact(contact.ID)">
                                                                                            {{i+1}}</td>



                                                                                        <td width="30%"
                                                                                            *ngIf="contact.ID === editContactID">
                                                                                            <input type="text"
                                                                                                class="form-control w-100"
                                                                                                (keyup.enter)="updateContact(contact)"
                                                                                                [(ngModel)]='contact.ASSETNO'
                                                                                                [ngModelOptions]="{standalone: true}"
                                                                                                maxlength="100">
                                                                                        </td>
                                                                                        <td width="30%"
                                                                                            *ngIf="contact.ID !== editContactID"
                                                                                            (dblclick)="editContact(contact.ID)">
                                                                                            {{contact.ASSETNO |
                                                                                            titlecase}}</td>


                                                                                        <td width="30%"
                                                                                            *ngIf="contact.ID === editContactID">
                                                                                            <ngx-select
                                                                                                    class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"
                                                                                                    [ngModelOptions]="{standalone: true}"
                                                                                                    name="deptid"
                                                                                                    [allowClear]="true"
                                                                                                    [(ngModel)]="newContact.frameno"
                                                                                                    [items]="toolNoArray"
                                                                                                    optionValueField="id"
                                                                                                    optionTextField="name"
                                                                                                    placeholder="{{'pleaseselect' | translate}}">
                                                                                                </ngx-select>
                                                                                        </td>
                                                                                        <td width="30%"
                                                                                            *ngIf="contact.ID !== editContactID"
                                                                                            (dblclick)="editContact(contact.ID)">
                                                                                            {{contact.IPONO |
                                                                                            titlecase}}</td>

                                                                                        <td width="30%"
                                                                                            *ngIf="contact.ID === editContactID">
                                                                                            <mat-form-field
                                                                                                class="form-control py-1 mat-form-field-date-picker">
                                                                                                <input matInput
                                                                                                    [matDatepicker]="picker13"
                                                                                                    [min]="fystartdate"
                                                                                                    [max]="myDate"
                                                                                                    [(ngModel)]='contact.MANUFACTURINGYEAR'
                                                                                                    [ngModelOptions]="{standalone: true}">
                                                                                                <mat-datepicker-toggle
                                                                                                    matSuffix
                                                                                                    [for]="picker13">
                                                                                                </mat-datepicker-toggle>
                                                                                                <mat-datepicker
                                                                                                    #picker13>
                                                                                                </mat-datepicker>
                                                                                            </mat-form-field>
                                                                                        </td>
                                                                                        <td width="30%"
                                                                                            *ngIf="contact.ID !== editContactID"
                                                                                            (dblclick)="editContact(contact.ID)">
                                                                                            {{contact.CURRENTLOC  |
                                                                                                date: 'dd/MM/yyyy'}}</td>

                                                                                        <td width="30%"
                                                                                            *ngIf="contact.ID === editContactID">
                                                                                            <div class="form-group">
                                                                                                <ngx-select
                                                                                                    class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"
                                                                                                    [ngModelOptions]="{standalone: true}"
                                                                                                    name="deptid"
                                                                                                    [allowClear]="true"
                                                                                                    [(ngModel)]="contact.materialsource"
                                                                                                    [items]="toolNoArray"
                                                                                                    optionValueField="id"
                                                                                                    optionTextField="name"
                                                                                                    placeholder="{{'pleaseselect' | translate}}">
                                                                                                </ngx-select>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td width="30%"
                                                                                            *ngIf="contact.ID !== editContactID"
                                                                                            (dblclick)="editContact(contact.ID)">
                                                                                            {{contact.frameno}}
                                                                                        </td>

                                                                                        <td width="30%"
                                                                                            *ngIf="contact.ID === editContactID">
                                                                                            <div class="form-group">
                                                                                                <input class="form-control w-100  form-control-sm pl-3"
                                                                                                name="manualslipno" [(ngModel)]="contact.CUSTOMERINITIAL"
                                                                                                maxlength="4" [ngModelOptions]="{standalone: true}" >
                                                                                            </div>
                                                                                        </td>
                                                                                        <td width="30%"
                                                                                            *ngIf="contact.ID !== editContactID"
                                                                                            (dblclick)="editContact(contact.ID)">
                                                                                            {{contact.INSTALLEDON }}
                                                                                        </td>

                                                                                        <!-- <td width="30%" *ngIf="contact.ID === editContactID">
                                                                                            <div class="form-group">
                                                                                                <mat-form-field class="form-control py-1 mat-form-field-date-picker">
                                                                                                    <input matInput [matDatepicker]="picker3" [min]="myDate" [max]="fyenddate"
                                                                                                        [(ngModel)]='contact.manufacturedon' [ngModelOptions]="{standalone: true}">
                                                                                                    <mat-datepicker-toggle matSuffix [for]="picker3">
                                                                                                    </mat-datepicker-toggle>
                                                                                                    <mat-datepicker #picker3>
                                                                                                    </mat-datepicker>
                                                                                                </mat-form-field>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td width="30%" *ngIf="contact.ID !== editContactID" (dblclick)="editContact(contact.ID)">
                                                                                            {{contact.manufacturedon  | date: 'dd/MM/yyyy'}}
                                                                                        </td> -->

                                                                                        <td width="30%"
                                                                                            *ngIf="contact.ID === editContactID">
                                                                                            <div class="form-group">
                                                                                               <input type="text"
                                                                                                class="form-control w-100"
                                                                                                (keyup.enter)="updateContact(contact)"
                                                                                                [(ngModel)]='contact.ASSETNO'
                                                                                                [ngModelOptions]="{standalone: true}"
                                                                                                maxlength="100">
                                                                                            </div>
                                                                                        </td>
                                                                                        <td width="30%"
                                                                                            *ngIf="contact.ID !== editContactID"
                                                                                            (dblclick)="editContact(contact.ID)">
                                                                                            {{contact.OPERATIONALON }}
                                                                                        </td>

                                                                                        <td width="30%"
                                                                                        *ngIf="contact.ID === editContactID">
                                                                                        <div class="form-group">
                                                                                           <input type="text"
                                                                                            class="form-control w-100"
                                                                                            (keyup.enter)="updateContact(contact)"
                                                                                            [(ngModel)]='contact.ASSETNO'
                                                                                            [ngModelOptions]="{standalone: true}"
                                                                                            maxlength="100">
                                                                                        </div>
                                                                                    </td>
                                                                                    <td width="30%"
                                                                                        *ngIf="contact.ID !== editContactID"
                                                                                        (dblclick)="editContact(contact.ID)">
                                                                                        {{contact.OPERATIONALON }}
                                                                                    </td>

                                                                                        <td
                                                                                            style="width:60px;text-align: center;">
                                                                                            <div>
                                                                                                <i *ngIf="contact.ID === editContactID"
                                                                                                    class="fas fa-check customIcon {{canEditCommonClass}}"
                                                                                                    (click)="updateContact(contact)"></i>
                                                                                                <i *ngIf="contact.ID !== editContactID"
                                                                                                    class="fas fa-edit customIcon {{canEditCommonClass}}"
                                                                                                    (click)="editContact(contact.ID)"></i>
                                                                                                <i style="margin-left: 5px;"
                                                                                                    class="far fa-trash-alt customIcon {{canDeleteCommonClass}}"
                                                                                                    (click)="removeContact(i)"></i>
                                                                                            </div>
                                                                                        </td>

                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                            <div class="tab-pane fade" id="experience" role="tabpanel"
                                                                aria-labelledby="experience_term">
                                                                <div class="scroll-spy" data-spy="scroll"
                                                                    data-target="#navbar-example2" data-offset="0">
                                                                    <div
                                                                        class="card-body border-top purchase-order px-0 py-2">
                                                                        <div class="table-wrapper-scroll"
                                                                            style="max-height: 300px;">
                                                                            <div>
                                                                                <input #file type="file" multiple
                                                                                    (change)="upload(file.files)" />
                                                                            </div>
                                                                            <table
                                                                                class="table table-striped custom-table">
                                                                                <thead>
                                                                                    <tr
                                                                                        style="background-color: #666666; color: #ffffff;">
                                                                                        <th scope="col"
                                                                                            style="width:5%;">
                                                                                            {{'sr' | translate}}</th>
                                                                                        <th scope="col"
                                                                                            style="width:80%;">
                                                                                            {{'name' | translate}}</th>
                                                                                        <th scope="col"
                                                                                            style="width:10%;">
                                                                                            {{'download' | translate}}
                                                                                        </th>
                                                                                        <th scope="col"
                                                                                            style="width:10%;">
                                                                                            {{'image' | translate}}</th>
                                                                                        <th scope="col"
                                                                                            style="width:10%;">
                                                                                            {{'action' | translate}}
                                                                                        </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody class="font-sm">
                                                                                    <tr
                                                                                        *ngFor="let image of imagesArray ; let i = index">
                                                                                        <td>{{i+1}}</td>
                                                                                        <td>{{image.filename}}</td>
                                                                                        <td>
                                                                                            <i class="fas fa-download customIcon"
                                                                                                (click)="download(image)"></i>
                                                                                        </td>
                                                                                        <td class="custom-img-icon">
                                                                                            <p-lightbox
                                                                                                [images]="image.images">
                                                                                            </p-lightbox>

                                                                                        </td>
                                                                                        <td>
                                                                                            <i (click)="addContact()"
                                                                                                class="fas fa-plus {{canCreateCommonClass}}"></i>

                                                                                        </td>
                                                                                    </tr>

                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-secondary rounded bg-danger"
                                    [routerLink]="['/rotor-die-casting-production']">{{'cancel'|translate}}</button>
                                <button *ngIf="action == 'new'" [disabled]="isLoadingResults" type="button"
                                    class="btn btn-sm btn-info rounded {{canCreateCommonClass}}"
                                    (click)="validateBeforeSave(newData , 'Insert')">{{'save'|translate}}</button>
                                <button *ngIf="action == 'edit'" [disabled]="isLoadingResults" type="button"
                                    class="btn btn-sm btn-info rounded {{canEditCommonClass}}"
                                    (click)="validateEdit(newData , 'Update')">{{'update'|translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <app-footer></app-footer>
        </div>
    </div>
</div>