
<div class="preloader" style="display: none;">
  <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
  </div>
</div>

<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">

<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper" >
    <div class="container-fluid" style="background:#dcdcdc;">
<form [formGroup]="AcStatement" novalidate>
        <div class="row">
        <div class="col-12">
                <div class="example-loading-shade" *ngIf="isLoadingResults">
                        <mat-spinner  [diameter]="40" *ngIf="isLoadingResults"></mat-spinner>
                   </div>
                <div class="card" style="border-top: 2px solid #0e43af;box-shadow:0 1px 3px rgba(0,0,0,.3);">
            <div class="card-body border-bottom py-2">
                <div class="d-md-flex align-items-center justify-content-between">
                    <div class="d-flex">
                        <h4 class="card-title m-0">Statement of Accounts</h4>
                    </div>
                    
                </div>
            </div>
            <div class="d-flex- row">
               <div class="col-lg-12 tab-content m-t-10" id="pills-tabContent">
                <div class="card-body indent-entry px-0 py-2" >
                  <div class="form-inline ">                     
                
                   
                      <div class="col-md-2" style="max-width: 120px;">
                        <mat-form-field class="w-100">
                            <input matInput 
                              [matDatepicker]="matDatepicker" placeholder="From date" 
                              [formControl]="dateFormControl" [min]="mindate"
                              (dateChange)="onToDateChanged1()"
                              >
                            <mat-datepicker-toggle matSuffix [for]="matDatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #matDatepicker></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <div class="col-md-2"  style="max-width: 120px;">
                          <mat-form-field  class="w-100">
                            <input matInput 
                              [matDatepicker]="matToDatepicker" placeholder="To date" 
                              [formControl]="dateToControl"
                              (dateChange)="onToDateChanged1()"
                              >
                            <mat-datepicker-toggle matSuffix [for]="matToDatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #matToDatepicker></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                                <input type="text" class="form-control form-control-sl w-100" (keyup)="applyFilter($event.target.value)"  placeholder="Search">
                        </div>

              </div>
      
                 
              <div class="col-12">
                    <div class="d-flex justify-content-between align-items-stretch w-100 boxed-layout">
                      <div class="w-100">
                       
                        <div class="card example-container " style="box-shadow:0 1px 3px rgba(0,0,0,.3);height: 450px;" >
                                <table mat-table [dataSource]="fieldArray" matSort class="mat-elevation-z8 table-striped" #table>
                                        <ng-container matColumnDef="NAME">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark">Account Head</th>
                                            <td mat-cell *matCellDef="let element"> {{element.NAME}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="GROUPNAME">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark">Account Group </th>
                                            <td mat-cell *matCellDef="let element"> {{element.GROUPNAME}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="ADDRESS1">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark">Address#1 </th>
                                            <td mat-cell *matCellDef="let element"> {{element.ADDRESS1}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="ADDRESS2">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark">ADDRESS#2 </th>
                                            <td mat-cell *matCellDef="let element"> {{element.ADDRESS2}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="CITY">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark">City </th>
                                                <td mat-cell *matCellDef="let element"> {{element.CITY}} </td>
                                         </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="bg-light" style="height:auto;"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="height:auto;" (click)="openDialog(row)"  ></tr>
                                    </table>
                                   <!-- <mat-paginator [length]="100"
                                        [pageSize]="15"
                                        [pageSizeOptions]="[10, 15, 25, 100]">
                            </mat-paginator> -->
                        </div>
                    </div>
                  </div>
                </div>


                  </div>
                  </div>
                </div>

              </div>
            </div>
        </div>
           
</form> 
 
<app-footer></app-footer>
</div>
</div>
 

</div>