
<div class="preloader" style="display: none;">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
  </div>
  
  <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper" >
    <div class="container-fluid" style="background:#dcdcdc;">
<form autocomplete="off" >
  <div class="row">
      <div class="col-12">
            <div class="example-loading-shade" *ngIf="isLoadingResults">
                    <mat-spinner  [diameter]="40" *ngIf="isLoadingResults"></mat-spinner>
          </div>
          <div class="card" style="border-top: 2px solid #0e43af;box-shadow:0 1px 3px rgba(0,0,0,.3);">
             
              <div class="col-md-12">
                <div class="row">
                <div class="col-md-5">
                        <div class="row m-1">
                                <div class="col-md-12">
                                        <div class="card-body border-bottom py-2">
                                                <div class="col-md-12">
                                                  <!-- <div class="align-items-center justify-content-between"> -->
                                                        <div class="row">
                                                        <!-- <div class="col-sm-6">
                                                                <h4 class="card-title m-0">Tour Form</h4>
                                                        </div>     -->
                                                        <div class="d-flex">
                                                            <a skipLocationChange  [routerLink]="backto" class="btn btn-sm rounded btn-warning mr-3" title="Back to Orders"><i
                                                                    class="mdi mdi-keyboard-backspace"></i></a>
                                                            <h4 class="card-title m-0">Tour Form</h4>
                                                        </div>
                                                      <div class="col-sm-3">
                                                        
                                                        <!-- <button *ngIf="!isAddNew" type="submit" (click)="addNewOrder()"  class="btn btn-sm rounded btn-info waves-effect waves-light" > Add New</button>&nbsp; -->
                                                        <button *ngIf="routeAction=='new'" [disabled]="isLoadingResults"  type="submit" (click)="validateDetail()"  class="btn btn-sm rounded btn-info waves-effect waves-light" >Save</button>
                                                        <button *ngIf="routeAction=='edit'" [disabled]="isLoadingResults"  type="submit" (click)="validateDetail()"  class="btn btn-sm rounded btn-info waves-effect waves-light" >Update</button>
                                                        
                                
                                                      </div>
                                                      <div class="col-sm-3">
                                                            <button *ngIf="routeAction=='new'" [disabled]="isLoadingResults"  type="submit" (click)="refresh()"  class="btn btn-sm rounded btn-warning waves-effect waves-light" >Referesh</button>
                                                      </div>
                                                  </div>
                                                </div>
                                              </div>

                               </div>
                        </div>
                    <div class="row m-1">
                    <div class="col-md-5">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Emp No" name="EmpNo"
                            [(ngModel)]="EmpNo" [ngModelOptions]="{standalone: true}" (focusout)="showData()"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');">
                          </mat-form-field>
                    </div>
                        <div class="col-md-2"> &nbsp;       
                   </div>
                   
                    <div class="col-md-5" >
                      
                        <mat-form-field style="width: 100%">
                            <input matInput [matDatepicker]="pickerd" name="myDate" placeholder="Dated"
                                [(ngModel)]='myDate'
                                [ngModelOptions]="{standalone: true}">
                            <mat-datepicker-toggle matSuffix [for]="pickerd"></mat-datepicker-toggle>
                            <mat-datepicker #pickerd></mat-datepicker>
                         </mat-form-field>
                      </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-md-12">
                                <mat-form-field class="example-full-width w-100">
                                        <input matInput placeholder="Name" name="NAME"
                                        [(ngModel)]="newData.NAME" [ngModelOptions]="{standalone: true}" >
                               </mat-form-field>
<!-- 
                            <b> Name</b> 
                        </div>
                        <div class="col-md-9">
                             <input  type="text" class="form-control form-control-sm" name="NAME"
                                 [(ngModel)]="newData.NAME" [ngModelOptions]="{standalone: true}"> -->
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-md-12">
                                <mat-form-field class="example-full-width w-100">
                                        <input matInput placeholder="Designation" name="DESIGNATION"
                                        [(ngModel)]="newData.DESIGNATION" [ngModelOptions]="{standalone: true}" >
                               </mat-form-field>
                            <!-- <b> Designation</b> 
                        </div>
                        <div class="col-md-9">
                            
                          <input  type="text" class="form-control form-control-sm" name="DESIGNATION"
                                 [(ngModel)]="newData.DESIGNATION" [ngModelOptions]="{standalone: true}"> -->
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-md-12">
                                <mat-form-field class="example-full-width w-100">
                                        <input matInput placeholder="Department" name="DEPARTMENT"
                                        [(ngModel)]="newData.DEPARTMENT" [ngModelOptions]="{standalone: true}" >
                               </mat-form-field>
                            <!-- <b>Department</b> 
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" name="DEPARTMENT" 
                            [(ngModel)]="newData.DEPARTMENT" [ngModelOptions]="{standalone: true}"> -->
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-md-5">
                            <!-- <b>Leave From</b> 
                        </div>
                        <div class="col-md-3"> -->
                            <mat-form-field style="width: 100%">
                                <input matInput [matDatepicker]="pickerf" name="TOURSTARTDATE"
                                    [(ngModel)]='newData.TOURSTARTDATE' placeholder="Tour Start From"
                                    [ngModelOptions]="{standalone: true}">
                                <mat-datepicker-toggle matSuffix [for]="pickerf"></mat-datepicker-toggle>
                                <mat-datepicker #pickerf></mat-datepicker>
                             </mat-form-field>
                        </div>
                        <div class="col-md-2"> &nbsp;
                            </div>
                            <div class="col-md-5">
                            <!-- <b>Leave to</b> 
                        </div>
                        <div class="col-md-3"> -->
                            <mat-form-field style="width: 100%">
                                <input matInput [matDatepicker]="picker4" name="TOURENDDATE"
                                    [(ngModel)]='newData.TOURENDDATE'  placeholder="Tour upto"
                                    [ngModelOptions]="{standalone: true}">
                                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                <mat-datepicker #picker4></mat-datepicker>
                             </mat-form-field>
                        </div>
                    </div>
                    <div class="row m-1">
                    <div class="col-md-12">
                            <mat-form-field class="example-full-width w-100">
                                    <textarea matInput placeholder="Reason for Tour"  name="REASONFORTOUR" [(ngModel)]="newData.REASONFORTOUR"></textarea>
                            </mat-form-field>
                        <!-- <b>Reason for Leave</b> 
                    </div>
                    <div class="col-md-9">
                        <textarea type="text" autosize class="form-control form-control-sm text-area-custom-item" name="REASONFORLEAVE" [(ngModel)]="newData.REASONFORLEAVE" >
                          </textarea> -->
                    </div>
                  </div>
                  <div class="row m-1">
                    <div class="col-md-12">
                            <mat-form-field class="example-full-width w-100">
                                    <textarea matInput placeholder="Party Name and Address"   name="PARTYNAMEANDADDRESS" [(ngModel)]="newData.PARTYNAMEANDADDRESS"></textarea>
                            </mat-form-field>
                        <!-- <b>Address while on Leave</b> 
                    </div>
                    <div class="col-md-9">
                        <textarea type="text" autosize class="form-control form-control-sm text-area-custom-item" name="ADDRESS" [(ngModel)]="newData.ADDRESS" >
                          </textarea> -->
                    </div>
                  </div>
                  <div class="row m-1">
                    <div class="col-md-5">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Advance Amt" name="newData.ADVANCEAMT"
                            [(ngModel)]="newData.ADVANCEAMT" [ngModelOptions]="{standalone: true}" 
                            oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');">
                          </mat-form-field>
                    </div>
                      </div>  
                    </div>
                   
                    <div class="col-md-7">
                       <div class="table-scroll mx-1" style="height:500px">
                        <div class="card-body border-top indent-entry px-0 py-2">
                            <b>Bus Ticket Detail</b>
                            <table class="table table-striped custom-table tr th w-100">
                                    <thead>
                                            <tr style="background-color: #666666; color: #ffffff;">
                                                <th  style="width:31%;">From City</th>
                                                <th  style="width:31%;">To City</th>
                                                 <th  style="width:15%;">Date of Journey</th>
                                                <th scope="col" style="width:8%;text-align: center;">{{'action' | translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody class="font-sm">
                                        <tr *ngFor="let item of busTicketList ; let i = index">
                                      
                                                <td *ngIf="i == editBusId"><input  type="text" class="form-control w-100" [(ngModel)]='item.FROMCITY' [ngModelOptions]="{standalone: true}"></td>
                                                <td *ngIf="i != editBusId"  (dblclick)="editItem(i,'B')">{{item.FROMCITY }}</td>
                
                                                <td *ngIf="i == editBusId">
                                                        <input  type="text" class="form-control w-100" [(ngModel)]='item.TOCITY' [ngModelOptions]="{standalone: true}"  (dblclick)="editItem(i,'B')">
                                                   
                                                </td>
                                                <td *ngIf="i != editBusId" (dblclick)="editItem(i,'B')">{{item.TOCITY }}</td>
        
                                                <td *ngIf="i == editBusId">
                                                        <mat-form-field class="form-control py-1 mat-form-field-date-picker">
                                                                <input matInput [matDatepicker]="picker18" name="date" [(ngModel)]='item.DATEOFJOURNEY' [ngModelOptions]="{standalone: true}">
                                                                <mat-datepicker-toggle matSuffix [for]="picker18"></mat-datepicker-toggle>
                                                                <mat-datepicker #picker18></mat-datepicker>
                                                        </mat-form-field>
                                               
                                                </td>
                                                <td *ngIf="i != editBusId" (dblclick)="editItem(i,'B')">{{item.DATEOFJOURNEY | date:'dd/MM/yy'}}</td>                                        
                
                                                <td style="width:60px;text-align: center;">
                                                    <div>
                                                        <i *ngIf="i == editBusId" class="fas fa-check customIcon" (click)="updateItem('B')"></i>
                                                        <i *ngIf="i != editBusId" class="fas fa-edit customIcon" (click)="editItem(i,'B')"></i>
                                                        <i style="margin-left: 5px;" class="far fa-trash-alt customIcon" (click)="removeItem(busTicketList, i)"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                            
                                            <tr style="height:auto">
                                                 <td><input  type="text" class="form-control w-100" [(ngModel)]="newBusItem.FROMCITY" [ngModelOptions]="{standalone: true}"></td>
                                           
                                                  <td>
                                                        <input  type="text" class="form-control w-100" [(ngModel)]='newBusItem.TOCITY' [ngModelOptions]="{standalone: true}">
                                                </td>
                                                <td>
                                                        <mat-form-field class="form-control py-1 mat-form-field-date-picker">
                                                                <input matInput [matDatepicker]="picker17" name="date" [(ngModel)]='newBusItem.DATEOFJOURNEY' [ngModelOptions]="{standalone: true}">
                                                                <mat-datepicker-toggle matSuffix [for]="picker17"></mat-datepicker-toggle>
                                                                <mat-datepicker #picker17></mat-datepicker>
                                                        </mat-form-field>
                                                </td>
                                                <td style="width:60px;text-align: center;">
                                                    <i (click)="addiBustem()" class="fas fa-plus"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                              </table>
                        </div>
                        <div class="card-body border-top indent-entry px-0 py-2">
                           <b>Train Ticket Detail</b>
                                <table class="table table-striped custom-table tr th w-100">
                                        <thead>
                                                <tr style="background-color: #666666; color: #ffffff;">
                                                    <th  style="width:31%;">From Station</th>
                                                    <th  style="width:31%;">To Station</th>
                                                    <th  style="width:15%;">Type</th>
                                                    <th  style="width:15%;">Date of Journey</th>
                                                    <th scope="col" style="width:8%;text-align: center;">{{'action' | translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody class="font-sm">
                                            <tr *ngFor="let item of trainTicketList ; let i = index">
                                          
                                                    <td *ngIf="i == editTrainId"><input  type="text" class="form-control w-100" [(ngModel)]='item.FROMSTATION' [ngModelOptions]="{standalone: true}"></td>
                                                    <td *ngIf="i != editTrainId" (dblclick)="editItem(i,'T')">{{item.FROMSTATION }}</td>
                    
                                                    <td *ngIf="i == editTrainId">
                                                            <input  type="text" class="form-control w-100" [(ngModel)]='item.TOSTATION' [ngModelOptions]="{standalone: true}"  (dblclick)="editItem(i,'T')">
                                                       
                                                    </td>
                                                    <td *ngIf="i != editTrainId" (dblclick)="editItem(i,'T')">{{item.TOSTATION }}</td>
            
                                                    <td *ngIf="i == editTrainId">
                                                            <input type="text" class="form-control w-100" [(ngModel)]='item.TYPEOFBOOKING' [ngModelOptions]="{standalone: true}"  (dblclick)="editItem(i,'T')" >
                                                       
                                                    </td>
                                                    <td *ngIf="i != editTrainId" (dblclick)="editItem(i,'T')">{{item.TYPEOFBOOKING}}</td>
                                                    <td *ngIf="i == editTrainId">
                                                            <mat-form-field class="form-control py-1 mat-form-field-date-picker">
                                                                    <input matInput [matDatepicker]="picker1" name="date" [(ngModel)]='item.DATEOFJOURNEY' [ngModelOptions]="{standalone: true}">
                                                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                                    <mat-datepicker #picker1></mat-datepicker>
                                                            </mat-form-field>
                                                   
                                                    </td>
                                                    <td *ngIf="i != editTrainId" (dblclick)="editItem(i,'T')">{{item.DATEOFJOURNEY | date:'dd/MM/yy'}}</td>                                        
                    
                                                    <td style="width:60px;text-align: center;">
                                                        <div>
                                                            <i *ngIf="i == editTrainId" class="fas fa-check customIcon" (click)="updateItem('T')"></i>
                                                            <i *ngIf="i != editTrainId" class="fas fa-edit customIcon" (click)="editItem(i,'T')"></i>
                                                            <i style="margin-left: 5px;" class="far fa-trash-alt customIcon" (click)="removeItem(i,trainTicketList)"></i>
                                                        </div>
                                                    </td>
                                                </tr>
                                                
                                                <tr style="height:auto">
                                                   
                                                                         
                                                    <td><input  type="text" class="form-control w-100" [(ngModel)]="newTrainItem.FROMSTATION" [ngModelOptions]="{standalone: true}"></td>
                                               
                                                      <td>
                                                         
                                                            <input  type="text" class="form-control w-100" [(ngModel)]='newTrainItem.TOSTATION' [ngModelOptions]="{standalone: true}">
                                                  </td>
                                                    <td><input type="text" class="form-control w-100" [(ngModel)]="newTrainItem.TYPEOFBOOKING" [ngModelOptions]="{standalone: true}" ></td>
                                                    <td>
                                                            <mat-form-field class="form-control py-1 mat-form-field-date-picker">
                                                                    <input matInput [matDatepicker]="picker1" name="date" [(ngModel)]='newTrainItem.DATEOFJOURNEY' [ngModelOptions]="{standalone: true}">
                                                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                                    <mat-datepicker #picker1></mat-datepicker>
                                                            </mat-form-field>
                                                    </td>
                                                      
                                                    
                                                    <td style="width:60px;text-align: center;">
                                                        <i (click)="addTrainItem()" class="fas fa-plus"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                  </table>
                            </div>
                            <div class="card-body border-top indent-entry px-0 py-2">
                                    <b>Air Ticket Detail</b>
                                    <table class="table table-striped custom-table tr th w-100">
                                            <thead>
                                                    <tr style="background-color: #666666; color: #ffffff;">
                                                        <th  style="width:31%;">From Airport</th>
                                                        <th  style="width:31%;">To Airport</th>
                                                         <th  style="width:15%;">Date of Journey</th>
                                                        <th scope="col" style="width:8%;text-align: center;">{{'action' | translate}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="font-sm">
                                                <tr *ngFor="let item of airticketlist ; let i = index">
                                              
                                                        <td *ngIf="i == editAirId"><input  type="text" class="form-control w-100" [(ngModel)]='item.FROMAIRPORT' [ngModelOptions]="{standalone: true}"></td>
                                                        <td *ngIf="i != editAirId" (dblclick)="editItem(i,'A')">{{item.FROMAIRPORT }}</td>
                        
                                                        <td *ngIf="i == editAirId">
                                                                <input style="text-align:right" type="text" class="form-control w-100" [(ngModel)]='item.TOAIRPORT' [ngModelOptions]="{standalone: true}"  (dblclick)="editItem(i)">
                                                           
                                                        </td>
                                                        <td *ngIf="i != editAirId" (dblclick)="editItem(i,'A')">{{item.TOAIRPORT }}</td>
                
                                                        <td *ngIf="i == editAirId">
                                                                <mat-form-field class="form-control py-1 mat-form-field-date-picker">
                                                                        <input matInput [matDatepicker]="picker3" name="date" [(ngModel)]='item.DATEOFJOURNEY' [ngModelOptions]="{standalone: true}">
                                                                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                                                        <mat-datepicker #picker3></mat-datepicker>
                                                                </mat-form-field>
                                                       
                                                        </td>
                                                        <td *ngIf="i != editAirId" (dblclick)="editItem(i)">{{item.DATEOFJOURNEY | date:'dd/MM/yy'}}</td>                                        
                        
                                                        <td style="width:60px;text-align: center;">
                                                            <div>
                                                                <i *ngIf="i == editAirId" class="fas fa-check customIcon" (click)="updateItem('A')"></i>
                                                                <i *ngIf="i != editAirId" class="fas fa-edit customIcon" (click)="editItem(i,'A')"></i>
                                                                <i style="margin-left: 5px;" class="far fa-trash-alt customIcon" (click)="removeItem(i,airticketlist)"></i>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    
                                                    <tr style="height:auto">
                                                         <td><input type="text" class="form-control w-100" [(ngModel)]="newAirItem.FROMAIRPORT" [ngModelOptions]="{standalone: true}"></td>
                                                   
                                                          <td>
                                                                <input  type="text" class="form-control w-100" [(ngModel)]='newAirItem.TOAIRPORT' [ngModelOptions]="{standalone: true}">
                                                        </td>
                                                        <td>
                                                                <mat-form-field class="form-control py-1 mat-form-field-date-picker">
                                                                        <input matInput [matDatepicker]="picker2" name="date" [(ngModel)]='newAirItem.DATEOFJOURNEY' [ngModelOptions]="{standalone: true}">
                                                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                                                        <mat-datepicker #picker2></mat-datepicker>
                                                                </mat-form-field>
                                                        </td>
                                                        <td style="width:60px;text-align: center;">
                                                            <i (click)="addAirticket()" class="fas fa-plus"></i>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                      </table>
                                </div>
                                <div class="card-body border-top indent-entry px-0 py-2">
                                        <b>Hotel Booking Detail</b> 
                                        <table class="table table-striped custom-table tr th w-100">
                                                <thead>
                                                        <tr style="background-color: #666666; color: #ffffff;">
                                                            <th  style="width:31%;">City</th>
                                                            <th  style="width:31%;">Preferred Area</th>
                                                             <th  style="width:15%;">From Date</th>
                                                             <th  style="width:15%;">To Date</th>
                                                            <th scope="col" style="width:8%;text-align: center;">{{'action' | translate}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="font-sm">
                                                    <tr *ngFor="let item of hotelList ; let i = index">
                                                  
                                                            <td *ngIf="i == editHotel"><input  type="text" class="form-control w-100" [(ngModel)]='item.CITYNAME' [ngModelOptions]="{standalone: true}"></td>
                                                            <td *ngIf="i != editHotel"  (dblclick)="editItem(i,'H')">{{item.CITYNAME }}</td>
                            
                                                            <td *ngIf="i == editHotel">
                                                                    <input  type="text" class="form-control w-100" [(ngModel)]='item.PREFERREDAREA' [ngModelOptions]="{standalone: true}"  (dblclick)="editItem(i,'H')">
                                                               
                                                            </td>
                                                            <td *ngIf="i != editHotel" (dblclick)="editItem(i,'H')">{{item.PREFERREDAREA }}</td>
                    
                                                            <td *ngIf="i == editHotel">
                                                                    <mat-form-field class="form-control py-1 mat-form-field-date-picker">
                                                                            <input matInput [matDatepicker]="picker4" name="date" [(ngModel)]='item.BOOKINGFROM' [ngModelOptions]="{standalone: true}">
                                                                            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                                                            <mat-datepicker #picker4></mat-datepicker>
                                                                    </mat-form-field>
                                                           
                                                            </td>
                                                            <td *ngIf="i != editHotel" (dblclick)="editItem(i,'H')">{{item.BOOKINGFROM | date:'dd/MM/yy'}}</td>  
                                                            
                                                            <td *ngIf="i == editHotel">
                                                                    <mat-form-field class="form-control py-1 mat-form-field-date-picker">
                                                                            <input matInput [matDatepicker]="picker5" name="date" [(ngModel)]='item.BOOKINGTO' [ngModelOptions]="{standalone: true}">
                                                                            <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                                                                            <mat-datepicker #picker5></mat-datepicker>
                                                                    </mat-form-field>
                                                           
                                                            </td>
                                                            <td *ngIf="i != editHotel" (dblclick)="editItem(i)">{{item.BOOKINGTO | date:'dd/MM/yy'}}</td>  

                            
                                                            <td style="width:60px;text-align: center;">
                                                                <div>
                                                                    <i *ngIf="i == editHotel" class="fas fa-check customIcon" (click)="updateItem('H')"></i>
                                                                    <i *ngIf="i != editHotel" class="fas fa-edit customIcon" (click)="editItem(i,'H')"></i>
                                                                    <i style="margin-left: 5px;" class="far fa-trash-alt customIcon" (click)="removeItem(hotelList,i)"></i>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        
                                                        <tr style="height:auto">
                                                             <td><input  type="text" class="form-control w-100" [(ngModel)]="newHotelItem.CITYNAME" [ngModelOptions]="{standalone: true}"></td>
                                                       
                                                              <td>
                                                                    <input  type="text" class="form-control w-100" [(ngModel)]='newHotelItem.PREFERREDAREA' [ngModelOptions]="{standalone: true}">
                                                            </td>
                                                            <td>
                                                                    <mat-form-field class="form-control py-1 mat-form-field-date-picker">
                                                                            <input matInput [matDatepicker]="picker6" name="date" [(ngModel)]='newHotelItem.BOOKINGFROM' [ngModelOptions]="{standalone: true}">
                                                                            <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                                                                            <mat-datepicker #picker6></mat-datepicker>
                                                                    </mat-form-field>
                                                            </td>
                                                            <td>
                                                                    <mat-form-field class="form-control py-1 mat-form-field-date-picker">
                                                                            <input matInput [matDatepicker]="picker7" name="date" [(ngModel)]='newHotelItem.BOOKINGTO' [ngModelOptions]="{standalone: true}">
                                                                            <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                                                                            <mat-datepicker #picker7></mat-datepicker>
                                                                    </mat-form-field>
                                                            </td>
                                                            <td style="width:60px;text-align: center;">
                                                                <i (click)="addHotelItem()" class="fas fa-plus"></i>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                          </table>
                                    </div>
                         </div>
                    </div> 
                </div>
            </div>
           </div>
      </div>
    </div>
</form>
<app-footer></app-footer>
</div>
</div>
</div>
