
.error-control-label.required:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 5px;
  }

  .has-error .error-border{
    border-color: #bb0303 !important;
  }
#pills-tabContent .form-control, #pills-tabContent .select2 {
    width: 100%;
}
.custom-table.table td > .custom-table.table th {
    padding: .1rem 0.5rem;
    white-space: nowrap;
    height:275px;
} 
.table-scroll{
    overflow-y: scroll;
    height:360px;
    position: relative;
}

/* search Item */
.search-list {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
  z-index: 49;
  position: absolute;
  /* width: 700px; */
  overflow-y: auto;
  /* height: 300px; */
}

/* .search-list-header {

  border: 1px solid #ddd;
  padding: 5px;

} */

.search-list-header {
  background-color: #fff;
  /* height: 400px;
  width: 850px; */
  border: 1px solid #ddd;
  padding: 5px;
  position: absolute;
  z-index: 1;
}

.search-list > ul, .search-list-header > ul {
  margin: 0;
  padding: 0;
  
}

.search-list ul li, .search-list-header ul li {
  list-style: outside none none;
  background: #fdfdfd;
  /* margin: 0 0 4px; */
  padding: 2px;
  width: 370px;
}

/* .search-list ul li, .search-list-header ul li {
  margin: 0 0 4px;
} */

.search-list ul li a, .search-list-header ul li a{
  color: #337ab7 !important;
  text-decoration: none !important;
  
}
.search-list ul li a:hover .search-list-header ul li a:hover {
  cursor: pointer;
  text-decoration: underline !important;
}

.search-list ul li:hover, .search-list-header ul li:hover {
  background-color: #d4d9de;
}

/* .search-list-header.ng-star-inserted {
  height: 300px;
  overflow-y: auto;
} */

.search-list-header.ng-star-inserted {
  height: 300px;
  overflow-y: auto;
  width: 800px;
}

table#selectedValue {font-size: 13px;}
table#selectedValue tr td {
  padding: 2px 5px;
}














/* 
.wrapper {
  position: relative;
  border: 1px solid #000;
  background: #efefef;
  overflow: hidden;
  border-radius: 7px;
}

.left {
  float: left;
}

.box {
  border: 1px solid #000;
  width: 400px;
}

.container {
  overflow-y: scroll;
  height: 300px;
  padding-left: 0;
  padding-right: 0;
  border-top: 41px solid transparent;
  border-bottom: 10px solid transparent;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

td + td {
  border-left: 1px solid #fff;
}

td, th {
  border-bottom: 1px solid #fff;
  background: #efefef;
  padding: 10px;
}

thead tr th,
tfoot tr td {
  height: 0;
  line-height: 0;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: transparent;
  border: none;
  white-space: nowrap;
}

thead tr th div,
tfoot tr td div {
  position: absolute;
  color: #fff;
  padding: 10px;
  line-height: normal;
  width: 100%;
  z-index: 2;
  text-align: left;
  font-weight: bold;
}

thead tr th div {
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

tfoot tr td div {
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}

tfoot tr td div.c1,
thead tr th div.c1 {
  background: violet;
}

tfoot tr td div.c2,
thead tr th div.c2 {
  background: green;
}

tfoot tr td div.c3,
thead tr th div.c3 {
  background: yellow;
}

thead tr th div {
  top: 0;
}

tfoot tr td div {
  bottom: 0;
}

thead tr th:first-child div,
tfoot tr td:first-child div {
  border-left: none;
} */
