.ui-steps .ui-steps-item {
    width: 25%;
}

.ui-steps.steps-custom {
    margin-bottom: 30px;
}

.ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
    height: 10px;
    padding: 0 1em;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-number {
    background-color: #0081c2;
    color: #FFFFFF;
    display: inline-block;
    width: 36px;
    border-radius: 50%;
    margin-top: -14px;
    margin-bottom: 10px;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-title {
    color: #555555;
}

.preview-next{
    display: flex;
    align-items: center;
    padding: 7px;
    border-top: 1px solid #e9ecef;
    background: #eff5f7;
}

.error-control-label.required:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 5px;
}

.has-error .error-border{
    border-color: #bb0303 !important;
}

/* Emoployee Button Search */
.es-display-name{
    padding-top: 5px;
}

.custom-h4-class{
    padding: 0 0;
    cursor: pointer;
    min-width: 125px;
    margin: 5px 0 0 0;
    color: #4d4d4d;
    line-height: 15px;
}

.es-employee-display{
    font-size: 14px;
}


.es-button.search {
    margin: 6px 0 0 20px;
}
.btn-mini{
    padding: 0 6px;
    font-size: 10.5px
}


/* Table Structure */
table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

/* .example-container {
    height: 400px;
    overflow: auto;
} */

.mat-elevation-z8 td{
    padding: 2px 8px !important;
}

.mat-elevation-z8 th{
    color: #fff !important;
    font-weight: 700 !important;
    font-size: 14px !important;
}

.search-list {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    position: absolute;
    z-index: 505;
    height: 250px;
    overflow-y: auto;
    margin-top: 35px;
}

.search-list > ul {
    margin: 0;
    padding: 0;
}

.search-list ul li {
    list-style: outside none none;
    background: #fdfdfd;
    /* margin: 0 0 4px; */
    padding: 2px;
    width: 370px;
}

.search-list ul li a {
    color: #337ab7 !important;
    text-decoration: none !important;
}

.search-list ul li a:hover { cursor: pointer; text-decoration: underline !important; }
.search-list ul li:hover { background-color: #d4d9de; }
.custom-select-hover{ cursor: pointer; }
.custom-span-close-hover{ cursor: pointer; }

.custom-ptable-punjab-class-div .ui-table{border-top: 2px solid #0e43af;}