
<div class="preloader" style="display: none;">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
  </div>
  
  <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper" >
    <div class="container-fluid" style="background:#dcdcdc;">
<form autocomplete="off" >
  <div class="row">
      <div class="col-12">
            <div class="example-loading-shade" *ngIf="isLoadingResults">
                    <mat-spinner  [diameter]="40" *ngIf="isLoadingResults"></mat-spinner>
          </div>
          <div class="card" style="border-top: 2px solid #0e43af;box-shadow:0 1px 3px rgba(0,0,0,.3);">
              <div class="card-body border-bottom py-2">
                  <div class="d-md-flex align-items-center justify-content-between">
                      <div class="d-flex">
                          <a skipLocationChange  [routerLink]="['/dies-list']" class="btn btn-sm rounded btn-warning mr-3" title="Back to Orders"><i
                                  class="mdi mdi-keyboard-backspace"></i></a>
                          <h4 class="card-title m-0">Die Master</h4>
                      </div>
                      <div class="col-md-2">
                        
                        <button *ngIf="routeAction=='new'" type="submit" (click)="savedata(newData)"  class="btn btn-sm rounded btn-info waves-effect waves-light" >Save</button>
                        <button *ngIf="routeAction!='new'" type="submit" (click)="savedata(newData)"  class="btn btn-sm rounded btn-info waves-effect waves-light" >Update</button>
                      </div>
                  </div>
                 

              </div>
              <div class="col-md-12">
                    <div class="row">
                            <div class="col-md-3">
                                    <b style="color:blue">Master Information</b> 
                            </div>
                    </div>  
                <div class="row">
                <div class="col-md-6">
                        <div class="row m-1">
                                <div class="col-md-3">
                                <b> Die Code</b> 
                                </div>
                                <div class="col-md-9">
                              
                                        <input type="text" class="form-control form-control-sm" name="DIECODE" 
                                        [(ngModel)]="newData.DIECODE" [ngModelOptions]="{standalone: true}" tabindex="-1" readonly >
                                </div>
                            </div>
                            <div class="row m-1">
                                    <div class="col-md-3">
                                        <b>Party</b> 
                                    </div>
                                    <div class="col-md-9">
                                            
                                         <ng-select
                                         [(ngModel)]="newData.PARTYID" [ngModelOptions]="{standalone: true}"
                                         [items]="partyList" 
                                             bindLabel="NAME"
                                             bindValue="CUSTOMERID"
                                             placeholder="Select Party"
                                            class="form-control border-1 form-control-sm w-100">
                                         </ng-select>
                                    </div>
                                </div>
                    <div class="row m-1">
                        <div class="col-md-3">
                        <b> Frame No.</b> 
                        </div>
                        <div class="col-md-9">
                      
                        <ng-select
                        [(ngModel)]="newData.FRAMEID" [ngModelOptions]="{standalone: true}"
                        [items]="frameList" 
                            bindLabel="FRAMEDESC"
                            bindValue="FRAMEID"
                            placeholder="Select frame no."
                           class="form-control border-1 form-control-sm w-100">
                        </ng-select>
                        </div>
                    </div>
                    <div class="row m-1">
                            <div class="col-md-3">
                            <b> Pole</b> 
                            </div>
                            <div class="col-md-9">
                          
                            <ng-select
                            [(ngModel)]="newData.POLEID" [ngModelOptions]="{standalone: true}"
                            [items]="poleList" 
                                bindLabel="POLEDESC"
                                bindValue="POLEID"
                                placeholder="Select pole"
                               class="form-control border-1 form-control-sm w-100">
                            </ng-select>
                            </div>
                    </div>

                        <div class="row m-1">
                            <div class="col-md-3">
                                <b> Die Type</b> 
                            </div>
                            <div class="col-md-9">
                                  
                                     <ng-select
                                     [(ngModel)]="newData.DIETYPEID" [ngModelOptions]="{standalone: true}"
                                     [items]="dieTypeList" 
                                         bindLabel="DIETYPEDESC"
                                         bindValue="DIETYPEID"
                                         placeholder="Select  Die type"
                                        class="form-control border-1 form-control-sm w-100">
                                     </ng-select>
                            </div>
                        </div>
                   
                        <div class="row m-1">
                                <div class="col-md-3">
                                    <b> Tool Section</b> 
                                </div>
                                <div class="col-md-9">
                                        
                                         <ng-select
                                         [(ngModel)]="newData.TOOLSECTIONID" [ngModelOptions]="{standalone: true}"
                                         [items]="toolSectionList" 
                                             bindLabel="TOOLSECTIONDESC"
                                             bindValue="TOOLSECTIONID"
                                             placeholder="Select tool section"
                                            class="form-control border-1 form-control-sm w-100">
                                         </ng-select>
                                </div>
                              </div>
                              <div class="row m-1">
                                    <div class="col-md-3">
                                        <b>Elect. Standard</b> 
                                    </div>
                                    <div class="col-md-9">
                                          
                                             <ng-select
                                             [(ngModel)]="newData.ELESTANDARDID" [ngModelOptions]="{standalone: true}"
                                             [items]="electStandarList" 
                                                 bindLabel="ELESTANDARD"
                                                 bindValue="STANDARDID"
                                                 placeholder="Select  electrical standard"
                                                class="form-control border-1 form-control-sm w-100">
                                             </ng-select>
                                    </div>
                                </div> 
                                <div class="row m-1">
                                        <div class="col-md-3">
                                            <b> Die Name</b> 
                                        </div>
                                        <div class="col-md-9">
                                          <input type="text" class="form-control form-control-sm" name="DIENAME" 
                                          [(ngModel)]="newData.DIENAME" [ngModelOptions]="{standalone: true}">
                                           
                                        </div>
                                    </div>
                    </div>
                    <div class="col-md-6">
         
                            <div class="row m-1">
                                    <div class="col-md-3">
                                        <b> Str Drawing No.</b> 
                                    </div>
                                    <div class="col-md-3">
                                      <input type="text" class="form-control form-control-sm" name="DRAWINGNO" 
                                      [(ngModel)]="newData.DRAWINGNO" [ngModelOptions]="{standalone: true}">
                                       
                                    </div>
                                    <div class="col-md-3">
                                      <b> Rtr Drawing No.</b> 
                                  </div>
                                  <div class="col-md-3">
                                    <input type="text" class="form-control form-control-sm" name="RTRDRAWINGNO" 
                                    [(ngModel)]="newData.RTRDRAWINGNO" [ngModelOptions]="{standalone: true}">
                                     
                                  </div>
                        </div>   

                      <div class="row m-1">
                            <div class="col-md-3">
                                <b> Str No of Slots</b> 
                            </div>
                            <div class="col-md-3">
                            <input type="text" class="form-control form-control-sm" name="STRNOOFSLOTS" 
                            [(ngModel)]="newData.STRNOOFSLOTS" [ngModelOptions]="{standalone: true}">
                            
                            </div>
                            <div class="col-md-3">
                            <b> Rtr  No of Slots</b> 
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control form-control-sm" name="RTRNOOFSLOTS" 
                            [(ngModel)]="newData.RTRNOOFSLOTS" [ngModelOptions]="{standalone: true}">
                            
                        </div>
                    </div>      
 
                            <div class="row m-1">
                                    <div class="col-md-3">
                                        <b>Piece No</b> 
                                    </div>
                                    <div class="col-md-1">
                                        <input type="text" class="form-control form-control-sm" name="PIECENO" 
                                        [(ngModel)]="newData.PIECENO" [ngModelOptions]="{standalone: true}">
                                    </div>
                           
                                  <div class="col-md-4">
                                    <mat-form-field  class="form-control py-1 mat-form-field-date-picker">
                                      <input matInput 
                                        [matDatepicker]="matToDatepicker" placeholder="Mgf Date" 
                                        [(ngModel)]="newData.MFGDATE"
                                        [ngModelOptions]="{standalone: true}"
                                        >
                                      <mat-datepicker-toggle matSuffix [for]="matToDatepicker"></mat-datepicker-toggle>
                                      <mat-datepicker #matToDatepicker></mat-datepicker>
                                    </mat-form-field> 
                                  </div>
                                  <div class="col-md-2">
                                    <b>Total Piece</b>                                 </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control form-control-sm" name="TOTALPIECE" 
                                    [(ngModel)]="newData.TOTALPIECES" [ngModelOptions]="{standalone: true}">
                                </div>
                                </div>
                       
                        
                        <div class="row m-1">
                            <div class="col-md-3">
                                <b> Color Code</b> 
                            </div>
                            <div class="col-md-9">
                                 
                                 <ng-select
                                 [(ngModel)]="newData.COLORID" [ngModelOptions]="{standalone: true}"
                                 [items]="colorCodeList" 
                                     bindLabel="COLORDESC"
                                     bindValue="COLORID"
                                     placeholder="Select color code"
                                    class="form-control border-1 form-control-sm w-100">
                                 </ng-select>
                            </div>
                        </div>
                        <div class="row m-1">
                                <div class="col-sm-3">
                                        <b> Party Refrence No.</b> 
                                    </div>
                                    <div class="col-md-9">
                                      <input type="text" class="form-control form-control-sm" name="PARTYREFRENCENO" 
                                      [(ngModel)]="newData.PARTYREFRENCENO" [ngModelOptions]="{standalone: true}">
                                       
                                    </div>
                        </div>

                        <div class="row m-1">
                                <div class="col-md-3">
                                        <b> Remarks</b> 
                                    </div>
                                    <div class="col-md-9">
                                      <!-- <input type="text" class="form-control form-control-sm" name="PARTYREFRENCENO" 
                                      [(ngModel)]="newData.PARTYREFRENCENO" [ngModelOptions]="{standalone: true}"> -->
                                      <textarea type="text" autosize class="form-control form-control-sm text-area-custom-item" name="REMARKS" [(ngModel)]="newData.REMARKS" [ngModelOptions]="{standalone: true}" >
                                        </textarea>
                                    </div>
                        </div>
                         <div class="row m-1">
                                        <div class="col-md-3">
                                            <b>&nbsp;</b> 
                                        </div>
                                        <div class="col-md-8">
                                          <mat-checkbox  [(ngModel)]="newData.ISDOUBLEPUNCH"   [ngModelOptions]="{standalone: true}">Double Strokes in Single Punch</mat-checkbox>  
                                        </div>
                         </div>

                    </div> 
                </div>
         
            

                <div class="row m-1">
                 <strong  style="color:blue"> Material Information</strong>
                </div>
                <div class="row">
                    <div class="col-md-12">
                            <div class="row">
                        <div  class="col-md-6">
                            <div class="row m-1">
                                    <div  class="col-md-3">
                                      <b> Material Used</b> 
                                    </div>
                                    <div  class="col-md-9">
                                            <input type="text" class="form-control form-control-sm" name="MATERIALUSED" 
                                            [(ngModel)]="newData.MATERIALUSED" [ngModelOptions]="{standalone: true}">
                                    </div>
                            </div>
                            <div class="row m-1">
                                    <div  class="col-md-3">
                                      <b>  Process Used</b>
                                    </div>
                                    <div  class="col-md-9">
                                            <input type="text" class="form-control form-control-sm" name="PROCESSUSED" 
                                            [(ngModel)]="newData.PROCESSUSED" [ngModelOptions]="{standalone: true}">
                                    </div>
                            </div>
                        </div>
                        <div  class="col-md-6">
                                <div class="row m-1">
                                <div class="col-md-3">
                                    <b>Supplier</b> 
                                </div>
                                <div class="col-md-9">
                                        <!-- <ngx-select class="ngx-custom-select-dropdown "
                                        name="SUPPLIERID" [allowClear]="true"
                                            [(ngModel)]="newData.SUPPLIERID"  [ngModelOptions]="{standalone: true}"  [disabled]="disableDropDown"
                                            [items]="venderList" optionValueField="CUSTOMERID" optionTextField="NAME"
                                            placeholder="Select Party">
                                        </ngx-select> -->
                                        <ng-select
                                        [(ngModel)]="newData.SUPPLIERID" [ngModelOptions]="{standalone: true}"
                                        [items]="venderList" 
                                            bindLabel="NAME"
                                            bindValue="CUSTOMERID"
                                            placeholder="Select Supplier"
                                           class="form-control border-1 form-control-sm w-100">
                                        </ng-select>
                                </div>
                            </div>
                            <div class="row m-1">
                                    <div class="col-md-3">
                                        <b>Manufactured At</b> 
                                    </div>
                                    <div class="col-md-8">
                                            <mat-radio-group class="example-radio-group" [(ngModel)]="newData.INHOUSEVENDORED"  [ngModelOptions]="{standalone: true}" style="font-size:13px">
                                                    <mat-radio-button class="example-radio-button" *ngFor="let datetype of datetype" [value]="datetype.id">
                                                    {{datetype.description}} 
                                                    </mat-radio-button>
                                            </mat-radio-group>
                                    </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row m-1">
                        <strong  style="color:blue"> Operation Detail</strong>
                       </div>
                       <div class="row">
                           <div class="col-md-12">
                                   <div class="row">
                               <div  class="col-md-6">
                                   <div class="row m-1">
                                           <div  class="col-md-3">
                                             <b> Strokes Planned</b> 
                                           </div>
                                           <div  class="col-md-3">
                                                   <input type="text" class="form-control form-control-sm" name="PLANNEDSTROKES" 
                                                   [(ngModel)]="newData.PLANNEDSTROKES" [ngModelOptions]="{standalone: true}" (ngModelChange)="calculateBalanceStrokes(newData)">
                                           </div>
                                           <div  class="col-md-3">
                                                <b> Strokes Made</b> 
                                              </div>
                                              <div  class="col-md-3">
                                                      <input type="text" class="form-control form-control-sm" name="STROKESMADE" 
                                                      [(ngModel)]="newData.STROKESMADE" [ngModelOptions]="{standalone: true}" tabindex="-1" readonly>
                                              </div>
                                   </div>
                                   <div class="row m-1">
                                        <div  class="col-md-3">
                                                <b> Strokes Available</b> 
                                              </div>
                                              <div  class="col-md-3">
                                                      <input type="text" class="form-control form-control-sm" name="AVAILABLESTROKES" 
                                                      [(ngModel)]="newData.AVAILABLESTROKES" [ngModelOptions]="{standalone: true}" tabindex="-1" readonly >
                                              </div>
                                              <div  class="col-md-3">
                                                   <b> Last Used on</b> 
                                                 </div>
                                                 <div  class="col-md-3">
                                                         <input type="text" class="form-control form-control-sm" name="LASTUSEDDATE" 
                                                         [(ngModel)]="newData.LASTUSEDDATE" [ngModelOptions]="{standalone: true}" tabindex="-1" readonly >
                                                 </div>
                                   </div>
                                   <div class="row m-1">
                                   <div class="col-md-3">
                                        <b> Die Status</b> 
                                    </div>
                                    <div class="col-md-9">
                                            <!-- <ngx-select class="ngx-custom-select-dropdown "
                                            name="STATUSID" [allowClear]="true" [(ngModel)]="newData.TOOLSECTIONID"  [ngModelOptions]="{standalone: true}"
                                             [items]="statusList" optionValueField="STATUSID" optionTextField="DIESTATUS"
                                             placeholder="Select tool section"></ngx-select> -->
                                             <ng-select
                                             [(ngModel)]="newData.STATUSID" [ngModelOptions]="{standalone: true}"
                                             [items]="statusList" 
                                                 bindLabel="DIESTATUS"
                                                 bindValue="STATUSID"
                                                 placeholder="Select Die status"
                                                class="form-control border-1 form-control-sm w-100" >
                                             </ng-select>
                                    </div>
                                   </div>
                               </div>
                               <div  class="col-md-6">
                                       <div class="row m-1">
                                       <div class="col-md-3">
                                           <b>Last Used on Press</b> 
                                       </div>
                                       <div class="col-md-9">
                                            <input type="text" class="form-control form-control-sm" name="MACHINENAME" 
                                            [(ngModel)]="newData.MACHINENAME" [ngModelOptions]="{standalone: true}" tabindex="-1" readonly>
                                       </div>
                                   </div>
                                   <div class="row m-1">
                                           <div class="col-md-3">
                                                <b>Last Operator</b> 
                                            </div>
                                            <div class="col-md-9">
                                                    <input type="text" class="form-control form-control-sm" name="OPERATORNAME" 
                                                         [(ngModel)]="newData.OPERATORNAME" [ngModelOptions]="{standalone: true}" tabindex="-1" readonly>
                                            </div>
                                   </div>
                               </div>
                           </div>
                           </div>
                       </div>
                       <div class="row m-1">
                            &nbsp;
                           </div>
                           <div class="row m-1">
                           &nbsp;
                          </div>    
              </div>
           </div>
      </div>
    </div>
</form>
<app-footer></app-footer>
    </div>
</div>
</div>