
<div class="preloader" style="display: none;">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>

<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
<div class="row">
      <div class="col-12">

      <div class="card" style="border-top: 2px solid #0e43af;box-shadow:0 1px 3px rgba(0,0,0,.3);">
            <div class="card-body py-2 mb-2">
               <div class="d-md-flex align-items-center">
                   <div class="form-row mx-0 d-flex bd-highlight w-100">
                        <h4 class="card-title m-0">Customers</h4>
                        <div class="form-group mx-4 mb-2">
                                <button type="submit" class="btn btn-sm rounded btn-info waves-effect waves-light"  (click)="openDialog()">New Customer</button>
                            </div>
                        <div class="form-group mr-2 mb-2 ml-auto bd-highlight">
                            <input type="text" class="form-control form-control-sm" (keyup)="applyFilter($event.target.value)"  placeholder="{{'search'|translate}}">
                        </div>
                   </div>
               </div>
           </div>
       </div>


  </div>
  <!-- ============================================================== -->
  <!-- Sales chart -->
  <!-- ============================================================== -->
  
  <!-- ============================================================== -->
  <!-- Ravenue - page-view-bounce rate -->
  <!-- ============================================================== -->
    <div class="col-12">
      <!-- column -->
      <div class="d-flex justify-content-between align-items-stretch w-100 boxed-layout">
        <div class="w-100">
                <div class="example-loading-shade"
                *ngIf="isLoadingResults ">
             <mat-spinner  [diameter]="40" *ngIf="isLoadingResults"></mat-spinner>
           
             
             </div>
          <div class="card example-container " style="box-shadow:0 1px 3px rgba(0,0,0,.3);">
              <table mat-table [dataSource]="fieldArray" matSort class="mat-elevation-z8 table-striped w-100" #table>
                    <!-- Customer Category Column -->
                    <ng-container matColumnDef="categoryname">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark"> Customer Category </th>
                        <td mat-cell *matCellDef="let element"> {{element.categoryname}} </td>
                    </ng-container>
                    
                    <!-- Customer Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark"> Customer Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    
                    <!-- Address Column -->
                    <ng-container matColumnDef="address1">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark"> Address </th>
                        <td mat-cell *matCellDef="let element"> {{element.address1}} </td>
                    </ng-container>

                    <!-- GSTIN Column -->
                    <ng-container matColumnDef="gsTin">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark"> GSTIN </th>
                        <td mat-cell *matCellDef="let element"> {{element.gsTin}} </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true " class="bg-light" style="height:auto;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="height:auto;" (click)="editContact(row)"></tr>
                </table>
                <mat-paginator class="mat-paginator-sticky"
                [length]="resultsLength"
                            [pageSize]="20"
                            >
                </mat-paginator>
          </div>
      </div>
    </div>
  </div>
</div>

</div>