
<div class="preloader" style="display: none;">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
  </div>
  
  <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  
  <div class="page-wrapper" >
      <div class="container-fluid" style="background:#dcdcdc;">
  <div class="row">
    <div class="col-12">
     <div class="card" style="border-top: 2px solid #0e43af;box-shadow:0 1px 3px rgba(0,0,0,.3);">
          <div class="card-body py-2 mb-2">
             <div class="d-md-flex align-items-center">
                 <!-- <div class="form-row mx-0 d-flex bd-highlight w-100"> -->
                   <div>
                    <div class="row m-1">
                         <h4 class="card-title m-0">Advance/Imperest approval</h4>
                          <div class="form-group mx-4 mb-2">
                              <button  *ngIf="flag!='I'" type="submit" class="btn btn-sm rounded btn-info waves-effect waves-light"  (click)="saveData()" [disabled]="isLoadingResults">Save</button>
                              <button  *ngIf="flag=='I'" type="submit" class="btn btn-sm rounded btn-info waves-effect waves-light"  (click)="saveDataForAccount()" [disabled]="isLoadingResults">Save</button>
                          </div>
           
                      <div class="form-group mr-2 mb-2 ml-auto bd-highlight  d-flex">
                          <input type="text" class="form-control form-control-sm" (keyup)="applyFilter($event.target.value)"  placeholder="{{'search'|translate}}">
                      </div>
 
                 <!-- </div>
                 <div class="form-row mx-0 d-flex bd-highlight w-100"> -->
                  </div>
                  <div *ngIf="flag=='I'" class="row m-1">
                  <div class="col-sm-3">
                      <mat-form-field style="width: 100%">
                          <input matInput 
                            [matDatepicker]="matDatepicker" placeholder="Voucher Date" 
                            [formControl]="dateFormControl"
                            [(ngModel)]='newData.VOUCHERDATE' 
                            (dateChange)="onToDateChanged1()"
                            
                            >
                          <mat-datepicker-toggle matSuffix [for]="matDatepicker"></mat-datepicker-toggle>
                          <mat-datepicker #matDatepicker></mat-datepicker>
                        </mat-form-field>
                  </div>
                  <div class="col-sm-7">
                      <mat-form-field class="example-full-width w-100">
                        <input matInput placeholder="Account Head" name="NAME"  [value]="newData.ACCOUNTHEAD || ''" autocomplete="off" (keyup)="searchTermItemNameEdit($event.target.value, newData)" 
                        [(ngModel)]="newData.NAME" [ngModelOptions]="{standalone: true}" >
                      </mat-form-field>
                      <div *ngIf="arrayItemNameEdit != ''" class="search-list-header">
                                               
                                    
                        <table id="selectedValue" class="table table-condensed table-striped table-hover" style="min-width: 400px">
                            <tr class="ui-menu-item" role="menuitem">
                              <th>Account Head</th>
                            </tr>
                           <tr class="ui-menu-item" role="menuitem" (click)="onChangeOfItemName(result.ACCOUNTID, newData)"
                            *ngFor="let result of itemlistgetDesc | grdFilter: {ACCOUNTHEAD: arrayItemNameEdit}; let i=index;">
                              <td>{{ result.ACCOUNTHEAD }}</td>
                         
                            </tr>
                          </table>
                   
                       </div>


                  </div>
                  
               </div>

             </div>
         </div>
  
  <div class="col-12">
  
    <div class="d-flex justify-content-between align-items-stretch w-100 boxed-layout">
      <div class="w-100">
        <div class="example-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner  [diameter]="40" *ngIf="isLoadingResults"></mat-spinner>
       </div>
       <!-- <div  *ngIf="flag!='I'"  class="card example-container " style="box-shadow:0 1px 3px rgba(0,0,0,.3);"> -->
        <div    class="card example-container " style="box-shadow:0 1px 3px rgba(0,0,0,.3);">
            <table mat-table   class="mat-elevation-z8 table-striped w-100"  #firstTable
            #firstTableSort="matSort"  [dataSource]="fieldArray" matSort>
                  <ng-container matColumnDef="chk" *ngIf="flag!='I'">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell" style="width: 10px;">Pass</th>
                          <td mat-cell *matCellDef="let element; let i = index"> <mat-checkbox  class="custom-checkbox-green" (change)="onChange($event, element)"  [(ngModel)]="element.checked" ></mat-checkbox>  
                               </td>
                  </ng-container>
                  <ng-container matColumnDef="del">
                      <th mat-header-cell *matHeaderCellDef  class="py-1 font-weight-bold text-dark sticky-cell" style="width: 10px" >Del</th>
                      <td mat-cell *matCellDef="let element" style="width: 10px" > <mat-checkbox class="custom-checkbox-red" (change)="onDelete($event, element)"  [(ngModel)]="element.delete"  ></mat-checkbox>  
                        </td>
                  </ng-container>

                  <ng-container matColumnDef="advno" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell">Adv No.</th>
                    <td mat-cell *matCellDef="let element; let i = index" > 
                      <a style="color: #0e43af !important;cursor: pointer !important;">  {{element.ADVNO}} </a> </td>
                  </ng-container>

                  <ng-container matColumnDef="EMPNO" *ngIf="flag!='I'">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell">Emp No. $</th>
                      <td mat-cell *matCellDef="let element; let i = index" (click)="openRectPrintDialog(element)"> 
                        <a style="color: #0e43af !important;cursor: pointer !important;">  {{element.EMPNO}} </a> </td>
                 </ng-container>
                  <ng-container matColumnDef="NAME" *ngIf="flag!='I'">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell"> Name* </th>
                    <td mat-cell *matCellDef="let element" (click)="openPrintDialog(element)"> 
                        <a style="color: #0e43af !important;cursor: pointer !important;">
                      {{element.NAME}} </a> </td>
                  </ng-container>
                  <ng-container matColumnDef="DEPTNAME" *ngIf="flag!='I'">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell"> Department </th>
                      <td mat-cell *matCellDef="let element"> {{element.DEPARTMENT}} </td>
                  </ng-container>
  
                  <ng-container matColumnDef="DATED" *ngIf="flag!='I'">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell">Dated</th>
                      <td mat-cell *matCellDef="let element"> {{element.DATED | date:"dd/MM/yyyy"}} </td>
                  </ng-container>
  
             
                  <ng-container matColumnDef="ADVANCEAMT" *ngIf="flag!='I'">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header  class="py-1 font-weight-bold text-dark sticky-cell"  style="text-align: right">Amount </th>
                         <td mat-cell *matCellDef="let element" style="text-align: right"> {{element.ADVANCEAMT}} </td>
                    
                  </ng-container>
                  <ng-container matColumnDef="PASSEDAMT" *ngIf="flag!='I'">
                      <th mat-header-cell *matHeaderCellDef class="py-1 font-weight-bold text-dark sticky-cell"  style="text-align: right;width: 100px">Passed Amt </th>
                      <td  mat-cell *matCellDef="let element; let i = index" style="text-align: right;width: 100px">   <input  *ngIf="flag=='A'" type="text"  style="height: 100%;width: 100px"
                        name="PASSEDAMT"   class="form-control text-right" [(ngModel)]="element.PASSEDAMT" [value]="element.PASSEDAMT" > 
                      <b  *ngIf="flag!='A'">{{element.PASSEDAMT}}</b>
                      </td>
                      
                    </ng-container>
                    <ng-container matColumnDef="INSTALLMENTAMT" *ngIf="flag!='I'">
                      <th mat-header-cell *matHeaderCellDef class="py-1 font-weight-bold text-dark sticky-cell"  style="text-align: right;width: 100px">Installment Amt </th>
                      <td mat-cell *matCellDef="let element; let i = index"  style="text-align: right;width: 100px">   <input *ngIf="flag=='A'" type="text"  style="height: 100%;width: 100px"
                        name="PASSEDAMT"   class="form-control text-right" [(ngModel)]="element.INSTALLMENTAMT" [value]="element.INSTALLMENTAMT" > 
                        <b  *ngIf="flag!='A'">{{element.INSTALLMENTAMT}}</b>
                      </td>
                    </ng-container>
                    
                  <ng-container matColumnDef="ADVANCETYPE" *ngIf="flag!='I'">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell">Payment Type</th>
                      <td mat-cell *matCellDef="let element"> {{element.ADVANCETYPE }} </td>
                  </ng-container>
  
                
                  <ng-container matColumnDef="BILLNO" *ngIf="flag!='I'">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell" >Bill No.</th>
                    <td mat-cell *matCellDef="let element"> {{element.BILLNO}} </td>
                  </ng-container> 
  
                  <ng-container matColumnDef="REASON" *ngIf="flag!='I'">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell" >Reason</th>
                    <td mat-cell *matCellDef="let element"> {{element.REASON}} </td>
                  </ng-container> 
                  <ng-container matColumnDef="star" *ngIf="flag!='I'">
                      <th mat-header-cell *matHeaderCellDef></th>
                      <td mat-cell *matCellDef="let element">
                        <!-- <mat-icon>more_vert</mat-icon> -->
                        <i *ngIf="element.FILENAME != null" class="fas fa-hand-point-right" style="color: #3d72dc !important" (click)="download(element.FILENAME)"></i>
                      </td>
                    </ng-container>


                    <ng-container matColumnDef="ADVANCETYPE" *ngIf="flag=='I'"  >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell">Payment Type</th>
                        <td mat-cell *matCellDef="let element; let i = index"> <mat-checkbox (change)="onChange($event, element)"  [(ngModel)]="element.checked" ></mat-checkbox>
                          {{element.ADVANCETYPE }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="DATED" *ngIf="flag=='I'"  >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell">Dated</th>
                        <td mat-cell *matCellDef="let element"> {{element.DATED | date:"dd/MM/yyyy"}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="NAME" *ngIf="flag=='I'"  >
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell"> Name </th>
                      <td mat-cell *matCellDef="let element">  
                        {{element.NAME}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="PASSEDAMT" *ngIf="flag=='I'"  >
                      <th mat-header-cell *matHeaderCellDef class="py-1 font-weight-bold text-dark sticky-cell"  style="text-align: right">Amount </th>
                           <td mat-cell *matCellDef="let element" style="text-align: right"> {{element.PASSEDAMT}} </td>
                      
                    </ng-container>
                   
                    <ng-container matColumnDef="REASON" *ngIf="flag=='I'"  >
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell" >Reason</th>
                      <td mat-cell *matCellDef="let element"> {{element.REASON}} </td>
                    </ng-container> 
                    <ng-container matColumnDef="VOUCHERDESC" *ngIf="flag=='I'"  >
                        <th mat-header-cell *matHeaderCellDef class="py-1 font-weight-bold text-dark sticky-cell" style="width: 40%" >Voucher Description </th>
                        <td mat-cell *matCellDef="let element; let i = index" style="width: 40%">   <input type="text"  style="height: 100%;width:100%"
                          name="PASSEDAMT"   class="form-control" [(ngModel)]="element.VOUCHERDESC" [value]="element.VOUCHERDESC" > </td>
                        
                    </ng-container>


                  <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true " class="bg-light" style="height:auto;"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="height:auto;"></tr>
                  
              </table>
              <mat-paginator [length]="100"
              [pageSize]="100"
              [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>
  
        </div>

        <!-- <div *ngIf="flag=='I'"  class="card example-container " style="box-shadow:0 1px 3px rgba(0,0,0,.3);">
          <table mat-table [dataSource]="fieldArray" matSort class="mat-elevation-z8 table-striped w-100" #table>
               
                
                <ng-container matColumnDef="ADVANCETYPE">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell">Payment Type</th>
                    <td mat-cell *matCellDef="let element; let i = index"> <mat-checkbox (change)="onChange($event, element)"  [(ngModel)]="element.checked" ></mat-checkbox>
                      {{element.ADVANCETYPE }} </td>
                </ng-container>

                <ng-container matColumnDef="DATED">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell">Dated</th>
                    <td mat-cell *matCellDef="let element"> {{element.DATED | date:"dd/MM/yyyy"}} </td>
                </ng-container>

                <ng-container matColumnDef="NAME">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell"> Name </th>
                  <td mat-cell *matCellDef="let element">  
                    {{element.NAME}} </td>
                </ng-container>

                <ng-container matColumnDef="PASSEDAMT">
                  <th mat-header-cell *matHeaderCellDef class="py-1 font-weight-bold text-dark sticky-cell"  style="text-align: right">Amount </th>
                       <td mat-cell *matCellDef="let element" style="text-align: right"> {{element.PASSEDAMT}} </td>
                  
                </ng-container>
               
                <ng-container matColumnDef="REASON">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell" >Reason</th>
                  <td mat-cell *matCellDef="let element"> {{element.REASON}} </td>
                </ng-container> 
                <ng-container matColumnDef="VOUCHERDESC">
                    <th mat-header-cell *matHeaderCellDef class="py-1 font-weight-bold text-dark sticky-cell" style="width: 40%" >Voucher Description </th>
                    <td mat-cell *matCellDef="let element; let i = index" style="width: 40%">   <input type="text"  style="height: 100%;width:100%"
                      name="PASSEDAMT"   class="form-control" [(ngModel)]="element.VOUCHERDESC" [value]="element.VOUCHERDESC" > </td>
                    
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns1 ; sticky: true " class="bg-light" style="height:auto;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns1;" style="height:auto;"></tr>
            </table>
            <mat-paginator [length]="5"
            [pageSize]="100"
            [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

      </div> -->
      <b *ngIf="flag=='H'"> $Click on Emp No for Print Advance Requirment Rect. *Click on Name for Print Advance Voucher.</b>
     
    </div>
  
  
  </div>

    </div>
  </div>
  </div>
  </div>
  
  <app-footer></app-footer>
      </div>
  </div>
  </div>