<!-- <form autocomplete="off" >
    <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
         
        </div>
        <div class="modal-body" style="width: 900px;">
            <div class="d-flex- row">
                <div class="col-lg-12 tab-content m-t-10" id="pills-tabContent">
            <div class="card-body purchase-order px-0 py-2">
                <div class="form-inline">
                    <div class="form-group row col-12 mb-1">
                        <label class="col-sm-3 text-right" for="inputPassword4">Main Category</label>
                        <div class="col-sm-9 d-flex">
                            <ng-select [(ngModel)]="newData.MAINCATEGORYID" [ngModelOptions]="{standalone: true}"
                                [items]="mainCategory" 
                                bindLabel="CATEGORY"
                                bindValue="CATEGORYID" (close)="onMainCategoryClose(newData.MAINCATEGORYID)"
                                placeholder="Select Main Category"
                               class="form-control border-1 form-control-sm w-100">
                            </ng-select>
                           
                        </div>
                    </div>
                    <div class="form-group row col-12 mb-1">
                        <label class="col-sm-3 text-right" for="inputPassword4">Sub Category</label>
                        <div class="col-sm-9 d-flex">
                            <ng-select [(ngModel)]="newData.SUBCATEGORYID" [ngModelOptions]="{standalone: true}"
                            [items]="subFilterCategory" 
                                bindLabel="CATEGORY"
                                bindValue="CATEGORYID"
                                placeholder="Select Sub Category" (close)="onSubCategoryClose(newData.SUBCATEGORYID)"
                               class="form-control border-1 form-control-sm w-100">
                            </ng-select>
                           
                        </div>
                    </div>

                    <div class="form-group row col-12 mb-1">
                        <label class="col-sm-3 text-right" for="inputPassword4">Item Material</label>
                        <div class="col-sm-9 d-flex">
                            <ng-select [(ngModel)]="newData.MATERIALTYPEID" [ngModelOptions]="{standalone: true}"
                            [items]="filteredItemMaterial" 
                                bindLabel="CATEGORY"
                                bindValue="CATEGORYID"
                                placeholder="Select item Material Category"
                               class="form-control border-1 form-control-sm w-100">
                            </ng-select>
                        </div>
                    </div>

                    <div class="form-group row col-12 mb-1">
                        <label class="col-sm-3 text-right" for="inputPassword4">Item Type</label>
                        <div class="col-sm-9 d-flex">
                            <ng-select [(ngModel)]="newData.ITEMTYPEID" [ngModelOptions]="{standalone: true}"
                            [items]="filteredItemItemType" 
                                bindLabel="CATEGORY"
                                bindValue="CATEGORYID"
                                placeholder="Select item Material Category"
                               class="form-control border-1 form-control-sm w-100">
                            </ng-select>
                        </div>
                    </div>


                    <div class="form-group row col-12 mb-1">
                        <label class="col-sm-3 text-right" for="inputPassword4">Item Code</label>
                        <div class="col-sm-9 d-flex">
                            <input class="form-control form-control-sm" name="CODE" 
                                [(ngModel)]="newData.CODE" type="text" maxlength="2"
                                [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-group row col-12 mb-1">
                        <label class="col-sm-3 text-right" for="inputPassword4">Item Name</label>
                        <div class="col-sm-9 d-flex">
                            <input class="form-control form-control-sm" name="ITEMTYPE" 
                                [(ngModel)]="newData.ITEMTYPE" type="text"
                                [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                </div>
            </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
        
          <button type="button" class="btn btn-danger" mat-dialog-close>Cancel</button>
          <button type="button" class="btn btn-primary" (click)="saveCategory()" (disabled)="isLoadingResults">Ok</button>
        </div>
    </form> -->


    <form autocomplete="off" >
        <div class="modal-header">
            <h4 class="modal-title">{{title}}</h4>
             
            </div>
            <div class="modal-body" style="width: 900px;">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row mb-1">
                                <label class="col-sm-4 text-right" for="inputPassword4">Main Category</label>
                                <div class="col-sm-8 d-flex">
                                    <ng-select [(ngModel)]="newData.MAINCATEGORYID" [ngModelOptions]="{standalone: true}"
                                        [items]="mainCategory" 
                                        bindLabel="CATEGORY"
                                        bindValue="CATEGORYID" (close)="onMainCategoryClose(newData.MAINCATEGORYID)"
                                        placeholder="Select Main Category"
                                       class="form-control border-1 form-control-sm w-100">
                                    </ng-select>
                                </div>
                            </div>   
                            <div class="row mb-1">
                                <label class="col-sm-4 text-right" for="inputPassword4">Sub Category</label>
                                <div class="col-sm-8 d-flex">
                                    <ng-select [(ngModel)]="newData.SUBCATEGORYID" [ngModelOptions]="{standalone: true}"
                                    [items]="subFilterCategory" 
                                        bindLabel="CATEGORY"
                                        bindValue="CATEGORYID"
                                        placeholder="Select Sub Category" (close)="onSubCategoryClose(newData.SUBCATEGORYID, 0)"
                                       class="form-control border-1 form-control-sm w-100">
                                    </ng-select>
                                   
                                </div>
                            </div>  
                        </div>
                        
                        <div class="col-sm-6">
                            <div class="row mb-1">
                                <label class="col-sm-4 text-right" for="inputPassword4">Item Material</label>
                                <div class="col-sm-8 d-flex">
                                    <ng-select [(ngModel)]="newData.MATERIALTYPEID" [ngModelOptions]="{standalone: true}"
                                    [items]="filteredItemMaterial" 
                                        bindLabel="CATEGORY"
                                        bindValue="CATEGORYID"  (close)="onMaterailChangeClose(newData.MATERIALTYPEID)"
                                        placeholder="Select item Material Category"
                                       class="form-control border-1 form-control-sm w-100">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <label class="col-sm-4 text-right" for="inputPassword4">Item Type</label>
                                <div class="col-sm-8 d-flex">
                                    <ng-select [(ngModel)]="newData.ITEMTYPEID" [ngModelOptions]="{standalone: true}"
                                    [items]="filteredItemTYpe" 
                                        bindLabel="ITEMTYPE"
                                        bindValue="ITEMTYPEID" (close)="onTypeChangeClose(newData.ITEMTYPEID, 0)"
                                        placeholder="Select item type Category"
                                    class="form-control border-1 form-control-sm w-100">
                                    </ng-select>
                                </div>
                            </div>
                        </div>  <!-- ravi-->

                    </div>
                    <div class="row mb-1" *ngIf="allFilterParameters.length>0">
                        <div class="col-sm-2">
                            &nbsp;
                        </div>
                        <div class="col-sm-10">
                            <table  class="mat-elevation-z8 table-striped w-100">
                                <thead>
                                    <tr style="background-color: #666666; color: #ffffff;">
                                        <th scope="col" *ngFor="let  data of allFilterParameters ; let i = index" style="text-align: right;">{{data.PARAMETERNAME}}</th>
                                    </tr>
                                </thead>
                                <tbody class="font-sm">
                                    <tr style="height:auto">
                                        <td *ngFor="let  data of allFilterParameters ; let i = index">
                                            <input class="form-control form-control-sm" name="PVALUE" (keyup)="onParameterValueChange()"
                                            [(ngModel)]="data.VALUE" type="text"  style="text-align: right;"
                                            [ngModelOptions]="{standalone: true}">
                                        </td>
                                    </tr>
                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <label class="col-sm-2 text-right" for="inputPassword4">Item Code</label>
                        <div class="col-sm-4">
                            <input class="form-control form-control-sm" name="ITEMCODE" 
                            [(ngModel)]="newData.ITEMCODE" type="text" 
                            [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="row mb-1">
                        <label class="col-sm-2 text-right" for="inputPassword4">Item Name</label>
                        <div class="col-sm-10">
                            <input class="form-control form-control-sm" name="ITEMNAME" 
                            [(ngModel)]="newData.ITEMNAME" type="text" 
                            [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="row mb-1">
                        <label class="col-sm-2 text-right" for="inputPassword4">Receiving Unit</label>
                        <div class="col-sm-4 d-flex">
                            <ng-select [(ngModel)]="newData.RECEIVINGUNITID" [ngModelOptions]="{standalone: true}"
                            [items]="unitArrayList" 
                                bindLabel="UNIT"
                                bindValue="UNITID"  (close)="onRectUnitSelect(newData.RECEIVINGUNITID)"
                                placeholder="Select Rect Unit"
                               class="form-control border-1 form-control-sm w-100">
                            </ng-select>
                        </div>

                        <label class="col-sm-2 text-right" for="inputPassword4">Issuing Unit</label>
                        <div class="col-sm-4 d-flex">
                            <ng-select [(ngModel)]="newData.ISSUINGUNITID" [ngModelOptions]="{standalone: true}"
                            [items]="unitArrayList" 
                                bindLabel="UNIT"
                                bindValue="UNITID"
                                placeholder="Select Issue Unit"
                               class="form-control border-1 form-control-sm w-100">
                            </ng-select>
                        </div>

                    </div>
                    <div class="row mb-1">
                        <label class="col-sm-2 text-right" for="inputPassword4">Conv. Factor</label>
                        <div class="col-sm-4 d-flex">
                            <input class="form-control form-control-sm" name="CONVERSIONFACT" 
                            [(ngModel)]="newData.CONVERSIONFACT" type="text" style="width: 100px;text-align: right;"
                            [ngModelOptions]="{standalone: true}">
                        </div>

                        <label class="col-sm-2 text-right" for="inputPassword4">ABC Class</label>
                        <div class="col-sm-1">
                            <input class="form-control form-control-sm" name="ABCClass" style="width: 20px;"
                            [(ngModel)]="newData.ABCCLASS" type="text" maxlength="1"
                            [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="col-sm-3" style="text-align: right;">
                            <mat-checkbox    [(ngModel)]="newData.ISSTOCKABLE" [ngModelOptions]="{standalone: true}"> Is Stockable</mat-checkbox>  
                        </div>
                    </div>

                    <div class="row mb-1">
                        <label class="col-sm-2 text-right" for="inputPassword4">HSN Code</label>
                        <div class="col-sm-4 d-flex">
                            <input class="form-control form-control-sm" name="HSNCODE" 
                            [(ngModel)]="newData.HSNCODE" type="text" maxlength="8"
                            [ngModelOptions]="{standalone: true}">
                        </div>

                        <label class="col-sm-2 text-right" for="inputPassword4">GST Percent(%)</label>
                        <div class="col-sm-4 d-flex">
                            <ng-select [(ngModel)]="newData.GSTID" [ngModelOptions]="{standalone: true}"
                            [items]="gstArrayList" 
                                bindLabel="IGST"
                                bindValue="GSTID"
                                placeholder="Select GST Percentage(%)"
                               class="form-control border-1 form-control-sm w-100">
                            </ng-select>
                        </div>

                    </div>

                </div>    
            </div>
            <div class="modal-footer">
            
              <button type="button" class="btn btn-danger" mat-dialog-close>Cancel</button>
              <button type="button" class="btn btn-primary" (click)="saveData()" (disabled)="isLoadingResults">Ok</button>
            </div>
        </form> 