/* .table-responsive > .custom-table.table td, .table-responsive > .custom-table.table th {
    padding: .1rem 0.5rem;
    white-space: nowrap;
   
} */

#pills-tabContent .form-control, #pills-tabContent .select2 {
    width: 100%;
}

.custom-table.table td > .custom-table.table th {
    padding: .1rem 0.5rem;
    white-space: nowrap;
    height:275px;
   
} 

.table-scroll{
    overflow-y: scroll;
    height:360px;
}

/* .table-responsive{
    height:275px;
} */
