<form [formGroup]="indententry" novalidate>
        <div class="row">
        <div class="col-12">
                <div class="card" style="border-top: 2px solid #0e43af;box-shadow:0 1px 3px rgba(0,0,0,.3);">
        <div class="card-body border-bottom py-2">
                <div class="d-md-flex align-items-center justify-content-between">
                    <div class="d-flex">
                        <a [routerLink]="['/indent-entry']" class="btn btn-sm rounded btn-warning mr-3" title="Back to Orders"><i class="mdi mdi-keyboard-backspace"></i></a>
                        <h4 class="card-title m-0">{{'indentEntry' | translate}}</h4>
                    </div>
                    
                </div>
            </div>
              <div class="d-flex- row">
                    <div class="col-lg-12 tab-content m-t-10" id="pills-tabContent">
              <div class="card-body indent-entry px-0 py-2" >
                  <div class="form-inline">                     
                      <div class="form-group row col-12 mb-1">
                            <label class="col-sm-2 text-right" for="inputPassword4">{{'lastindentno' | translate}}</label>
                            <div class="col-sm-2 d-flex">
                                <input type="text" class="form-control form-control-sm" name="indentnumber" [(ngModel)]="newData.indentnumber" [ngModelOptions]="{standalone: true}"
                                oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" >
                            </div>

                            <label class="col-sm-2 text-right" for="inputPassword4">{{'indentdate' | translate}}</label>
                            <div class="form-group col-sm-2">
                                  <mat-form-field class="form-control py-1 mat-form-field-date-picker">
                                      <input matInput [matDatepicker]="picker" [value]="date.value" name="indentdate" [(ngModel)]="newData.indentdate" formControlName="indentdate" >
                                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                      <mat-datepicker #picker disabled="false"></mat-datepicker>
                                  </mat-form-field>
                              </div>

                              <label class="col-sm-2 text-right" for="inputEmail4">{{'manualslipno' | translate}}</label>
                      <div class="col-sm-2"><input type="text" class="form-control form-control-sm" name="manualslipno" [(ngModel)]="newData.manualslipno" formControlName="manualslipno"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');">
                      </div>
                      </div>
      
                      <div class="form-group row col-md-12 mb-1">

                            <label class="col-sm-2 text-right" for="inputEmail4">{{'department' | translate}}</label>
                            <div class="col-sm-2 ">
                               
                                  <ngx-select class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"  formControlName="departmentid" name="departmentid"  [allowClear]="true" [(ngModel)]="newData.departmentid" [items]="departmentget" optionValueField="id" optionTextField="deptname" placeholder=" Select Department"  >
                                </ngx-select>
                            </div>
                         
                          <label class="col-sm-2 text-right" for="inputPassword4">{{'indentor' | translate}}</label>
                          <div class="col-sm-6 d-flex">
                                                           <ngx-select class="ngx-custom-select-dropdown"  formControlName="indentorid" name="indentorid"  [allowClear]="true" [(ngModel)]="newData.indentor" [items]="indentorget" optionValueField="userid" optionTextField="firstname" placeholder=" Select Indentor"  >
                                    </ngx-select>
                                
                        </div>
                  </div>
      
                  <div class="form-group row col-md-12">
                        <label class="col-sm-2 text-right" for="inputPassword4">{{'costcentre' | translate}}</label>
                        <div class="col-sm-2 d-flex">
                            <ngx-select class="ngx-custom-select-dropdown"  formControlName="costcentreid" name="costcentreid"  [allowClear]="true" [(ngModel)]="newData.costcentreid" [items]="costcentreget" optionValueField="id" optionTextField="name" placeholder=" Select Cost Center"  >
                            </ngx-select>
                        </div>

                          <label class="col-sm-2 text-right" for="inputPassword4">{{'subcostcentre' | translate}}</label>
                          <div class="col-sm-2 d-flex">
                              <!-- <select class="select2 form-control form-control-sm custom-select" name="subcostcentre" [(ngModel)]="newData.subcostcentre" formControlName="subcostcentre">
                                <option *ngFor="let subcost of subcostcentreget" [value]='subcost.id' value='{{subcost.id}}'>{{subcost.name}}</option>
                                </select> -->
                                <ngx-select class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"  formControlName="subcostcentre" name="subcostcentre"  [allowClear]="true" [(ngModel)]="newData.subcostcentre" [items]="subcostcentreget" optionValueField="id" optionTextField="name" placeholder=" Please Select"  >
                                    </ngx-select>
                            </div>

                            <label class="col-sm-2 text-right" for="inputEmail4">{{'jobwork' | translate}}</label>
                            <div class="col-sm-2">
                                <mat-checkbox name="isjobwork" [(ngModel)]="newData.isjobwork" formControlName="isjobwork"></mat-checkbox>
                            </div>
                  </div>
                  
      
              </div>
      
                 
              <h4 style="padding-top:10px; margin-left: 5px;">{{'itemdetails' | translate}}</h4>
                  <div class="table-scroll mx-1">
                       
                  <div class="card-body border-top supplier-master px-0 py-2">
                      <div class="table-responsive">
                          <table class="table table-striped custom-table tr th">
                              <thead>
                                  <tr style="background-color: #666666; color: #ffffff;">
                                      <th scope="col" style="width:13%;">{{'itemcode' | translate}}</th>
                                      <th scope="col" style="width:15%;">{{'itemdescription' | translate}}</th>
                                      <th scope="col" style="width:10%;">{{'brand' | translate}}</th>
                                      <th scope="col" style="width:6%;">{{'quantity' | translate}}</th>
                                      <th scope="col" style="width:8%;">{{'issunit' | translate}}</th>
                                      <th scope="col" style="width:15%;">{{'remarks' | translate}}</th>
                                      <th scope="col" style="width:8%;">{{'reqdby' | translate}}</th>
                                      <!-- <th scope="col" style="width:6%;">{{'urgent' | translate}}</th> -->
                                      <th scope="col" style="width:15%;">{{'suggestedsupplier' | translate}}</th>
                                      <th scope="col" style="width:4%;text-align: center;">{{'action' | translate}}</th>
                                  </tr>
                              </thead>
                              <tbody class="font-sm">
                              <tr *ngFor="let item of items ; let i = index">
                                      <td *ngIf="item.id === editItemID"><input type="text" class="form-control w-100" [(ngModel)]='item.itemcode' [value]='itemcode' [ngModelOptions]="{standalone: true}"></td>
                                      <td *ngIf="item.id !== editItemID" (dblclick)="editItem(item.id)">{{item.itemcode}}</td>
      
                                      <td *ngIf="item.id === editItemID">
                                            <select class="form-control form-control-sm custom-select" [(ngModel)]='item.itemid' (ngModelChange)="onChange($event)" [ngModelOptions]="{standalone: true}">
                                                    <option *ngFor="let itemlist of itemlistget" [value]='itemlist.id' value='{{itemlist.id}}'>{{itemlist.itemname}}</option>
                                                </select>
                                      </td>
                                      <td *ngIf="item.id !== editItemID" (dblclick)="editItem(item.id)">{{item.itemname}}</td>
      
                                      <td *ngIf="item.id === editItemID">
                                        <select class="form-control form-control-sm custom-select" [(ngModel)]='item.brandid' [ngModelOptions]="{standalone: true}">
                                                <option *ngFor="let brandlist of brandlistget" [value]='brandlist.id' value='{{brandlist.id}}'>{{brandlist.name}}</option>
                                            </select>
                                    </td>
                                      <td *ngIf="item.id !== editItemID" (dblclick)="editItem(item.id)">{{item.item_brand}}</td>
      
                                      <td *ngIf="item.id === editItemID"><input type="text" class="form-control w-100" [(ngModel)]='item.quantityrequired' [ngModelOptions]="{standalone: true}"></td>
                                      <td *ngIf="item.id !== editItemID" (dblclick)="editItem(item.id)">{{item.quantity | titlecase}}</td>
      
                                      <td *ngIf="item.id === editItemID">
                                        <select class="form-control form-control-sm custom-select" [(ngModel)]='item.unit' [ngModelOptions]="{standalone: true}">
                                            <option *ngFor="let UOM of itemuomget" [value]='UOM.id' value='{{UOM.id}}'>{{UOM.uom}} </option>
                                            </select>
                                    </td>
                                      <td *ngIf="item.id !== editItemID" (dblclick)="editItem(item.id)">{{item.unit | titlecase}}</td>
      
                                      <td *ngIf="item.id === editItemID"><input type="text" class="form-control w-100" [(ngModel)]='item.remarks' [ngModelOptions]="{standalone: true}"></td>
                                      <td *ngIf="item.id !== editItemID" (dblclick)="editItem(item.id)">{{item.remarks | titlecase}}</td>
                                     
                                      <td *ngIf="item.id === editItemID">
                                          <div class="form-group" style="width:100px">
                                              <mat-form-field class="form-control py-1 mat-form-field-date-picker">
                                                  <input matInput [matDatepicker]="picker" [(ngModel)]='item.requiredby' [ngModelOptions]="{standalone: true}">
                                                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                  <mat-datepicker #picker></mat-datepicker>
                                              </mat-form-field>
                                          </div>
                                      </td>
                                      <td *ngIf="item.id !== editItemID" (dblclick)="editItem(item.id)">{{item.expecteddate | date:'d/M/y'}}</td>
      
                                      <!-- <td *ngIf="item.id === editItemID"><input type="text" class="form-control w-100" [(ngModel)]='item.ifurgent' [ngModelOptions]="{standalone: true}"></td>
                                      <td *ngIf="item.id !== editItemID" (dblclick)="editItem(item.id)">{{item.ifurgent | titlecase}}</td> -->
      
                                      <td *ngIf="item.id === editItemID"><input type="text" class="form-control w-100" [(ngModel)]='item.suplid' [ngModelOptions]="{standalone: true}"></td>
                                      <td *ngIf="item.id !== editItemID" (dblclick)="editItem(item.id)">{{item.suggested_supplier | titlecase}}</td>
      
                                      <td style="width:60px;text-align: center;">
                                          <div>
                                              <i *ngIf="item.id === editItemID" class="fas fa-check customIcon" (click)="updateItem(item)"></i>
                                              <i *ngIf="item.id !== editItemID" class="fas fa-edit customIcon" (click)="editItem(item.id)"></i>
                                              <i style="margin-left: 5px;" class="far fa-trash-alt customIcon" (click)="removeItem(i)"></i>
                                          </div>
                                      </td>
                                  </tr>
                                  
                                  <tr>
                                      <td><input type="text" class="form-control w-100" [(ngModel)]="newItem.itemcode" [value]='Itemcode' [ngModelOptions]="{standalone: true}"></td>
                                      <td>
                                        <select class="form-control form-control-sm custom-select" [(ngModel)]='newItem.itemid' (ngModelChange)="onChange($event)" [ngModelOptions]="{standalone: true}">
                                                <option *ngFor="let itemlist of itemlistget" [value]='itemlist.id' value='{{itemlist.id}}'>{{itemlist.itemname}}</option>
                                            </select>
                                    </td>
                                      <td>
                                            <select class="form-control form-control-sm custom-select" [(ngModel)]='newItem.brandid' [ngModelOptions]="{standalone: true}">
                                                    <option *ngFor="let brandlist of brandlistget" [value]='brandlist.id' value='{{brandlist.id}}'>{{brandlist.name}}</option>
                                                </select>
                                      </td>
                                      <td><input type="text" class="form-control w-100" [(ngModel)]="newItem.quantityrequired" [ngModelOptions]="{standalone: true}"></td>
                                      <td>
                                            <select class="form-control form-control-sm custom-select" [(ngModel)]='newItem.unit' [ngModelOptions]="{standalone: true}">
                                                <option *ngFor="let UOM of itemuomget" [value]='UOM.id' value='{{UOM.id}}'>{{UOM.uom}} </option>
                                                </select>
                                      </td>
                                      <td><input type="text" class="form-control w-100" [(ngModel)]="newItem.remarks" [ngModelOptions]="{standalone: true}"></td>
                                      
                                      <td>
                                        <div class="form-group" style="width:100px">
                                            <mat-form-field class="form-control py-1 mat-form-field-date-picker">
                                                <input matInput [matDatepicker]="picker1" [(ngModel)]="newItem.requiredby" [ngModelOptions]="{standalone: true}">
                                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                <mat-datepicker #picker1></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                      </td>
                                      <!-- <td><input type="text" class="form-control w-100" [(ngModel)]="newItem.ifurgent" [ngModelOptions]="{standalone: true}"></td> -->
                                      <td><input type="text" class="form-control w-100" [(ngModel)]="newItem.suplid" [ngModelOptions]="{standalone: true}"></td>
                                      
                                      <td style="width:60px;text-align: center;">
                                          <i (click)="additem(newItem)" class="fas fa-plus"></i>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                   </div>


                  </div>
                  </div>
                </div>

            <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary rounded" routerLink="/indent-entry">{{'cancel'|translate}}</button>
                  <button type="button" class="btn btn-sm btn-info rounded" (click)="saveindent(newData)" [disabled]="indententry.pristine || indententry.invalid">{{'save'|translate}}</button>
              </div>
              </div>
            </div>
        </div>
           
          </form> 
 
 
 