<form autocomplete="off" >
<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
     
    </div>
    <div class="modal-body" style="width: 600px;">
        <div class="d-flex- row">
            <div class="col-lg-12 tab-content m-t-10" id="pills-tabContent">
        <div class="card-body purchase-order px-0 py-2">
            <div class="form-inline">
                <div class="form-group row col-12 mb-1">
                    <label class="col-sm-3 text-right" for="inputPassword4">Main Category</label>
                    <div class="col-sm-9 d-flex">
                        <ng-select [(ngModel)]="newData.MAINCATEGORYID" [ngModelOptions]="{standalone: true}"
                            [items]="mainCategory" 
                            bindLabel="CATEGORY"
                            bindValue="CATEGORYID" (close)="onMainCategoryClose(newData.MAINCATEGORYID)"
                            placeholder="Select Main Category"
                           class="form-control border-1 form-control-sm w-100">
                        </ng-select>
                     
                    </div>
                </div>
                <div class="form-group row col-12 mb-1">
                    <label class="col-sm-3 text-right" for="inputPassword4">Sub Category</label>
                    <div class="col-sm-9 d-flex">
                        <ng-select [(ngModel)]="newData.SUBCATEGORYID" [ngModelOptions]="{standalone: true}"
                        [items]="subFilterCategory" 
                            bindLabel="CATEGORY"
                            bindValue="CATEGORYID"
                            placeholder="Select Sub Category"
                           class="form-control border-1 form-control-sm w-100">
                        </ng-select>
                       
                    </div>
                </div>
                <div class="form-group row col-12 mb-1">
                    <label class="col-sm-3 text-right" for="inputPassword4">Material Short Code</label>
                    <div class="col-sm-9 d-flex">
                        <input class="form-control form-control-sm" name="CODE" 
                            [(ngModel)]="newData.CODE" type="text" maxlength="2"
                            [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group row col-12 mb-1">
                    <label class="col-sm-3 text-right" for="inputPassword4">Item Material</label>
                    <div class="col-sm-9 d-flex">
                        <input class="form-control form-control-sm" name="CATEGORY" 
                            [(ngModel)]="newData.CATEGORY" type="text"
                            [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <!-- <div class="form-group row col-12 mb-1">
                    <div class="col-sm-1">
                        &nbsp;
                     </div>
                     <div class="col-sm-5">
                        <mat-checkbox  [(ngModel)]="newData.HAVEFORMULA"  [ngModelOptions]="{standalone: true}">Generate Formula </mat-checkbox> 
                     </div>
                    
                </div> -->
                <!-- <div class="form-group row col-12 mb-1">
                    <div class="col-sm-1">
                        &nbsp;
                     </div>
                    <div class="col-sm-5">
                        <div class="table-scroll mx-1">
                        <table class="table table-striped custom-table custom-table-big tr th " border="1px" style="background-color:slategray;">
                        
                            <tr>
                                <th>
                                    <b>Master Parameter List</b>
                                </th>
                            </tr>
                            <tr *ngFor="let data of parameterList;let i = index" (click)="onMasterListClick(data)">
                                <td class="pl-1 pr-0" style="color: seashell;">
                                  {{data.PARAMETERNAME}}
                                </td>
                            </tr>
                        </table>
                        </div>

                    </div>
                   
                    <div class="col-sm-1">
                        <div class="table-scroll mx-1">
                            <table *ngIf="newData.HAVEFORMULA"  class="table table-striped custom-table custom-table-big tr th" style="width: 20px;">
                                <tr *ngFor="let data of operatorList;let i = index" (click)="onOperatedListClick(data)">
                                    <td class="pl-1 pr-0" >
                                     <b>{{data.OPERATOR}}</b> 
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-5 d-flex">
                        <textarea *ngIf="newData.HAVEFORMULA"  style="height: 250px;" name="expression"  [(ngModel)]="expression"  [ngModelOptions]="{standalone: true}"
                                 class="w-100 text-left form-control form-control-sm w-100" readonly>
                        </textarea>

                        <table *ngIf="newData.HAVEFORMULA==false"  class="table table-striped custom-table custom-table-big tr th" style="width: 200px;">
                            <tr>
                                <th>
                                    <b>Parameter List</b>
                                </th>
                            </tr>
                            <tr *ngFor="let data of parameterSelectedList;let i = index" (click)="onOperatedListClick(data)">
                                <td class="pl-1 pr-0" >
                                 <b>{{data.PARAMETERNAME}}</b> 
                                </td>
                            </tr>
                        </table>

                    </div>
                </div> -->
                
                <!-- <div class="form-group row col-12 mb-1">
                    <div class="col-sm-7">
                        &nbsp;
                     </div>
                    <div class="col-sm-5 d-flex">
                        <button type="button" class="btn btn-primary" (click)="testExpression()" >Test</button>
                        <button type="button" class="btn btn-primary" (click)="clearExpression()" >Clear</button>
                    </div>
                </div> -->

                
            </div>
        </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <!-- <div class="col-sm-9 d-flex"><b>**Double click on Parameter for Add/Remove</b> </div> -->
      <button type="button" class="btn btn-danger" mat-dialog-close>Cancel</button>
      <button type="button" class="btn btn-primary" (click)="saveCategory()" (disabled)="isLoadingResults">Ok</button>
    </div>
</form>