<form>
    <div class="example-loading-shade" *ngIf="isLoadingResults ">
        <mat-spinner [diameter]="40" *ngIf="isLoadingResults"></mat-spinner>
    </div>

    <div class="modal-header primary-bg py-2">
        <h5 class="modal-title text-white" id="exampleModalLabel">Items mapped with : {{itemname}}</h5>
        <button class="close text-white" mat-dialog-close>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body" style="height:448px;overflow-y:scroll;padding:0;max-width: 1070px;">

        <div class=" pb-3 pl-1" id="parentDiv" scrollSpy>
            <div class="card-body border-top supplier-category-master px-0 py-0">
                <div>
                    <table class="table table-striped custom-table tr th">
                        <thead>
                            <tr style="background-color: #666666; color: #ffffff;">
                                <th scope="col" style="width:4%;"></th>
                                <th scope="col" style="width:12%;padding-left:0;">{{'unit' | translate}}</th>
                                <th scope="col" style="width:30%;padding-left:0;">{{'itemname' | translate}}</th>
                                <th *ngIf="action == 'rate'" scope="col" style="width:12%; padding-right: 30px;">
                                    {{'supplier' | translate}}</th>
                                <th scope="col" style="width:12%;padding-left:0;">{{'itemcode' | translate}}</th>
                                <th scope="col" style="width:12%;padding-left:0;">{{'uom' | translate}}</th>
                                <th scope="col" style="width:8%;text-align: right; padding-right: 30px;">{{'stock' | translate}}</th>
                                <th *ngIf="action == 'rate'" scope="col" style="width:8%;text-align: right; padding-right: 30px;">
                                    {{'last-purchaserate' | translate}}</th>
                                    <th *ngIf="action == 'rate'" scope="col" style="width:8%;text-align: right; padding-right: 30px;">
                                        {{'last-purchasedate' | translate}}</th>

                            </tr>
                        </thead>
                        <tbody class="font-sm">

                            <tr *ngFor="let contact of contacts ; let i = index">

                                <td style="width:4%;">
                                    <mat-checkbox name="togglereqd" [(ngModel)]="contact.checked"[ngModelOptions]="{standalone: true}" 
                                    (change)="onChange($event, contact)"> </mat-checkbox>
                                </td>
                                <td style="width:12%;"> {{contact.BRANCHNAME}} </td>
                                <td style="width:30%;"> {{contact.ITEMNAME}} </td>
                                <td *ngIf="action == 'rate'" style="width:12%; padding-right: 30px;"> {{contact.NAME}}</td>
                                <td style="width:12%;"> {{contact.ITEMCODE}}</td>
                                <td style="width:12%;">  {{contact.UOM}}</td>
                                <td style="width:8%; text-align: right; padding-right: 30px;">{{contact.STOCK | number : '1.3-3'}}</td>
                                <td *ngIf="action == 'rate'" style="width:8%; text-align: right; padding-right: 30px;"> {{contact.LASTPURCHASERATE | number : '1.3-3'}}</td>
                                <td *ngIf="action == 'rate'" style="width:8%; padding-right: 30px;"> {{contact.LASTPURCHASEDATE | date:'dd-MM-yyyy'}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" style="width: 75px;" class="btn btn-sm btn-secondary rounded bg-danger"
            mat-dialog-close>{{'close'|translate}}</button>
        <button [disabled]="isLoadingResults" type="button" (click)="validateBeforeSave('UnConfirm')"
            class="btn btn-sm btn-info rounded">{{'unconfirm'|translate}}</button>

    </div>
</form>