
<div class="preloader" style="display: none;">
  <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
  </div>
</div>

<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper" >
    <div class="container-fluid" style="background:#dcdcdc;">
<div class="row">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner  [diameter]="40" *ngIf="isLoadingResults"></mat-spinner>
    </div>
<div class="col-12">
  <div class="card" style="border-top: 2px solid #0e43af;box-shadow:0 1px 3px rgba(0,0,0,.3);">
    <div class="d-flex- row">
    <div class="col-lg-7 tab-content m-t-10" id="pills-tabContent">

      <div class="card" style="box-shadow:0 1px 3px rgba(0,0,0,.3);">
          <h6>Sale Detail</h6>
        <table class="table table-striped custom-table tr th">
          <thead>
            <tr>
              <th rowspan="2" style="text-align:center;width: 28%;vertical-align:middle;">Particulars</th>
              <th colspan="3" style="text-align:center;">Weight</th>
              <th colspan="3" style="text-align:center;">Amount</th>
            </tr>
            <tr >  
              <th style="text-align:right;width: 12%;"> Mgf</th>
              <th style="text-align:right;width: 12%;">Job Work</th>
              <th style="text-align:right;width: 12%;">Others</th>
              <th style="text-align:right;width: 12%;"> Mgf</th>
              <th style="text-align:right;width: 12%;">Job Work</th>
              <th style="text-align:right;width: 12%;">Others</th>
            </tr>
          </thead> 
          <tbody>
            <tr *ngFor="let element of saleFieldArray"  (click)="showDetail(element)">
                <td> {{element.PARTICULAR}}</td>
                <td style="text-align:right">{{element.MGFWT| number : '1.3-3'}}</td>
                <td style="text-align:right">{{element.JOBWT| number : '1.3-3'}}</td>
                <td style="text-align:right">{{element.SCRAPWT| number : '1.3-3'}}</td>
                <td style="text-align:right">{{element.MGFAMT| number : '1.2-2'}}</td>
                <td style="text-align:right">{{element.JOBAMT| number : '1.2-2'}}</td>
                <td style="text-align:right">{{element.SCRAPAMT| number : '1.2-2'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
     
        <div class="card" style="box-shadow:0 1px 3px rgba(0,0,0,.3)  scrollit;min-height: 200px">
            <h6>Urgent Requirments</h6>
              <table class="table table-striped custom-table tr th">
              <thead>
                  <tr>  
                    <th style="width: 80%;"> Item Name</th>
                    <th style="text-align:right;width: 20%;">Quantity</th>
                  </tr>
                </thead> 
                <tbody>
                  <tr *ngFor="let element of urgentFieldArray" >
                      <td> {{element.ITEMNAME}}</td>
                      <td style="text-align:right">{{element.QUANTITY}}</td>
                  </tr>
                </tbody>
           
          </table>
        </div>
      </div> 
      <div class="col-lg-5">
          <div class="border position-relative scrollit1" style="background: #ffffcf;min-height:400px;">
              <h6> Ceritical Stock</h6>
              <table class="table table-striped custom-table tr th">
                  <thead>
                    <tr>  
                      <th style="width: 80%;"> Item Name</th>
                      <th style="text-align:right;width: 20%;">Stock in Hand</th>
                    </tr>
                  </thead> 
                  <tbody >
                    <tr *ngFor="let element of criticalFieldArray"  >
                      
                        <td> {{element.ITEMNAME}}</td>
                        <td style="text-align:right">{{element.STOCKINHANDQTY}}</td>
                      
                    </tr>
                  </tbody>
                </table>
          </div>
      </div>    
   
</div>
</div>
</div>
</div>
<!-- </form> -->
<app-footer></app-footer>
    </div>
</div>
</div>