<div class="preloader" style="display: none;">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
  </div>
  <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  
  <div class="page-wrapper">
    <div class="container-fluid" style="background:#dcdcdc;">
      <form [formGroup]="letterBank" novalidate>
        <div class="example-loading-shade" *ngIf="isLoadingResults ">
          <mat-spinner [diameter]="40" *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card" style="border-top: 2px solid #0e43af;box-shadow:0 1px 3px rgba(0,0,0,.3);">
              <div class="card-body border-bottom py-2">
                <div class="d-md-flex align-items-center justify-content-between">
                  <div class="d-flex">
                    <a [routerLink]="['/letter-bank']" class="btn btn-sm rounded btn-warning mr-3"
                      title="Back to Documents"><i class="mdi mdi-keyboard-backspace"></i></a>
                    <h4 class="card-title m-0">{{'newdocument' | translate}}</h4>
  
                    <mat-radio-group name="gender" [(ngModel)]="newData.LETTERTYPE" [ngModelOptions]="{standalone: true}" class="ml-5"
                      (change)="letterChange()" [disabled]="this.actiontype == 'edit'">
                      <mat-radio-button value="1">{{'employeerelatedletter' | translate}}</mat-radio-button>
                      <mat-radio-button class="ml-3" value="2">{{'generalletter' | translate}}</mat-radio-button>
                      <mat-radio-button class="ml-3" value="3">{{'resumerelated' | translate}}</mat-radio-button>
                    </mat-radio-group>
                      <div class="row">
                        <label class="text-right" style="margin-left: 130px; margin-right: 12px;">
                          Upload</label>
                        <i *ngIf="newData.imagesArray.length == 0" class="fas fa-paperclip custom-book-class" (click)="imagePopup(newData)"
                          style="margin: left 14px;" matTooltip="{{'attachment' | translate}}" matTooltipClass="custom-tooltip-class"></i>
                        <i *ngIf="newData.imagesArray.length != 0" class="fas fa-paperclip custom-book-class"
                          style="color:green !important; margin: left 14px" (click)="imagePopup(newData)"
                          matTooltip="{{'attachment' | translate}}" matTooltipClass="custom-tooltip-class"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex- row">
                <div class="col-md-8 tab-content m-t-10" id="pills-tabContent">
                  <div class="card-body indent-entry px-0 py-2">
                    <div class="form-inline">
                        <div class="form-group col-md-6 mb-2">
                          <label class="col-md-4 text-left error-control-label required">{{'documentcategory' | translate}}</label>
                          <div class="col-md-7 d-flex">
                            <ngx-select class="ngx-custom-select-dropdown" [ngModelOptions]="{standalone: true}"
                              name="DOCUMENTTYPE" [allowClear]="true" [(ngModel)]="newData.doctype"
                              [items]="documentDDCategory" optionValueField="ID" optionTextField="DOCTYPE"
                              placeholder="{{'selectdocumentcategory' | translate}}" (select)="documentCategoryChange($event)">
                            </ngx-select>
                          </div>
                        </div>
  
                        <div class="form-group col-md-6 mb-2 d-flex">
                          <label class="col-md-4 text-left error-control-label required">{{'department' | translate}}</label>
                          <div class="col-md-7">
                            <ngx-select class="ngx-custom-select-dropdown" [ngModelOptions]="{standalone: true}"
                              name="DEPTID" [allowClear]="true" [(ngModel)]="newData.DEPTID"
                              [items]="departmentDataget" optionValueField="ID" optionTextField="NAME"
                              placeholder="{{'selectdepartment' | translate}}" (select)="departmentChange($event)">
                            </ngx-select>
                          </div>
                          <button class="btn btn-add waves-effect waves-light col-md-1" type="button" (click)="departmentPopup(newData)">+ </button>
                        </div>
  
                        <div class="form-group col-md-6 mb-2 d-flex">
                          <label class="col-md-4 text-left error-control-label required">{{'subject' | translate}}</label>
                          <div class="col-md-7">
                            <ngx-select class="ngx-custom-select-dropdown" [ngModelOptions]="{standalone: true}"
                              name="SUBJECTID" [allowClear]="true" [(ngModel)]="newData.SUBJECTID"
                              [items]="subjectDataget" optionValueField="ID" optionTextField="NAME"
                              placeholder="{{'selectsubject' | translate}}" (select)="subjectChange($event)">
                            </ngx-select>
  
                            <!-- <mat-form-field class="example-full-width W-100">
                              <input type="text" class="form-control form-control-sm w-100" matInput [formControl]="myControl" [matAutocomplete]="auto" name="subject" [(ngModel)]="newData.subject" [ngModelOptions]="{standalone: true}" aria-label="Number">
                              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getPosts($event)">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option" value="{{option}}">
                                  {{option}}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field> -->
                          </div>
                          <button class="btn btn-add waves-effect waves-light col-md-1" type="button" (click)="subjectPopup(newData)">+ </button>
                        </div>
  
                        <div class="form-group col-md-6 mb-2 d-flex">
                          <label class="col-md-4 text-left error-control-label required">{{'title' | translate}}</label>
                          <div class="col-md-7">
                            <ngx-select class="ngx-custom-select-dropdown" [ngModelOptions]="{standalone: true}"
                              name="TITLEID" [allowClear]="true" [(ngModel)]="newData.TITLEID"
                              [items]="titleDataget" optionValueField="ID" optionTextField="NAME"
                              placeholder="{{'selecttitle' | translate}}" (select)="checkDuplicateDataExist()">
                            </ngx-select>
                            <!-- <mat-form-field class="example-full-width W-100">
                              <input type="text" class="form-control form-control-sm w-100" matInput [formControl]="myControl" [matAutocomplete]="auto2" name="title" [(ngModel)]="newData.title" [ngModelOptions]="{standalone: true}" aria-label="Number">
                              <mat-autocomplete #auto2="matAutocomplete">
                                <mat-option *ngFor="let option of filteredOptions| async" [value]="option">
                                  {{option}}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field> -->
                          </div>
                          <button class="btn btn-add waves-effect waves-light col-md-1" type="button" (click)="titlePopup(newData)">+ </button>
                        </div>
  
                        <div class="form-group col-md-12 mb-2">
                          <!-- <p-editor class="custom-editor" name="DOCUMENTTEXT" [(ngModel)]="newData.DOCUMENTTEXT" [ngModelOptions]="{standalone: true}" [style]="{'height':'320px'}"></p-editor> -->
                          <!-- <ckeditor [(ngModel)]="newData.DOCUMENTTEXT" [ngModelOptions]="{standalone: true}"
                            name="DOCUMENTTEXT" class="custom-editor" [config]="ckeConfig"  debounce="500">
                          </ckeditor> -->
  
                          <!-- <editor class="custom-editor" name="DOCUMENTTEXT" [(ngModel)]="newData.DOCUMENTTEXT" [ngModelOptions]="{standalone: true}"
                          [init]="getInitData()" ></editor> -->
                          <!-- <editor class="custom-editor" name="DOCUMENTTEXT" [(ngModel)]="newData.DOCUMENTTEXT" [ngModelOptions]="{standalone: true}"
                          [init]="{ height: 500, menubar: false,
                            content_style: 'p {  margin: 2px !important; }',
                            plugins: 'print preview fullpage powerpaste casechange importcss tinydrive searchreplace autolink autosave save directionality advcode visualblocks visualchars fullscreen image link media mediaembed template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists checklist wordcount tinymcespellchecker a11ychecker imagetools textpattern noneditable help formatpainter permanentpen pageembed charmap tinycomments mentions quickbars linkchecker emoticons',
                            toolbar: 'undo redo | bold italic underline strikethrough | print fullscreen image | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist checklist | forecolor backcolor casechange permanentpen formatpainter removeformat | pagebreak | charmap emoticons | preview | insertfile media pageembed template link anchor codesample | a11ycheck ltr rtl | showcomments addcomment' }" ></editor> -->
  
  
                                  <!-- <textarea id="richTextArea" name="richTextArea">Hello, World!</textarea> -->
                          <ckeditor id="ckeditor1" #ckeditor1
                            [(ngModel)]="newData.DOCUMENTTEXT" [ngModelOptions]="{standalone: true}"
                            [config]="myCkeditorConfig"(ready)="setCkeObject($event)" style="width: 100%;"
                           >
                          </ckeditor>
                        </div>
                    </div>
                  </div>
                </div>
  
                <!-- <button (click)="addDataineditor()">test t </button> -->
  
                <div class="col-md-4 tab-content m-t-10 pl-0" id="pills-tabContent">
                  <div class="card-body indent-entry px-0 py-2">
                    <div class="form-inline pt-2">
                        <div *ngIf="newData.LETTERTYPE != '2'" class="form-group col-md-12 mb-2">
                          <!-- <label class="col-md-4 text-left">{{'datasource' | translate}}</label>
                          <div class="col-md-6 d-flex">
                            <ngx-select class="ngx-custom-select-dropdown" [ngModelOptions]="{standalone: true}"
                              name="DOCUMENTTYPE" [allowClear]="true" [(ngModel)]="newData.DOCUMENTTYPE"
                              [items]="documentCategory" optionValueField="ID" optionTextField="doctype"
                              placeholder="{{'selectdocumentcategory' | translate}}">
                            </ngx-select>
                          </div> -->
                          <label class="col-md-4 text-left  ">{{'search' | translate}}</label>
                          <div class="col-md-8 d-flex">
                            <input type="text" class="form-control form-control-sm w-100"  (keyup)="applyFilter($event.target.value)" placeholder="{{'search' | translate}}">
                          </div>
                        </div>
  
                        <div *ngIf="newData.LETTERTYPE != '2'" class="form-group col-md-12 mb-2 mt-2">
                          <!-- <label class="col-md-4 text-left  ">{{'search' | translate}}</label>
                          <div class="col-md-6 d-flex">
                            <input type="text" class="form-control form-control-sm w-100"  (keyup)="applyFilter($event.target.value)" placeholder="{{'search' | translate}}">
                          </div> -->
                          <div class="small muted"> <strong>Double click on a field name above to add it to the editor.</strong></div>
                        </div>
  
                        <div *ngIf="newData.LETTERTYPE != '2'" class="form-group col-md-12 mb-2">
                          <div class="example-container table-responsive" style="box-shadow:0 1px 3px rgba(0,0,0,.3);height: 642px;max-height: 642px;">
                            <table mat-table [dataSource]="datasourcetablearray" class="mat-elevation-z8 table table-sm table-striped w-w80 mb-0 mat-table" #table>
                              
                              <ng-container matColumnDef="category">
                                <th mat-header-cell *matHeaderCellDef  class="py-1 font-weight-bold text-dark sticky-cell" style="width:45%"> <a style="color: #0e43af !important">{{ 'name' |  translate }}</a> </th>
                                <td mat-cell *matCellDef="let element">{{element.NAME}}</td>
                            </ng-container>
                            
                            <ng-container matColumnDef="deptname">
                                <th mat-header-cell *matHeaderCellDef  class="py-1 font-weight-bold text-dark sticky-cell" style="width:45%"><a style="color: #0e43af !important">{{ 'description' |  translate }}</a> </th>
                                <td mat-cell *matCellDef="let element">{{ element.COLUMN_NAME }} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true " class="bg-light" style="height:auto;"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="height:auto;" (dblclick)="inserttoeditoronclick(row)"></tr>
                            </table>
                          </div>
                          <div class="small muted">Double click on a field name above to add it to the editor.</div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary rounded bg-danger" [disabled]= 'isLoadingResults' routerLink="/letter-bank">{{'cancel'|translate}}</button>
                <button *ngIf="actiontype == 'new'" [disabled]= 'isLoadingResults' type="button" class="btn btn-sm btn-info rounded" (click)="validateBeforeSave(newData, 'Insert')">{{'save'|translate}}</button>
                <button *ngIf="actiontype == 'edit'" [disabled]= 'isLoadingResults' type="button" class="btn btn-sm btn-info rounded"  (click)="validateBeforeSave(newData,'Update')">{{'update'|translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </form>
  
     
      <app-footer></app-footer>
    </div>
  </div>
  </div>