<div class="preloader" style="display: none;">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper" >
    <div class="container-fluid" style="background:#dcdcdc;">
<form>
        <div class="example-loading-shade" *ngIf="isLoadingResults ">
                <mat-spinner  [diameter]="40" *ngIf="isLoadingResults"></mat-spinner>
            </div>
            <div class="example-loading-shade" *ngIf="isLoadingResults ">
                    <mat-spinner  [diameter]="60" *ngIf="isLoadingResults"></mat-spinner>
                </div>
    <div class="row">
        <div class="col-12">
            <div class="card" style="border-top: 2px solid #0e43af;box-shadow:0 1px 3px rgba(0,0,0,.3);" >
                <div class="card-body border-bottom py-2">
                    <div class="d-md-flex align-items-center justify-content-between">
                        <div class="d-flex">
                            <a skipLocationChange  [routerLink]="['/Vehicle-GP']" class="btn btn-sm rounded btn-warning mr-3" title="Back to Orders"><i
                                    class="mdi mdi-keyboard-backspace"></i></a>
                            <h4 class="modal-title " id="exampleModalLabel">{{'Vehicle Gate-Pass Entry' | translate}}</h4>
                        </div>
                      
                    </div>
                </div>
                <div class="d-flex- row">
                    <div class="col-lg-12 tab-content m-t-10" id="pills-tabContent">
                        <div class="card-body purchase-order px-0 py-2">

                            <div class="form-inline">
                                        <div class="form-group row col-5 mb-2">
                                            <label *ngIf="routeAction == 'new'" class="col-sm-4 text-right">{{'Last Entry No.' | translate}}</label>
                                            <label *ngIf="routeAction != 'new'" class="col-sm-4 text-right">{{'Entry No.' | translate}}</label>
                                            <div class="col-sm-8">
                                                <input class="form-control w-100  form-control-sm readonly-disable" name="ID" [readonly]="true" [(ngModel)]="newData.ID"
                                                [ngModelOptions]="{standalone: true}">
                                            </div>
                                        </div>
                                        <div class="form-group row col-5 mb-2">
                                                <label class="col-sm-4 text-right">{{'dated' | translate}}</label>
                                                <div class="col-sm-8">
                                                    <mat-form-field class="form-control py-1 mat-form-field-date-picker w-100">
                                                        <input matInput [matDatepicker]="pickerd" name="myDate"
                                                            [(ngModel)]="newData.DATED"
                                                            [ngModelOptions]="{standalone: true}">
                                                        <mat-datepicker-toggle matSuffix [for]="pickerd"></mat-datepicker-toggle>
                                                        <mat-datepicker #pickerd></mat-datepicker>
                                                     </mat-form-field>
                                                  
                                                </div>
                                        </div>
                                        <div class="form-group row col-2 mb-2">
                                            &nbsp;
                                        </div>
                                        <div class="form-group row col-5 mb-2">
                                            <label class="col-sm-4 text-right">{{'Vehicle No.' | translate}}</label>
                                            <div class="col-sm-8">
                                                <input class="form-control w-100  form-control-sm" name="VEHICLENO" [(ngModel)]="newData.VEHICLENO"
                                                maxlength="20"  [ngModelOptions]="{standalone: true}">
                                            </div>
                                        </div>
                                        <div class="form-group row col-5 mb-2">
                                            <label class="col-sm-4 text-right">{{'Driver Name' | translate}}</label>
                                            <div class="col-sm-8">
                                                <input class="form-control w-100  form-control-sm" name="DRIVERNAME" [(ngModel)]="newData.DRIVERNAME"
                                                maxlength="50"  [ngModelOptions]="{standalone: true}">
                                            </div>
                                        </div>
                                        <div class="form-group row col-2 mb-2">
                                            &nbsp;
                                        </div>
                                        <div class="form-group row col-5 mb-2">
                                            <label class="col-sm-4 text-right">{{'Transpoter Name' | translate}}</label>
                                            <div class="col-sm-8">
                                
                                                <ng-select
                                                [(ngModel)]="newData.TRANSPORTERID" [ngModelOptions]="{standalone: true}"
                                                [items]="transpoterList"  name="TRANSPORTERID"
                                                bindLabel="TRANSPORTNAME"
                                                bindValue="TRANSPORTID"
                                                placeholder="Select Transport" 
                                                class="form-control border-1 form-control-sm w-100 wi750px">
                                                </ng-select>

                                              
                                            </div>
                                        </div>
                                        <div class="form-group row col-5 mb-2">
                                            <label class="col-sm-4 text-right">{{'Mobile' | translate}}</label>
                                            <div class="col-sm-8">
                                                <input class="form-control w-100  form-control-sm" name="MOBILENO" [(ngModel)]="newData.MOBILENO"
                                                maxlength="50"  [ngModelOptions]="{standalone: true}">
                                            </div>
                                        </div>
                                        <div class="form-group row col-2 mb-2">
                                            &nbsp;
                                        </div>
                                        <div class="form-group row col-5 mb-2">
                                            <label class="col-sm-4 text-right">{{'Purpose of Visit' | translate}}</label>
                                            <div class="col-sm-8">
                                                <input class="form-control w-100  form-control-sm" name="PURPOSEOFVISIT" [(ngModel)]="newData.PURPOSEOFVISIT"
                                                maxlength="100"  [ngModelOptions]="{standalone: true}">
                                            </div>
                                        </div>
                                        <div class="form-group row col-5 mb-2">
                                            <label class="col-sm-4 text-right">{{'Customer' | translate}}</label>
                                            <div class="col-sm-8">
                                                <input class="form-control w-100  form-control-sm" name="CUSTOMERNAME" [(ngModel)]="newData.CUSTOMERNAME"
                                                maxlength="100"  [ngModelOptions]="{standalone: true}">
                                            </div>
                                        </div>
                                        <div class="form-group row col-2 mb-2">
                                            &nbsp;
                                        </div>
                                        <div class="form-group row col-5 mb-2">
                                            <label class="col-sm-4 text-right">{{'Material' | translate}}</label>
                                            <div class="col-sm-8">
                                                <input class="form-control w-100  form-control-sm" name="MATERIAL" [(ngModel)]="newData.MATERIAL"
                                                maxlength="50"  [ngModelOptions]="{standalone: true}">
                                            </div>
                                        </div>
                                        <div class="form-group row col-5 mb-2">
                                            <label class="col-sm-4 text-right">{{'Distination' | translate}}</label>
                                            <div class="col-sm-8">
                                                <input class="form-control w-100  form-control-sm" name="DISTINATION" [(ngModel)]="newData.DISTINATION"
                                                maxlength="50"  [ngModelOptions]="{standalone: true}">
                                            </div>
                                        </div>
                                        <div class="form-group row col-2 mb-2">
                                            &nbsp;
                                        </div>
                                        <div class="form-group row col-5 mb-2">
                                            <label class="col-sm-4 text-right">{{'Weight (Ton)' | translate}}</label>
                                            <div class="col-sm-8">
                                                <input class="form-control w-100  form-control-sm" name="WEIGHT" [(ngModel)]="newData.WEIGHT"
                                                maxlength="10"  [ngModelOptions]="{standalone: true}">
                                            </div>
                                        </div>
                                        <div class="form-group row col-5 mb-2">
                                            <label class="col-sm-4 text-right">{{'LR No.' | translate}}</label>
                                            <div class="col-sm-8">
                                                <input class="form-control w-100  form-control-sm" name="LRNO" [(ngModel)]="newData.LRNO"
                                                maxlength="20"  [ngModelOptions]="{standalone: true}">
                                            </div>
                                        </div>
                                        <div class="form-group row col-2 mb-2">
                                            &nbsp;
                                        </div>
                                        <div class="form-group row col-10 mb-2">
                                            <label class="col-sm-2 text-right">{{'Remarks' | translate}}</label>
                                            <div class="col-sm-10">
                                                <input class="form-control w-100  form-control-sm" name="REMARKS" [(ngModel)]="newData.REMARKS"
                                                maxlength="200"  [ngModelOptions]="{standalone: true}">
                                            </div>
                                        </div>
                                      
                                        <div class="form-group row col-2 mb-2">
                                            &nbsp;
                                        </div>
                                        <div class="form-group row col-10 mb-2">
                                            <label class="col-sm-2 text-right">{{'In Time' | translate}}</label>
                                   
                                            <div class="col-sm-2">
                                            <kendo-timepicker name="INTIME" [format]="'HH:mm'" class="custom-mat-picker w-100" placeholder="In Time" [(ngModel)]="newData.INTIME" [ngModelOptions]="{standalone: true}">
                                            </kendo-timepicker>
                                        </div>
                                            <label class="col-sm-1 text-right">{{'Out Time' | translate}}</label>
                                   
                                            <div class="col-sm-2">
                                            <kendo-timepicker name="OUTTIME" [format]="'HH:mm'" class="custom-mat-picker w-100" placeholder="In Time" [(ngModel)]="newData.OUTTIME" [ngModelOptions]="{standalone: true}">
                                            </kendo-timepicker></div>
                                        </div>

                            </div>

                        </div>
                    </div>

                                   
                      

                   
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary rounded bg-danger" skipLocationChange routerLink="/Vehicle-GP">{{'cancel' |translate}}</button>
                    &nbsp;
                    <button *ngIf="routeAction == 'new'" [disabled]='isLoadingResults' type="button" class="btn btn-sm btn-info rounded" (click)="saveRecord( 'Insert')">{{'save' | translate}}</button>
                    <button *ngIf="routeAction == 'edit'" [disabled]='isLoadingResults' type="button" class="btn btn-sm btn-info rounded" (click)="saveRecord( 'Update')">{{'update'|translate}}</button>
                </div>
            </div>
        </div>

    </div>
</form>
<app-footer></app-footer>
    </div>
</div>
</div>