.ng-select.ng-select.form-control.ng-select-single {
    height: 28px;
    max-width: 80% !important;
    border: 1px solid #ccc !important;
}
.mat-form-field-date-picker {
    width: 110px !important;
}
.search-list {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    position: absolute;
    z-index: 505;
}

.search-list > ul {
    margin: 0;
    padding: 0;
    
}

.search-list ul li {
    list-style: outside none none;
    background: #fdfdfd;
    /* margin: 0 0 4px; */
    padding: 2px;
    width: 370px;
}

.search-list ul li a {
    color: #337ab7 !important;
    text-decoration: none !important;
    
}
.search-list ul li a:hover {
    cursor: pointer;
    text-decoration: underline !important;
}

.search-list ul li:hover {
    background-color: #d4d9de;
}
.custom-voucher-list li {
    width: 100% !important;
}