.txt:hover {
    cursor: pointer;
}

/* Error Validation */
.error-control-label.required:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 5px;
  }
  
  .has-error .form-control{
    border-color: #bb0303;
  }