
       <div class="w-100 clearfix text-right pb-2 pr-2" id="printPageButton">
        <button class="btn btn-primary btn-sm rounded waves-effect waves-light customButton" (click)="print()">{{'print'| translate}}</button>
        <button class="btn btn-primary btn-sm rounded waves-effect waves-light customButton" (click)="pdf.saveAs('Die-Planning-Print.pdf')"  ><i class="ti-download"></i>&nbsp;{{'downloadpdf'| translate}}</button>
        <button class="btn btn-primary btn-sm rounded waves-effect waves-light customButton"  mat-dialog-close>
        <span aria-hidden="true"> &nbsp;&times; &nbsp;</span>
        </button>
     </div>
     <div class="example-container mat-elevation-z8">
      <div class="example-loading-shade"
           *ngIf="isLoadingResults ">
         <mat-spinner  [diameter]="40" *ngIf="isLoadingResults"></mat-spinner> 
        </div>
      </div>
      <div class="example-loading-shade" *ngIf="isLoadingResults ">
          <mat-spinner [diameter]="60" *ngIf="isLoadingResults"></mat-spinner>
        </div>
     <kendo-pdf-export #pdf paperSize="A4" [scale]="0.6" [margin]="{top: 20, bottom: 50, right: 10, left: 10}" [repeatHeaders]="repeatHeaders">
                  
      <div class="row" id="ravinderpal">

        <div class="col-12">
           <div class="card" >
                <div class="custom-invoice" >
                <!-- <div class="header">
                  <h4>{{companyName}}</h4>
                  <h5>{{Address1}}</h5>
                  <h5>{{Address2}}</h5>
                    
                </div> -->
                <header style="width: 100%;">
        

                  <!-- <hr> -->
                 <table style="width: 100%;" >
                  <tr>
                     <td colspan="2" style="font-size: 16pt;font-weight: 700; text-align: center;">
                      <b>{{companyName}}</b>
                     </td> 
                  </tr>
                  <!-- <tr>
                    <td colspan="2" style="font-size: 13pt;font-weight: 700;">
                     <b>{{Address1}}</b>
                    </td> 
                  </tr>
                  <tr>
                    <td colspan="2" style="font-size: 13pt;font-weight: 700;">
                     <b>{{Address2}}</b>
                    </td> 
                  </tr> -->
                   <tr>
                     <td style="width: 50%;"> <b>Movement Slip No.</b> {{PlanNo}}</td>
                     <td style="width: 50%;">  <b>Dated</b> {{fendDate}}</td>
                   </tr>
              
                 </table>
               </header>
               <!-- <footer style="width: 100%;">
                 <hr>
              </footer> -->

 
                      <table class="w-100 table table-striped custom-table tr th">
                          <thead>
                          <tr style="background-color: #969393f2">
                            <td style="width: 15px;;" rowspan="2"> <b>Sr</b>.</td>
                            <td rowspan="2" style="width: 60px;;"><b>IPO No.</b></td>
                            <td rowspan="2" style="width: 220px;;"><b>Frame</b></td>
                            <td rowspan="2" style="width: 80px;;"><b>Grade</b></td>
                            <td rowspan="2" style="width: 90px;text-align: right;;"><b>Strokes</b></td>
                            <td rowspan="2" style="width: 90px;text-align: right;;"><b>Lamintation Weight</b></td>
                            <td rowspan="2" style="width: 90px;text-align: right;;"><b>Weight</b></td>
                          </tr>
                          
                        </thead>
                        <tbody>
                          <tr>
                            <td colspan="7"><b> Day</b></td>
                        </tr>
                          <tr *ngFor="let item of dayArray ; let i = index"> 
                            <td>
                              {{i+1}}
                            </td>
                            <td>{{item.IPONO}}</td>
                            <td style="width: 220px;">{{item.ITEMFRAMENO}}</td>
                            <td>{{item.METALGRADE}}</td>
                            <td style="width: 70px;text-align: right;">{{item.STROKESTAKEN}}</td>
                            <td style="width: 70px;text-align: right;">{{item.STAMPINGWEIGHT | number : '1.2-2'}}</td>
                            <td style="width: 70px;text-align: right;">{{item.WEIGHT | number : '1.2-2'}}</td>
                          </tr>
                          <tr style="border: inset;">
                            <td colspan="7" style="text-align: right;"><b>{{daytotal | number : '1.2-2'}}</b></td>
                        </tr>

                          <tr>
                            <td colspan="7"><b> Night </b></td>
                        </tr>
                          <tr *ngFor="let item of nightArray ; let i = index"> 
                            <td>
                              {{i+1}}
                            </td>
                            <td>{{item.IPONO}}</td>
                            <td style="width: 220px;">{{item.ITEMFRAMENO}}</td>
                            <td>{{item.METALGRADE}}</td>
                            <td style="width: 70px;text-align: right;">{{item.STROKESTAKEN}}</td>
                            <td style="width: 70px;text-align: right;">{{item.STAMPINGWEIGHT | number : '1.2-2'}}</td>
                            <td style="width: 70px;text-align: right;">{{item.WEIGHT | number : '1.2-2'}}</td>
                          </tr>
                          <tr style="border: inset;">
                            <td colspan="7" style="text-align: right;"> <b>{{nighttotal | number : '1.2-2'}}</b></td>
                        </tr>
                        <tr style="border: inset;padding-top: 5px;">
                          <td colspan="7" style="text-align: right;"><b>{{alltotal | number : '1.2-2'}}</b></td>
                      </tr>
                        </tbody>
                    </table>
                      
                        <!-- <footer style="width: 90%;">
                          <table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin-left:10px;margin-right:10px;">
                  
                           <tr style=" border-top: 1px solid #cdd0d4;"> 
                             <td style="width: 25%;"><b>PPC-F-03</b></td>
                             <td style="text-align: center;width: 25%;"><b>Issue 01</b></td> 
                             <td style="text-align: center;"><b>Apr 1999</b></td> 
                             <td style="width: 25%; text-align: right;"><b>Issued By</b></td> 
                          </tr>
                          </table>
                        </footer> -->
               
            </div>
       
        </div>
        </div>
      </div>
      </kendo-pdf-export>
    

  
<!-- 
      </div>
    </div>
    -->
    