.purchase-order .custom-table.table thead th, .purchase-order .custom-table.table tbody td {
    width: auto;
  }
  
  #pills-tabContent .form-control, #pills-tabContent .select2 {
    width: 100%;
  }
  
  /* .table-responsive > .custom-table.table td, .table-responsive > .custom-table.table th {
    padding: .1rem 0.5rem;
    white-space: nowrap;
   
  } */
  
  .table-scroll{
    overflow-y: scroll;
    height:325px;
  }
  
  .ng-select.ng-select.form-control.ng-select-single{
  max-width: 487px;
  }
  
  .min-width{
    min-width: 1600px;
  }
  
  
  /* .nav-tabs .nav-link {
    padding: 6px 5px;
  } */
  
  .search-list {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    position: inherit;
    z-index: 505;
  }
  
  .search-list-customer {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    position: absolute;
    z-index: 505;
  }
  
  .search-list > ul, .search-list-customer > ul {
    margin: 0;
    padding: 0;
    
  }
  
  .search-list ul li, .search-list-customer ul li {
    list-style: outside none none;
    background: #fdfdfd;
    /* margin: 0 0 4px; */
    padding: 2px;
    width: 370px;
  }
  
  .search-list ul li a, .search-list-customer ul li a {
    color: #337ab7 !important;
    text-decoration: none !important;
    
  }
  .search-list ul li a:hover, .search-list-customer ul li a:hover {
    cursor: pointer;
    text-decoration: underline !important;
  }
  
  .search-list ul li:hover, .search-list-customer ul li:hover {
    background-color: #d4d9de;
  }
  
  .ng-dropdown-panel {
    width: auto !important;
  }
  
  
  .limittextSize {
    display: block;
    width: 200px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  
  .search-list-header {
    background-color: #fff;
    /* height: 400px;
    width: 850px; */
    border: 1px solid #ddd;
    padding: 5px;
    position: absolute;
    z-index: 1;
    margin-top: 25px;
  }
  
  .search-list > ul, .search-list-header > ul {
    margin: 0;
    padding: 0;
    
  }
  
  .search-list ul li, .search-list-header ul li {
    list-style: outside none none;
    background: #fdfdfd;
    /* margin: 0 0 4px; */
    padding: 2px;
    width: 370px;
  }
  
  /* .search-list ul li, .search-list-header ul li {
    margin: 0 0 4px;
  } */
  
  .search-list ul li a, .search-list-header ul li a{
    color: #337ab7 !important;
    text-decoration: none !important;
    
  }
  .search-list ul li a:hover .search-list-header ul li a:hover {
    cursor: pointer;
    text-decoration: underline !important;
  }
  
  .search-list ul li:hover, .search-list-header ul li:hover {
    background-color: #d4d9de;
  }
  
  /* .search-list-header.ng-star-inserted {
    height: 300px;
    overflow-y: auto;
  } */
  
  .search-list-header.ng-star-inserted {
    height: 300px;
    overflow-y: auto;
  }
  
  table#selectedValue {font-size: 13px;}
  table#selectedValue tr td {
    padding: 2px 5px;
  }
  .btn-add {
    background-color: #33a9f4 !important;
    color: #fff;
    height: 24px;
    padding: 0;
    width: 34px;
    border-radius: 3px;
    position: relative !important;
    z-index: 0 !important;
  }
  .error-control-label.required:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 5px;
  }
  
  .has-error .error-border{
    border-color: #bb0303 !important;
  }
  
  .search-list-supplier {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
  position: absolute;
  z-index: 505;
  width: 220px;
  }
  .search-list > ul, .search-list-product > ul {
  margin: 0;
  padding: 0;
  }
  
  .search-list ul li, .search-list-product ul li {
  list-style: outside none none;
  background: #fdfdfd;
  /* margin: 0 0 4px; */
  padding: 2px;
  width: 370px;
  }
  
  .search-list ul li a, .search-list-product ul li a {
  color: #337ab7 !important;
  text-decoration: none !important;
  
  }
  .search-list ul li a:hover, .search-list-product ul li a:hover {
  cursor: pointer;
  text-decoration: underline !important;
  }
  
  .search-list ul li:hover, .search-list-product ul li:hover {
  background-color: #d4d9de;
  }
  
  
  .search-list {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
  position: absolute;
  z-index: 505;
  }
  
  .search-list > ul, .search-list-supplier > ul {
  margin: 0;
  padding: 0;
  
  }
  
  .search-list ul li, .search-list-supplier ul li {
  list-style: outside none none;
  background: #fdfdfd;
  /* margin: 0 0 4px; */
  padding: 2px;
  width: 370px;
  }
  
  .search-list ul li a, .search-list-supplier ul li a {
  color: #337ab7 !important;
  text-decoration: none !important;
  
  }
  .search-list ul li a:hover, .search-list-supplier ul li a:hover {
  cursor: pointer;
  text-decoration: underline !important;
  }
  
  .search-list ul li:hover, .search-list-supplier ul li:hover {
  background-color: #d4d9de;
  }
  
  .search-list-supplier.ng-star-inserted {
  height: 300px;
  overflow-y: auto;
  width: 352px;
  margin-left: -131px;
  }