<form>
  <div class="example-loading-shade" *ngIf="isLoadingResults ">
    <mat-spinner [diameter]="60" *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="modal-header primary-bg py-2">
    <h5 class="modal-title text-white" id="exampleModalLabel">{{'resumeactions'|translate}}</h5>
    <button class="close text-white" mat-dialog-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="height:450px;overflow-y:scroll;padding:0;width:650px;">
    <div class="form-inline">
      <div class="form-group row col-md-12 mt-3 mb-2">
        <label class="col-md-3 text-right  ">{{'changestatus' | translate}}</label>
        <div class="col-md-9">
          <ngx-select class="ngx-custom-select-dropdown ngx-custom-select-dropdown" name="statusid" [allowClear]="false"
            [(ngModel)]="newData.STATUS" [ngModelOptions]="{standalone: true}" [items]="statusarray"
            optionValueField="ID" optionTextField="RESUMESTATUS">
          </ngx-select>
        </div>
      </div>

      <div class="form-group row col-md-12 mb-2">
        <label class="col-md-3 text-right ">{{'remarks' | translate}}</label>
        <div class="col-md-9">
          <textarea autosize type="text" [(ngModel)]="newData.REMARKS" [ngModelOptions]="{standalone: true}"
            class="form-control form-control-sm w-100">
          </textarea>
        </div>
      </div>

      <div class="form-group row col-md-12 mb-2">
        <div class="col-md-2 text-right">
          <mat-checkbox [(ngModel)]="newData.DUONCHECKBOX" [ngModelOptions]="{standalone: true}"
            (change)="attention($event)"></mat-checkbox>
        </div>
        <label class="">{{'dueon' | translate}}&nbsp;&nbsp;</label>

        <div class="col-md-3">
          <mat-form-field class="form-control py-1 mat-form-field-date-picker">
            <input matInput [matDatepicker]="picker" [disabled]="disabledData" [(ngModel)]="newData.DUEON"
              [ngModelOptions]="{standalone: true}">
            <mat-datepicker-toggle matSuffix [for]="picker">
            </mat-datepicker-toggle>
            <mat-datepicker #picker [disabled]="disabledData"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>


      <div class="scroll-spy" data-spy="scroll" data-target="#navbar-example2" data-offset="0" style="width: 605px;">
        <div class="card-body border-top purchase-order pr-0 py-2">
          <div>
            <input #file type="file" multiple (change)="upload(file.files)" />
          </div>
          <table class="table table-striped custom-table">
            <thead>
              <tr style="background-color: #666666; color: #ffffff;">
                <th scope="col" style="width:5%;"> {{'sr' | translate}}</th>
                <th scope="col" style="width:20%;"> {{'title' | translate}}</th>
                <th scope="col" style="width:50%;"> {{'remarks' | translate}}</th>
                <th scope="col" style="width:3%; text-align: center;"> {{'download' | translate}}</th>
                <th scope="col" style="width:1%;"> {{'image' | translate}}</th>
                <th scope="col" style="width:5%; text-align: center;"> {{'action' | translate}}</th>
              </tr>
            </thead>
            <tbody class="font-sm">
              <tr *ngFor="let image of imagesArray ; let i = index">
                <td>{{i+1}}</td>
                <td>{{image.FILENAME}}</td>
                <td>
                  <input type="text" class="form-control w-100" [(ngModel)]='image.REMARKS'
                    [ngModelOptions]="{standalone: true}">
                </td>
                <td class="text-center">
                  <i class="fas fa-download customIcon" (click)="download(image)"></i>
                </td>
                <!-- <td class="custom-img-icon">
                          <img width="80" height="80" src="{{image.images}}" (click)="imageView(image)">
                      </td> -->
                <td class="custom-img-icon">
                  <img *ngIf="image.checkImgType == 'img'" width="80" height="80" [src]="image.images"
                    (click)="imageView(image)">
                  <i *ngIf="image.checkImgType == 'xl'" class="fas fa-file-excel fa-5x customIcon"></i>
                  <i *ngIf="image.checkImgType == 'text'" class="fas fa-file fa-5x customIcon"></i>
                  <i *ngIf="image.checkImgType == 'pdf'" class="fas fa-file-pdf fa-5x customIcon"></i>
                  <i *ngIf="image.checkImgType == 'doc'" class="fas fa-file-doc fa-5x customIcon"></i>
                  <i *ngIf="image.checkImgType == 'mp4'" class="fab fa-youtube fa-5x customIcon"
                    (click)="videoView(image)"></i>
                </td>
                <td class="text-center">
                  <button class="far fa-trash-alt customIcon {{canDeleteCommonClass}}"
                    (click)="removeImageArray(i)"></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Reason End -->
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-secondary rounded bg-danger" mat-dialog-close>{{'cancel' | translate}}</button>
    <button class="btn btn-sm btn-info rounded" (click)="resumeStatusSave(newData)">{{'save' | translate}}</button>
  </div>
</form>