div.mycolor {
    border: 1px solid rgb(7, 7, 66);
    background-color:#f1ffc0;	
  }
  
  div.myborder {
    border: 1px solid rgb(7, 7, 66);
    
  }
  
  .purchase-order .custom-table.table thead th, .purchase-order .custom-table.table tbody td {
    width: auto;
  }
  
  #pills-tabContent .form-control, #pills-tabContent .select2 {
    width: 100%;
  }
  
  
  .table-scroll{
    overflow-y: scroll;
    height:325px;
  }
  
  .ng-select.ng-select.form-control.ng-select-single{
  max-width: 487px;
  }
  
  
  
  
  .has-error .form-control{
    border-color: #bb0303;
  }
  
  .min-width{
    min-width: 1600px;
  }
  
  .search-list-supplier {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    position: absolute;
    z-index: 505;
    width: 780px;
  }
  
  .search-list {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    position: absolute;
    z-index: 505;
  }
  
  
    
  
  .search-list > ul, .search-list-supplier > ul {
    margin: 0;
    padding: 0;
    
  }
  
  .search-list ul li, .search-list-supplier ul li {
    list-style: outside none none;
    background: #fdfdfd;
    
    padding: 2px;
    width: 370px;
  }
  
  .search-list ul li a, .search-list-supplier ul li a {
    color: #337ab7 !important;
    text-decoration: none !important;
    
  }
  .search-list ul li a:hover, .search-list-supplier ul li a:hover {
    cursor: pointer;
    text-decoration: underline !important;
  }
  
  .search-list ul li:hover, .search-list-supplier ul li:hover {
    background-color: #d4d9de;
  }
  
  .search-list-supplier.ng-star-inserted {
    height: 300px;
    overflow-y: auto;
  }
  
  table#selectedValue {font-size: 13px;}
  table#selectedValue tr td {
  padding: 2px 5px;
  }
  
  /*/////////////////////*/
  .search-list-header {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    position: absolute;
    z-index: 1;
    }
  
  .search-list-header {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    position: absolute;
    z-index: 1;
    }
    .search-list-header > ul {
    margin: 0;
    padding: 0;
    
    }
    .search-list-header ul li {
    list-style: outside none none;
    background: #fdfdfd;
    padding: 2px;
    width: 370px;
    }
    
     .search-list-header ul li a{
    color: #337ab7 !important;
    text-decoration: none !important;
    
    }
     .search-list-header ul li a:hover {
    cursor: pointer;
    text-decoration: underline !important;
    }
    
     .search-list-header ul li:hover {
    background-color: #d4d9de;
    }
    
    
  
    
    
    
    .search-list-header.ng-star-inserted {
      height: 300px;
      overflow-y: auto;
      } 
  
  
      .input-icons i { 
        position: absolute; 
    } 
      
    .input-icons { 
        width: 100%; 
        margin-bottom: 10px; 
    } 