<form [formGroup]="ReceiptForm" novalidate>
    <div class="row">
<div class="col-12">
    <div class="card" style="border-top: 2px solid #0e43af;box-shadow:0 1px 3px rgba(0,0,0,.3);">
            <div class="card-body border-bottom py-2">
                    <div class="d-md-flex align-items-center justify-content-between">
                        <div class="d-flex">
                            <a skipLocationChange  [routerLink]="['/good-receipt']" class="btn btn-sm rounded btn-warning mr-3" title="Back to Orders"><i class="mdi mdi-keyboard-backspace"></i></a>
                            <h4 class="modal-title " id="exampleModalLabel">{{'newsreceiptnote' | translate}}</h4>
                        </div>
                        <!-- <div>
                            
                            <button class="btn btn-sm btn-primary rounded"><i class="mdi mdi-content-save"></i>&nbsp;Save</button>
                            <button class="btn btn-sm btn-primary rounded"><i class="mdi mdi-content-save-all"></i>&nbsp;Apply Changes</button>
                        </div> -->
                    </div>
                </div>
        <div class="d-flex- row">
        <div class="col-lg-7 tab-content m-t-10" id="pills-tabContent">
                <div class="card-body purchase-order px-0 py-2" >
                       
                    <div class="form-inline">
                        <div class="form-group row col-12 mb-2">
                            <label  for="inputEmail4" class="col-sm-2 text-right">{{'grncat' | translate}}</label>
                            
                            <div class="col-sm-4">
                              <select class="select2- w-100 form-control form-control-sm custom-select" name="grnCat" [(ngModel)]="newData.grnCat" formControlName="grnCat">
                                      <option value="AK">General Stores</option>
                                      <option value="HI">Stores</option>
                              </select>
                                   
                            </div>
                            <label for="inputEmail4" class="col-sm-2 text-right">{{'gateentryno' | translate}}</label>
                            <div class="col-sm-2">
                              <select class="select2- w-100 form-control form-control-sm custom-select" name="gateEntryNo" [(ngModel)]="newData.gateEntryNo" formControlName="gateEntryNo">
                                      <option value="AK">General Stores</option>
                                      <option value="HI">Stores</option>
                              </select>
                            </div>
                              <div class="col-sm-2">
                                <input class="form-control w-100  form-control-sm"  name="gateEntryNo1" [(ngModel)]="newData.gateEntryNo1" formControlName="gateEntryNo1" >
                                   
                            </div>
                            
                        </div>
                        <div class="form-group row col-12 mb-2">
                            <label class="col-sm-2 text-right" for="inputPassword4">{{'supplier' | translate}}</label>
                            <div class="col-sm-10 ">
                                <select class="select2- w-100   form-control form-control-sm custom-select" name="supplier" [(ngModel)]="newData.supplier" formControlName="supplier">
                                 <option value="AK">Alaska</option>
                                 <option value="HI">Hawaii</option>
                                 </select>
                            </div>
                        </div>
                       
                       
          
                        <div class="form-group row col-12 mb-2">
                            <label class="col-sm-2 text-right" for="inputEmail4">{{'grnno'| translate}}</label>
                            <div class="col-sm-4"
                            ><input class="form-control w-100  form-control-sm"  placeholder="{{'grnno' | translate}}" name="grnNo" [(ngModel)]="newData.grnNo" formControlName="grnNo" >
                       
                        </div>
                            <label class="col-sm-2 text-right" for="inputEmail4">{{'grndate' |translate}}</label>
                            <div class="col-sm-4">
                              <mat-form-field class="form-control w-100 mat-form-field-date-picker">
                                  <input  matInput [matDatepicker]="grnDate"  [(ngModel)]="newData.grnDate" formControlName="grnDate">
                                  <mat-datepicker-toggle matSuffix [for]="grnDate"></mat-datepicker-toggle>
                                  <mat-datepicker #grnDate></mat-datepicker>
                              </mat-form-field>
                            </div>
                        </div>
              
                        <div class="form-group row col-12 mb-2">
                          <label class="col-sm-2 text-right" for="inputEmail4">{{'challan'| translate}}</label>
                          <div class="col-sm-4 "
                          ><input class="form-control w-100  form-control-sm"  placeholder="{{'challan' | translate}}" name="challanNo" [(ngModel)]="newData.challanNo" formControlName="challanNo" >
                     
                      </div>
                          <label class="col-sm-2 text-right" for="inputEmail4">{{'challandate'|translate}}</label>
                          <div class="form-group col-sm-4 my-2">
                            <mat-form-field class="form-control w-100  py-1 mat-form-field-date-picker">
                                <input matInput [matDatepicker]="challanDate"  [(ngModel)]="newData.challanDate" formControlName="challanDate">
                                <mat-datepicker-toggle matSuffix [for]="challanDate"></mat-datepicker-toggle>
                                <mat-datepicker #challanDate></mat-datepicker>
                            </mat-form-field>
                        </div>
                      </div>
                      <div class="form-group row col-12">
                          <label class="col-sm-2 text-right" for="inputEmail4">{{'billno'| translate}}</label>
                          <div class="col-sm-4"
                          ><input class="form-control w-100 form-control-sm"  placeholder="{{'billno' | translate}}" name="billNo" [(ngModel)]="newData.billNo" formControlName="billNo" >
                     
                      </div>
                          <label class="col-sm-2 text-right" for="inputEmail4">{{'billdate'|translate}}</label>
                          <div class="form-group col-sm-4 ">
                            <mat-form-field class="form-control w-100 py-1 mat-form-field-date-picker">
                                <input matInput [matDatepicker]="billDate"  [(ngModel)]="newData.billDate" formControlName="billDate">
                                <mat-datepicker-toggle matSuffix [for]="billDate"></mat-datepicker-toggle>
                                <mat-datepicker #billDate></mat-datepicker>
                            </mat-form-field>
                        </div>
                      </div>
                      <div class="form-group row col-12 mb-2">
                          <label class="col-sm-2 text-right" for="inputEmail4">{{'grno'| translate}}</label>
                          <div class="col-sm-4"
                          ><input class="form-control w-100  form-control-sm"  placeholder="{{'grno' | translate}}" name="grNo" [(ngModel)]="newData.grNo" formControlName="grNo" >
                     
                      </div>
                          <label class="col-sm-2 text-right" for="inputEmail4">{{'grnodate'|translate}}</label>
                          <div class="form-group col-sm-4 my-2">
                            <mat-form-field class="form-control w-100  mat-form-field-date-picker">
                                <input matInput [matDatepicker]="grDate"  [(ngModel)]="newData.grDate" formControlName="grDate">
                                <mat-datepicker-toggle matSuffix [for]="grDate"></mat-datepicker-toggle>
                                <mat-datepicker #grDate></mat-datepicker>
                            </mat-form-field>
                        </div>
                      </div>
                      <div class="form-group row col-12 mb-2">
                          <label class="col-sm-2 text-right" for="inputPassword4">{{'purac' | translate}}</label>
                          <div class="col-sm-4">
                              <select class="select2- w-100  form-control form-control-sm custom-select" name="purAc" [(ngModel)]="newData.purAc" formControlName="purAc">
                               <option value="AK">Alaska</option>
                               <option value="HI">Hawaii</option>
                               </select>
                          </div>
                          <label class="col-sm-2 text-right" for="inputPassword4">{{'billamt' | translate}}</label>
                          <div class="col-sm-4"
                          ><input class="form-control  w-100  form-control-sm"  placeholder="{{'billamt' | translate}}" name="billAmt" [(ngModel)]="newData.billAmt" formControlName="billAmt" >
                     
                      </div>
          
                      </div>
                     
                                
                        </div>
                   

                           
                                    
                              
                                             
                                


                        </div>
                    </div>
                            <div class="col-lg-5">
                                
                                    <div class="border position-relative" style="background: #ffffcf;min-height:300px;">
                                        <h6 class="p-2 mb-0" style="background-color:#666;color:#fff;">Summary</h6>

                                        
                           
                                        <div class="form-inline">
                                                <div class="form-group w-100 pt-2 mb-2">
                                                        <label for="inputEmail4" class="col-sm-3 text-left">{{'basicamt' | translate}}</label>
                                                        <div class="col-sm-3">
                                                            <input class="form-control w-100 form-control-sm" name="basicamt" style="text-align:right" disabled>
                                                                </div>
                                                                <label  for="inputEmail4" class="col-sm-3 text-left">{{'discount' | translate}}</label>
                                                                <div class="col-sm-3">
                                                                <input class="form-control w-100 form-control-sm"  name="discount" value="0" style="text-align:right"   disabled>     
                                                        </div>
                                         
                                                
                                                       
                                                </div>
                                                <div class="form-group w-100 mb-2">
                                                <label for="inputEmail4" class="col-sm-3 text-left">{{'jobamt' | translate}}</label>
                                                <div class="col-sm-3">
                                                    <input class="form-control w-100 form-control-sm"  name="jobamt" value="0" disabled style="text-align:right" >
                                                        </div>
                                                        <label for="inputEmail4" class="col-sm-3 text-left">{{'freightoctober' | translate}}</label>
                                                        <div class="col-sm-3">
                                                            <input class="form-control w-100 form-control-sm" name="freightOctober" [(ngModel)]="newData.freightOctober" formControlName="freightOctober" style="text-align:right">
                                                                </div>  
                                                
                                                </div>
                                                <div class="form-group w-100 mb-2">
                                                   
                                                    </div>
                                                    <div class="form-group w-100 mb-2">
                                                        <label for="inputEmail4" class="col-sm-3 text-left">{{'othercharges' | translate}}</label>
                                                        <div class="col-sm-3">
                                                            <input class="form-control w-100 form-control-sm"  name="otherCharges" [(ngModel)]="newData.otherCharges" formControlName="otherCharges" style="text-align:right" >
                                                                </div>
                                                                <label for="inputEmail4" class="col-sm-3 text-left">{{'otherdiscount' | translate}}</label>
                                                            <div class="col-sm-3">
                                                                <input class="form-control w-100 form-control-sm"  name="otherDiscount" [(ngModel)]="newData.otherDiscount" formControlName="otherDiscount" style="text-align:right" >
                                                                    </div>

                                                        </div>
                                                        <div class="form-group w-100 mb-2">
                                                            <label for="inputEmail4" class="col-sm-3 text-left">{{'otherdiscount' | translate}}</label>
                                                            <div class="col-sm-3">
                                                                <input class="form-control w-100 form-control-sm"  name="otherDiscount" [(ngModel)]="newData.otherDiscount" formControlName="otherDiscount" style="text-align:right" >
                                                                    </div>
                                                                    <label for="inputEmail4" class="col-sm-3 text-left">{{'billdiscount' | translate}}</label>
                                                                    <div class="col-sm-3">
                                                                        <input class="form-control w-100 form-control-sm"  name="billDiscount" [(ngModel)]="newData.billDiscount" formControlName="billDiscount" style="text-align:right">
                                                                            </div>
                                                            </div>
                                                           
                                                                <div class="form-group w-100 mb-2">
                                                                    <label for="inputEmail4" class="col-sm-3 text-left">{{'billdiscount' | translate}}</label>
                                                                    <div class="col-sm-3">
                                                                        <input class="form-control w-100 form-control-sm"  name="billDiscount" [(ngModel)]="newData.billDiscount" formControlName="billDiscount" style="text-align:right">
                                                                            </div>
                                                                            <label for="inputEmail4" class="col-sm-3 text-left">{{'customduty' | translate}}</label>
                                                                        <div class="col-sm-3">
                                                                            <input class="form-control w-100 form-control-sm"  name="customDuty" [(ngModel)]="newData.customDuty" formControlName="customDuty" style="text-align:right">
                                                                                </div>
                                                                    </div>
                                                                   
                                                                        <div class="form-group w-100 mb-2">
                                                                            <label for="inputEmail4" class="col-sm-3 text-left">{{'customdutycharges' | translate}}</label>
                                                                            <div class="col-sm-3">
                                                                                <input class="form-control w-100 form-control-sm"  name="customDutyCharges" [(ngModel)]="newData.customDutyCharges" formControlName="customDutyCharges" style="text-align:right">
                                                                                    </div>
                                                                                    <label for="inputEmail4" class="col-sm-3 text-left">{{'totalamount' | translate}}</label>
                                                                            <div class="col-sm-3">
                                                                                <input class="form-control w-100 form-control-sm"  name="totalamount" value="1593" style="text-align:right" disabled>
                                                                                    </div>
                                                                            </div>
                                                                        <div class="form-group w-100 mb-2">
                                                                            
                                                                            </div>
                                                                            <div class="form-group w-100 mb-2">
                                                                                <label for="inputEmail4" class="col-sm-3 text-left">{{'reboundedrs' | translate}}</label>
                                                                                <div class="col-sm-3">
                                                                                    <input class="form-control w-100 form-control-sm"  name="reboundedrs"  style="text-align:right" disabled>
                                                                                        </div>
                                                                                        <label for="inputEmail4" class="col-sm-3 text-left">{{'diffinotal' | translate}}</label>
                                                                                        <div class="col-sm-3">
                                                                                            <input class="form-control w-100 form-control-sm" name="diffInTotal" style="text-align:right" disabled>
                                                                                                </div>
                                                                                </div>
                                                                               
                                                        
                                                    
                                                         
                                                               
        
                    
                    
                               
                              </div>
                            </div>
                                </div>
                                <div class="col-lg-12">
                                <h4 style="padding-top:10px;">Item Detail</h4>
                                
                                <div class="card-body border-top purchase-order px-0 py-2">
                                <div class="table-responsive">
                                  
                                    <table class="table table-striped custom-table custom-table-big custom-table-big tr th ">
                                        <thead>
                                            <tr style="background-color: #666666; color: #ffffff;">
                                                <th scope="col" >{{'itemname' | translate}}</th>
                                                <th scope="col">{{'12 Nc' | translate}}</th>
                                                <th scope="col">{{'unit' | translate}}</th>
                                                <th scope="col">{{'billedqty' | translate}}</th>
                                                <th scope="col">{{'recdqty' | translate}}</th>
                                                <th scope="col">{{'break' | translate}}</th>
                                                <th scope="col">{{'rate' | translate}}</th>
                                                <th scope="col">{{'porate' | translate}}</th>
                                                <th scope="col">{{'hsn' | translate}}</th>
                                                <th scope="col">{{'gst%' | translate}}</th>
                                                <th scope="col">{{'igstamount' | translate}}</th>
                                               <th scope="col">{{'cgstamount' | translate}}</th>
                                                <th scope="col">{{'sgstamount' | translate}}</th>
                                                <th scope="col">{{'netrate' | translate}}</th>
                                                <th scope="col">{{'amount' | translate}}</th>
                                                <th scope="col">{{'dlydate' | translate}}</th>
                                                <th scope="col">{{'arref' | translate}}</th>
                                                <th scope="col">{{'remarks' | translate}}</th>
                                                <th scope="col" style="width:5%;text-align: center;">{{'action' | translate}}</th>
                                                
                    
                                              
                                                
                                            </tr>
                                            
                                        </thead>
                                        <tbody class="font-sm">
                                            <tr *ngFor="let contact of contacts ; let i = index">
                                                   
                    
                                                    <td  *ngIf="contact.id === editContactID"><input type="text" class="form-control w-100" [(ngModel)]='contact.item_name' [ngModelOptions]="{standalone: true}"></td>
                                                    <td  *ngIf="contact.id !== editContactID" (dblclick)="editContact(contact.id)">{{contact.item_name}}</td>
                                                    <td  *ngIf="contact.id === editContactID"><input type="text" class="form-control w-100" [(ngModel)]='contact.item_code' [ngModelOptions]="{standalone: true}"></td>
                                                    <td   *ngIf="contact.id !== editContactID" (dblclick)="editContact(contact.id)">{{contact.item_code}}</td>
                                                    <td *ngIf="contact.id === editContactID"><input type="text" class="form-control w-100" [(ngModel)]='contact.unit' [ngModelOptions]="{standalone: true}"></td>
                                                    <td *ngIf="contact.id !== editContactID" (dblclick)="editContact(contact.id)">{{contact.unit}}</td>
                    
                                                    <td>{{contact.billed_qty}}</td>
                                                    <td>{{contact.recd_qty}}</td>
                                                    <td>{{contact.break}}</td>
                                                    <td *ngIf="contact.id === editContactID"><input type="text" class="form-control w-100" [(ngModel)]='contact.rate' [ngModelOptions]="{standalone: true}"></td>
                                                    <td *ngIf="contact.id !== editContactID" (dblclick)="editContact(contact.id)">{{contact.rate | titlecase}}</td>
                                                    <!-- <td *ngIf="contact.id === editContactID"><input type="text" class="form-control w-100" [(ngModel)]='contact.hsn' [ngModelOptions]="{standalone: true}"></td> -->
                                                    <!-- <td *ngIf="contact.id !== editContactID" (dblclick)="editContact(contact.id)">{{contact.hsn | titlecase}}</td>
                                                    <td *ngIf="contact.id === editContactID"><input type="text" class="form-control w-100" [(ngModel)]='contact.igst_percentage' [ngModelOptions]="{standalone: true}"></td>
                                                    <td *ngIf="contact.id !== editContactID" (dblclick)="editContact(contact.id)">{{contact.igst_percentage | titlecase}}</td>
                                                    <td *ngIf="contact.id === editContactID"><input type="text" class="form-control w-100" [(ngModel)]='contact. igst_amt' [ngModelOptions]="{standalone: true}"></td>
                                                    <td *ngIf="contact.id !== editContactID" (dblclick)="editContact(contact.id)">{{contact.igst_amt | titlecase}}</td>
                                                    <td *ngIf="contact.id === editContactID"><input type="text" class="form-control w-100" [(ngModel)]='contact. cgst_percentage' [ngModelOptions]="{standalone: true}"></td>
                                                    <td *ngIf="contact.id !== editContactID" (dblclick)="editContact(contact.id)">{{contact.cgst_percentage | titlecase}}</td>
                                                    <td *ngIf="contact.id === editContactID"><input type="text" class="form-control w-100" [(ngModel)]='contact.cgst_amt' [ngModelOptions]="{standalone: true}"></td>
                                                    <td *ngIf="contact.id !== editContactID" (dblclick)="editContact(contact.id)">{{contact.igst_amt | titlecase}}</td>
                                                    <td *ngIf="contact.id === editContactID"><input type="text" class="form-control w-100" [(ngModel)]='contact.sgst_percentage' [ngModelOptions]="{standalone: true}"></td>
                                                    <td *ngIf="contact.id !== editContactID" (dblclick)="editContact(contact.id)">{{contact.sgst_percentage | titlecase}}</td>
                                                    <td *ngIf="contact.id === editContactID"><input type="text" class="form-control w-100" [(ngModel)]='contact.sgst_amt' [ngModelOptions]="{standalone: true}"></td>
                                                    <td *ngIf="contact.id !== editContactID" (dblclick)="editContact(contact.id)">{{contact.sgst_amt | titlecase}}</td>
                                                    <td *ngIf="contact.id === editContactID"><input type="text" class="form-control w-100" [(ngModel)]='contact.net_rate' [ngModelOptions]="{standalone: true}"></td>
                                                    <td *ngIf="contact.id !== editContactID" (dblclick)="editContact(contact.id)">{{contact.net_rate | titlecase}}</td>
                                                    <td *ngIf="contact.id === editContactID"><input type="text" class="form-control w-100" [(ngModel)]='contact.amt' [ngModelOptions]="{standalone: true}"></td>
                                                    <td *ngIf="contact.id !== editContactID" (dblclick)="editContact(contact.id)">{{contact.amt | titlecase}}</td>
                                                    <td *ngIf="contact.id === editContactID"><input type="text" class="form-control w-100" [(ngModel)]='contact.dly' [ngModelOptions]="{standalone: true}"></td>
                                                    <td *ngIf="contact.id !== editContactID" (dblclick)="editContact(contact.id)">{{contact.dly | titlecase}}</td> -->
                                                    <td>{{contact.hsn | titlecase}}</td>
                                                    <td>{{contact.po_rate }}</td> 
                                                     <td>{{contact.gst_percentage }}</td> 
                                                     <td>{{contact.igst_amt}}</td> 
                                                      <td>{{contact.cgst_amt}}</td> 
                                                    <td>{{contact.sgst_amt}}</td> 
                                                     <td>{{contact.net_rate}}</td> 
                                                     <td>{{contact.amt}}</td> 
                                                     <td>{{contact.dly }}</td> 
                                                     <td *ngIf="contact.id === editContactID"><input type="text" class="form-control w-100" [(ngModel)]='contact.ar_ref' [ngModelOptions]="{standalone: true}"></td>
                                                    <td *ngIf="contact.id !== editContactID" (dblclick)="editContact(contact.id)">{{contact.ar_ref | titlecase}}</td>
                                                    <td width="50%" *ngIf="contact.id === editContactID"><input type="text" class="form-control w-100" [(ngModel)]='contact.remarks' [ngModelOptions]="{standalone: true}"></td>
                                                    <td width="50%" *ngIf="contact.id !== editContactID" (dblclick)="editContact(contact.id)">{{contact.remarks | titlecase}}</td>
                                                    <td style="width:60px;text-align: center;">
                                                        <div>
                                                            <i *ngIf="contact.id === editContactID" class="fas fa-check customIcon" (click)="updateContact(contact)"></i>
                                                            <i *ngIf="contact.id !== editContactID" class="fas fa-edit customIcon" (click)="editContact(contact.id)"></i>
                                                            <i style="margin-left: 5px;" class="far fa-trash-alt customIcon" (click)="removeContact(i)"></i>
                                                        </div>
                                                    </td>
                                                </tr>
                                                
                                                <tr>
                                                   
                                                    <td><input type="email" class="form-control w-100" [(ngModel)]="newContact.item_name" [ngModelOptions]="{standalone: true}"></td>
                                                    <td><input type="text" class="form-control w-100" [(ngModel)]="newContact.item_code" [ngModelOptions]="{standalone: true}"></td>
                                                    <td><input type="text" class="form-control w-100" [(ngModel)]="newContact.unit" [ngModelOptions]="{standalone: true}"></td>
                                                    <td>
                                                        <input type="text" class="form-control w-100" [(ngModel)]="newContact.billed_qty" (keyup.enter)="addContact()" [ngModelOptions]="{standalone: true}">
                                                    </td>
                                                    <td>
                                                      <input type="text" class="form-control w-100" [(ngModel)]="newContact.recd_qty" (keyup.enter)="addContact()" [ngModelOptions]="{standalone: true}">
                                                  </td>
                                                  <td>
                                                      <input type="text" class="form-control w-100" [(ngModel)]="newContact.break" (keyup.enter)="addContact()" [ngModelOptions]="{standalone: true}">
                                                  </td>
                                                    <td>
                                                        <input type="text" class="form-control w-100" [(ngModel)]="newContact.rate" (keyup.enter)="addContact()" [ngModelOptions]="{standalone: true}">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control w-100" [(ngModel)]="newContact.hsn" (keyup.enter)="addContact()" [ngModelOptions]="{standalone: true}">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control w-100" [(ngModel)]="newContact.po_rate" (keyup.enter)="addContact()" [ngModelOptions]="{standalone: true}">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control w-100" [(ngModel)]="newContact.gst_percentage" (keyup.enter)="addContact()" [ngModelOptions]="{standalone: true}">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control w-100" [(ngModel)]="newContact.igst_amt" (keyup.enter)="addContact()" [ngModelOptions]="{standalone: true}">
                                                    </td>
                                                   
                                                    <td>
                                                        <input type="text" class="form-control w-100" [(ngModel)]="newContact.cgst_amt" (keyup.enter)="addContact()" [ngModelOptions]="{standalone: true}">
                                                    </td>
                                                    
                                                    <td>
                                                        <input type="text" class="form-control w-100" [(ngModel)]="newContact.sgst_amt" (keyup.enter)="addContact()" [ngModelOptions]="{standalone: true}">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control w-100" [(ngModel)]="newContact.net_rate" (keyup.enter)="addContact()" [ngModelOptions]="{standalone: true}">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control w-100" [(ngModel)]="newContact.amt" (keyup.enter)="addContact()" [ngModelOptions]="{standalone: true}">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control w-100" [(ngModel)]="newContact.dly" (keyup.enter)="addContact()" [ngModelOptions]="{standalone: true}">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control w-100" [(ngModel)]="newContact.ar_ref" (keyup.enter)="addContact()" [ngModelOptions]="{standalone: true}">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control w-100" [(ngModel)]="newContact.remarks" (keyup.enter)="addContact()" [ngModelOptions]="{standalone: true}">
                                                    </td>
                                                    
                                                    <td style="width:60px;text-align: center;">
                                                        <i (click)="addContact()" class="fas fa-plus"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                       
                                    </table>
                                </div>
                                </div>
                                
                            </div>


</div>

<div class="d-flex row">
<div class="col-lg-9">
    
</div>
<div class="col-lg-3"><div class="my-1">
    <button class="btn btn-sm btn-secondary rounded" routerLink="['/good-receipt']" skipLocationChange>{{'cancel' | translate}}</button> 
    &nbsp;
    <button  type="button" class="btn btn-sm btn-info rounded" [disabled]="ReceiptForm.pristine || ReceiptForm.invalid"  (click)="savePurchase(newData)"  >{{'save' | translate}}</button>
    </div>
</div>
</div>
</div>
</div>

</div>
</form>