
<div class="preloader" style="display: none;">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
  </div>
  
  <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    
    <div class="page-wrapper" >
        <div class="container-fluid" style="background:#dcdcdc;">  
  
  <div class="row">
      <div class="col-12">
              <div class="example-loading-shade" *ngIf="isLoadingResults">
                      <mat-spinner  [diameter]="40" *ngIf="isLoadingResults"></mat-spinner>
                 </div>
              <div class="card" style="border-top: 2px solid #0e43af;box-shadow:0 1px 3px rgba(0,0,0,.3);">
          <div class="card-body border-bottom py-2">
              <div class="d-md-flex align-items-center justify-content-between">
                  <div class="form-row mx-0 d-flex bd-highlight w-100">

                      <h4 class="card-title m-0">Payment Scheduling</h4>
                      <div class="form-group mx-4 mb-2">
                          <button type="submit" class="btn btn-sm rounded btn-info waves-effect waves-light"  (click)="SaveSchedule()" [disabled]="isLoadingResults">Save</button>
                      </div>
                 
                        <label class="col-sm-1 text-right">Filter</label>
                        <div class="col-sm-2">
                          
                          <ng-select
                              [(ngModel)]="flag" [ngModelOptions]="{standalone: true}"
                              [items]="filterTypes" (close)="showList(flag)"
                              bindLabel="description"
                              bindValue="id"
                              class="form-control border-1 form-control-sm w-100">
                          </ng-select>

                        </div>
                        <div class="form-group mr-2 mb-2 ml-auto bd-highlight">
                        <input type="text" class="form-control form-control-sm" (keyup)="applyFilter($event.target.value)"  placeholder="{{'search'|translate}}">
                      </div>
                  </div>
              </div>
          </div>
          <div class="d-flex- row">
           <div class="col-lg-12 tab-content m-t-10" id="pills-tabContent">
            <div class="card-body indent-entry px-0 py-2" >
            <div class="col-12">
                  <div class="d-flex justify-content-between align-items-stretch w-100 boxed-layout">
                    <div class="w-100">
                      <div class="card example-container " style="box-shadow:0 1px 3px rgba(0,0,0,.3);">
                          <table mat-table [dataSource]="fieldArray" matSort class="mat-elevation-z8 table-striped w-100" #table>
                               <ng-container matColumnDef="NAME">
                                  <th mat-header-cell *matHeaderCellDef  class="py-1 font-weight-bold text-dark sticky-cell"></th>
                                  <td mat-cell *matCellDef="let element">
                                    <table border="0" class="w-100">  
                                      <tr>
                                        <td  style="width: 20px;">
                                          <mat-checkbox (change)="onPartyChecked($event, element)"   [(ngModel)]="element.checked" ></mat-checkbox> 
                                        </td>
                                        <td>
                                          {{element.ACCOUNTHEAD}}
                                        </td>
                                        <td style="width: 150px;">
                                          Credit Days : {{element.CREDITDAYS}}
                                        </td>
                                      </tr>
                                      <tr *ngIf="element.checked">
                                        <td colspan="3">
                                          <div class="row">
                                          <div class="col-md-12 d-flex">
                                            <div class="col-md-4">
                                          <!--  -->
                                          <table class="table table-sm custom-invoice-table table-bordered" style="width: 80%;"  cellspacing="0" cellpadding="0" border="0"  *ngIf="element.ISSUEDCHQ.length>0"  >
                                            <thead>
                                              <th style="min-width: 70px;text-align: right;background-color: #E2E2E2;">Cheque Date</th>
                                              <th style="min-width: 70px;text-align: right;background-color: #E2E2E2;">Mode </th>
                                              <th style="min-width: 70px;text-align: right;background-color: #E2E2E2;">Cheque No. </th>
                                              <th style="min-width: 70px;text-align: right;background-color: #E2E2E2;">Ch Amount</th>
                                              <th style="width: 10px;text-align: right;background-color: #E2E2E2;"></th>
                                            </thead>
                                            <tbody>
                                              <tr *ngFor="let ele of element.ISSUEDCHQ">                         
                                                <td style="min-width: 70px;text-align: right;"  *ngIf="ele.ROWID1 != editItemID"  (dblclick)="editCheque(ele.ROWID1)"> {{ele.TRANSDATE }}</td>
                                                <td style="min-width: 70px;text-align: right;"  *ngIf="ele.ROWID1 == editItemID">  
                                                  <input type="text" class="w-100"  [(ngModel)]='ele.TRANSDATE' [ngModelOptions]="{standalone: true}"  (click)="openCalendarDialog1(ele)" [readonly]="true">
                                                </td> 
                                                <td style="min-width: 70px;text-align: right;" >{{ele.PAYMENTMODE}}</td> 
                                                <td style="min-width: 70px;text-align: right;">  {{ele.CHEQUENO }} </td> 
                                                <td style="min-width: 70px;text-align: right;">{{ele.TRANAMT}}</td>
                                                <td style="width: 10px;"><i *ngIf="ele.ROWID1 == editItemID" class="fas fa-check customIcon" (click)="updateCheque(ele)"></i></td>
                                             </tr>
                                            </tbody>
                                          </table>
                                            </div>
                                            <div class="col-md-8 d-flex">
                                              <table class="table table-sm custom-invoice-table table-bordered w-100" cellspacing="0" cellpadding="0" border="0" *ngIf="element.PAYMENTLIST.length>0" >
                                                  <thead>
                                                    <th style="width: 30px;background-color:green;">Ok</th>
                                                    <th style="width: 30px;background-color:red;">Del</th>
                                                    <th style="width: 60px;text-align: right;background-color: #E2E2E2;">Req No</th>
                                                    <th style="width: 80px;text-align: right;background-color: #E2E2E2;">Dated </th>
                                                    <th style="width: 80px;text-align: right;background-color: #E2E2E2;">Due Amt</th>
                                                    <th style="width: 80px;text-align: right;background-color: #E2E2E2;">Req Amt</th>
                                                    <th style="width: 90px;text-align: right;background-color: #E2E2E2;">Balance Amt</th>
                                                    <th style="width: 90px;text-align: right;background-color: #E2E2E2;">Passed Amt</th>
                                                    <th style="min-width: 80px;background-color: #E2E2E2;">Remarks</th>
                                                  </thead>
                                                  <tbody>
                                                    <!-- <tr *ngFor="let ele of element.PAYMENTLIST">     
                                                      <td style="width: 10px;"><mat-checkbox class="custom-checkbox-green" [(ngModel)]="ele.checked"  (change)="onCkhChange($event, ele, element)" ></mat-checkbox> </td>
                                                      <td style="width: 10px;"><mat-checkbox class="custom-checkbox-red"  [(ngModel)]="ele.delete" (change)="onDelete($event, ele, element)"  ></mat-checkbox> </td>
                                                      <td style="width: 60px;text-align: right;">  {{ele.REQNO }} </td>                       
                                                      <td style="width: 80px;text-align: right;"> {{ele.REQDATE | date:'d/M/y'}}</td>
                                                      <td style="width: 80px;text-align: right;">{{ele.DUEAMT}}</td>
                                                      <td style="width: 80px;text-align: right;">{{ele.AMOUNTTOPAY}}</td>
                                                      <td style="width: 80px;text-align: right;">{{ele.BALANCEAMT}}</td>
                                                      <td style="width: 80px;text-align: right;">{{ele.PASSEDAMT}}</td>
                                                      <td style="min-width: 80px;">{{ele.REMARKS}}</td>
                                                   </tr> -->
                                                   <tr *ngFor="let ele of element.PAYMENTLIST">     
                                                    <td colspan="9">
                                                     <table class="w-100" cellspacing="0" cellpadding="0" border="0">
                                                      <tr>
                                                        <td style="width: 30px;"><mat-checkbox class="custom-checkbox-green" [(ngModel)]="ele.checked"  (change)="onCkhChange($event, ele, element)" ></mat-checkbox> </td>
                                                        <td style="width: 30px;"><mat-checkbox class="custom-checkbox-red"  [(ngModel)]="ele.delete" (change)="onDelete($event, ele, element)"  ></mat-checkbox> </td>
                                                        <td style="width: 60px;text-align: right;"> <a style="color: #0e43af !important;cursor: pointer !important;" (click)="ShowBillsAgstRequirement(ele.REQID)">{{ele.REQNO }} </a> </td>                       
                                                        <td style="width: 80px;text-align: right;"> {{ele.REQDATE | date:'d/M/y'}}</td>
                                                        <td style="width: 80px;text-align: right;">{{ele.DUEAMT}}</td>
                                                        <td style="width: 80px;text-align: right;">{{ele.AMOUNTTOPAY}}</td>
                                                        <td style="width: 90px;text-align: right;">{{ele.BALANCEAMT}}</td>
                                                        <td style="width: 90px;text-align: right;">{{ele.PASSEDAMT}}</td>
                                                        <td style="min-width: 80px;">{{ele.REMARKS}}</td>
                                                      </tr> 
                                                      <tr *ngIf="ele.checked">
                                                        <td colspan="9">
                                                          <table class="table  tr th w-100" cellspacing="0" cellpadding="0">
                                                            <thead>
                                                                <tr style="background-color: #666666; color: #ffffff;">
                                                                    <th  style="width:40%;">Bank A/c</th>
                                                                    <th scope="col" style="width:10%;min-width: 80; ">Mode</th>
                                                                    <th scope="col" style="width:15%;min-width: 80; text-align:right;">Amount</th>
                                                                    <th scope="col" style="width:15%;min-width: 80;  text-align:right;">Dated</th>
                                                                    <th scope="col" style="width:15%;min-width: 80; ">Name on Ch.</th>
                                                                    <th scope="col" style="width:5%;text-align: center;">{{'action' | translate}}</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class="font-sm">
                                                            <tr *ngFor="let item of ele.ScheduledList  ; let i = index" style="height:auto">
                                                                   <td *ngIf="i === editItemID">
                                                                          <ngx-select class="ngx-custom-select-dropdown ngx-custom-category-select ngx-custom-select-dropdown-text-wrap" [ngModelOptions]="{standalone: true}" name="ACCOUNTID"  [allowClear]="true" [(ngModel)]="item.ACCOUNTID" (ngModelChange)="accountHeadChange($event, item)" [items]="accountHeadList" optionValueField="ACCOUNTID" optionTextField="ACCOUNTHEAD" placeholder=" Please Select account head"  >
                                                                          </ngx-select>
                                                                      </td>
                                                                    <td *ngIf="i != editItemID" (dblclick)="editItem(i)">{{item.ACCOUNTHEAD}}</td>
                                                                    <td *ngIf="i === editItemID" style="width: 80px;"> 
                                                                      <ngx-select class="ngx-custom-select-dropdown" [ngModelOptions]="{standalone: true}" name="PAYMENTMODE"  [allowClear]="true" [(ngModel)]="item.PAYMENTMODE"  [items]="paymentMode" optionValueField="id" optionTextField="description" (ngModelChange)="onPayModeChange($event, item)" >
                                                                      </ngx-select>
                                                                    </td>
                                                                    <td *ngIf="i != editItemID"  style="width: 80px;" (dblclick)="editItem(i)">{{item.PAYMENTMODEDESC}}</td>
                                                                    <td *ngIf="i == editItemID"  style="width:15%;min-width: 80px;text-align:right;"><input style="text-align:right;" (ngModelChange)="amountChnage(item)" type="text" class="w-100" [(ngModel)]='item.TRANAMT' [ngModelOptions]="{standalone: true}"
                                                                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"></td>
                                                                    <td *ngIf="i != editItemID" style="width:15%;min-width: 80px;text-align:right;" (dblclick)="editItem(i)">{{item.TRANAMT | number:'1.0-0'}}</td>
                                                                    <td *ngIf="i == editItemID" style="width:15%;min-width: 80px;text-align:right;">
                                                                            <input type="text" class="w-100" [(ngModel)]='item.TRANSDATE' [ngModelOptions]="{standalone: true}"  (click)="openCalendarDialog(item)" [readonly]="true">
                                                                    </td>
                                                                    <td *ngIf="i != editItemID" style="width:15%;min-width: 80px;text-align:right;"  (dblclick)="editItem(i)">{{item.TRANSDATE| date:'dd-MM-yy'}}</td>
                                                                    <td *ngIf="i == editItemID">
                                                                        <input type="text" class="w-100" [(ngModel)]='item.NAMEONCHEQUE' [ngModelOptions]="{standalone: true}" >
                                                                    </td>
                                                                    <td *ngIf="i != editItemID" (dblclick)="editItem(i)">{{item.NAMEONCHEQUE}}</td>                                        
                                                                    <td style="width:60px;text-align: center;">
                                                                        <div>
                                                                            <i *ngIf="i == editItemID" class="fas fa-check customIcon" (click)="updateItem(item, ele)"></i>
                                                                            <i *ngIf="i != editItemID" class="fas fa-edit customIcon" (click)="editItem(i)"></i>
                                                                            <i style="margin-left: 5px;" class="far fa-trash-alt customIcon" (click)="removeItem(i)"></i>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr style="height:auto">
                                                                    <td>
                                                                        <ngx-select class="ngx-custom-select-dropdown ngx-custom-category-select ngx-custom-select-dropdown-text-wrap" [ngModelOptions]="{standalone: true}" name="ACCOUNTID"  [allowClear]="true" [(ngModel)]="ele.ACCOUNTID" (ngModelChange)="accountHeadChange($event, ele)" [items]="accountHeadList" optionValueField="ACCOUNTID" optionTextField="ACCOUNTHEAD" placeholder=" Please Select account head"  >
                                                                        </ngx-select>
                                                                    </td>
                                                                    <td  style="width: 80px;">
                                                                      <ngx-select class="ngx-custom-select-dropdown" [ngModelOptions]="{standalone: true}" name="PAYMENTMODE"  [allowClear]="true" [(ngModel)]="ele.PAYMENTMODE" [items]="paymentMode" optionValueField="id" optionTextField="description" (ngModelChange)="onPayModeChange($event, ele)">
                                                                      </ngx-select>
                                                                    </td>
                                                                    <td style="width:15%;min-width: 80px;text-align:right;"><input style="text-align:right" type="text" class="w-100"  [(ngModel)]="ele.TRANAMT" [ngModelOptions]="{standalone: true}"
                                                                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"></td>
                                                                    <td style="width:15%;min-width: 80px;text-align:right;"><input type="text" class="w-100" [(ngModel)]="ele.TRANSDATE" [ngModelOptions]="{standalone: true}"  (click)="openCalendarDialog(ele)" [readonly]="true"></td>
                                                                    <td style="width:15%;min-width: 80px;text-align:right;"><input type="text" class="w-100" [(ngModel)]="ele.NAMEONCHEQUE" [ngModelOptions]="{standalone: true}" ></td>
                                                                    <td style="width:60px;text-align: center;">
                                                                        <i (click)="additem(ele)" class="fas fa-plus"></i>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                            <tfoot>
                                                                <tr style="background-color: #666666; color: #ffffff;">
                                                                    <td><b>Total</b></td>
                                                                    <td><b>{{ele.TotalAmt}}</b></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td>
                                                                    </td>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                        </td>  
                                                      </tr>
                                                     </table>
                                                    </td>
                                                   </tr>
                                                  </tbody>
                                                </table>
                                               </div>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>  
                                    </table>
                                    <!-- <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                           <mat-panel-title>
                                              {{element.NAME}}
                                         
                                        </mat-expansion-panel-header>
                                        <div class="col-12">
                                            <div class="col-lg-5">
                                                <table style="width:210px" class="table table-sm custom-invoice-table table-bordered" cellspacing="0" cellpadding="0" border="0" *ngIf="element.ISSUEDCHQ.length>0" >
                                                    <thead>
                                                      <th style="width: 70px;text-align: right;background-color: #E2E2E2;">Cheque Date</th>
                                                      <th style="width: 70px;text-align: right;background-color: #E2E2E2;">Cheque No. </th>
                                                      <th style="width: 70px;text-align: right;background-color: #E2E2E2;">Ch Amount</th>
                                                    </thead>
                                                    <tbody>
                                                      <tr *ngFor="let ele of element.ISSUEDCHQ">                         
                                                        <td style="width: 70px;text-align: right;"> {{ele.TRANSDATE | date:'d/M/y'}}</td>
                                                        <td style="width: 70px;text-align: right;">  {{ele.CHEQUENO }} </td> 
                                                        <td style="width: 70px;text-align: right;">{{ele.TRANAMNT}}</td>
                                                     </tr>
                                                    </tbody>
                                                  </table>
                                            </div>
                                            <div class="col-lg-7">
                                                <table style="width:570px" class="table table-sm custom-invoice-table table-bordered" cellspacing="0" cellpadding="0" border="0" *ngIf="element.PAYMENTLIST.length>0" >
                                                    <thead>
                                                      <th style="width: 70px;text-align: right;background-color: #E2E2E2;">Req No</th>
                                                      <th style="width: 70px;text-align: right;background-color: #E2E2E2;">Dated </th>
                                                      <th style="width: 50px;text-align: right;background-color: #E2E2E2;">Payment<br>Term</th>
                                                      <th style="width: 70px;text-align: right;background-color: #E2E2E2;">Due<br>Amt</th>
                                                      <th style="width: 70px;text-align: right;background-color: #E2E2E2;">Req<br>Amt</th>
                                                      <th style="width: 70px;text-align: right;background-color: #E2E2E2;">Balance<br>Amt</th>
                                                      <th style="width: 70px;text-align: right;background-color: #E2E2E2;">Passed<br>Amt</th>
                                                      <th style="width: 100px;background-color: #E2E2E2;">Remarks</th>
                                                    </thead>
                                                    <tbody>
                                                      <tr *ngFor="let ele of element.PAYMENTLIST">     
                                                        <td style="width: 70px;text-align: right;">  {{ele.REQNO }} </td>                       
                                                        <td style="width: 70px;text-align: right;"> {{ele.REQDATE | date:'d/M/y'}}</td>
                                                        <td style="width: 50px;text-align: right;">  {{ele.CREDITDAYS }} </td> 
                                                        <td style="width: 70px;text-align: right;">{{ele.DUEAMT}}</td>
                                                        <td style="width: 70px;text-align: right;">{{ele.AMOUNTTOPAY}}</td>
                                                        <td style="width: 70px;text-align: right;">{{ele.BALANCEAMT}}</td>
                                                        <td style="width: 70px;text-align: right;">{{ele.PASSEDAMT}}</td>
                                                        <td style="width: 100px;">{{ele.REMARKS}}</td>
                                                     </tr>
                                                    </tbody>
                                                  </table>
                                            </div>
                                        </div>

                                          
                                       
                                     </mat-expansion-panel> -->
                                  </td>
                               </ng-container>
                          
              
                              <tr mat-header-row *matHeaderRowDef="displayedColumnsNew ; sticky: true " class="bg-light" style="height:auto;"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumnsNew;" style="height:auto;vertical-align: top;"></tr>
                          </table>
                        
                      </div>
                  </div>
                </div>
              </div>
  
  
                </div>
                </div>
              </div>
  
            </div>
          </div>
      </div>
  
      <app-footer></app-footer>
      </div>
  </div>
  </div>