<form >
    <div class="modal-header primary-bg py-2">
        Export invoice Detail
        <button class="close text-white" mat-dialog-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="scroll-spy px-3 pb-3" style="height:200px; width: 450px">
        <div class="example-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner  [diameter]="40" *ngIf="isLoadingResults"></mat-spinner>
       </div>

          <div class="card-body border-top item-master px-0 py-2">
          <div class="form-inline">
              <!-- <div class="form-group row col-12 mb-2 required"> -->
                  <div class="form-group row col-12 mb-1 ">  
                    <label class="col-md-4 text-right "  >{{'Shipping Bill No.' | translate}}</label>
                    <div class="col-md-8 ">
                      <input style="text-align:right" type="text" class="form-control w-100"  [(ngModel)]="newData.SHIPPINGBILLNO"   
                      [ngModelOptions]="{standalone: true}" >
                    </div>
                  </div>
                   
                  <div class="form-group row col-12 mb-1 ">  
                    <label class="col-md-4 text-right "  >{{'Shipping Bill Date' | translate}}</label>
                  <div class="col-md-8 ">
                    <!-- <input style="text-align:right" type="text" class="form-control w-100"  [(ngModel)]="newData.SHIPPINGBILLDATE"   
                    [ngModelOptions]="{standalone: true}" > -->
                    <mat-form-field  style="width: 100%;">
                      <input matInput  
                        [matDatepicker]="matDatepicker" placeholder="Shipping Date" 
                        [(ngModel)]="newData.SHIPPINGBILLDATE"  [ngModelOptions]="{standalone: true}" [max]="AppUser.WorkingDate">
                      <mat-datepicker-toggle matSuffix [for]="matDatepicker"></mat-datepicker-toggle>
                      <mat-datepicker #matDatepicker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group row col-12 mb-1 ">  
                  <label class="col-md-4 text-right "  >{{'Port Code' | translate}}</label>
                  <div class="col-md-8 ">
                    <ng-select  [(ngModel)]="newData.PORTCODE" [ngModelOptions]="{standalone: true}"
                        [items]="PortCodeArry"
                        bindLabel="PORT_NAME"
                        bindValue="PORT_CODE"
                        placeholder="Select Port Code"
                        class="form-control border-1 form-control-sm w-100">
                    </ng-select>
                  </div>
                </div>
                <div class="form-group row col-12 mb-1 ">  
                  <label class="col-md-4 text-right "  >{{'Currency Code' | translate}}</label>
                  <div class="col-md-8 ">
                    <ng-select  [(ngModel)]="newData.FOREIGNCURRENCY" [ngModelOptions]="{standalone: true}"
                        [items]="CurrencyCodeArry"
                        bindLabel="CURRENCY_NAME"
                        bindValue="CURRENCY_CODE"
                        placeholder="Select Currency Code"
                        class="form-control border-1 form-control-sm w-100">
                    </ng-select>
                  </div>
                </div>
                <div class="form-group row col-12 mb-1 ">  
                  <label class="col-md-4 text-right "  >{{'Country Code' | translate}}</label>
                  <div class="col-md-8 ">
                    <ng-select  [(ngModel)]="newData.COUNTRYCODE" [ngModelOptions]="{standalone: true}"
                        [items]="CountryCodeArry"
                        bindLabel="COUNTRY_NAME"
                        bindValue="COUNTRY_CODE"
                        placeholder="Select Country Code"
                        class="form-control border-1 form-control-sm w-100">
                    </ng-select>
                  </div>
                </div>
                <div class="form-group row col-12 mb-1 ">  
                  <label class="col-md-4 text-right "  >{{'Export Duty' | translate}}</label>
                  <div class="col-md-3">
                    <input style="text-align:right" type="text" class="form-control w-100"  [(ngModel)]="newData.EXPORTDUTY"   
                    [ngModelOptions]="{standalone: true}" >
                  </div>
                  <div class="col-md-5 d-flex">
                    <mat-checkbox name="REFUNDCLAIM" [(ngModel)]="newData.REFUNDCLAIM"  [ngModelOptions]="{standalone: true}">Refund Claim</mat-checkbox>
                  </div>
                </div>
        </div>
      </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-danger" mat-dialog-close>Cancel</button>
          <button type="button" class="btn btn-primary" (click)="onNoClick()">Ok</button>
      </div>
    </form>