/* dashborad section start */
.custom-dash-section{
	background: url('../../../../assets/images/management-plan-bg.jpg') center no-repeat;
    /* background-image: url(http://dev.axtrics.com/demo/xtreme/xtreme-admin/assets/images/management-plan-bg.jpg); */
    background-repeat: no-repeat;background-position: center center;height: 100vh;}

.box-1{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#50a7c2+0,84d0ce+100 */
background: #50a7c2; /* Old browsers */
background: -moz-linear-gradient(top, #50a7c2 0%, #84d0ce 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #50a7c2 0%,#84d0ce 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #50a7c2 0%,#84d0ce 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50a7c2', endColorstr='#84d0ce',GradientType=0 ); /* IE6-9 */

-webkit-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
-moz-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
font-size: 14px;font-weight: 600;color: #fff;	
border-radius:4px;
}
.box-2{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffafbe+0,ffb9af+100 */
background: #ffafbe; /* Old browsers */
background: -moz-linear-gradient(top, #ffafbe 0%, #ffb9af 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffafbe 0%,#ffb9af 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffafbe 0%,#ffb9af 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffafbe', endColorstr='#ffb9af',GradientType=0 ); /* IE6-9 */
-webkit-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
-moz-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
border-radius:4px;
font-size: 14px;font-weight: 600;color: #fff;
}
.box-3{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#936aa6+0,c07baa+100 */
background: #936aa6; /* Old browsers */
background: -moz-linear-gradient(top, #936aa6 0%, #c07baa 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #936aa6 0%,#c07baa 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #936aa6 0%,#c07baa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#936aa6', endColorstr='#c07baa',GradientType=0 ); /* IE6-9 */
border-radius:4px;	
-webkit-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
-moz-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
font-size: 14px;font-weight: 600;color: #fff;	
}
.box-4{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#727e8a+0,84909c+100 */
background: #727e8a; /* Old browsers */
background: -moz-linear-gradient(top, #727e8a 0%, #84909c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #727e8a 0%,#84909c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #727e8a 0%,#84909c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#727e8a', endColorstr='#84909c',GradientType=0 ); /* IE6-9 */
border-radius:4px;
-webkit-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
-moz-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);	
font-size: 14px;font-weight: 600;color: #fff;	
}
.box-5{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e48080+0,f1a691+100 */
background: #e48080; /* Old browsers */
background: -moz-linear-gradient(top, #e48080 0%, #f1a691 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #e48080 0%,#f1a691 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #e48080 0%,#f1a691 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e48080', endColorstr='#f1a691',GradientType=0 ); /* IE6-9 */
border-radius:4px;
	-webkit-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
-moz-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
font-size: 14px;font-weight: 600;color: #fff;	
}
.box-6{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6db64a+0,8fca5e+100 */
background: #6db64a; /* Old browsers */
background: -moz-linear-gradient(top, #6db64a 0%, #8fca5e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #6db64a 0%,#8fca5e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #6db64a 0%,#8fca5e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db64a', endColorstr='#8fca5e',GradientType=0 ); /* IE6-9 */
border-radius:4px;
	-webkit-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
-moz-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
font-size: 14px;font-weight: 600;color: #fff;	
}
.box-7{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#715592+0,686698+100 */
background: #715592; /* Old browsers */
background: -moz-linear-gradient(top, #715592 0%, #686698 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #715592 0%,#686698 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #715592 0%,#686698 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#715592', endColorstr='#686698',GradientType=0 ); /* IE6-9 */	
border-radius:4px;
	-webkit-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
-moz-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
font-size: 14px;font-weight: 600;color: #fff;	
}
.box-8{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d6ae7b+0,e0be90+100 */
background: #d6ae7b; /* Old browsers */
background: -moz-linear-gradient(top, #d6ae7b 0%, #e0be90 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #d6ae7b 0%,#e0be90 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #d6ae7b 0%,#e0be90 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6ae7b', endColorstr='#e0be90',GradientType=0 ); /* IE6-9 */	
border-radius:4px;
	-webkit-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
-moz-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
font-size: 14px;font-weight: 600;color: #fff;	
}
.box-9{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#36bbc0+0,34cabf+100 */
background: #36bbc0; /* Old browsers */
background: -moz-linear-gradient(top, #36bbc0 0%, #34cabf 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #36bbc0 0%,#34cabf 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #36bbc0 0%,#34cabf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36bbc0', endColorstr='#34cabf',GradientType=0 ); /* IE6-9 */	
border-radius:4px;	
	-webkit-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
-moz-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
font-size: 14px;font-weight: 600;color: #fff;	
}
.box-10{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5b86e5+0,48ace0+100 */
background: #5b86e5; /* Old browsers */
background: -moz-linear-gradient(top, #5b86e5 0%, #48ace0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #5b86e5 0%,#48ace0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #5b86e5 0%,#48ace0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b86e5', endColorstr='#48ace0',GradientType=0 ); /* IE6-9 */	
border-radius:4px;	
	-webkit-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
-moz-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
font-size: 14px;font-weight: 600;color: #fff;	
}
.box-11{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff9d84+0,ffb193+100 */
background: #ff9d84; /* Old browsers */
background: -moz-linear-gradient(top, #ff9d84 0%, #ffb193 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ff9d84 0%,#ffb193 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ff9d84 0%,#ffb193 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9d84', endColorstr='#ffb193',GradientType=0 ); /* IE6-9 */	
border-radius:4px;	
	-webkit-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
-moz-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
font-size: 14px;font-weight: 600;color: #fff;	
}
.box-12{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#46a77c+0,57b88d+100 */
background: #46a77c; /* Old browsers */
background: -moz-linear-gradient(top, #46a77c 0%, #57b88d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #46a77c 0%,#57b88d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #46a77c 0%,#57b88d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46a77c', endColorstr='#57b88d',GradientType=0 ); /* IE6-9 */	
border-radius:4px;
	-webkit-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
-moz-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
font-size: 14px;font-weight: 600;color: #fff;	
}
.box-13{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#72a2a4+0,8cbfc3+100 */
background: #72a2a4; /* Old browsers */
background: -moz-linear-gradient(top, #72a2a4 0%, #8cbfc3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #72a2a4 0%,#8cbfc3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #72a2a4 0%,#8cbfc3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72a2a4', endColorstr='#8cbfc3',GradientType=0 ); /* IE6-9 */	
border-radius:4px;	
	-webkit-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
-moz-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
font-size: 14px;font-weight: 600;color: #fff;	
}
.box-14{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#585abe+0,776ad3+100 */
background: #585abe; /* Old browsers */
background: -moz-linear-gradient(top, #585abe 0%, #776ad3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #585abe 0%,#776ad3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #585abe 0%,#776ad3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#585abe', endColorstr='#776ad3',GradientType=0 ); /* IE6-9 */	
border-radius:4px;	
	-webkit-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
-moz-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
font-size: 14px;font-weight: 600;color: #fff;	
}
.box-15{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a0b52a+0,b7ca21+100 */
background: #a0b52a; /* Old browsers */
background: -moz-linear-gradient(top, #a0b52a 0%, #b7ca21 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #a0b52a 0%,#b7ca21 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #a0b52a 0%,#b7ca21 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0b52a', endColorstr='#b7ca21',GradientType=0 ); /* IE6-9 */	
border-radius:4px;	
	-webkit-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
-moz-box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
box-shadow: inset 0px 2px 10px -5px rgba(123,123,123,0.75);
font-size: 14px;font-weight: 600;color: #fff;	
}

.custom-dash-section .col {
	min-height: 119px;
}

.custom-dash-section .box-1, .custom-dash-section .box-2, .custom-dash-section .box-3, .custom-dash-section .box-4, .custom-dash-section .box-5, .custom-dash-section .box-6, .custom-dash-section .box-7, .custom-dash-section .box-8
, .custom-dash-section .box-9, .custom-dash-section .box-10, .custom-dash-section .box-11, .custom-dash-section .box-12, .custom-dash-section .box-13, .custom-dash-section .box-14, .custom-dash-section .box-15, .custom-dash-section .box-16 {
	height: 117px !important;
}
/* .custom-common-class:hover{
	cursor: pointer;
	box-shadow: 2pt 2pt 2pt 2pt grey;
} */
.custom-common-class{
	transition: all 0.5s linear;cursor: pointer;
	
}
.custom-common-class:hover{
	box-shadow: 0pt 0pt 7px #636262;
	transition: all 0.5s linear;
}
/* dashborad section end */
.notification-class{
    background: red;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    top: -10px;
    right: 4px;
    display: inline-block;
    line-height: 24px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
}