<!-- used for font weight 600 as per user requirement  -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300&display=swap"
    rel="stylesheet">
<!-- end -->
<div class="preloader" style="display: none;">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
        <div class="container-fluid" style="background:#dcdcdc;">
            <form [formGroup]="requisitionform" novalidate>
                <div class="example-loading-shade" *ngIf="isLoadingResults ">
                    <mat-spinner [diameter]="40" *ngIf="isLoadingResults"></mat-spinner>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card" style="border-top: 2px solid #0e43af;box-shadow:0 1px 3px rgba(0,0,0,.3);">
                            <div class="card-body border-bottom py-2 d-flex">
                                <div class="col-md-12">
                                    <div class="form-inline">
                                        <div class="col-md-8 d-md-flex align-items-center justify-content-between">
                                            <div class="d-flex">
                                                <a [routerLink]="['/die-planning']"
                                                    class="btn btn-sm rounded btn-warning mr-3" title="Back"><i
                                                        class="mdi mdi-keyboard-backspace"></i></a>

                                                <h4 class="modal-title " id="exampleModalLabel">
                                                    {{'dieplanningforpressshop'
                                                    | translate}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex- row">
                                <div class="col-md-12 tab-content m-t-10" id="pills-tabContent">
                                    <!-- first header -->
                                    <div class="card-body border-bottom purchase-order px-0 py-2">
                                        <div class="form-inline">

                                            <div class="form-group row col-md-4 mb-2 ">
                                                <label  *ngIf="action == 'new'" class="col-md-6 text-right error-control-label required">{{'lastsrno' |translate}} </label>
                                                <label  *ngIf="action == 'edit'" class="col-md-6 text-right error-control-label required">{{'srno' |translate}} </label>
                                                <div class="col-md-6 ">
                                                    <input class="form-control w-100  form-control-sm readonly-disable"
                                                        name="manualslipno" [(ngModel)]="newData.DIEPLANNINGNO" maxlength="10"
                                                        [ngModelOptions]="{standalone: true}" readonly >
                                                </div>
                                            </div>
                                            <div class="form-group row col-md-4 mb-2 " id="grid">
                                                <label
                                                    class="col-md-6 text-right error-control-label required ">{{'date'
                                                    |translate}}</label>
                                                <div class="col-md-6 ">
                                                    <mat-form-field
                                                        class="form-control w-100 mat-form-field-date-picker">
                                                        <input matInput [matDatepicker]="rdate" name="date"
                                                            [(ngModel)]="newData.DIEPLANNINGDATE" (dateChange)="ipo.focus()"
                                                            [ngModelOptions]="{standalone: true}">
                                                        <mat-datepicker-toggle matSuffix [for]="rdate">
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker #rdate></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <!-- empty div -->
                                            <div class="col-md-4"></div>
                                            <div class="form-group row col-md-4 mb-2 ">
                                                <label
                                                    class="col-md-6 text-right error-control-label required">{{'ipono'
                                                    |translate}} </label>
                                                <div class="col-md-6 ">
                                                    <!-- <ngx-select
                                                        class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"
                                                        [ngModelOptions]="{standalone: true}" name="deptid"
                                                        [allowClear]="true" [(ngModel)]="newData.ipono"
                                                        [items]="ipoarray" optionValueField="IPOID"
                                                        optionTextField="IPONO"
                                                        placeholder="{{'pleaseselect' | translate}}">
                                                    </ngx-select> -->
                                                    <ng-select id="ipo" #ipo  class="custom-machine-history-class ngx-custom-select-dropdown-text-wrap custom-material-ng-container"
                                                    [(ngModel)]="newData.IPOID" [ngModelOptions]="{standalone: true}"  style="width: 100% !important;"
                                                    (change)="ipochange(newData.IPOID)"(close)="tooln.focus()"
                                                    name="ipo" [virtualScroll]="true" [items]="DataGet" bindLabel="IPONO" bindValue="IPOID"
                                                    placeholder="Select IPO" >
                                                    <ng-template ng-header-tmp class="ng-template-oa-class">
                                                        <table > 
                                                            <tr>
                                                              <th style="width: 300px;"> {{'ipono' | translate}} </th>
                                                              <th style="width: 120px;"> {{'party' | translate}} </th>
                                                            </tr>
                                                            <ng-template ng-option-tmp let-item="item">
                                                                <tr>
                                                                  <td style="width:300px"> {{item.IPONO}} </td>
                                                                  <td style="width: 120px;"> {{item.PARTYNAME }} </td>
                                                                </tr>
                                                            </ng-template>
                                                        </table>
                                                    </ng-template>
                                                  </ng-select>
                                                </div>
                                            </div>
                                            <div class="form-group row col-md-4 mb-2 ">
                                                <label
                                                    class="col-md-6 text-right error-control-label required">{{'toolno'
                                                    |translate}} </label>
                                                <div class="col-md-6 ">
                                                    <!-- <ngx-select
                                                        class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"
                                                        [ngModelOptions]="{standalone: true}" name="deptid"
                                                        [(ngModel)]="newData.DIEID"
                                                        [items]="toolnoarray" optionValueField="DIEID"
                                                        optionTextField="DIENAME" (select)="toolChange(newData.DIEID)"
                                                        placeholder="{{'pleaseselect' | translate}}">
                                                    </ngx-select> -->
                                                    <ng-select id="tooln" #tooln class="custom-machine-history-class ngx-custom-select-dropdown-text-wrap custom-material-ng-container"
                                                    [(ngModel)]="newData.DIEID"[ngModelOptions]="{standalone: true}"  style="width: 100% !important;"
                                                    (change)="toolChange(newData.DIEID)"(close)="frameno.focus()"
                                                    name="toolno" [virtualScroll]="true" [items]="toolnoarray" bindLabel="DIENAME" bindValue="DIEID"
                                                    placeholder="{{'pleaseselect' | translate}}" >
                                                  </ng-select >
                                                  <!-- <select [(ngModel)]="newData.DIEID">
                                                      <option *ngFor="let c of toolnoarray" [ngValue]="c.DIEID">{{c.DIENAME}}</option>
                                                                 </select> -->
                                                </div>
                                            </div>
                                            <div class="form-group row col-md-4 mb-2 ">
                                                <label
                                                    class="col-md-6 text-right error-control-label required">{{'frameno'
                                                    |translate}} </label>
                                                    <div class="col-md-6 ">
                                                        <!-- <input id="frameno" class="form-control w-100  form-control-sm readonly-disable"
                                                            name="manualslipno" [(ngModel)]="newData.ITEMFRAMENO" maxlength="10"
                                                            [ngModelOptions]="{standalone: true}" readonly
                                                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"> -->
                                                            <ng-select id="frameno" #frameno class="custom-frameno-class ngx-custom-select-dropdown-text-wrap custom-material-ng-container"
                                                            [(ngModel)]="newData.ITEMID"[ngModelOptions]="{standalone: true}"  style="width: 100% !important;"
                                                            (change)="framenoChange(newData.ITEMID)"(close)="pressno.focus()"
                                                            name="toolno" [virtualScroll]="true" [items]="framenoarray" bindLabel="PAIRPRODUCTCODE" bindValue="ITEMID"
                                                            placeholder="{{'pleaseselect' | translate}}" >
                                                          </ng-select >
                                                    </div>
                                            </div>
                                            <div class="form-group row col-md-4 mb-2 ">
                                                <label
                                                    class="col-md-6 text-right error-control-label required">{{'pressno'
                                                    |translate}} </label>
                                                <div class="col-md-6 ">
                                                    <!-- <ngx-select
                                                        class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"
                                                        [ngModelOptions]="{standalone: true}" name="deptid"
                                                        [allowClear]="true" [(ngModel)]="newData.MACHINEID"
                                                        [items]="pressnoarray" optionValueField="MACHINEID"
                                                        optionTextField="MACHINENAME"
                                                        placeholder="{{'pleaseselect' | translate}}">
                                                    </ngx-select> -->

                                                    <ng-select id="pressno" #pressno class="custom-machine-history-class ngx-custom-select-dropdown-text-wrap custom-material-ng-container"
                                                    [(ngModel)]="newData.MACHINEID" [ngModelOptions]="{standalone: true}"  style="width: 100% !important;"
                                                    name="ipono" [virtualScroll]="true" [items]="pressnoarray"  bindLabel="MACHINENAME" bindValue="MACHINEID"
                                                    placeholder="{{'pleaseselect' | translate}}" (change)="pressChange(newData.MACHINEID)" (close)="metalgrade.focus()">
                                                  </ng-select>
                                                </div>
                                            </div>
                                            <div class="form-group row col-md-4 mb-2 ">
                                                <label
                                                    class="col-md-6 text-right error-control-label required">{{'metalgrade'
                                                    |translate}} </label>
                                                <div class="col-md-6 ">
                                                    <input id="metalgrade" #metalgrade class="form-control w-100  form-control-sm"
                                                        name="manualslipno" [(ngModel)]="newData.METALGRADE"
                                                        maxlength="30" [ngModelOptions]="{standalone: true}">
                                                </div>
                                            </div>
                                            <div class="form-group row col-md-4 mb-2 ">
                                                <label
                                                    class="col-md-6 text-right error-control-label required">{{'availablermstrokes'
                                                    |translate}} </label>
                                                <div class="col-md-6 ">
                                                    <input class="form-control w-100  form-control-sm"
                                                        name="manualslipno"
                                                        [(ngModel)]="newData.AVAILABLERM" maxlength="30"
                                                        [ngModelOptions]="{standalone: true}" (ngModelChange)="calculateBalance(newData)"
                                                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                                </div>
                                            </div>
                                           
                                       
                                        </div>
                                    </div>
                                    <!-- second header -->
                                    <div class="card-body border-bottom purchase-order px-0 py-2">
                                        <h4 class="modal-title " style="margin-left: 16px;margin-bottom: 8px;"
                                            id="exampleModalLabel">{{'strokes' | translate}}</h4>
                                        <div class="form-inline">
                                            <div class="form-group row col-md-4 mb-2 ">
                                                <label
                                                    class="col-md-6 text-right error-control-label required">{{'required'
                                                    |translate}} </label>
                                                <div class="col-md-6 ">
                                                    <input class="form-control w-100  form-control-sm"
                                                        name="manualslipno" [(ngModel)]="newData.STROKESREQ"
                                                        maxlength="30" [ngModelOptions]="{standalone: true}" (ngModelChange)="calculateBalance(newData)"
                                                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                                </div>
                                            </div>
                                            <div class="form-group row col-md-4 mb-2 ">
                                                <label class="col-md-6 text-right error-control-label required">{{'day'
                                                    |translate}} </label>
                                                <div class="col-md-6 ">
                                                    <input class="form-control w-100  form-control-sm"
                                                        name="manualslipno" [(ngModel)]="newData.STROKESTAKEN" maxlength="30"
                                                        [ngModelOptions]="{standalone: true}" (keyup)="calculateBalance(newData)"
                                                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                                </div>
                                            </div>
                                            <div class="form-group row col-md-4 mb-2 ">
                                                <label
                                                    class="col-md-6 text-right error-control-label required">{{'night'
                                                    |translate}} </label>
                                                <div class="col-md-6 ">
                                                    <input class="form-control w-100  form-control-sm"
                                                        name="manualslipno" [(ngModel)]="newData.NEXTIPOID" maxlength="30"
                                                        [ngModelOptions]="{standalone: true}"  (keyup)="calculateBalance(newData)" (keypress)="CONTINUEYN.focus()"
                                                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                                </div>
                                            </div>
                                            <div class="form-group row col-md-4 mb-2 ">
                                                <label
                                                    class="col-md-6 text-right error-control-label required">{{'balance'
                                                    |translate}} </label>
                                                <div class="col-md-6 ">
                                                    <input class="form-control w-100  form-control-sm readonly-disable"
                                                        name="manualslipno" [(ngModel)]="newData.STROKESBAL" maxlength="30"
                                                        [ngModelOptions]="{standalone: true}" readonly 
                                                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                                </div>
                                            </div>
                                            <div class="form-group row col-md-4 mb-2 ">
                                                <label
                                                    class="col-md-6 text-right error-control-label required ">{{'LASTUSEDDATE'
                                                    |translate}}</label>
                                                <div class="col-md-6 ">
                                                    <mat-form-field
                                                        class="form-control w-100 mat-form-field-date-picker">
                                                        <input matInput [matDatepicker]="rdate1" name="date"
                                                            [(ngModel)]="newData.LASTUSEDDATE"
                                                            [ngModelOptions]="{standalone: true}" readonly class="readonly-disable">
                                                        <mat-datepicker-toggle matSuffix [for]="rdate1"  [disabled]='true'>
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker #rdate1></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- third -->
                                    <div class="card-body border-bottom purchase-order px-0 py-2">
                                        <h4 class="modal-title " style="margin-left: 16px;margin-bottom: 8px;"
                                            id="exampleModalLabel">{{'nexttool' | translate}}</h4>
                                        <div class="form-inline">
                                            <div class="form-group row col-md-4 mb-2">
                                                <div class="col-md-12" style="text-align: right;">
                                                    <span
                                                        class=" w-100 bootstrap-switch-handle-on bootstrap-switch-success"
                                                        style=" font-weight: bold; font-size: 13px;">{{'continue'|translate}}</span>
                                                    <span class="bootstrap-switch-label">&nbsp;&nbsp;</span>
                                                    <mat-checkbox name="CONTINUEYN" [(ngModel)]="newData.CONTINUEYN"
                                                      id="CONTINUEYN"  #CONTINUEYN [ngModelOptions]="{standalone: true}" (keypress)="NEXTDIEID.focus()" (change)="changetype($event)"></mat-checkbox>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row col-md-4 mb-2 ">
                                                <label class="col-md-6 text-right error-control-label
                                                        required">{{'toolno'
                                                    |translate}} </label>
                                                <div class="col-md-6 ">
                                                    <!-- <ngx-select
                                                        #NEXTDIEID
                                                        class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"
                                                        [disabled]="newData.CONTINUEYN"
                                                        [ngModelOptions]="{standalone: true}" name="deptid"
                                                        [allowClear]="true" [(ngModel)]="newData.NEXTDIEID"
                                                        [items]="toolnoarray" optionValueField="DIEID"
                                                        optionTextField="DIENAME" 
                                                        placeholder="{{'pleaseselect' | translate}}">
                                                    </ngx-select> -->
                                                    <ng-select id="NEXTDIEID" #NEXTDIEID class="custom-machine-history-class ngx-custom-select-dropdown-text-wrap custom-material-ng-container"
                                                    [(ngModel)]="newData.NEXTDIEID"[ngModelOptions]="{standalone: true}"  style="width: 100% !important;"
                                                    (close)="SECONDTOOLNO.focus()" [disabled]="newData.CONTINUEYN"
                                                    name="toolno" [virtualScroll]="true" [items]="toolnoarray" bindLabel="DIENAME" bindValue="DIEID"
                                                    placeholder="{{'pleaseselect' | translate}}" >
                                                  </ng-select >
                                                </div>
                                            </div>
                                            <div class="form-group row col-md-4 mb-2 ">
                                                <label
                                                    class="col-md-6 text-right error-control-label required">{{'nexttool'
                                                    |translate}} </label>
                                                    <div class="col-md-6 ">
                                                        <input id="SECONDTOOLNO" #SECONDTOOLNO class="form-control w-100  form-control-sm"
                                                            name="manualslipno" [(ngModel)]="newData.SECONDTOOLNO" maxlength="10"
                                                            [ngModelOptions]="{standalone: true}"
                                                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                                    </div>
                                            </div>
                                            <div class="form-group row col-md-8 mb-2 pr-3">
                                                <label
                                                    class="col-md-3 text-right error-control-label required">{{'remarks'
                                                    |translate}} </label>
                                                <div class="col-md-9 pl-1 pr-4">
                                                    <textarea id="remarks" #remarks type="text" autosize
                                                        class="form-control form-control-sm text-area-custom-item "
                                                        style="height: 24px;"
                                                        oninput="this.value = this.value.toUpperCase()"
                                                        name="REASONFORLEAVE" [(ngModel)]="newData.REMARKS"
                                                        [ngModelOptions]="{standalone: true}" maxlength="200"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row col-md-4 mb-2">
                                            </div>
                                            <div class="form-group row col-md-4 mb-2">
                                                <div class="col-md-12" style="text-align: right;">
                                                    <span
                                                        class=" w-100 bootstrap-switch-handle-on bootstrap-switch-success"
                                                        style=" font-weight: bold; font-size: 13px;">{{'transfertofinishing'|translate}}</span>
                                                    <span class="bootstrap-switch-label">&nbsp;&nbsp;</span>
                                                    <mat-checkbox name="bomexists"
                                                        [(ngModel)]="newData.TRANSFERTOFINISHING"
                                                        [ngModelOptions]="{standalone: true}"></mat-checkbox>
                                                </div>
                                            </div>
                                            <div class="form-group row col-md-4 mb-2 ">
                                                <label
                                                    class="col-md-6 text-right error-control-label required">{{'stampingweightkgs'
                                                    |translate}} </label>
                                                <div class="col-md-6 ">
                                                    <input class="form-control w-100  form-control-sm"
                                                        name="manualslipno" [(ngModel)]="newData.STAMPINGWIEGHT"
                                                        maxlength="30" [ngModelOptions]="{standalone: true}">
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row col-md-4 mb-2 ">
                                                <label
                                                    class="col-md-6 text-right error-control-label required">{{'rejection'
                                                    |translate}} </label>
                                                <div class="col-md-6 ">
                                                    <input class="form-control w-100  form-control-sm"
                                                        name="manualslipno" [(ngModel)]="newData.REJECTION"
                                                        maxlength="30" [ngModelOptions]="{standalone: true}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- third header -->
                                    
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-secondary rounded bg-danger"
                                    [routerLink]="['/die-master']">{{'cancel'|translate}}</button>
                                <button *ngIf="action == 'new'" [disabled]="isLoadingResults" type="button"
                                    class="btn btn-sm btn-info rounded {{canCreateCommonClass}}"
                                    (click)="validateBeforeSave(newData , 'Insert')">{{'save'|translate}}</button>
                                <button *ngIf="action == 'edit'" [disabled]="isLoadingResults" type="button"
                                    class="btn btn-sm btn-info rounded {{canEditCommonClass}}"
                                    (click)="validateBeforeSave(newData , 'Update')">{{'update'|translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <app-footer></app-footer>
        </div>
    </div>
</div>