.purchase-order .custom-table.table thead th, .purchase-order .custom-table.table tbody td {
    width: auto;
}

#pills-tabContent .form-control, #pills-tabContent .select2 {
    width: 100%;
}

/* .table-responsive > .custom-table.table td, .table-responsive > .custom-table.table th {
    padding: .1rem 0.5rem;
    white-space: nowrap;
   
} */

.table-scroll{
    overflow-y: scroll;
    height:325px;
}

.ng-select.ng-select.form-control.ng-select-single{
  max-width: 487px;
}

.min-width{
    min-width: 1700px;
    white-space: nowrap;
}