
  
<div class="preloader" style="display: none;">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
  </div>
  
  <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    
    <div class="page-wrapper" >
        <div class="container-fluid" style="background:#dcdcdc;">  
  
  <div class="row">
      <div class="col-12">
              <div class="example-loading-shade" *ngIf="isLoadingResults">
                      <mat-spinner  [diameter]="40" *ngIf="isLoadingResults"></mat-spinner>
                 </div>
              <div class="card" style="border-top: 2px solid #0e43af;box-shadow:0 1px 3px rgba(0,0,0,.3);">
          <div class="card-body border-bottom py-2">
              <div class="d-md-flex align-items-center justify-content-between">
                  <div class="form-row mx-0 d-flex bd-highlight w-100">
                      <h4 class="card-title m-0">Cheque Print</h4>
                      <!-- <div class="form-group mx-4 mb-2">
                              <button type="submit" class="btn btn-sm rounded btn-info waves-effect waves-light"  (click)="ConfimPayments()">Cheque Cleared</button>
                          </div>
                      
                        <div class="form-group mx-4 mb-2">
                            <button type="submit" class="btn btn-sm rounded btn-info waves-effect waves-light"  (click)="UpDateChequeReco()">Update Status</button>
                        </div>     -->
  
                      <div class="form-group mr-2 mb-2 ml-auto bd-highlight">
                          <input type="text" class="form-control form-control-sm" (keyup)="applyFilter($event.target.value)"  placeholder="{{'search'|translate}}">
                      </div>
                  </div>
                  
              </div>
          </div>
          <div class="d-flex- row">
             <div class="col-lg-12 tab-content m-t-10" id="pills-tabContent">
              <div class="card-body indent-entry px-0 py-2" >
              
    
               
            <div class="col-12">
                  <div class="d-flex justify-content-between align-items-stretch w-100 boxed-layout">
                    <div class="w-100">
                     
                      <div class="card example-container " style="box-shadow:0 1px 3px rgba(0,0,0,.3);">
                          <table mat-table [dataSource]="fieldArray" matSort class="table table-sm table-striped w-100 mb-0 mat-table" #table>
                              <ng-container matColumnDef="TRANSDATE">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell" width="10%">Cheque Date </th>
                                      <td mat-cell *matCellDef="let element"  >  {{element.TRANSDATE |date:'dd-MMM-yy'}} </td>
                                         
                              </ng-container>
                              <ng-container matColumnDef="CHEQUENO">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell" style="width:10%"> Cheque No. </th>
                                <td mat-cell *matCellDef="let element"  > {{element.CHEQUENO}} </td>
                            </ng-container>
                        
                              <ng-container matColumnDef="NAME">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell" style="width:25%"> Party Name </th>
                                  <td mat-cell *matCellDef="let element" (click)="openDialog(element)" > 
                                      <a style="color: #0e43af !important;cursor: pointer !important;">
                                         {{element.NAME}}</a> </td>
                              </ng-container>
                              <ng-container matColumnDef="NAMEONCHEQUE">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell" style="width:15%">Name on Cheque </th>
                                  <td mat-cell *matCellDef="let element"  > {{element.NAMEONCHEQUE}} </td>
                              </ng-container>
              
                              <ng-container matColumnDef="BANKACID">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell" style="width:25%"> Bank</th>
                                <td mat-cell *matCellDef="let element; let i = index"  >
                                    {{element.BANKNAME}}
  
                                </td>
                              </ng-container>
            
                              <ng-container matColumnDef="TRANAMT">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell"  style="width:10%;"> Cheque Amount </th>
                                <td mat-cell *matCellDef="let element"  style="text-align:center"> {{element.TRANAMT}} </td>
                              </ng-container>
                              <ng-container matColumnDef="ACTION">
                                <th mat-header-cell *matHeaderCellDef  class="py-1 font-weight-bold text-dark sticky-cell" style="width:5%">
                                        <a style="color: #0e43af !important">Action</a></th>
                                <td mat-cell *matCellDef="let element"><button  type="button" class="btn btn-sm btn-info rounded" (click)="printChque(element)">Print Cheque</button> </td>
                              </ng-container>
                          
                              <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true " class="bg-light" style="height:auto;"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="height:auto;"></tr>
                          </table>
                          <mat-paginator [length]="100"
                          [pageSize]="100"
                          [pageSizeOptions]="[5, 10, 25, 100]">
                          </mat-paginator>
                      </div>
                  </div>
                </div>
              </div>
  
  
                </div>
                </div>
              </div>
  
            </div>
          </div>
      </div>
  
      <app-footer></app-footer>
      </div>
  </div>
  </div>