<div class="preloader" style="display: none;">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>
  <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
  
    <div class="page-wrapper">
      <div class="container-fluid" style="background:#dcdcdc;">
        <form [formGroup]="MaintenanceForm" novalidate>
          <div class="example-loading-shade" *ngIf="isLoadingResults ">
            <mat-spinner [diameter]="40" *ngIf="isLoadingResults"></mat-spinner>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card" style="border-top: 2px solid #0e43af;box-shadow:0 1px 3px rgba(0,0,0,.3);"
                (click)="dropdownHide()">
                <div class="card-body border-bottom py-2">
                  <div class="d-md-flex align-items-center">
                    <div class=" col-md-12 form-row mx-0 d-flex bd-highlight w-100">
                      <div class=" col-md-4 row">
                        <!-- <a *ngIf="routeAction == 'edit' || routeAction == 'view' || routeAction == 'new'"
                          [routerLink]="['/maintenance-ticket']" class="btn btn-sm rounded btn-warning mr-3"
                          title="Back to Maintenance Ticket List"><i class=" mdi mdi-keyboard-backspace"></i></a> -->
                        <!-- <a *ngIf="routeAction == 'mchistory'" [routerLink]="['/machine-history']"
                          class="btn btn-sm rounded btn-warning mr-3" title="Back"><i
                            class=" mdi mdi-keyboard-backspace"></i></a>
                        <a *ngIf="routeAction == 'mtregister'"
                          [routerLink]="['/maintenance-reports/print-maint-report/mt-register']"
                          class="btn btn-sm rounded btn-warning mr-3" title="Back"><i
                            class=" mdi mdi-keyboard-backspace"></i></a> -->
                        <!-- <a *ngIf="routeAction == 'moregister'"
                          [routerLink]="['/maintenance-reports/print-maint-report/mo-register']"
                          class="btn btn-sm rounded btn-warning mr-3" title="Back"><i
                            class=" mdi mdi-keyboard-backspace"></i></a> -->
                            <a (click)="back()"  class="btn btn-sm rounded btn-warning mr-3" title="Back"><i
                              class=" mdi mdi-keyboard-backspace"></i></a>
                        <h4 class="card-title m-0">{{'maintenanceticket' | translate}}</h4>
                      </div>
                      <div class=" col-md-4">
                        <mat-radio-group [(ngModel)]="newData.MTTYPE" [ngModelOptions]="{standalone: true}"
                          mat-radio-group class=" mx-4 mat-radio-label d-flex align-items-center "
                          (change)="changetype($event)" aria-label="Select an option">
                          <mat-radio-button value="P" checked>{{'preventive' | translate}}</mat-radio-button>
                          <mat-radio-button class="ml-2" value="B">{{'breakdown' | translate}}</mat-radio-button>
                          <mat-radio-button class="ml-2" value="C">{{'calibration' | translate}}</mat-radio-button>
                          <mat-radio-button class="ml-2" value="A">{{'amc' | translate}}</mat-radio-button>
                        </mat-radio-group>
                      </div>
                      <div class="col-md-4 bd-highlight w-100" style="text-align: right"
                        *ngIf="routeAction == 'edit' || routeAction == 'view'">
                        <button type="button" class="btn btn-sm rounded btn-info waves-effect waves-light"
                          (click)="statuspopup()">{{'viewstatus' | translate}}</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex- row">
                  <div class="col-md-12 tab-content m-t-10" id="pills-tabContent">
                    <div class="card-body purchase-order px-0 py-2">
                      <div class="form-inline">
                        <div class="row col-md-12 mb-1">
                          <div class="col-md-4 form-group">
                            <label *ngIf="routeAction == 'new'" for="inputEmail4"
                              class="col-md-6 text-right">{{'lastmtno' | translate}}</label>
                            <label *ngIf="routeAction != 'new'" for="inputEmail4"
                              class="col-md-6 text-right">{{'mtno' | translate}}</label>
                            <div class="col-md-6">
                              <input type="text"
                                class="w-100 form-control form-control-sm tdAlign readonly-disable text-right" name="MTNO"
                                [(ngModel)]="MTNO" [ngModelOptions]="{standalone: true}"
                                 readonly="true">
                            </div>
                          </div>
  
                          <div class="col-md-2 form-group pl-0">
                            <label
                              class="col-md-3 text-right nowrap error-control-label required pl-0">{{'dated' | translate}}</label>
                            <div class=" col-md-9 pr-0">
                              <mat-form-field class="w-100 form-control py-1 mat-form-field-date-picker">
                                <input matInput [matDatepicker]="picker" [min]="lastmoDate" [max]="date" name="mtdate"
                                  [(ngModel)]="newData.MTDATE" [ngModelOptions]="{standalone: true}" readonly>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker disabled="false"></mat-datepicker>
                              </mat-form-field>
                            </div>
                          </div>
  
                          <div class="col-md-2 form-group pl-0">
                            <label for="inputEmail4" class="col-md-4 text-right nowrap p-0">{{'time' | translate}}</label>
                            <div class="col-md-8 pl-1">
                              <input [owlDateTime]="dt1" [(ngModel)]="newData.MTTIME" class="form-control form-control-sm w-100" [ngModelOptions]="{standalone: true}" readonly>
                              <button type="button" class="fas fa-clock custom-clock-class" [owlDateTimeTrigger]="dt1"></button>
                              <owl-date-time [pickerType]="'timer'" #dt1></owl-date-time>
                            </div>
                          </div>
  
                          <div class="col-md-4 form-group">
                            <label for="inputEmail4"
                              class="col-md-5 text-right error-control-label required">{{'fromdept' | translate}}</label>
                            <div class="col-md-7">
                              <ngx-select class="w-100 ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"
                                name="deptname" [allowClear]="true" [(ngModel)]="newData.MTDEPTID"
                                [ngModelOptions]="{standalone: true}" [items]="deptDDArray" optionValueField="DEPTID"
                                optionTextField="DEPTNAME" (selectionChanges)="selectdept($event)">
                              </ngx-select>
                            </div>
                          </div>
                        </div>
  
                        <div class="row col-md-12 mb-1">
                          <div class="col-md-8 form-group">
                            <label class="col-md-3 text-right">{{'problemtype' | translate}}</label>
                            <div class="col-md-9 mb-1 p-0">
                              <mat-radio-group [(ngModel)]="newData.MTCATG" [ngModelOptions]="{standalone: true}"
                                mat-radio-group class="mx-4 mat-radio-label d-flex align-items-center"
                                aria-label="Select an option" (change)="changeproblemtype($event)">
                                <mat-radio-button value="M" checked>{{'machinerelated' | translate}}</mat-radio-button>
                                &nbsp; &nbsp;
                                <mat-radio-button class="ml-4" value="G">{{'generalasset' | translate}}</mat-radio-button>
                                &nbsp; &nbsp;
                                <mat-radio-button class="ml-4" value="C">{{'customermachine' | translate}}
                                </mat-radio-button>
                              </mat-radio-group>
                            </div>
                          </div>
  
                          <div class="col-md-4 form-group">
                            <label for="inputEmail4"
                              class="col-md-5 text-right nowrap error-control-label required pl-0">{{'fromemployee' | translate}}</label>
                            <div class="col-md-7">
                              <ngx-select class="w-100 ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"
                                name="empname" [allowClear]="true" [(ngModel)]="newData.MTTEMPID"
                                [ngModelOptions]="{standalone: true}" [items]="employeeDDArray" optionValueField="EMPID"
                                optionTextField="NAME" (select)="selectuser(newData)">
                              </ngx-select>
                            </div>
                          </div>
                        </div>
                        <div class="row col-md-12 mb-1">
                          <div class="col-md-4 form-group" *ngIf="!showcustmachine">
                            <label
                              class="col-md-6 text-right error-control-label required">{{'machinecategory' | translate }}</label>
                            <div class="col-md-6 ">
                              <ngx-select class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"
                                name="mccatgid" [allowClear]="true" [(ngModel)]="newData.MCCATGID"
                                [ngModelOptions]="{standalone: true}" [items]="mccatgDDArray" optionValueField="MACHINETYPEID"
                                optionTextField="MACHINETYPE" (selectionChanges)="selectmccatg($event)">
                              </ngx-select>
                            </div>
                          </div>
                          <div class="col-md-4 form-group" *ngIf="showcustmachine">
                            <label
                              class="col-md-6 text-right nowrap error-control-label required">{{'customermachine' | translate }}</label>
                              <div class="col-md-6">
                              <input (keyup)="searchTermCustomer($event.target.value)" name="customername"
                                [(ngModel)]='newData.customername' [ngModelOptions]="{standalone: true}"
                                [value]="newData.customername || ''" autocomplete="off"
                                class="w-100 form-control error-border form-control-sm">
                              <button type="button" class="close-icon" (click)="reset(newData)" style="position: absolute !important;
                              padding-top: 18px;"></button>
                              <div *ngIf="arrayItemCustomer != ''" class="search-list-header">
                                <div class="example-loading-shade" *ngIf="isLoading">
                                  <mat-spinner [diameter]="20" *ngIf="isLoading">
                                  </mat-spinner>
                                </div>
                                <table id="selectedValue" class="table table-condensed table-striped table-hover">
                                  <tr class="ui-menu-item" role="menuitem">
                                    <th>{{'name' | translate}}</th>
                                    <th>{{'address' | translate}}</th>
                                  </tr>
                                  <tr class="ui-menu-item" role="menuitem" *ngFor="let result of photosBuffer"
                                    (click)="onChangeOfItemCodeCustomer(result, newData)">
                                    <td>{{ result.NAME }}</td>
                                    <td>{{ result.ADDRESS1 }},
                                 </td>
                                  </tr>
                                </table>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 form-group">
                            <label for="inputEmail4"
                              class="col-md-4 text-right nowrap error-control-label required">{{'machinename' | translate}}</label>
                            <div class="col-md-8 pl-3">
                              <ng-select class="form-control custom-maintenance-machine-class custom-slect-box error-border form-control-sm w-100 ng-select-oa"
                                [(ngModel)]="newData.MTASSETID" [ngModelOptions]="{standalone: true}" (change)="selectmcname(newData)"
                                name="mtassetid" [virtualScroll]="true" [items]="mcmstDDArray" bindLabel="MACHINENAME" bindValue="MACHINEID"
                                dropdownPosition="bottom" placeholder="Select Machine">
                                <ng-template ng-header-tmp class="ng-template-oa-class">
                                    <table > 
                                        <tr>
                                            <th style="width:385px;"> {{'machine' | translate}} </th>
                                            <th style="width:90px;"> {{'srno' | translate}} </th>
                                        </tr>
                                        <ng-template ng-option-tmp let-item="item">
                                            <tr>
                                                <td style="width:420px;">
                                                    <span class="text-truncate d-block" style="width: 100%;">{{item.MACHINENAME}}</span>
                                                </td>
                                                <td style="width:90px;"> 
                                                    <span class="custom-elipsis"  style="width: 100%;">{{item.MACHINEID}}</span>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </table>
                                </ng-template>
                              </ng-select>
                            </div>
                          </div>
  
                          <div class="col-md-4 form-group">
                            <label for="inputEmail4"
                              class="col-md-5 text-right error-control-label required">{{'requiredby' | translate}}</label>
                            <div class="col-md-7">
                              <mat-form-field class="w-100 form-control py-1 mat-form-field-date-picker">
                                <input matInput [matDatepicker]="picker1" [min]="date" name="mtduedate"
                                  [(ngModel)]="newData.MTDUEDATE" [ngModelOptions]="{standalone: true}">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1 disabled="false"></mat-datepicker>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
  
                        <div class="row col-md-12 mb-1">
                          <div class="col-md-8 form-group">
                            <label for="inputEmail4"
                              class="col-md-3 text-right">{{'problemdescription' | translate}}</label>
                            <div class="col-md-9 pl-1">
                              <textarea type="text" autosize
                                class="form-control form-control-sm text-area-custom-item w-100" name="mtproblem"
                                [(ngModel)]="newData.MTPROBLEM" [ngModelOptions]="{standalone: true}"
                                placeholder="{{'enterproblemdescription'| translate}}" maxlength="1000">
                            </textarea>
                            </div>
                          </div>
  
                          <div class="col-md-4 form-group">
                            <label class="col-md-5 text-right nowrap">{{'before' | translate}}</label>
                            <div class=" col-md-7">
                              <input [owlDateTime]="dt2" [(ngModel)]="newData.MTDUETIME" class="form-control form-control-sm w-100" [ngModelOptions]="{standalone: true}" readonly>
                              <button type="button" class="fas fa-clock custom-clock-class" [owlDateTimeTrigger]="dt2"></button>
                              <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>
                            </div>
                          </div>
                        </div>
  
                        <div class="row col-md-8 mb-1">
                          <!-- <div class="col-md-2"></div>
                          <div class="col-md-4 form-group">
                            <mat-checkbox (change)="Isdocumentclick($event)" [(ngModel)]="newData.mtdocuploaded"
                              [ngModelOptions]="{standalone: true}" name="mtdocuploaded" class="nowrap">
                              {{'anydocuploaded' | translate}}</mat-checkbox>
                          </div>
                          <div class="col-md-3 form-group" *ngIf="showuploadbtn">
                            <label class="col-md-6 text-right nowrap p-0">{{'documentimage'| translate}}</label>
                            <div class="col-md-6 pl-4">
                              <input type='file' name="itemimage" [(ngModel)]="newData.itemimage"
                                [ngModelOptions]="{standalone: true}" #file (change)="upload(file.files)">
                            </div>
                          </div> -->
                        </div>
  
                        <div class="col-md-4 form-group">
                          <label for="inputEmail4" class="col-md-5 text-right error-control-label required">{{'priority' | translate}}</label>
                          <div class="col-md-7">
                            <ngx-select class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"
                              name="mtpriority" [allowClear]="true" [(ngModel)]="newData.MTPRIORITYID"
                              [ngModelOptions]="{standalone: true}" [items]="priorityDDArray" optionValueField="ID"
                              optionTextField="PRIORITY" (select)="selectuser(newData)">
                            </ngx-select>
                          </div>
                        </div>
                      </div>
  
                    </div>
                  </div>
                </div>
  
              </div>
              <div class="modal-footer">
                <!-- <button class="btn btn-sm btn-secondary rounded bg-danger"
                  *ngIf="routeAction == 'edit' || routeAction == 'view' || routeAction == 'new'"
                  routerLink="/maintenance-ticket">{{'cancel' | translate}}</button> &nbsp;
                <button class="btn btn-sm btn-secondary rounded bg-danger" *ngIf="routeAction == 'mchistory'"
                  routerLink="/machine-history">{{'cancel' | translate}}</button> &nbsp;
                <button class="btn btn-sm btn-secondary rounded bg-danger" *ngIf="routeAction == 'mtregister'"
                  routerLink="/maintenance-reports/print-maint-report/mt-register">{{'cancel' | translate}} </button>
                &nbsp; -->
                <button class="btn btn-sm btn-secondary rounded bg-danger" (click)="back()" >{{'cancel' | translate}} </button>
                &nbsp;
                <button *ngIf="routeAction == 'new'" [disabled]="isLoadingResults" class="btn btn-sm btn-info rounded"
                  (click)="validateBeforeSave(newData, 'Insert')">{{'save' | translate}}</button>
                <button *ngIf="routeAction == 'edit'" [disabled]="isLoadingResults" class="btn btn-sm btn-info rounded"
                  (click)="validateBeforeSave(newData, 'Update')">{{'update' | translate}}</button>
                <!-- <button *ngIf="routeAction == 'new'" [disabled]="isLoadingResults" class="btn btn-sm btn-info rounded"
                  (click)="validateBeforeSave(newData, 'Submit')">{{'submit' | translate}}</button> -->
  
              </div>
            </div>
          </div>
        </form>
        <app-footer></app-footer>
      </div>
    </div>
  </div>