<div class="preloader" style="display: none;">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>
  <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
  
    <div class="page-wrapper">
      <div class="container-fluid" style="background:#dcdcdc;">
        <div class="row">
          <div class="col-md-12">
            <div class="card" style="border-top: 2px solid #0e43af;box-shadow:0 1px 3px rgba(0,0,0,.3);">
              <div class="card-body border-bottom py-2">
                <div class="d-md-flex align-items-center">
                  <h4 class="card-title m-0">{{'maintenanceticket'| translate}}</h4>
                  <div class="form-group mx-4 mb-2">
                    <button type="submit" class="btn btn-sm rounded btn-info waves-effect waves-light"
                      [routerLink]="['/add-maintenance-ticket/0/new']"><i
                        class="ti-plus"></i>&nbsp;{{'new' | translate }}</button>
                  </div>
                  <!-- <div class="form-group mx-4 mb-1">
                    <span class="d-flex">
                      <input type="text" class="form-control form-control-sm search-box" [(ngModel)]="name"
                        [ngModelOptions]="{standalone: true}" placeholder="{{'search'|translate}}"
                        (keyup.enter)="applyFilter(name)">
                      <button class="close-icon" (click)="reset(name)"></button>
                      <button type="submit" class="btn btn-sm rounded btn-info waves-effect waves-light ml-1"
                        style="overflow: visible;" (click)="applyFilter(name)">{{'search'|translate}}</button>
                    </span>
                  </div> -->
                  <div class="form-group row col-md-6 mx-4 mb-1"> 
                    <div class="col-md-4 ml-2">
                      <ngx-select
                          class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"
                          name="enqtype" (select)="changefilter()" [(ngModel)]="enqtype"
                          [ngModelOptions]="{standalone: true}" [items]="filterarray"
                          optionValueField="id" optionTextField="name" (selectionChanges)="enqTypeChangeFunction($event)">
                      </ngx-select>
                  </div>
      
                  <!-- <div *ngIf="enqtype=='maintorderno'" class=" d-flex col-md-4  ">
                  
                    <input type="text" class="form-control form-control-sm search-box" [(ngModel)]="name"
                      [ngModelOptions]="{standalone: true}" placeholder="Mo. No." (ngModelChange)="clearFilter($event)"
                      (keyup.enter)="applyFilter(name)"
                      oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1')">
                  
                  
                    <button class="close-icon" *ngIf="showreset==true" (click)="reset('name')"></button>
                  </div> -->
                  <div *ngIf="enqtype=='name'" class=" d-flex col-md-5 ">
                  
                    <input type="text" class="form-control form-control-sm search-box" [(ngModel)]="productname"
                      [ngModelOptions]="{standalone: true}" placeholder="Machine Name" (ngModelChange)="clearFilter($event)"
                      (keyup.enter)="applyFilter(productname)">
                  
                    <button class="close-icon" *ngIf="showreset==true" (click)="reset('productname')"></button>
                  
                  </div>
                  <div *ngIf="enqtype=='maintticketno'" class=" d-flex col-md-5  ">
                  
                    <input type="text" class="form-control form-control-sm search-box" [(ngModel)]="ticketname"
                      [ngModelOptions]="{standalone: true}" placeholder="Ticket No." (ngModelChange)="clearFilter($event)"
                      (keyup.enter)="applyFilter(ticketname)"
                      oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1')">
                  
                  
                    <button class="close-icon" *ngIf="showreset==true" (click)="reset('ticketname')"></button>
                  </div>
                <div class="col-md-2">
                    <span class="d-flex ">
                  
                      <!-- <button *ngIf="enqtype=='maintorderno'" type="submit"
                        class="btn btn-sm rounded btn-info waves-effect waves-light ml-1" style="overflow: visible;"
                        (click)="applyFilter(name)">{{'search'|translate}}</button> -->
                      <button *ngIf="enqtype=='name'" type="submit" class="btn btn-sm rounded btn-info waves-effect waves-light ml-1"
                        style="overflow: visible;" (click)="applyFilter(productname)">{{'search'|translate}}</button>
                        <button *ngIf="enqtype=='maintticketno'" type="submit" class="btn btn-sm rounded btn-info waves-effect waves-light ml-1"
                        style="overflow: visible;" (click)="applyFilter(ticketname)">{{'search'|translate}}</button>
                    </span>
                  </div>
                  </div>  
                </div>
              </div>
              <div class="row">
                <div class="card-body border-bottom py-2 mb-2 ml-1">
                  <form class="form-inline mx-0">
  
                    <div class="form-group mx-5 ">
                      <mat-radio-group mat-radio-group class="mat-radio-label d-flex align-items-center "
                        (change)="changetype($event)" aria-label="Select an option">
                        
                        <mat-radio-button value="open" checked>{{'open' | translate}}</mat-radio-button>&nbsp;&nbsp;
                        <mat-radio-button value="closed">{{'closed' | translate}}</mat-radio-button>&nbsp;&nbsp;
                        <mat-radio-button value=" " >{{'all' | translate}} </mat-radio-button>&nbsp;&nbsp;
                      </mat-radio-group>
                    </div>
                    <div class="form-group mr-1">
                      <label>{{'fromdate' | translate}}</label>&nbsp;<span></span>
                    </div>
                    <div class="form-group mr-1">
                      <mat-form-field class="form-control py-1 mat-form-field-date-picker" style="width: 105px;">
                        <input matInput [matDatepicker]="picker" [min]="fystartdate" [max]="fyenddate"
                         [(ngModel)]="newData.fromdate"
                          [ngModelOptions]="{standalone: true}" readonly>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
  
                    <div class="form-group mr-1">
                      <label>{{'todate' | translate}}</label>&nbsp;<span></span>
                    </div>
                    <div class="form-group mr-1">
                      <mat-form-field class="form-control py-1 mat-form-field-date-picker" style="width: 105px;">
                        <input matInput [matDatepicker]="picker1" [min]="newData.fromdate" [max]="fyenddate"
                         [(ngModel)]="newData.todate"
                          [ngModelOptions]="{standalone: true}" readonly>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="form-group w-auto p-0 mr-3">
                      <button class="btn btn-sm rounded btn-info waves-effect waves-light"
                        (click)="applydateFilter(newData)"><i class="fa fa-filter"></i></button>
                    </div>
                    <!-- <div class="form-group col-md-2">
                      <span class="d-flex">
                        <ngx-select
                          class="ngx-custom-select-dropdown ngx-custom-category-select ngx-custom-select-dropdown-text-wrap"
                          placeholder="Select Status" [allowClear]="true" [items]="statusarray" optionValueField="id"
                          optionTextField="mostatus" (selectionChanges)="changeStatus($event)">
                        </ngx-select>
                      </span>
                    </div> -->
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- ============================================================== -->
          <!-- Sales chart -->
          <!-- ============================================================== -->
  
          <!-- ============================================================== -->
          <!-- Ravenue - page-view-bounce rate -->
          <!-- ============================================================== -->
          <div class="col-md-12">
            <!-- column -->
            <div class="d-flex justify-content-between align-items-stretch w-100 boxed-layout">
              <div class="w-100">
                <div class="example-loading-shade" *ngIf="isLoadingResults ">
                  <mat-spinner [diameter]="40" *ngIf="isLoadingResults"></mat-spinner>
                </div>
                <div class="card example-container" style="box-shadow:0 1px 3px rgba(0,0,0,.3);">
                  <table mat-table [dataSource]="ticketArray" matSort [matSortDisableClear]="true"
                    class="table table-sm table-striped w-100 mb-0 mat-table" #table>
  
                    <!-- mtno Column -->
                    <ng-container matColumnDef="mtno">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header
                        class="py-1 font-weight-bold text-dark sticky-cell"
                        style="text-align:center;width:2%;white-space: nowrap;"> <a
                          style="color: #0e43af !important">{{'mtno'|translate}} </a></th>
                      <td mat-cell *matCellDef="let element" style="text-align:center;">
                        {{element.MTNO}}</td>
                    </ng-container>
  
                    <!-- mtdelaydays Column -->
                    <!-- <ng-container matColumnDef="mtdelaydays">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header
                        class="py-1 font-weight-bold text-dark sticky-cell nowrap" style="text-align:right;width: 1%;"> <a
                          style="color: #0e43af !important">{{'delaydays'|translate}} </a></th>
                      <td mat-cell *matCellDef="let element" style="text-align:right;padding-right: 15px;">
                        <button _ngcontent-apt-c3="" class="ui-button-rounded ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" 
                        pbutton="" type="button" style="width: auto"><span class="ui-button-text ui-clickable">
                          {{element.mtdelaydays}}</span></button>
                         </td>
                    </ng-container> -->
  
                    <!-- mtdate Column -->
                    <ng-container matColumnDef="mtdate">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header
                        class="py-1 font-weight-bold text-dark sticky-cell"
                        style="text-align:left;width: 18;"> <a
                          style="color: #0e43af !important">{{'dated'|translate}} </a></th>
                      <td mat-cell *matCellDef="let element" style="text-align:left;width: 8%;">
                        {{element.MTDATE | date:'dd/MM/yyyy'}}</td>
                    </ng-container>
  
                    <!-- MachineName Column -->
                    <ng-container matColumnDef="MachineName">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header
                        class="py-1 font-weight-bold text-dark sticky-cell" style="text-align:left;"> <a
                          style="color: #0e43af !important">{{'asset'|translate}} </a></th>
                      <td mat-cell *matCellDef="let element" style="text-align:left;"> {{element.MACHINENAME}} </td>
                    </ng-container>
  
                    <!-- mtduedate Column -->
                    <ng-container matColumnDef="mtduedate">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header
                        class="py-1 font-weight-bold text-dark sticky-cell" style="text-align:center;padding-left: 5px;">
                        <a style="color: #0e43af !important">{{'duedate'|translate}}</a> </th>
                      <td mat-cell *matCellDef="let element" style="text-align:center;width: 8%;">
                        {{element.MTDUEDATE | date:'dd/MM/yyyy'}} </td>
                    </ng-container>
  
                    <!-- mono Column -->
                    <ng-container matColumnDef="mono">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header
                        class="py-1 font-weight-bold text-dark sticky-cell" style="text-align:center;width: 7%;"> <a
                          style="color: #0e43af !important">{{'mono'|translate}} </a></th>
                      <td mat-cell *matCellDef="let element" style="text-align:center;">
                        {{element.MONO}}</td>
                    </ng-container>
  
                    <!-- modate Column -->
                    <ng-container matColumnDef="modate">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header
                        class="py-1 font-weight-bold text-dark sticky-cell" style="text-align:center;width: 8%;"> <a
                          style="color: #0e43af !important">{{'modate'|translate}} </a></th>
                      <td mat-cell *matCellDef="let element" style="text-align:center;padding-right: 10px;">
                        {{element.MODATE | date:'dd/MM/yyyy'}} </td>
                    </ng-container>
  
                    <!-- mtassetlocation Column -->
                    <ng-container matColumnDef="mtassetlocation">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header
                        class="py-1 font-weight-bold text-dark sticky-cell" style="width:12%;text-align:left;"> <a
                          style="color: #0e43af !important">{{'location'|translate}} </a></th>
                      <td mat-cell *matCellDef="let element" style="text-align:left;"> {{element.MTASSETLOCATION}} </td>
                    </ng-container>
  
                    <!-- empname Column -->
                    <ng-container matColumnDef="empname">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header
                        class="py-1 font-weight-bold text-dark sticky-cell" style="width:10%;text-align:left;"> <a
                          style="color: #0e43af !important">{{'complaintby'|translate}} </a></th>
                      <td mat-cell *matCellDef="let element" style="text-align:left;"> {{element.EMPNAME}} </td>
                    </ng-container>
  
                    <!-- deptname Column -->
                    <ng-container matColumnDef="deptname">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header
                        class="py-1 font-weight-bold text-dark sticky-cell" style="width:2%;text-align:left;"> <a
                          style="color: #0e43af !important">{{'department'|translate}} </a></th>
                      <td mat-cell *matCellDef="let element" style="text-align:left;"> {{element.DEPTNAME}} </td>
                    </ng-container>
  
                    <!-- mtcatg Column -->
                    <ng-container matColumnDef="mtcatg">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header
                        class="py-1 font-weight-bold text-dark sticky-cell" style="width:2%;text-align:left;"> <a
                          style="color: #0e43af !important">{{'problemtype'|translate}} </a></th>
                      <td mat-cell *matCellDef="let element" style="text-align:left;"> {{element.MTCATG}} </td>
                    </ng-container>
  
                    <!-- mtdelaydays Column -->
                    <ng-container matColumnDef="mtdelaydays">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header
                        class="py-1 font-weight-bold text-dark sticky-cell nowrap" style="width: 1%;"> <a
                          style="color: #0e43af !important">{{'delaydays'|translate}} </a></th>
                      <td mat-cell *matCellDef="let element" style="text-align:center;padding-right: 15px;">
                        {{element.MTDELAYDAYS}} </td>
                    </ng-container>
  
                    <!-- mtstatus Column -->
                    <ng-container matColumnDef="mtstatus">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header
                        class="py-1 font-weight-bold text-dark sticky-cell" style="text-align:left;"><a
                          style="color: #0e43af !important">{{'status'|translate}}</a> </th>
                      <td mat-cell *matCellDef="let element" style="text-align:left;"> {{element.TICKETSTATUS}} </td>
                    </ng-container>
  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true" class="bg-light"
                      style="height:auto;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="height:auto;"
                      (dblclick)="editMaintenace(row)"></tr>
                  </table>
  
                  <mat-paginator class="mat-paginator-sticky sticky-cell" (page)="getUpdate($event)"
                    [length]="resultsLength" [pageSize]="20" [pageSizeOptions]="[ 20, 50, 100]" showFirstLastButtons>
                  </mat-paginator>
  
  
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-footer></app-footer>
      </div>
    </div>
  </div>