<!-- 
<div class="preloader" style="display: none;">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>

<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
 <header class="topbar" data-navbarbg="skin6">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header" data-logobg="skin2">
             <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                 <a class="navbar-brand">
                   <b class="logo-icon">
                     <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo">
                     <img src="assets/images/Logo.png" alt="homepage" class="light-logo" width="30">
                   </b>
                   <span class="logo-text">
                       <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo">
                       <img src="assets/images/LogoO.png" class="light-logo" alt="homepage" width="120">
                    </span>
                </a>
                <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
            </div>
            <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin6">
               <ul class="navbar-nav float-left mr-auto">
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar">
                            <i class="mdi mdi-menu font-24"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <ul id="secondary-menu" class="list-inline py-2 w-100 text-light mt-3">
                            <li class="list-inline-item"><strong>{{CompanyName}} </strong></li>
                            <li class="list-inline-item divider">|</li>
                            <li class="list-inline-item"><strong>FY : {{FinancialYearStartDate|date:"yyyy"}}-{{FinancialYearEndDate|date:"yy"}} </strong></li>
                            <li class="list-inline-item divider">|</li>
                            <li class="list-inline-item"><strong>Working Date : {{WorkingDate| date : "MMMM d, y"}}</strong></li>
                        </ul>
                    </li>
                </ul>
                <ul  class="navbar-nav float-right align-items-center">
                   <li class="nav-item dropdown">
                        <div class="user-profile d-flex no-block dropdown m-t-20 mt-0 p-2">
                            <div class="user-content hide-menu">
                                <a href="javascript:void(0)" class="d-flex" id="Userdd" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="user-pic mr-2"><img src="assets/images/users/{{LoginUser}}.jpg" alt="users" class="rounded-circle" width="40"></div>
                                    <div>
                                    <h6 class="m-b-0 user-name font-medium">{{UserName}} <i class="fa fa-angle-down"></i></h6>
                                    <span class="op-5 user-email"></span>
                                    </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY" aria-labelledby="Userdd">
                                    <span class="with-arrow"><span class="bg-white"></span></span>
                                    <a class="dropdown-item" style="cursor: pointer !important;" (click)="openDialog()"><i class="ti-user m-r-5 m-l-5"></i> My Profile</a>
                                    <a class="dropdown-item"  style="cursor: pointer !important;" (click)="ChangePassword()" ><i class="ti-settings m-r-5 m-l-5"></i> Change Password</a>
                                    <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email m-r-5 m-l-5"></i> Inbox</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item"  style="cursor: pointer !important;" (click)="changeLogIn()"><i class="ti-user m-r-5 m-l-5"></i> Change Login</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item"  style="cursor: pointer !important;" (click)='logoutClick();'><i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
                                    <div class="dropdown-divider"></div>
                                    <div class="p-l-30 p-10"><a href="javascript:void(0)" class="btn btn-sm btn-success btn-rounded">View Profile</a></div>
                                </div>
                            </div>
                        </div>

                    </li>
              </ul>
            </div>
        </nav>
    </header>

 
    <aside class="left-sidebar" data-sidebarbg="skin5">
        <div class="scroll-sidebar ps-container ps-theme-default" data-ps-id="09021c47-e9f2-1ee5-0dc0-f7c7577627bd">

            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <p-panelMenu class="menu-custom-class" [multiple]="false" [transitionOptions]="'0ms'" [model]="items" [style]="{'width':'300px'}"></p-panelMenu>    
              </ul>
            </nav>
            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;">
                <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
            </div>
        </div>
    </aside>
    <div class="page-wrapper">
        <div class="container-fluid" style="background:#f3f2f2c9;">
            
            <router-outlet></router-outlet>
            <footer class="footer text-center py-1">
                All Rights Reserved. Designed and Developed by Asterisks Infosystem.
            </footer>
         
        </div>
    </div>

</div> -->

<!-- <div class="preloader" style="display: none;">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
   
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full"> -->
    
        <!-- <div class="video">
            <video controls  #videoPlayer>
                <source src="https://youtu.be/G9p-Kv4MH7Q" type="video/mp4" />
                Browser not supported
            </video>
        </div> -->

    
                <router-outlet></router-outlet>
      
    <!-- </div> -->