
       <div class="w-100 clearfix text-right pb-2 pr-2" id="printPageButton">
          <button class="btn btn-primary btn-sm rounded waves-effect waves-light customButton" (click)="print()">{{'print'| translate}}</button>
          <button class="btn btn-primary btn-sm rounded waves-effect waves-light customButton" (click)="pdf.saveAs('Die-Planning-Print.pdf')"  ><i class="ti-download"></i>&nbsp;{{'downloadpdf'| translate}}</button>
          <button class="btn btn-primary btn-sm rounded waves-effect waves-light customButton"  mat-dialog-close>
          <span aria-hidden="true"> &nbsp;&times; &nbsp;</span>
          </button>
       </div>
       <div class="example-container mat-elevation-z8">
        <div class="example-loading-shade"
             *ngIf="isLoadingResults ">
           <mat-spinner  [diameter]="40" *ngIf="isLoadingResults"></mat-spinner> 
          </div>
        </div>
        <div class="example-loading-shade" *ngIf="isLoadingResults ">
            <mat-spinner [diameter]="60" *ngIf="isLoadingResults"></mat-spinner>
          </div>
       <kendo-pdf-export #pdf paperSize="A4" [scale]="0.6" [margin]="{top: 20, bottom: 50, right: 10, left: 10}" [repeatHeaders]="repeatHeaders">
                    
        <div class="row" id="ravinderpal">

          <div class="col-12">
             <div class="card" >
                  <div class="custom-invoice" >
                  <!-- <div class="header">
                    <h4>{{companyName}}</h4>
                    <h5>{{Address1}}</h5>
                    <h5>{{Address2}}</h5>
                      
                  </div> -->
                  <header style="width: 100%;">
          

                    <!-- <hr> -->
                   <table style="width: 100%;" >
                    <tr>
                       <td colspan="2" style="font-size: 16pt;font-weight: 700;">
                        <b>{{companyName}}</b>
                       </td> 
                    </tr>
                    <tr>
                      <td colspan="2" style="font-size: 13pt;font-weight: 700;">
                       <b>{{Address1}}</b>
                      </td> 
                    </tr>
                    <tr>
                      <td colspan="2" style="font-size: 13pt;font-weight: 700;">
                       <b>{{Address2}}</b>
                      </td> 
                    </tr>
                     <tr>
                       <td style="width: 50%;"> <b>Plan No.</b> {{PlanNo}}</td>
                       <td style="width: 50%;">  <b>Plan Date</b> {{fendDate}}</td>
                     </tr>
                
                   </table>
                 </header>
                 <!-- <footer style="width: 100%;">
                   <hr>
                </footer> -->

   
                        <table class="w-100"  cellspacing="0" cellpadding="0" border="1">
                            <thead>
                            <tr>
                              <td style="width: 15px;font-weight: 400;" rowspan="2">Sr.</td>
                              <td rowspan="2" style="width: 80px;font-weight: 400;">Press No. </td>
                              <td rowspan="2" style="width: 60px;font-weight: 400;">IPO No.</td>
                              <td rowspan="2" style="width: 220px;font-weight: 400;">Name of Tool</td>
                              <td rowspan="2" style="width: 70px;font-weight: 400;">Grade</td>
                              <td rowspan="2" style="width: 70px;text-align: right;font-weight: 400;">Reqd.</td>
                              <td style="width: 140px;text-align: center;font-weight: 400;" colspan="2">Taken </td>
                              <td rowspan="2" style="width: 80px;text-align: right;font-weight: 400;">Balance </td>
                              <td rowspan="2" style="width: 80px;text-align: right;font-weight: 400;">Availiable Raw Mat.</td>
                              <td rowspan="2" style="width: 150px;font-weight: 400;">Next Tool to be Changed</td>
                              <td rowspan="2" style="width: 150px;font-weight: 400;">Next Tool to be Changed</td>
                              <td rowspan="2" style="width: 150px;font-weight: 400;">Remarks</td>
                            </tr>
                            <tr>
                                <td style="width: 70px;text-align: right;font-weight: 400;">Day</td>
                                <td style="width: 70px;text-align: right;font-weight: 400;">Night</td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of DiePlanningArrayList ; let i = index"> 
                              <td>
                                {{i+1}}
                              </td>
                              <td>{{item.MACHINENAME}}</td>
                              <td>{{item.IPONO}}</td>
                              <td style="width: 220px;">{{item.TOOL}}</td>
                              <td>{{item.METALGRADE}}</td>
                              <td style="width: 70px;text-align: right;">{{item.STROKESREQ}}</td>
                              <td style="width: 70px;text-align: right;">{{item.STROKESTAKEN}}</td>
                              <td style="width: 70px;text-align: right;">{{item.NEXTIPOID}}</td>
                              <td style="width: 80px;text-align: right;">{{item.STROKESBAL}}</td>
                              <td style="width: 80px;text-align: right;">{{item.AVAILIABLERM}}</td>
                              <td style="width: 150px;">{{item.NEXTTOOL}}</td>
                              <td style="width: 150px;">{{item.REMARKS}}</td>
                              <td style="width: 150px;">{{item.REMARKS1}}</td>
                            </tr>
                          </tbody>
                      </table>
                        
                          <!-- <footer style="width: 90%;">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin-left:10px;margin-right:10px;">
                    
                             <tr style=" border-top: 1px solid #cdd0d4;"> 
                               <td style="width: 25%;"><b>PPC-F-03</b></td>
                               <td style="text-align: center;width: 25%;"><b>Issue 01</b></td> 
                               <td style="text-align: center;"><b>Apr 1999</b></td> 
                               <td style="width: 25%; text-align: right;"><b>Issued By</b></td> 
                            </tr>
                            </table>
                          </footer> -->
                 
              </div>
         
          </div>
          </div>
        </div>
        </kendo-pdf-export>
      

    
<!-- 
        </div>
      </div>
      -->
      