
       <div class="w-100 clearfix text-right pb-2 pr-2" id="printPageButton">
        <button class="btn btn-primary btn-sm rounded waves-effect waves-light customButton" (click)="print()">{{'print'| translate}}</button>
        <button class="btn btn-primary btn-sm rounded waves-effect waves-light customButton" (click)="pdf.saveAs('Die-Planning-Print.pdf')"  ><i class="ti-download"></i>&nbsp;{{'downloadpdf'| translate}}</button>
        <button class="btn btn-primary btn-sm rounded waves-effect waves-light customButton"  mat-dialog-close>
        <span aria-hidden="true"> &nbsp;&times; &nbsp;</span>
        </button>
     </div>
     <div class="example-container mat-elevation-z8">
      <div class="example-loading-shade"
           *ngIf="isLoadingResults ">
         <mat-spinner  [diameter]="40" *ngIf="isLoadingResults"></mat-spinner> 
        </div>
      </div>
      <div class="example-loading-shade" *ngIf="isLoadingResults ">
          <mat-spinner [diameter]="60" *ngIf="isLoadingResults"></mat-spinner>
        </div>
     <kendo-pdf-export #pdf paperSize="A4" [scale]="0.6" [margin]="{top: 20, bottom: 50, right: 10, left: 10}" [repeatHeaders]="repeatHeaders">
                  
      <div class="row" id="ravinderpal">

        <div class="col-12">
           <div class="card" >
                <div class="custom-invoice" >
                <header style="width: 100%;">
                 <table style="width: 100%;" >
                  <tr>
                     <td colspan="2" style="font-size: 16pt;font-weight: 700;">
                      <b>{{companyName}}</b>
                     </td> 
                  </tr>
                  <tr>
                    <td colspan="2" style="font-size: 13pt;font-weight: 700;">
                     <b>{{Address1}}</b>
                    </td> 
                  </tr>
                  <tr>
                    <td colspan="2" style="font-size: 13pt;font-weight: 700;">
                     <b>{{Address2}}</b>
                    </td> 
                  </tr>

                  <tr>
                    <td  style="font-size: 13pt;font-weight: 700;width: 50%;">
                     <b>Hourly Die Status</b>
                    </td> 
                    <td style="width: 50%;">  <b>Dated</b> {{fendDate}}</td>
                  </tr>
              
                 </table>
               </header>
                      <table class="w-100"  cellspacing="0" cellpadding="0" border="1">
                         <thead>
                          <tr>
                            <td style="width: 15px;font-weight: 400;"><b>Sr.</b> </td>
                            <td style="width: 80px;font-weight: 400;"><b>Press No.</b> </td>
                            <td style="width: 220px;font-weight: 400;"><b>Name of Tool</b></td>
                            
                            <td style="width: 100px;font-weight: 400;text-align: center;"><b>Reading 1</b></td>
                            <td style="width: 100px;font-weight: 400;text-align: center;"><b>Reading 2</b></td>
                            <td style="width: 100px;font-weight: 400;text-align: center;"><b>Reading 3</b></td>
                            <td style="width: 100px;font-weight: 400;text-align: center;"><b>Reading 4</b></td>
                            <td style="width: 100px;font-weight: 400;text-align: center;"><b>Reading 5</b></td>
                            <td style="width: 100px;font-weight: 400;text-align: center;"><b>Reading 6</b></td>
                            <td style="width: 100px;font-weight: 400;text-align: center;"><b>Reading 7</b></td>
                            <td style="width: 100px;font-weight: 400;text-align: center;"><b>Reading 8</b></td>
                            <td style="width: 150px;font-weight: 400;text-align: center;"><b>Remarks</b></td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of DiePlanningArrayList ; let i = index" style="height:29px"> 
                            <td>
                              {{i+1}}
                            </td>
                            <td>{{item.MACHINENAME}}</td>
                            <td style="width: 220px;">{{item.TOOL}}</td>
                            <td style="width: 100px;font-weight: 400;"> &nbsp;</td>
                            <td style="width: 100px;font-weight: 400;"> &nbsp;</td>
                            <td style="width: 100px;font-weight: 400;"> &nbsp;</td>
                            <td style="width: 100px;font-weight: 400;"> &nbsp;</td>
                            <td style="width: 100px;font-weight: 400;"> &nbsp;</td>
                            <td style="width: 100px;font-weight: 400;"> &nbsp;</td>
                            <td style="width: 100px;font-weight: 400;"> &nbsp;</td>
                            <td style="width: 100px;font-weight: 400;"> &nbsp;</td>
                            <td style="width: 150px;font-weight: 400;"> &nbsp;</td>
                            
                          </tr>
                        </tbody>
                    </table>
            </div>
        </div>
        </div>
      </div>
      </kendo-pdf-export>
    
