/* @page { size: landscape; } */

@media print{@page {size:A4 landscape}}

.partyname{
    position: fixed;top: 293px;left: 390px;
    font-size: 14px;
    font-weight: bold;   
}
.chequeAmt{
    position: fixed;top: 328px;left: 430px;
    font-size: 12px;
    font-weight: bold;   
}
.chequeFigur{
    position: fixed;top: 345px;left: 932px;
    font-size: 17px;
    font-weight: bold;   
}

.payee{
    position: fixed;top: 430px;left: 650px;
    font-size: 16px;
    text-decoration: underline;
    font-weight: bold;   
}


.day1{
    position: fixed;top: 240px;left: 895px;
    font-size: 17px;
    font-weight: bold;   
}

.day2{
    position: fixed;top: 240px;left: 920px;
    font-size: 17px;
    font-weight: bold;   
}

.month1{
    position: fixed;top: 240px;left: 942px;
    font-size: 17px;
    font-weight: bold;   
}
.month2{
    position: fixed;top: 240px;left: 967px;
    font-size: 17px;
    font-weight: bold;   
}

.year1{
    position: fixed;top: 240px;left: 991px;
    font-size: 17px;
    font-weight: bold;   
}
.year2{
    position: fixed;top: 240px;left: 1014px;
    font-size: 17px;
    font-weight: bold;   
}

.year3{
    position: fixed;top: 240px;left: 1040px;
    font-size: 17px;
    font-weight: bold;   
}

.year4{
    position: fixed;top: 240px;left: 1063px;
    font-size: 17px;
    font-weight: bold;   
}


.accountno{
    position: fixed;top: 295px;left: 390px;
    font-size: 17px;
    font-weight: bold;   
}
.acname{
    position: fixed;top: 330px;left: 390px;
    font-size: 17px;
    font-weight: bold;   
}
.ifsc{
    position: fixed;top: 355px;left: 390px;
    font-size: 17px;
    font-weight: bold;   
}

.amount{
    position: fixed;top: 390px;left: 390px;
    font-size: 17px;
    font-weight: bold;   
}


.location{
    position: fixed;top: 425px;left: 390px;
    font-size: 17px;
    font-weight: bold;   
}

.bankname{
    position: fixed;top: 460px;left: 390px;
    font-size: 17px;
    font-weight: bold;   
}