<form >
  <div class="modal-header primary-bg py-2">
      <h6 class="p-2 mb-0" style="color:#fff;">Requirment Status for :-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Req No. : {{parentData.REQNO}}<br> Req Date : {{parentData.REQDATE|date:'d/M/y'}}</h6> 
  </div>
      <div class="modal-body" style="overflow-y:scroll;padding:0;max-width:950px;">
        <div class="table-scroll mx-1">
          <div class="card-body border-top supplier-master px-0 py-2" style="background: #ffffcf;min-height:470px;">
            <div class="example-loading-shade"
               *ngIf="isLoadingResults ">
            <mat-spinner  [diameter]="40" *ngIf="isLoadingResults"></mat-spinner> 
          </div>
        
        <div class="example-loading-shade" *ngIf="isLoadingResults ">
            <mat-spinner [diameter]="60" *ngIf="isLoadingResults"></mat-spinner>
          </div>
            <table class="table table-striped custom-table tr th">
              <thead>
                <tr>
                  <th style="width: 100px; text-align: right;padding-right: 10px;">Item Code</th>
                  <th style="width: 200px;">Item Name</th>
                  <th style="text-align: right; width: 80px;">Req. Qty </th>
                  <th style="text-align: right; width: 80px;">ssued Qty </th>
                  <th style="text-align: right; width: 80px;">Indent Qty</th>
                  <th style="width: 250px;padding-left: 10px;">Remarks</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let staff of itemDetail">
                  <td class="text-right" style="padding-right: 10px;"><em>{{staff.ITEMCODE}}</em></td>
                  <td class="text-left"><em>{{staff.ITEMNAME}}</em></td>
                  <td class="text-right"><em>{{staff.REQUESTEDQTY}}</em></td>
                  <td class="text-right"><em>{{staff.ISSUEDQTY}}</em></td>
                  <td class="text-right"><em>{{staff.INDENTQTY}}</em></td>
                  <td class="text-left" style="padding-left: 10px;"><em>{{staff.REMARKS}}</em>
                    <br>
                    <table>
                      <tr  *ngFor="let el of staff.Detail">
                         <td> <b>Indent No:</b> <a style="color: #0e43af !important" (click)="printIndent(el.INDENTID)">{{el.INDENTNO}}</a></td> 
                         <td> <b>Order No:</b> {{el.ORDERNO}}</td> 
                         <td> <b>MRIR No:</b> {{el.INWARDNO}}</td> 
                      </tr>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="col-sm-12">
              <div class="col-sm-10" style="text-align: right;">
                <button  type="button" class="btn btn-primary" (click)="OkDialog()">Ok</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>