
<div class="modal-header">
  <h4 class="modal-title">Alert</h4>
   
  </div>
  <div class="modal-body" style="min-width: 500px;">
      {{msg}}
      <br>
      <table *ngIf="dailogType=='OTP'" style="width: 100%;">
        <tr>
          <td style="width: 30%; text-align: right;">Mobile</td>
          <td  style="width: 70%;"><input type="text" id="Mobile"  [(ngModel)]="Mobile"  [ngModelOptions]="{standalone: true}" (change)="onChange()"/> </td>
        </tr>
          <tr>
            <td></td>
            <td (click)="resendotp()"> <a style="color: #0e43af !important;cursor: pointer !important;">  Send OTP </a> </td>
          </tr>
          <tr>
            <td style="width: 30%; text-align: right;">OTP</td>
            <td  style="width: 70%;"><input type="text" id="otp"  [(ngModel)]="OTP"  [ngModelOptions]="{standalone: true}" (change)="onChange()"/> </td>
          </tr>
          <tr>
            <td style="width: 30%; text-align: right;">GSTIn</td>
            <td  style="width: 70%;"><input type="text" id="GSTIn"  [(ngModel)]="GSTIn"  [ngModelOptions]="{standalone: true}" /> </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: center;color: red;">{{errormsg}}</td>
          </tr>
      </table>
      
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" mat-dialog-close>Cancel</button>
    <button type="button" class="btn btn-primary" (click)="allClose()">Ok</button>
  </div>