<form >
    <div class="modal-header primary-bg py-2">
        <button class="close text-white" mat-dialog-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="scroll-spy px-3 pb-3" style="height:400px; width: 800px">
        <div class="example-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner  [diameter]="40" *ngIf="isLoadingResults"></mat-spinner>
       </div>

          <div class="card-body border-top item-master px-0 py-2">
          <div class="form-inline">
              <!-- <div class="form-group row col-12 mb-2 required"> -->
                  <div class="form-group row col-12 mb-2 ">  
                      <div class="col-sm-12 ">
                       <b>{{newData.NAME}}</b>  
                      </div>
                    </div>
                   
                    <div class="form-group row col-12 mb-2 ">  
                        <div class="col-sm-12 ">
                         <b>Payment : {{newData.BALANCEAMT}}</b>  
                        </div>
                      </div>


              <div class="form-group row col-12 mb-2 ">  
             
                <div class="table-scroll mx-1">
                       
                    <div class="card-body border-top indent-entry px-0 py-2">
                       
                            <table class="table table-striped custom-table tr th w-100" style="height:300px">
                                <thead>
                                    <tr style="background-color: #666666; color: #ffffff;">
                                        <th  style="width:40%;">Bank A/c</th>
                                        <th scope="col" style="width:15%; text-align:right;">Amount</th>
                                        <th scope="col" style="width:15%;">Cheque No.</th>
                                        <th scope="col" style="width:15%;">Dated</th>
                                        <th scope="col" style="width:15%;">Name on Ch.</th>
                                     
                                        <th scope="col" style="width:4%;text-align: center;">{{'action' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody class="font-sm">
                                <tr *ngFor="let item of paymentlist ; let i = index">
                              
                                        <td *ngIf="i === editItemID">
                                  
                                              <ngx-select class="ngx-custom-select-dropdown ngx-custom-category-select ngx-custom-select-dropdown-text-wrap" [ngModelOptions]="{standalone: true}" name="ACCOUNTID"  [allowClear]="true" [(ngModel)]="item.ACCOUNTID" (ngModelChange)="accountHeadChange($event, item)" [items]="accountHeadList" optionValueField="ACCOUNTID" optionTextField="ACCOUNTHEAD" placeholder=" Please Select account head"  >
                                              </ngx-select>
                                              <!-- <ng-select
                                              [(ngModel)]="item.ACCOUNTID" [ngModelOptions]="{standalone: true}"
                                              [items]="accountHeadList"
                                                  bindLabel="ACCOUNTHEAD"
                                                  bindValue="ACCOUNTID"
                                                  placeholder="Select Bank A/c"
                                                  (ngModelChange)="accountHeadChange($event, item)" 
                                                  class="form-control border-1 form-control-sm w-100">
                                              </ng-select> -->
                                          </td>
                                        <td *ngIf="i != editItemID" (dblclick)="editItem(i)">{{item.ACCOUNTHEAD}}</td>

                                        <td *ngIf="i == editItemID"><input style="text-align:right" type="text" class="form-control w-100" [(ngModel)]='item.TRANAMT' [ngModelOptions]="{standalone: true}"
                                          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"></td>
                                        <td *ngIf="i != editItemID" style="text-align:right" (dblclick)="editItem(i)">{{item.TRANAMT | number:'1.3-3'}}</td>
        
                                        <td *ngIf="i == editItemID">
                                                <input style="text-align:right" type="text" class="form-control w-100" [(ngModel)]='item.CHEQUENO' [ngModelOptions]="{standalone: true}"
                                          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                           
                                        </td>
                                        <td *ngIf="i != editItemID" (dblclick)="editItem(i)">{{item.CHEQUENO}}</td>

                                        <td *ngIf="i == editItemID">
                                                <input type="text" class="form-control w-100" [(ngModel)]='item.TRANSDATE' [ngModelOptions]="{standalone: true}"  (click)="openCalendarDialog(item)">
                                           
                                        </td>
                                        <td *ngIf="i != editItemID" (dblclick)="editItem(i)">{{item.TRANSDATE}}</td>
                                        <td *ngIf="i == editItemID">
                                            <input type="text" class="form-control w-100" [(ngModel)]='item.NAMEONCHEQUE' [ngModelOptions]="{standalone: true}" >
                                       
                                        </td>
                                        <td *ngIf="i != editItemID" (dblclick)="editItem(i)">{{item.NAMEONCHEQUE}}</td>                                        
        
                                        <td style="width:60px;text-align: center;">
                                            <div>
                                                <i *ngIf="i == editItemID" class="fas fa-check customIcon" (click)="updateItem(item)"></i>
                                                <i *ngIf="i != editItemID" class="fas fa-edit customIcon" (click)="editItem(i)"></i>
                                                <i style="margin-left: 5px;" class="far fa-trash-alt customIcon" (click)="removeItem(i)"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    
                                    <tr style="height:auto">
                                       
                                        <td>
                                                <ngx-select class="ngx-custom-select-dropdown ngx-custom-category-select ngx-custom-select-dropdown-text-wrap" [ngModelOptions]="{standalone: true}" name="ACCOUNTID"  [allowClear]="true" [(ngModel)]="newItem.ACCOUNTID" (ngModelChange)="accountHeadChange($event, newItem)" [items]="accountHeadList" optionValueField="ACCOUNTID" optionTextField="ACCOUNTHEAD" placeholder=" Please Select account head"  >
                                                    </ngx-select>
                                                    <!-- <ng-select
                                                    [(ngModel)]="newItem.ACCOUNTID" [ngModelOptions]="{standalone: true}"
                                                    [items]="accountHeadList"
                                                        bindLabel="ACCOUNTHEAD"
                                                        bindValue="ACCOUNTID"
                                                        placeholder="Select Bank A/c"
                                                        (ngModelChange)="accountHeadChange($event, item)" 
                                                        class="form-control border-1 form-control-sm w-100">
                                                    </ng-select> -->
                                        </td>
             
                                        <td><input style="text-align:right" type="text" class="form-control w-100" [(ngModel)]="newItem.TRANAMT" [ngModelOptions]="{standalone: true}"
                                          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"></td>
                                   
                                          <td>
                                             
                                                <input style="text-align:right" type="text" class="form-control w-100" [(ngModel)]='newItem.CHEQUENO' [ngModelOptions]="{standalone: true}"
                                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                      </td>
                                        <td><input type="text" class="form-control w-100" [(ngModel)]="newItem.TRANSDATE" [ngModelOptions]="{standalone: true}"  (click)="openCalendarDialog(newItem)"></td>
                                        <td><input type="text" class="form-control w-100" [(ngModel)]="newItem.NAMEONCHEQUE" [ngModelOptions]="{standalone: true}" ></td>
                                          
                                        
                                        <td style="width:60px;text-align: center;">
                                            <i (click)="additem()" class="fas fa-plus"></i>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr style="background-color: #666666; color: #ffffff;">
                                       
                                        <td><b>Total</b></td>
                                        <td><b>{{TotalAmt}}</b></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                           
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>

                    
                    </div>
                     </div>
            </div>

             
        </div>
      </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-danger" mat-dialog-close>Cancel</button>
          <button type="button" class="btn btn-primary" (click)="onNoClick()">Ok</button>
      </div>
    </form>