
<div class="modal-header primary-bg py-2">
    <h5 class="modal-title text-white" id="exampleModalLabel">M.O. No. - {{mono}}</h5>
    <button type="button" class="close text-white" mat-dialog-close>
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div *ngIf="actionType == 'new'" class="modal-body" style="padding:0;"> 
      <div class="scroll-spy p-0" style="height: 300px;overflow-y: auto;" id="parentDiv" scrollSpy >
            <table mat-table [dataSource]="ItemArray" matSort class="mat-elevation-z8 table table-sm table-striped w-100 mb-0 mat-table" #table>
                <!-- Item Code Column -->
                <ng-container matColumnDef="srno">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell" style="width:6%;"> <a style="color: #0e43af !important">{{'srno' | translate}}</a> </th>
                    <td mat-cell *matCellDef="let element; let i = index;">{{i+1}}
                      <td mat-footer-cell *matFooterCellDef  ><b></b></td>
                </ng-container>
                
                <!-- Item Name Column -->
                <ng-container matColumnDef="itemname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell" style="width:34%;"><a style="color: #0e43af !important">{{'itemname' | translate}}</a> </th>
                    <td mat-cell *matCellDef="let element" >{{ element.itemname }} </td>
                    <td mat-footer-cell *matFooterCellDef  ><b></b></td>
                </ng-container>
          
                <!-- Old Code Column -->
                <ng-container matColumnDef="reqnqty">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell text-right" style="width:12%;"> <a style="color: #0e43af !important">{{'reqnqty' | translate}}</a></th>
                  <td mat-cell *matCellDef="let element" class="text-right"> {{element.reqnqty}} </td>
                  <td mat-footer-cell *matFooterCellDef  ><b></b></td>
                </ng-container>
    
                <!-- Old Code Column -->
                <ng-container matColumnDef="issuedqty">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell text-right" style="width:12%;"> <a style="color: #0e43af !important">{{'issuedqty' | translate}}</a></th>
                  <td mat-cell *matCellDef="let element" class="text-right"> {{element.issuedqty}} </td>
                  <td mat-footer-cell *matFooterCellDef  ><b></b></td>
                </ng-container>
  
                <!-- Consumed Qty Column -->
                <ng-container matColumnDef="consumedqty">
                  <th mat-header-cell *matHeaderCellDef class="py-1 font-weight-bold text-dark sticky-cell text-right" style="width:6%;"> 
                    <a style="color: #0e43af !important">{{'consumedqty' | translate}}</a>
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <input type="text" class="form-control w-75 text-right form-control-sm" (keyup)="issueqtyCheck(element)" [value]="" [(ngModel)]="element.totalconsumedqty" [ngModelOptions]="{standalone: true}" oninput="this.value = this.value.replace(/[^0-9.]{0,3}/g, '').replace(/(\..*)\./g, '$1');">
                  </td>
                  <td mat-footer-cell *matFooterCellDef  ><b></b></td>
                </ng-container>
          
                <!-- Stock In Hand Column -->
                <ng-container matColumnDef="rate">
                  <th mat-header-cell *matHeaderCellDef class="py-1 font-weight-bold text-dark  sticky-cell text-right"  style="text-align:right;width:12%;"><a style="color: #0e43af !important">{{'rate' | translate}} </a> </th>
                    <td mat-cell *matCellDef="let element" style="text-align:right;" > {{element.itemrate}} 
                    </td>
                    <td mat-footer-cell *matFooterCellDef  ><b></b></td>
                </ng-container>
          
                <!-- Reserved Stock Column -->
                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef class="py-1 font-weight-bold text-dark  sticky-cell text-right" style="width:12%;"><a style="color: #0e43af !important">{{'amount' | translate}}</a> </th>
                  <td mat-cell *matCellDef="let element" class="text-right"> {{element.amount | number: '1.2-2'}} </td>
                  <td mat-footer-cell *matFooterCellDef  style="text-align:right;"><b> {{grandTotal | number: '1.2-2'}}</b></td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true " class="bg-light" style="height:auto;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="height:auto;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns" colspan="2"></tr>
            </table>
      </div>
      </div>

      <div *ngIf="actionType == 'teamwise'" class="modal-body" style="padding:0;"> 
        <div class="scroll-spy p-0" style="height: 300px;overflow-y: auto;" id="parentDiv" scrollSpy >
              <table mat-table [dataSource]="ItemArray" matSort class="mat-elevation-z8 table table-sm table-striped w-100 mb-0 mat-table" #table>
                  <!-- Item Code Column -->
                  <ng-container matColumnDef="srno">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell" style="width:6%;"> <a style="color: #0e43af !important">{{'srno' | translate}}</a> </th>
                      <td mat-cell *matCellDef="let element; let i = index;">{{i+1}}
                        <td mat-footer-cell *matFooterCellDef  ><b></b></td>
                  </ng-container>

                  <!-- Old Code Column -->
                  <ng-container matColumnDef="teamname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell " style="width:24%;"> <a style="color: #0e43af !important">{{'team' | translate}}</a></th>
                    <td mat-cell *matCellDef="let element" > {{element.teamname}} </td>
                    <td mat-footer-cell *matFooterCellDef  ><b></b></td>
                  </ng-container>
                  
                  <!-- Item Name Column -->
                  <ng-container matColumnDef="itemname">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell" style="width:34%;"><a style="color: #0e43af !important">{{'itemname' | translate}}</a> </th>
                      <td mat-cell *matCellDef="let element" >{{ element.itemname }} </td>
                      <td mat-footer-cell *matFooterCellDef  ><b></b></td>
                  </ng-container>
            
                  
      
                  <!-- Old Code Column -->
                  <!-- <ng-container matColumnDef="issuedqty">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell text-right" style="width:12%;"> <a style="color: #0e43af !important">{{'issuedqty' | translate}}</a></th>
                    <td mat-cell *matCellDef="let element" class="text-right"> {{element.issuedqty}} </td>
                    <td mat-footer-cell *matFooterCellDef  ><b></b></td>
                  </ng-container> -->
    
                  <!-- Consumed Qty Column -->
                  <ng-container matColumnDef="consumedqty">
                    <th mat-header-cell *matHeaderCellDef class="py-1 font-weight-bold text-dark sticky-cell text-right" style="width:6%;"> 
                      <a style="color: #0e43af !important">{{'consumedqty' | translate}}</a>
                    </th>
                    <td mat-cell *matCellDef="let element" style="text-align:right;"> {{element.consumedqty}} 
                    </td>
                    <td mat-footer-cell *matFooterCellDef  ><b></b></td>
                  </ng-container>
            
                  <!-- Stock In Hand Column -->
                  <ng-container matColumnDef="rate">
                    <th mat-header-cell *matHeaderCellDef class="py-1 font-weight-bold text-dark  sticky-cell text-right"  style="text-align:right;width:12%;"><a style="color: #0e43af !important">{{'rate' | translate}} </a> </th>
                      <td mat-cell *matCellDef="let element" style="text-align:right;" > {{element.itemrate}} 
                      </td>
                      <td mat-footer-cell *matFooterCellDef  ><b></b></td>
                  </ng-container>
            
                  <!-- Reserved Stock Column -->
                  <ng-container matColumnDef="amount">
                      <th mat-header-cell *matHeaderCellDef class="py-1 font-weight-bold text-dark  sticky-cell text-right" style="width:12%;"><a style="color: #0e43af !important">{{'amount' | translate}}</a> </th>
                    <td mat-cell *matCellDef="let element" class="text-right"> {{element.amount | number: '1.2-2'}} </td>
                    <td mat-footer-cell *matFooterCellDef  style="text-align:right;"><b> {{grandTotal | number: '1.2-2'}}</b></td>
                  </ng-container>
      
                  <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true " class="bg-light" style="height:auto;"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="height:auto;"></tr>
                  <tr mat-footer-row *matFooterRowDef="displayedColumns" colspan="2"></tr>
              </table>
        </div>
        </div>

      <div class="modal-footer">
          <button class="btn btn-sm btn-secondary rounded bg-danger" mat-dialog-close>{{'cancel'|translate}}</button>
          <button *ngIf="actionType == 'new'"  type="button" class="btn btn-sm btn-info rounded" (click)="ItemStockSelected(ItemArray)">{{'save'|translate}}</button>
         
      </div>
    
