<div class="preloader" style="display: none;">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
    <app-header></app-header>
    <app-sidebar></app-sidebar>

    <div class="page-wrapper" >
        <div class="container-fluid" style="background:#dcdcdc;">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="border-top: 2px solid #0e43af;box-shadow:0 1px 3px rgba(0,0,0,.3);">
                        <div class="card-body py-2">
                        <div class="d-md-flex align-items-center">
                            <div class="mx-0 d-flex bd-highlight w-100">
                                <div class="row col-md-6">
                                    <h4 class="card-title m-0">{{title}}</h4>&nbsp;&nbsp;
                                    <button class="btn btn-sm rounded btn-info waves-effect waves-light {{canCreateCommonClass}}" (click)="editContact(0,menutype,'new')"><i class="ti-plus"></i>&nbsp;{{'addnew'| translate}}</button>
                                </div>
                                <div class="col-md-6 pr-0">
                                    <span class="d-flex col-md-12 pr-0" style="justify-content: flex-end;">
                                    <input type="text" class="form-control form-control-sm search-box col-md-6" [(ngModel)]="search"
                                        placeholder="{{'search'|translate}}" (keyup.enter)="applyFilter(search)" [ngModelOptions]="{standalone: true}">
                                    <button class="close-icon" (click)="reset(search)"></button>
                                    <button type="submit" class="btn btn-sm rounded btn-info waves-effect waves-light ml-1"
                                        style="overflow: visible;" (click)="applyFilter(search)">{{'search'|translate}}</button></span>
                                </div>
                                <!-- <div class="mr-2 ml-auto bd-highlight">
                                    <input type="file" (change)="onFileChange($event)" multiple="false" />
                                    <button type="button" class="btn btn-sm rounded btn-info waves-effect waves-light {{canImportCommonClass}}" (click)="Upload()" >{{'import'| translate}}</button>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                </div>

                <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-stretch w-100 boxed-layout">
                        <div class="w-100">
                            <div class="example-loading-shade" *ngIf="isLoadingResults ">
                                <mat-spinner  [diameter]="40" *ngIf="isLoadingResults"></mat-spinner>
                            </div>
                            <div class="card example-container " style="box-shadow:0 1px 3px rgba(0,0,0,.3);">
                                <table mat-table [dataSource]="SingleColumnArray" matSort class="table table-sm table-striped w-100 mb-0 mat-table" #table >
                                    
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell" style="width: 90%;"> <a style="color: #0e43af !important">{{'name'|translate}} </a></th>
                                        <td mat-cell *matCellDef="let element"> {{element.NAME}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="isactive">
                                        <th mat-header-cell *matHeaderCellDef class="py-1 font-weight-bold text-dark sticky-cell text-center" style="width: 10%;"> <a style="color: #0e43af !important">{{'activedeactive'|translate}} </a></th>
                                        <td mat-cell *matCellDef="let element" class="text-center">
                                            <mat-slide-toggle [color]="color" [(ngModel)]="element.isactive" [checked]="element.isactive" (change)="activepy($event, element)" [ngModelOptions]="{standalone: true}"> </mat-slide-toggle>
                                        </td>
                                    </ng-container>
                                    
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true " class="bg-light" style="height:auto;"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="height:auto;" (dblclick)="editContact(row, menutype,'edit')"></tr>
                                </table>
                                
                                <mat-paginator
                                class="mat-paginator-sticky sticky-cell"
                                            [pageSizeOptions]="[20,50,100]" [pageSize]="20"
                                            [length]="resultsLength"
                                            (page)="getUpdate($event)"
                                            showFirstLastButtons
                                            >
                                        </mat-paginator>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>