    <kendo-pdf-export #pdf paperSize="A4" [scale]="0.6" [margin]="{top: 20, bottom: 50, right: 10, left: 20}">
    <div class="row">
      <div class="col-12">
         <div style="padding-left: 20px;padding-right: 20px;">
              <table class="custom-invoice-table" width="100%" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr>
                    <td>
                      <table  width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                          <tr>
                            <td colspan="2" class="text-center">                      
                              <h6><br>{{companyname}}</h6>
                              <p class="font-sm"> <strong> {{unitaddress}}<br>
                                {{Address2}} </strong> </p>
                            </td>
                          </tr>
                          <tr>
                            <td align="center" colspan="2">
                               <h4><p>
                                {{vouchertitle}}</p></h4>
                                <br>
                            </td>
                          </tr>
                          <tr>
                            <td style="width: 50%;text-align: left;"> &nbsp;&nbsp;<b>Date :</b>&nbsp;&nbsp;{{newData.VOUCHERDATE|date:'dd/MM/yyyy'}}</td>
                            <td style="width: 50%;text-align: right;"> <b>No :</b>&nbsp;&nbsp;{{newData.VOUCHERNO}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                      <tr>
                        <td>
                      <div style="width:100%;min-height:520px">
                      <table class="table table-sm custom-invoice-table " width="100%" border="0" cellspacing="0" cellpadding="0" >
                        <thead class="thead-light va">  
                          <tr>
                            <th rowspan="2" style="text-align:left" valign="middle" width="50%" bgcolor="#E2E2E2">{{'acchead' | translate}}</th>
                            <th rowspan="2" style="text-align:right" valign="middle" width="15%" bgcolor="#E2E2E2">{{'debit' | translate}}</th>
                            <th rowspan="2" style="text-align:right" valign="middle" width="15%" bgcolor="#E2E2E2">{{'credit' | translate}}</th>                         
                          </tr>                        
                       </thead><tbody>
                          <tr *ngFor="let voucher of voucherArray ; let i = index">
                            <td align="left" width="50%"><strong>{{voucher.NAME}}</strong><br/>{{voucher.DESCRIPTION}}</td>
                            <td align="right" width="15%"><a *ngIf="voucher.DRAMOUNT>0">{{voucher.DRAMOUNT | number:'1.2-2'}}</a> </td>
                            <td align="right" width="15%"><a *ngIf="voucher.CRAMOUNT>0"> {{voucher.CRAMOUNT | number:'1.2-2'}}</a></td> 
                          </tr>
                          <tr >
                     
                            <td  rowspan="2" style="text-align:left" valign="middle" width="50%" bgcolor="#E2E2E2"><strong>{{'Rs. '}}{{newData.AMOUNT}}</strong></td>
                            <td  rowspan="2" style="text-align:right" valign="middle" width="15%" bgcolor="#E2E2E2"><strong>{{newData.DRTOTAL | number:'1.2-2'}}</strong></td>
                            <td rowspan="2" style="text-align:right" valign="middle" width="15%" bgcolor="#E2E2E2"><strong>{{newData.CRTOTAL | number:'1.2-2'}}</strong></td> 
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
               <tr>
              <td>
             </td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
    </div>
    </kendo-pdf-export>
