<form>
    <div class="example-loading-shade" *ngIf="isLoadingResults ">
        <mat-spinner [diameter]="60" *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="modal-header primary-bg py-2">
        <h5 class="modal-title text-white" id="exampleModalLabel">{{'adddrawingmaster'|translate}}</h5>
        <button class="close text-white" mat-dialog-close>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="height:350px;padding:0;width:900px;" (click)="dropdownHide()">
        <div class="form-inline- d-flex flex-wrap">
            <div class="form-group col-md-12 mb-1 mt-3">
                <div class="d-flex form-row">
                    <div class="col-md-4">
                        <div class="row">
                            <label class="col-md-6 text-right">{{'srno' |
                                translate}}</label>
                            <div class="col-md-6">
                                <input [(ngModel)]="newData.SRNO" class="form-control w-100 text-left readonly-disable"
                                    [ngModelOptions]="{standalone: true}" autocomplete="off"
                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                    [readonly]="true">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <label class="col-md-3 text-right pr-2 error-control-label required">{{'drawingno'
                                |
                                translate}}</label>
                            <div class="col-md-9 pr-3 pl-2">
                                <input [(ngModel)]="newData.DRAWINGNO" class="form-control w-100 text-left"
                                    style="margin-left: 5px;" [ngModelOptions]="{standalone: true}" autocomplete="off"
                                    maxlength="20">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-12 mb-1">
                <div class="d-flex form-row">
                    <div class="col-md-4">
                        <div class="row">
                            <label class="col-md-6 text-right error-control-label required">{{'department'
                                |
                                translate}}</label>
                            <div class="col-md-6">
                                <ngx-select class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"
                                    name="department" [allowClear]="false" [(ngModel)]="newData.DEPTID"
                                    [ngModelOptions]="{standalone: true}" [items]="departmentArray"
                                    optionValueField="DEPTID" optionTextField="DEPTNAME">
                                </ngx-select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <label class="col-md-6 text-right error-control-label required">{{'category'
                                |
                                translate}}</label>
                            <div class="col-md-6">
                                <ngx-select class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"
                                    name="category" [allowClear]="false" [(ngModel)]="newData.CATGID"
                                    (select)="catgchange(newData.CATGID)" [ngModelOptions]="{standalone: true}"
                                    [items]="machinecatgArray" optionValueField="ID" optionTextField="NAME">
                                </ngx-select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <label class="col-md-4 text-right error-control-label required">{{'item' |
                                translate}}</label>
                            <div class="col-md-8">
                                <!-- <ngx-select
                                    class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"
                                    name="item" 
                                    [(ngModel)]="newData.itemid" 
                                    [ngModelOptions]="{standalone: true}"
                                    [items]="itemArray" optionValueField="id"
                                    optionTextField="name">
                                </ngx-select> -->

                                <input (keyup)="searchTermItemNew($event.target.value, newData)" name="itemname"
                                    [(ngModel)]='newData.NAME' [ngModelOptions]="{standalone: true}"
                                    [value]="newData.NAME || ''" autocomplete="off"
                                    class="w-100 form-control error-border form-control-sm"
                                    [readonly]="!newData.CATGID">
                                <div *ngIf="arrayItem != ''" class="search-list-supplier">
                                    <div class="example-loading-shade" *ngIf="isLoading ">
                                        <mat-spinner [diameter]="40" *ngIf="isLoading"></mat-spinner>
                                    </div>
                                    <table id="selectedValue" class="table table-condensed table-striped table-hover">
                                        <tr class="ui-menu-item" role="menuitem">
                                            <th>{{'Item Name' | translate}}</th>
                                        </tr>
                                        <tr class="ui-menu-item" role="menuitem" *ngFor="let result of itemlistget"
                                            (click)="onChangeOfItem(result.ID, newData)">
                                            <td>{{ result.NAME }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12 mb-1">
                <div class="d-flex form-row">
                    <div class="col-md-4">
                        <div class="row">
                            <label class="col-md-6 text-right">{{'createdon' |
                                translate}}</label>
                            <div class="col-md-6">
                                <mat-form-field class="form-control py-1 mat-form-field-date-picker">
                                    <input matInput [matDatepicker]="picker1" name="createdon"
                                        [(ngModel)]="newData.DRAWDOB" [ngModelOptions]="{standalone: true}" readonly>
                                    <mat-datepicker-toggle matSuffix [for]="picker1">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker1 disabled="true">
                                    </mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <label class="col-md-6 text-right">{{'revno' |
                                translate}}</label>
                            <div class="col-md-6">
                                <input [(ngModel)]="newData.REVNO" class="form-control w-100 text-left"
                                    [ngModelOptions]="{standalone: true}" autocomplete="off" maxlength="2"
                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <label class="col-md-6 text-right">{{'revdate' |
                                translate}}</label>
                            <div class="col-md-6">
                                <mat-form-field class="form-control py-1 mat-form-field-date-picker">
                                    <input matInput [matDatepicker]="picker2" name="revdate"
                                        [(ngModel)]="newData.REVDATE" [ngModelOptions]="{standalone: true}" readonly>
                                    <mat-datepicker-toggle matSuffix [for]="picker2">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker2 disabled="false">
                                    </mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group col-md-12 mb-1">
                <div class="d-flex form-row">
                    <div class="form-group col-md-12 mb-1">
                        <div class="d-flex form-row">
                            <label class="col-md-2 text-right pr-3">{{'Drawing
                                Description'|translate}}</label>
                            <div class="col-md-10 pl-2">
                                <textarea class="form-control error-border form-control-sm mb-2 " rows="1"
                                    placeholder="{{'Enter Drawing Description'|translate}}" name="remarks"
                                    [(ngModel)]="newData.DRGDESCRIPTION" [ngModelOptions]="{standalone: true}"
                                    style="height:60px;" maxlength="250"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group col-md-12 mb-1">
                <div class="d-flex form-row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="row">
                            <label class="col-md-4 text-right" style="margin-left: 98px;">
                                {{'uploaddocument' | translate}}</label>
                            <i *ngIf="newData.imagesArray.length == 0" class="fas fa-paperclip custom-book-class"
                                (click)="imagePopup(newData)" style="margin: left 14px;"
                                matTooltip="{{'attachment' | translate}}" matTooltipClass="custom-tooltip-class"></i>
                            <i *ngIf="newData.imagesArray.length != 0" class="fas fa-paperclip custom-book-class"
                                style="color:green !important; margin: left 14px" (click)="imagePopup(newData)"
                                matTooltip="{{'attachment' | translate}}" matTooltipClass="custom-tooltip-class"></i>

                            <label class="col-md-3 text-right">{{'noofpages' |
                                translate}}</label>
                            <div class="col-md-2">
                                <input [(ngModel)]="newData.NOOFPAGES" class="form-control w-100 text-left"
                                    [ngModelOptions]="{standalone: true}" autocomplete="off" maxlength="2"
                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-secondary rounded bg-danger" mat-dialog-close>{{'cancel' | translate}}</button>
        <button class="btn btn-sm btn-info rounded" (click)="validateBeforeSave(newData,'Insert')">{{'save' | translate}}</button>
    </div>
</form>