<!-- used for font weight 600 as per user requirement  -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300&display=swap"
    rel="stylesheet">
<!-- end -->
<div class="preloader" style="display: none;">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
    <app-header></app-header>
    <app-sidebar></app-sidebar>

    <div class="page-wrapper">
        <div class="container-fluid" style="background:#dcdcdc;">
            <form [formGroup]="requisitionform" novalidate>
                <div class="example-loading-shade" *ngIf="isLoadingResults ">
                    <mat-spinner [diameter]="40" *ngIf="isLoadingResults"></mat-spinner>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card" style="border-top: 2px solid #0e43af;box-shadow:0 1px 3px rgba(0,0,0,.3);">
                            <div class="card-body border-bottom py-2 d-flex">
                                <div class="col-md-12">
                                    <div class="form-inline">
                                        <div class="col-md-8 d-md-flex align-items-center justify-content-between">
                                            <div class="d-flex">
                                                <a [routerLink]="['/tool-room-inspection-master']"
                                                    class="btn btn-sm rounded btn-warning mr-3" title="Back"><i
                                                        class="mdi mdi-keyboard-backspace"></i></a>

                                                <h4 class="modal-title " id="exampleModalLabel">
                                                    {{'toolroominspectionmaster'
                                                    | translate}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex- row">
                                <div class="col-md-12 tab-content m-t-10" id="pills-tabContent">
                                    <div class="card-body border-bottom purchase-order px-0 py-2">
                                        <div class="form-inline">
                                            <div class="form-group row col-md-4 mb-2 ">
                                                <label
                                                    class="col-md-6 text-right error-control-label required">{{'jobcardno'
                                                    |translate}} </label>
                                                <div class="col-md-6 ">
                                                    <input class="form-control w-100  form-control-sm"
                                                        name="manualslipno" [(ngModel)]="newData.jobcardno"
                                                        maxlength="10" [ngModelOptions]="{standalone: true}"
                                                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                                </div>
                                            </div>
                                            <div class="form-group row col-md-4 mb-2">
                                                <label
                                                    class="col-md-6 text-right error-control-label required ">{{'dated'
                                                    |translate}}</label>
                                                <div class="col-md-6 ">
                                                    <mat-form-field
                                                        class="form-control w-100 mat-form-field-date-picker">
                                                        <input matInput [matDatepicker]="rdate" name="reqndate"
                                                            [(ngModel)]="newData.dated"
                                                            [ngModelOptions]="{standalone: true}">
                                                        <mat-datepicker-toggle matSuffix [for]="rdate">
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker #rdate></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="form-group row col-md-4 mb-2">
                                                <label
                                                    class="col-md-6 text-right error-control-label required">{{'worker'
                                                    | translate}}</label>
                                                <div class="col-md-6">
                                                    <ngx-select
                                                        class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"
                                                        [ngModelOptions]="{standalone: true}" name="deptid"
                                                        [allowClear]="true" [(ngModel)]="newData.worker"
                                                        [items]="toolNoArray" optionValueField="id"
                                                        optionTextField="name"
                                                        placeholder="{{'pleaseselect' | translate}}">
                                                    </ngx-select>
                                                </div>
                                            </div>
                                            <div class="form-group row col-md-8 mb-2 pr-4">
                                                <label
                                                    class="col-md-3 text-right ">{{'nameofjob'|
                                                    translate}}</label>
                                                <div class="col-md-9 pl-2 pr-3">
                                                    <textarea name="itemid" [(ngModel)]='newData.nameofjob'
                                                        [ngModelOptions]="{standalone: true}" style="height: 50px;"
                                                        autocomplete="off"
                                                        class="w-100 form-control error-border form-control-sm"
                                                        maxlength="250">
                                                </textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row col-md-4 mb-2 pr-0">
                                                <label
                                                    class="col-md-5 text-right error-control-label required pr-0">{{'natureofjob'
                                                    | translate}}</label>
                                                <div class="col-md-6 pl-3">
                                                    <ngx-select
                                                        class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"
                                                        [ngModelOptions]="{standalone: true}" name="deptid"
                                                        [allowClear]="true" [(ngModel)]="newData.natureofjob"
                                                        [items]="toolNoArray" optionValueField="id"
                                                        optionTextField="name"
                                                        placeholder="{{'pleaseselect' | translate}}">
                                                    </ngx-select>
                                                </div>
                                            </div>
                                            <div class="form-group row col-md-8 mb-2 pr-4">
                                                <label
                                                    class="col-md-3 text-right ">{{'remarks'|
                                                    translate}}</label>
                                                <div class="col-md-9 pl-2 pr-3">
                                                    <textarea name="itemid" [(ngModel)]='newData.remarks'
                                                        [ngModelOptions]="{standalone: true}" style="height: 50px;"
                                                        autocomplete="off"
                                                        class="w-100 form-control error-border form-control-sm"
                                                        maxlength="250">
                                                </textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row col-md-4 mb-2 pr-0">
                                                <label
                                                    class="col-md-5 text-right error-control-label required pr-0">{{'status'
                                                    | translate}}</label>
                                                <div class="col-md-6 pl-3">
                                                    <ngx-select
                                                        class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"
                                                        [ngModelOptions]="{standalone: true}" name="deptid"
                                                        [allowClear]="true" [(ngModel)]="newData.status"
                                                        [items]="toolNoArray" optionValueField="id"
                                                        optionTextField="name"
                                                        placeholder="{{'pleaseselect' | translate}}">
                                                    </ngx-select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-secondary rounded bg-danger"
                                    [routerLink]="['/die-master']">{{'cancel'|translate}}</button>
                                <button *ngIf="action == 'new'" [disabled]="isLoadingResults" type="button"
                                    class="btn btn-sm btn-info rounded {{canCreateCommonClass}}"
                                    (click)="validateBeforeSave(newmachine , 'insert')">{{'save'|translate}}</button>
                                <button *ngIf="action == 'edit'" [disabled]="isLoadingResults" type="button"
                                    class="btn btn-sm btn-info rounded {{canEditCommonClass}}"
                                    (click)="validateBeforeSave(newmachine , 'Update')">{{'update'|translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <app-footer></app-footer>
        </div>
    </div>
</div>