<div class="container-fluid" style="background:#dcdcdc;">

  <div class="d-md-flex col-md-12">
    <div class="col-md-6 p-2 pl-4 text-left">
      <a [routerLink]="['/die-maint-checkpoints']" class="btn btn-sm rounded btn-warning mr-3"
        title="Back to Die Maint Checkpoints"><i class="mdi mdi-keyboard-backspace"></i></a>
    </div>
    <div class=" col-md-6 p-2 pl-4 text-right">
      <!-- <button id="printPageButton" class="btn btn-sm rounded btn-warning mr-3" (click)="print()"><i
          class="fa fa-print"></i>&nbsp;{{'print'| translate}}</button> -->
      <button id="printPageButton2" class="btn btn-primary btn-sm rounded waves-effect waves-light customButton"
        (click)="pdf.saveAs('Die-Maint-Checkpoints.pdf')"><i class="ti-download"></i>&nbsp;{{'downloadpdf'|
        translate}}</button>
    </div>
  </div>

  <kendo-pdf-export #pdf paperSize="A4" [scale]="0.6" landscape="true"
    [margin]="{top: 20, bottom: 30, right: 10, left: 20}">
    <div class="row">

      <div class="col-md-6">
        <div class="example-loading-shade" *ngIf="isLoadingResults">
          <mat-spinner [diameter]="40" *ngIf="isLoadingResults"></mat-spinner>
        </div>


        <div class="card" style="margin: 10px; border-top: 2px solid #0e43af;box-shadow:0 1px 3px rgba(0,0,0,.3);">
          <div class="custom-invoice">

            <table class="custom-invoice-table" width="100%" cellspacing="0" cellpadding="0" border="2">
              <tbody>
                <tr>
                  <td>
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                      <tbody>
                        <tr>
                          <td align="center" colspan="2">
                            <h4>{{'diemaintenancecheckpoints' | translate}}</h4>
                            <h5 style="margin-top: -16px;">{{companyname}}<br>{{unitname}}</h5>
                            <p class="font-sm mb-0" style="margin-top: -4px;">{{unitaddress}}<br>
                              <strong>Phone :</strong> {{unitphone}} <strong>E-mail :</strong> {{unitemail}} <br>
                              <strong>GSTIN : {{unitgstno}} </strong>
                            </p>
                          </td>
                        </tr>
                        <tr>
                        </tr>

                        <tr>
                          <td style="width: 60%;">
                            <p class="font-sm mb-0 ml-2"> <strong>{{'srno' | translate }}
                                :</strong>{{HeaderData.MAINTENANCEID}}<br />
                              <strong> {{'toolno' | translate }} :</strong> {{HeaderData.DIENAME}}<br />
                              <strong> {{'receivedon' | translate }} :</strong> {{HeaderData.SENDFORMAINTENANCEDT |
                              date:'dd-MM-yyyy'}}<br />
                              <strong> {{'time' | translate }} :</strong> {{HeaderData.RECDTIME | date:'hh:mm'}}<br />
                              <strong> {{'expecteddlytime' | translate }} :</strong> {{HeaderData.EXPTIME}}<br />
                              <strong> {{'noofgrindinginoneday' | translate }} :</strong>
                              {{HeaderData.STROCKESAVAILABLE}}<br />
                            </p>
                          </td>
                          <td>
                            <p class="font-sm mb-0"> <strong>{{'dated' | translate }} :</strong>
                              {{HeaderData.effectivefrom | date : "dd-MM-yyyy"}}<br />
                              <strong> {{'tooltype' | translate }} :</strong> {{HeaderData.DIETYPEDESC}}<br />
                              <strong> {{'deliveredon' | translate }} :</strong> {{HeaderData.SENDTIME |
                              date:'dd-MM-yyyy'}}<br />
                              <strong> {{'time' | translate }} :</strong> {{HeaderData.SENDTIME | date:'hh:mm'}}<br />
                              <strong> {{'reasonfordelay' | translate }} :</strong> {{HeaderData.DELAYREASON}}<br />
                              <strong> {{'maintenancedoneby' | translate }} :</strong> {{HeaderData.MAINTDONEBY}}<br />
                              <strong> {{'reasonofgrinding' | translate }} :</strong> {{HeaderData.REASONFORGRINDING}}<br />

                            </p>
                          </td>
                        </tr>
                        <tr class="font-sm mb-0 ml-2 ">
                          <p style="margin-left: 9px;"><strong>{{'remarks' | translate}}
                              :</strong>{{HeaderData.REMARKS}}</p>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div style="width:100%;min-height:355px">
                      <table class="table table-sm custom-invoice-table table-bordered mb-0" width="100%" border="0"
                        cellspacing="0" cellpadding="0">
                        <thead class="thead-light va">
                          <tr>
                            <th rowspan="2" style="text-align:center; width: 5%" valign="middle" bgcolor="#E2E2E2">
                              {{'sr' |translate}}</th>
                            <th rowspan="2" align="left" valign="left" style="width: 30%;" bgcolor="#E2E2E2">
                              {{'checkpoint' | translate}}</th>
                            <th rowspan="2" style="text-align:left ; width: 10% " valign="left" bgcolor="#E2E2E2">
                              {{'obsvalue1' | translate}}</th>
                            <th rowspan="2" style="text-align:left ; width: 10% " valign="left" bgcolor="#E2E2E2">
                              {{'obsvalue2' | translate}}</th>
                            <th rowspan="3" style="text-align:left ; width: 10% " valign="left" bgcolor="#E2E2E2">
                              {{'obsvalue3' | translate}}</th>
                            <th rowspan="4" style="text-align:left ; width: 10% " valign="left" bgcolor="#E2E2E2">
                              {{'obsvalue4' | translate}}</th>
                            <th rowspan="2" style="text-align:center ; width: 10% " valign="middle" bgcolor="#E2E2E2">
                              {{'stddvalue' | translate}}</th>
                          
                            <th rowspan="2" style="text-align:left ; width: 10% " valign="left" bgcolor="#E2E2E2">
                              {{'status' | translate}}</th>
                            <th rowspan="2" style="text-align:left ; width: 35% " valign="left" bgcolor="#E2E2E2">
                              {{'remarks' | translate}}</th>
                          </tr>
                        </thead>
                        <tbody class="font-sm">
                          <tr *ngFor="let contact of Detail ; let i = index">
                            <td style=" text-align: center;">{{i+1}}</td>
                            <td>
                              {{contact.NAME}}
                            </td>
                            <td>
                              {{contact.OBSVALUE1}}
                            </td>
                            <td>
                              {{contact.OBSVALUE2}}
                            </td>
                            <td>
                              {{contact.OBSVALUE3}}
                            </td>
                            <td>
                              {{contact.STVALUE4}}
                            </td>
                            <td>
                              {{contact.STVALUE}}
                            </td>
                            <!-- <td>
                              {{contact.OBSVALUE}}
                            </td> -->
                            <td>
                              {{contact.STATUS}}
                            </td>
                            <td>
                              {{contact.REMARKS}}
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                  </td>
                </tr>
                <table>
                  <tbody>
                    <tr>
                      <td>
                        <p style="width: 50%; margin-left: 9px;">
                          <strong>Incharge Tool Room</strong><br>
                        </p>
                      </td>
                      <td>
                        <p style=" margin-right: 40px;"><strong>Authorised by: {{HeaderData.AUTORISED_BY}}</strong></p>
                      </td>
                    </tr>
                    <tr>
                      <p style="margin-left: 4px;width: 250%;">Note : This Check List is to be handed over to the
                        Inspection Deptt.
                        after the work is done.</p>
                    </tr>
                  </tbody>
                </table>
                <tr>
                  <td>
                    <div>
                      <table width="100%" class="custom-invoice-table table tr td ">
                        <tbody>
                          <tr>
                            <td>TERM-F-06</td>
                            <td>ISSUE-01</td>
                            <td>JUL-98</td>
                          </tr>
                        </tbody>
                      </table>

                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="example-loading-shade" *ngIf="isLoadingResults">
          <mat-spinner [diameter]="40" *ngIf="isLoadingResults"></mat-spinner>
        </div>


        <div class="card" style="margin: 10px; border-top: 2px solid #0e43af;box-shadow:0 1px 3px rgba(0,0,0,.3);">
          <div class="custom-invoice">

            <table class="custom-invoice-table" width="100%" cellspacing="0" cellpadding="0" border="2">
              <tbody>
                <tr>
                  <td>
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                      <tbody>
                        <tr>
                          <td align="center" colspan="2">
                            <h4>{{'diemaintenancecheckpoints' | translate}}</h4>
                            <h5 style="margin-top: -16px;">{{companyname}}<br>{{unitname}}</h5>
                            <p class="font-sm mb-0" style="margin-top: -4px;">{{unitaddress}}<br>
                              <strong>Phone :</strong> {{unitphone}} <strong>E-mail :</strong> {{unitemail}} <br>
                              <strong>GSTIN : {{unitgstno}} </strong>
                            </p>
                          </td>
                        </tr>
                        <tr>
                        </tr>

                        <tr>
                          <td style="width: 60%;">
                            <p class="font-sm mb-0 ml-2"> <strong>{{'srno' | translate }}
                                :</strong>{{HeaderData.MAINTENANCEID}}<br />
                              <strong> {{'toolno' | translate }} :</strong> {{HeaderData.DIENAME}}<br />
                              <strong> {{'receivedon' | translate }} :</strong> {{HeaderData.SENDFORMAINTENANCEDT |
                              date:'dd-MM-yyyy'}}<br />
                              <strong> {{'time' | translate }} :</strong> {{HeaderData.RECDTIME | date:'hh:mm'}}<br />
                              <strong> {{'expecteddlytime' | translate }} :</strong> {{HeaderData.EXPTIME}}<br />
                              <strong> {{'noofgrindinginoneday' | translate }} :</strong>
                              {{HeaderData.STROCKESAVAILABLE}}<br />
                            </p>
                          </td>
                          <td>
                            <p class="font-sm mb-0"> <strong>{{'dated' | translate }} :</strong>
                              {{HeaderData.effectivefrom | date : "dd-MM-yyyy"}}<br />
                              <strong> {{'tooltype' | translate }} :</strong> {{HeaderData.DIETYPEDESC}}<br />
                              <strong> {{'deliveredon' | translate }} :</strong> {{HeaderData.SENDTIME |
                              date:'dd-MM-yyyy'}}<br />
                              <strong> {{'time' | translate }} :</strong> {{HeaderData.SENDTIME | date:'hh:mm'}}<br />
                              <strong> {{'reasonfordelay' | translate }} :</strong> {{HeaderData.DELAYREASON}}<br />
                              <strong> {{'maintenancedoneby' | translate }} :</strong> {{HeaderData.MAINTDONEBY}}<br />
                              <strong> {{'reasonofgrinding' | translate }} :</strong> {{HeaderData.REASONFORGRINDING}}<br />

                            </p>
                          </td>
                        </tr>
                        <tr class="font-sm mb-0 ml-2 ">
                          <p style="margin-left: 9px;"><strong>{{'remarks' | translate}}
                              :</strong>{{HeaderData.REMARKS}}</p>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div style="width:100%;min-height:355px">
                      <table class="table table-sm custom-invoice-table table-bordered mb-0" width="100%" border="0"
                        cellspacing="0" cellpadding="0">
                        <thead class="thead-light va">
                          <tr>
                            <th rowspan="2" style="text-align:center; width: 5%" valign="middle" bgcolor="#E2E2E2">
                              {{'sr' |translate}}</th>
                            <th rowspan="2" align="left" valign="left" style="width: 30%;" bgcolor="#E2E2E2">
                              {{'checkpoint' | translate}}</th>
                            <th rowspan="2" style="text-align:left ; width: 10% " valign="left" bgcolor="#E2E2E2">
                              {{'obsvalue1' | translate}}</th>
                            <th rowspan="2" style="text-align:left ; width: 10% " valign="left" bgcolor="#E2E2E2">
                              {{'obsvalue2' | translate}}</th>
                            <th rowspan="3" style="text-align:left ; width: 10% " valign="left" bgcolor="#E2E2E2">
                              {{'obsvalue3' | translate}}</th>
                            <th rowspan="4" style="text-align:left ; width: 10% " valign="left" bgcolor="#E2E2E2">
                              {{'obsvalue4' | translate}}</th>
                            <th rowspan="2" style="text-align:center ; width: 8% " valign="middle" bgcolor="#E2E2E2">
                              {{'stddvalue' | translate}}</th>
                            <!-- <th rowspan="2" style="text-align:left ; width: 10% " valign="left" bgcolor="#E2E2E2">
                                                        {{'observedvalue' | translate}}</th> -->
                            <th rowspan="2" style="text-align:left ; width: 8% " valign="left" bgcolor="#E2E2E2">
                              {{'status' | translate}}</th>
                            <th rowspan="2" style="text-align:left ; width: 35% " valign="left" bgcolor="#E2E2E2">
                              {{'remarks' | translate}}</th>
                          </tr>
                        </thead>
                        <tbody class="font-sm">
                          <tr *ngFor="let contact of Detail ; let i = index">
                            <td style=" text-align: center;">{{i+1}}</td>
                            <td>
                              {{contact.NAME}}
                            </td>
                            <td>
                              {{contact.OBSVALUE}}
                            </td>
                            <td>
                              {{contact.OBSVALUE1}}
                            </td>
                            <td>
                              {{contact.OBSVALUE2}}
                            </td>
                            <td>
                              {{contact.OBSVALUE3}}
                            </td>
                            <td>
                              {{contact.STVALUE4}}
                            </td>
                            
                            <td>
                              {{contact.STATUS}}
                            </td>
                            <td>
                              {{contact.REMARKS}}
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                  </td>
                </tr>
                <table>
                  <tbody>
                    <tr>
                      <td colspan="4">
                        <p style="width: 50%; margin-left: 9px;">
                          <strong>Incharge Tool Room</strong><br>
                        </p>
                      </td>
                      <td colspan="4">
                        <p style=" margin-right: 40px;"><strong>Authorised by: {{HeaderData.AUTORISED_BY}}</strong></p>
                      </td>
                    </tr>
                    <tr>
                      <p style="margin-left: 4px;width: 250%;">Note : This Check List is to be handed over to the
                        Inspection Deptt.
                        after the work is done.</p>
                    </tr>
                  </tbody>
                </table>
                <tr>
                  <td>
                    <div>
                      <table width="100%" class="custom-invoice-table table tr td ">
                        <tbody>
                          <tr>
                            <td>TERM-F-06</td>
                            <td>ISSUE-01</td>
                            <td>JUL-98</td>
                          </tr>
                        </tbody>
                      </table>

                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>
  </kendo-pdf-export>

</div>