
.error-control-label.required:after { 
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 5px;
}

.has-error .error-border{
  border-color: #bb0303 !important;
}
#pills-tabContent .form-control, #pills-tabContent .select2 {
  width: auto;
}
.custom-table.table td > .custom-table.table th {
  padding: .1rem 0.5rem;
  white-space: nowrap;
  height:275px;
} 

.table-scroll{
  overflow-y: scroll;
  height:360px;
  position: relative;
}


.search-list {
background-color: #fff;
border: 1px solid #ddd;
padding: 5px;
z-index: 49;
position: absolute;
overflow-y: auto;
}
.search-list-header {
background-color: #fff;
border: 1px solid #ddd;
padding: 5px;
position: absolute;
z-index: 1;
}
.search-list > ul, .search-list-header > ul {
margin: 0;
padding: 0;

}
.search-list ul li, .search-list-header ul li {
list-style: outside none none;
background: #fdfdfd;
padding: 2px;
width: 370px;
}

.search-list ul li a, .search-list-header ul li a{
color: #337ab7 !important;
text-decoration: none !important;

}
.search-list ul li a:hover .search-list-header ul li a:hover {
cursor: pointer;
text-decoration: underline !important;
}

.search-list ul li:hover, .search-list-header ul li:hover {
background-color: #d4d9de;
}




.search-list-header.ng-star-inserted {
  height: 300px;
  overflow-y: auto;
  } 

table#selectedValue {font-size: 13px;}
table#selectedValue tr td {
padding: 2px 5px;
}

.search-list-supplier {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    position: absolute;
    z-index: 505;
}

.search-list ul li a:hover, .search-list-supplier ul li a:hover {
  cursor: pointer;
  text-decoration: underline !important;
}

.search-list ul li:hover, .search-list-supplier ul li:hover {
  background-color: #d4d9de;
}

.search-list > ul, .search-list-supplier > ul {
  margin: 0;
  padding: 0;
  
}

.search-list ul li, .search-list-supplier ul li {
  list-style: outside none none;
  background: #fdfdfd;
 
  padding: 2px;
  width: 370px;
}

.search-list ul li a, .search-list-supplier ul li a {
  color: #337ab7 !important;
  text-decoration: none !important;
  
}
/* */

