
<div class="preloader" style="display: none;">
  <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
  </div>
</div>

<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper" >
  <div class="container-fluid" style="background:#dcdcdc;">
<!-- <form autocomplete="off" > -->
<div class="row">
    <div class="col-12">
          <div class="example-loading-shade" *ngIf="isLoadingResults">
                <mat-spinner  [diameter]="40" *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <div class="example-loading-shade" *ngIf="isLoadingResults">
          <mat-spinner  [diameter]="60" *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <div class="card" style="border-top: 2px solid #0e43af;box-shadow:0 1px 3px rgba(0,0,0,.3);">
            <div class="card-body border-bottom py-2">
                                    <div class="col-md-12">
                                      <div class="row m-1">
                                        <h4 class="card-title m-0" style="color: royalblue;">GST Direct Voucher</h4>
                                      </div>
                                           
                                      <div class="row m-1">
                                        <div class="col-md-6">
                                          
                                            <div class="row">
                                                <div class="col-md-12">
                                                        <mat-form-field class="example-full-width w-100">
                                                                <input matInput placeholder="Party Name" name="NAME"  (keyup)="searchOnName($event.target.value, newData)"
                                                                [(ngModel)]="newData.NAME" [ngModelOptions]="{standalone: true}" >
                                                       </mat-form-field>
                                                       <div *ngIf="searchName != ''" class="search-list-header">
                                                       <table id="selectedValue" class="table table-condensed table-striped table-hover">
                                                            <tr class="ui-menu-item" role="menuitem" style="height: 20px;">
                                                              <th style="width: 300px;">Name</th>
                                                              <th style="width: 100px;">City</th>
                                                              <th style="width: 100px;">State</th>
                                                              <th style="width: 100px;">GSTIn</th>
                                                             

                                                         </tr>
                                                          <tr class="ui-menu-item" role="menuitem" *ngFor="let result of nameFilteredList"
                                                            (click)="onChangeOfName(result, newData)">
                                                            <td>{{ result.NAME }}</td>
                                                            <td>{{ result.CITYDESC }}</td>
                                                            <td>{{ result.STATEDESC }}</td>
                                                            <td>{{ result.GSTIN }}</td>
                                                            
                                                          </tr>
                                                          </table>
                                                      
                                                    </div>

                                                 </div>
                                            </div>
                                           
                                            <div class="row">
                                                <div class="col-md-12">
                                                  <mat-form-field class="example-full-width w-100">
                                                    <textarea matInput placeholder="Address"  name="ADDRESS" [(ngModel)]="newData.ADDRESS"></textarea>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5">
                                          
                                                  <mat-form-field class="example-full-width" style="width: 100%;">
                                                    <input matInput placeholder="City" name="CITYDESC"  (keyup)="filterCityList($event.target.value, newData)"
                                                    [(ngModel)]="newData.CITYDESC" [ngModelOptions]="{standalone: true}">
                                                  </mat-form-field>
                                                  <div *ngIf="searchCity != ''" class="search-list-supplier" style="margin-top: 2px;">
                                                      <ul id="selectedValue" class="custom-customer-order-list"  >
                                                          <li class="ui-menu-item" role="menuitem" *ngFor="let result of cityFilteredList" (click)="onChangeOfCity(result, newData)">
                                                              <a>
                                                                  {{ result.CITYDESC }}
                                                              </a>
                                                          </li>
                                                      </ul>
                                                  </div>   

                                                </div>
                                                <div class="col-md-2"> &nbsp;
                                                    </div>
                                                    <div class="col-md-5">
                                                      <mat-form-field class="example-full-width" style="width: 100%;">
                                                        <input matInput placeholder="State" name="STATEDESC"  (keyup)="filterStateList($event.target.value, newData)"
                                                        [(ngModel)]="newData.STATEDESC" [ngModelOptions]="{standalone: true}">
                                                      </mat-form-field>
                                                      <div *ngIf="searchState != ''" class="search-list-supplier" style="margin-top: 2px;">
                                                          <ul id="selectedValue" class="custom-customer-order-list"  >
                                                              <li class="ui-menu-item" role="menuitem" *ngFor="let result of stateFilteredList" (click)="onChangeOfState(result, newData)">
                                                                  <a>
                                                                      {{ result.STATEDESC }}
                                                                  </a>
                                                              </li>
                                                          </ul>
                                                      </div>
                                                </div>
                                            </div>
                                             <div class="row">
                                            <div class="col-md-5">
                                                  <mat-form-field class="example-full-width w-100">
                                                    <input matInput placeholder="Email" name="Email"
                                                    [(ngModel)]="newData.EMAIL" [ngModelOptions]="{standalone: true}">
                                                  </mat-form-field>
                                            </div>
                                                <div class="col-md-2"> &nbsp;       
                                           </div>
                                           
                                            <div class="col-md-5" >
                                              
                                              <mat-form-field class="example-full-width w-100">
                                                <input matInput placeholder="Phone No" name="Phone"
                                                [(ngModel)]="newData.PHONE" [ngModelOptions]="{standalone: true}">
                                              </mat-form-field>

                                              </div>
                                            </div>

                                            <div class="row">
                                              <div class="col-md-5">
                                                    <mat-form-field class="example-full-width w-100">
                                                      <input matInput placeholder="PANNO" name="PANNO"
                                                      [(ngModel)]="newData.PANNO" [ngModelOptions]="{standalone: true}">
                                                    </mat-form-field>
                                              </div>
                                                  <div class="col-md-2"> &nbsp;       
                                             </div>
                                             
                                              <div class="col-md-5" >
                                                
                                                <mat-form-field class="example-full-width w-100">
                                                  <input matInput placeholder="GSTIN" name="GSTIN"
                                                  [(ngModel)]="newData.GSTIN" [ngModelOptions]="{standalone: true}">
                                                </mat-form-field>

                                                </div>
                                              </div>
                                              <div class="row" style="padding-top: 20px;">
                                                <div class="col-md-12">
                                                 <h4>Detail</h4>  
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-md-6">
                                               <div class="row">
                                                  <div class="col-md-1"> &nbsp;       
                                                  </div>
                                                  <div class="col-md-5">
                                                        <mat-form-field class="example-full-width w-100">
                                                          <input matInput placeholder="Voucher No" name="VoucherNo" readonly
                                                          [(ngModel)]="newData.VOUCHERNO" [ngModelOptions]="{standalone: true}">
                                                        </mat-form-field>
                                                  </div>
                                                      <div class="col-md-1"> &nbsp;       
                                                 </div>
                                                  <div class="col-md-5" >
                                                    <!-- <mat-form-field class="example-full-width w-100">
                                                      <input matInput placeholder="Voucher Date" name="VoucherDate"
                                                      [(ngModel)]="newData.VOUCHERDATE" [ngModelOptions]="{standalone: true}">
                                                    </mat-form-field> -->
                                                    <mat-form-field class="w-100">
                                                      <input matInput [matDatepicker]="pickerd" name="VoucherDate"
                                                          [(ngModel)]='newData.VOUCHERDATE'  readonly placeholder="Voucher Date"
                                                          [ngModelOptions]="{standalone: true}"  [min]="FinancialYearSDate" [max]="WorkingDate">
                                                      <mat-datepicker-toggle matSuffix [for]="pickerd"></mat-datepicker-toggle>
                                                      <mat-datepicker #pickerd></mat-datepicker>
                                                   </mat-form-field>
                                                   </div>
                                                  </div>
                                                   <div class="row">
                                                    <div class="col-md-1"> &nbsp;       
                                                    </div>
                                                    <div class="col-md-5">
                                                          <mat-form-field class="example-full-width w-100">
                                                            <input matInput placeholder="Bill No" name="BillNo"
                                                            [(ngModel)]="newData.BILLNO" [ngModelOptions]="{standalone: true}">
                                                          </mat-form-field>
                                                    </div>
                                                        <div class="col-md-1"> &nbsp;       
                                                   </div>
                                                   
                                                    <div class="col-md-5" >
                                                      <mat-form-field class="w-100">
                                                        <input matInput [matDatepicker]="pickerd1" name="BILLDATE"
                                                            [(ngModel)]='newData.BILLDATE'  readonly placeholder="Bill Date" [max]="WorkingDate" [min]="FinancialYearSDate"
                                                            [ngModelOptions]="{standalone: true}">
                                                        <mat-datepicker-toggle matSuffix [for]="pickerd1"></mat-datepicker-toggle>
                                                        <mat-datepicker #pickerd1></mat-datepicker>
                                                     </mat-form-field>
                                                      <!-- <mat-form-field class="example-full-width w-100">
                                                        <input matInput placeholder="Bill Date" name="BillDate"
                                                        [(ngModel)]="newData.BILLDATE" [ngModelOptions]="{standalone: true}">
                                                      </mat-form-field> -->
                                                    </div>
                                                </div>

                                                <div class="row">
                                                  <div class="col-md-1"> &nbsp;       
                                                  </div>
                                                  <div class="col-md-5">
                                                        <mat-form-field class="example-full-width  w-100">
                                                          <input matInput placeholder="Bill Amount" name="BillAmount" (keyup)="calculateSummary()"
                                                          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                                          [(ngModel)]="newData.BILLAMT" [ngModelOptions]="{standalone: true}">
                                                        </mat-form-field>
                                                  </div>
                                                      <div class="col-md-1"> &nbsp;       
                                                 </div>
                                                 
                                                  <div class="col-md-5" style="padding-top: 10px;" >
                                                    <mat-checkbox (change)="onReverseChargeCheck($event)"   [(ngModel)]="newData.ISREVERSECHARGE1" [ngModelOptions]="{standalone: true}"> Is Reverse charge</mat-checkbox>
                                                  </div>
                                                </div>

                                                <div class="row">
                                                  <div class="col-md-1"> &nbsp;       
                                                  </div>
                                                  <div class="col-md-11">
                                                    <mat-form-field class="example-full-width w-100">
                                                      <textarea matInput placeholder="Voucher Description"  name="Description" [(ngModel)]="newData.RMK"></textarea>
                                                      </mat-form-field>
                                                  </div>
                                              </div>

                                              <div class="row">
                                                <div class="col-md-1"> &nbsp;       
                                                </div>
                                                <div class="col-md-5">
                                                      <mat-form-field class="example-full-width w-100">
                                                        <input matInput placeholder="TDS" name="TDS" (keyup)="calPercentage()"
                                                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                                        [(ngModel)]="newData.TDSPERCENT" [ngModelOptions]="{standalone: true}">
                                                      </mat-form-field>
                                                </div>
                                                    <div class="col-md-1"> &nbsp;       
                                               </div>
                                               
                                                <div class="col-md-5" >
                                                  <mat-form-field class="example-full-width w-100 ">
                                                    <input matInput placeholder="TDS Amount" name="TDSAmount" readonly
                                                    [(ngModel)]="newData.TDSAMT" [ngModelOptions]="{standalone: true}">
                                                  </mat-form-field>
                                                </div>
                                            </div>

                                            <div class="row">
                                              <div class="col-md-1"> &nbsp;       
                                              </div>
                                              <div class="col-md-11">
                                                      <mat-form-field class="example-full-width w-100">
                                                              <input matInput placeholder="TDS Account" name="TDSAc"   (keyup)="searchTDSAccount($event.target.value, newData)"
                                                              [(ngModel)]="newData.TDSACCOUNT" [ngModelOptions]="{standalone: true}" >
                                                     </mat-form-field>

                                                     <div *ngIf="searchTDSAct != ''" class="search-list-header">
                                                      <!-- <div class="example-loading-shade" *ngIf="isLoadingGST">
                                                          <mat-spinner  [diameter]="20" *ngIf="isLoadingGST"></mat-spinner>
                                                      </div> -->
                                                      
                          
                                                        <table id="selectedValue" class="table table-condensed table-striped table-hover">
                                                          <tr class="ui-menu-item" role="menuitem" style="height: 40px;">
                                                              <th style="width: 200px;height: 40px;">Account</th>
                                                             
                                                         </tr>
                                                          <tr class="ui-menu-item" role="menuitem" *ngFor="let result of tdsAcFilteredList"
                                                            (click)="onChangeOfTDSAccount(result, newData)">
                                                            <td>{{ result.ACCOUNTHEAD }}</td>
                                                           
                                                          </tr>
                                                        </table>
                                                    
                                                  </div>
                                              </div>
                                            </div>

                                            </div> 
                                          </div>
                               
                                    </div>

                                    <div class="table-scroll mx-1" style="height: 230px;">
                                      <div class="card-body border-top min-width purchase-order px-0 py-2">
                                              <table class="table table-striped custom-table custom-table-big tr th " >
                                                  <thead>
                                                    <tr style="background-color: #666666; color: #ffffff;">
                                                      <th scope="col" style="width:7%;min-width: 80px; ">HSN</th>
                                                      <th style="width:18%;">Description</th>
                                                      <th scope="col" style="width:7%;min-width: 80px; text-align:right;">Amount</th>
                                                      <th scope="col" style="width:6%;min-width: 50px;  text-align:right;">Discount</th>
                                                      <th scope="col" style="width:7%;min-width: 50px; text-align:right;">Taxable<br> Amount</th>
                                                      <th scope="col" style="width:4%;min-width: 50px;  text-align:right;">IGST%</th>
                                                      <th scope="col" style="width:4%;min-width: 50px;  text-align:right;">CGST%</th>
                                                      <th scope="col" style="width:4%;min-width: 50px;  text-align:right;">SGST%</th>
                                                      <th scope="col" style="width:7%;min-width: 80px;  text-align:right;">IGST Amount</th>
                                                      <th scope="col" style="width:7%;min-width: 80px;  text-align:right;">CGST Amount</th>
                                                      <th scope="col" style="width:7%;min-width: 80px;  text-align:right;">SGST Amount</th>
                                                      <th scope="col" style="width:18%;min-width: 80px; ">Book under A/c</th>
                                                      <th scope="col" style="width:3%;text-align: center;">{{'action' | translate}}</th>
                                                     </tr>
                                                  </thead>
                                                  <tbody class="font-sm">
                                                   
                                                        
                                                        <tr style="height:auto">
                                                            <td style="text-align:right;">
                                                              <input type="text" class="form-control w-100" [(ngModel)]="detail.TARIFFHEAD" [ngModelOptions]="{standalone: true}"  (keyup)="searchHsnCode($event.target.value, detail,'A')">
                                                              <div *ngIf="searchHsn != ''" class="search-list-header">
                                                              <table id="selectedValue" class="table table-condensed table-striped table-hover">
                                                                    <tr class="ui-menu-item" role="menuitem" style="height: 40px;">
                                                                        <th style="width: 80px;height: 40px;">HSN</th>
                                                                        <th style="width: 250px;height: 40px;text-align:left ;">Description</th>
                                                                        <th style="width: 50px;height: 40px;">IGST</th>
                                                                        <th style="width: 50px;height: 40px;">CGST</th>
                                                                        <th style="width: 50px;height: 40px;">SGST</th>

                                                                   </tr>
                                                                    <tr class="ui-menu-item" role="menuitem" *ngFor="let result of gstFilteredList"
                                                                      (click)="onChangeOfGST(result, detail)">
                                                                      <td>{{ result.TARIFFHEAD }}</td>
                                                                      <td>{{ result.DESCRIPTION }}</td>
                                                                      <td>{{ result.IGST }}</td>
                                                                      <td>{{ result.CGST }}</td>
                                                                      <td>{{ result.SGST }}</td>
                                                                    </tr>
                                                                  </table>
                                                              
                                                            </div>
                                                            </td>
                                                            <td style="text-align:right;"><input type="text" class="form-control w-100" [(ngModel)]="detail.DESCRIPTION" [ngModelOptions]="{standalone: true}" ></td>
                                                            <td style="text-align:right;"><input style="text-align:right" type="text" class="form-control w-100" (keyup)="amountChnage(detail)" [(ngModel)]="detail.AMOUNT" [ngModelOptions]="{standalone: true}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"></td>
                                                            <td style="text-align:right;"><input style="text-align:right" type="text" class="form-control w-100" [(ngModel)]="detail.DISCAMT" (keyup)="amountChnage(detail)" [ngModelOptions]="{standalone: true}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"></td>  
                                                            <td style="text-align:right;"><input style="text-align:right" type="text" class="form-control w-100 readonly-disable" [(ngModel)]="detail.TAXABLEVALUE" [ngModelOptions]="{standalone: true}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"></td>  
                                                            <td style="text-align:right;"><input style="text-align:right" type="text" class="form-control w-100 readonly-disable" [(ngModel)]="detail.IGSTRATE" [ngModelOptions]="{standalone: true}" readonly></td>
                                                            <td style="text-align:right;"><input style="text-align:right" type="text" class="form-control w-100 readonly-disable" [(ngModel)]="detail.CGSTRATE" [ngModelOptions]="{standalone: true}" readonly></td>
                                                            <td style="text-align:right;"><input style="text-align:right" type="text" class="form-control w-100 readonly-disable" [(ngModel)]="detail.SGSTRATE" [ngModelOptions]="{standalone: true}" readonly></td>
                                                            <td style="text-align:right;"><input style="text-align:right" type="text" class="form-control w-100 readonly-disable"  [(ngModel)]="detail.IGSTAMT" [ngModelOptions]="{standalone: true}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"></td>
                                                            <td style="text-align:right;"><input style="text-align:right" type="text" class="form-control w-100 readonly-disable" [(ngModel)]="detail.CGSTAMT" [ngModelOptions]="{standalone: true}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"></td>
                                                            <td style="text-align:right;"><input style="text-align:right" type="text" class="form-control w-100 readonly-disable" [(ngModel)]="detail.SGSTAMT" [ngModelOptions]="{standalone: true}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"></td>
                                                            <td >
                                                              <input type="text" class="form-control w-100" [(ngModel)]="detail.ACCOUNTHEAD" [ngModelOptions]="{standalone: true}"   (keyup)="searchAccount($event.target.value, detail,'A')" >
                                                              <div *ngIf="searchAct != ''" class="search-list-header">
                                                                  <table id="selectedValue" class="table table-condensed table-striped table-hover">
                                                                    <tr class="ui-menu-item" role="menuitem" style="height: 40px;">
                                                                        <th style="width: 200px;height: 40px;">Account</th>
                                                                   </tr>
                                                                    <tr class="ui-menu-item" role="menuitem" *ngFor="let result of accountFilteredList"
                                                                      (click)="onChangeOfAccount(result, detail)">
                                                                      <td>{{ result.ACCOUNTHEAD }}</td>
                                                                     
                                                                    </tr>
                                                                  </table>
                                                              
                                                            </div>
                                                            </td>
                                                            <td style="text-align: center;">
                                                                <i (click)="additem(detail)" class="fas fa-plus"></i>
                                                            </td>
                                                        </tr>
                                                        <tr *ngFor="let item of gstDetail; let i = index" style="height:auto">

                                                          <td  *ngIf="i === editItemID" style="text-align:right;">
                                                            <input type="text" class="form-control w-100" [(ngModel)]="item.TARIFFHEAD" [ngModelOptions]="{standalone: true}"  (keyup)="searchHsnCode($event.target.value, item,'E')">
                                                            <div *ngIf="searcheditHsn != ''" class="search-list-header">
                                                            <table id="selectedValue" class="table table-condensed table-striped table-hover">
                                                                  <tr class="ui-menu-item" role="menuitem" style="height: 40px;">
                                                                      <th style="width: 80px;height: 40px;">HSN</th>
                                                                      <th style="width: 250px;height: 40px;text-align:left ;">Description</th>
                                                                      <th style="width: 50px;height: 40px;">IGST</th>
                                                                      <th style="width: 50px;height: 40px;">CGST</th>
                                                                      <th style="width: 50px;height: 40px;">SGST</th>

                                                                 </tr>
                                                                  <tr class="ui-menu-item" role="menuitem" *ngFor="let result of gstFilteredList"
                                                                    (click)="onChangeOfGST(result, item)">
                                                                    <td>{{ result.TARIFFHEAD }}</td>
                                                                    <td>{{ result.DESCRIPTION }}</td>
                                                                    <td>{{ result.IGST }}</td>
                                                                    <td>{{ result.CGST }}</td>
                                                                    <td>{{ result.SGST }}</td>
                                                                  </tr>
                                                                </table>
                                                            
                                                          </div>
                                                          </td>
                                                          <td  *ngIf="i === editItemID" style="text-align:right;"><input type="text" class="form-control w-100" [(ngModel)]="item.DESCRIPTION" [ngModelOptions]="{standalone: true}" ></td>
                                                          <td  *ngIf="i === editItemID" style="text-align:right;"><input style="text-align:right" type="text" class="form-control w-100" (keyup)="amountChnage(item)" [(ngModel)]="item.AMOUNT" [ngModelOptions]="{standalone: true}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"></td>
                                                          <td  *ngIf="i === editItemID" style="text-align:right;"><input style="text-align:right" type="text" class="form-control w-100" [(ngModel)]="item.DISCAMT" (keyup)="amountChnage(item)" [ngModelOptions]="{standalone: true}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"></td>  
                                                          <td  *ngIf="i === editItemID" style="text-align:right;"><input style="text-align:right" type="text" class="form-control w-100 readonly-disable"  [(ngModel)]="item.TAXABLEVALUE" [ngModelOptions]="{standalone: true}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"></td>  
                                                          <td  *ngIf="i === editItemID" style="text-align:right;"><input style="text-align:right" type="text" class="form-control w-100 readonly-disable" [(ngModel)]="item.IGSTRATE" [ngModelOptions]="{standalone: true}" readonly></td>
                                                          <td  *ngIf="i === editItemID" style="text-align:right;"><input style="text-align:right" type="text" class="form-control w-100 readonly-disable" [(ngModel)]="item.CGSTRATE" [ngModelOptions]="{standalone: true}" readonly></td>
                                                          <td  *ngIf="i === editItemID" style="text-align:right;"><input style="text-align:right" type="text" class="form-control w-100 readonly-disable" [(ngModel)]="item.SGSTRATE" [ngModelOptions]="{standalone: true}" readonly></td>
                                                          <td  *ngIf="i === editItemID" style="text-align:right;"><input style="text-align:right" type="text" class="form-control w-100 readonly-disable" [(ngModel)]="item.IGSTAMT" [ngModelOptions]="{standalone: true}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"></td>
                                                          <td  *ngIf="i === editItemID" style="text-align:right;"><input style="text-align:right" type="text" class="form-control w-100 readonly-disable" [(ngModel)]="item.CGSTAMT" [ngModelOptions]="{standalone: true}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"></td>
                                                          <td  *ngIf="i === editItemID" style="text-align:right;"><input style="text-align:right" type="text" class="form-control w-100 readonly-disable" [(ngModel)]="item.SGSTAMT" [ngModelOptions]="{standalone: true}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"></td>
                                                          <td  *ngIf="i === editItemID">
                                                            <input type="text" class="form-control w-100" [(ngModel)]="item.ACCOUNTHEAD" [ngModelOptions]="{standalone: true}"   (keyup)="searchAccount($event.target.value, item,'E')" >
                                                            <div *ngIf="searchEditAct != ''" class="search-list-header">
                                                                <table id="selectedValue" class="table table-condensed table-striped table-hover">
                                                                  <tr class="ui-menu-item" role="menuitem" style="height: 40px;">
                                                                      <th style="width: 200px;height: 40px;">Account</th>
                                                                 </tr>
                                                                  <tr class="ui-menu-item" role="menuitem" *ngFor="let result of accountFilteredList"
                                                                    (click)="onChangeOfAccount(result, item)">
                                                                    <td>{{ result.ACCOUNTHEAD }}</td>
                                                                   
                                                                  </tr>
                                                                </table>
                                                            
                                                          </div>
                                                          </td>
                                                          <td  *ngIf="i != editItemID">{{item.TARIFFHEAD}}</td>
                                                          <td  *ngIf="i != editItemID">{{item.DESCRIPTION}}</td>
                                                          <td  *ngIf="i != editItemID" style="text-align:right" >{{item.AMOUNT}}</td>
                                                          <td  *ngIf="i != editItemID" style="text-align:right" >{{item.DISCAMT}}</td>    
                                                          <td  *ngIf="i != editItemID" style="text-align:right" >{{item.TAXABLEVALUE}}</td>              
                                                          <td  *ngIf="i != editItemID" style="text-align:right" >{{item.IGSTRATE}}</td>
                                                          <td  *ngIf="i != editItemID" style="text-align:right" >{{item.CGSTRATE}}</td>
                                                          <td  *ngIf="i != editItemID" style="text-align:right" >{{item.SGSTRATE}}</td>
                                                          <td  *ngIf="i != editItemID" style="text-align:right" >{{item.IGSTAMT}}</td>
                                                          <td  *ngIf="i != editItemID" style="text-align:right" >{{item.CGSTAMT}}</td>
                                                          <td  *ngIf="i != editItemID" style="text-align:right" >{{item.SGSTAMT}}</td>
                                                          <td  *ngIf="i != editItemID">{{item.ACCOUNTHEAD}}</td>
                                                         
                                                          <td style="text-align: center;">
                                                              <div>
                                                                  <i *ngIf="i == editItemID" class="fas fa-check customIcon" (click)="updateItem(item, element)"></i>
                                                                  <i *ngIf="i != editItemID" class="fas fa-edit customIcon" (click)="editItem(i)"></i>
                                                                  <i style="margin-left: 5px;" class="far fa-trash-alt customIcon" (click)="removeItem(i)"></i>
                                                              </div>
                                                          </td>
                                                      </tr>
                                                    </tbody>
                                              </table>
                                          
                                      </div>
                                       </div>
                                       <div class="col-md-12">
                                        <div class="row m-1">
                                          <div class="col-md-6">
                                            &nbsp;
                                          </div>
                                          <div class="col-md-6">
                                            <div class="row">
                                            <div class="col-md-1"> &nbsp;       
                                            </div>
                                            <div class="col-md-3">
                                                  <mat-form-field class="example-full-width w-100">
                                                    <input matInput placeholder="Reverse Charges" name="reverseamt" readonly
                                                    [(ngModel)]="newData.REVERSEAMT" [ngModelOptions]="{standalone: true}">
                                                  </mat-form-field>
                                            </div>
                                            <div class="col-md-1"> &nbsp;       
                                           </div>
                                           <div class="col-md-3">
                                            <mat-form-field class="example-full-width w-100">
                                              <input matInput placeholder="Round off" name="roundoff" readonly
                                              [(ngModel)]="newData.ROUNDOFF" [ngModelOptions]="{standalone: true}">
                                            </mat-form-field>
                                           </div>
                                          <div class="col-md-1"> &nbsp;       
                                          </div>
                                          <div class="col-md-3">
                                            <mat-form-field class="example-full-width w-100">
                                              <input matInput placeholder="Total Amount" name="AMOUNT" readonly
                                              [(ngModel)]="newData.AMOUNT" [ngModelOptions]="{standalone: true}">
                                            </mat-form-field>
                                          </div>
                                          </div>
                                         </div>
                                        </div>
                                      </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-secondary rounded" routerLink="/gst-voucher">{{'cancel'|translate}}</button>
              <!-- <button *ngIf="isConfirmed=='N'" type="button" class="btn btn-sm btn-info rounded" (click)="validateDetail(newData)" [disabled]="indententry.pristine || indententry.invalid">{{'save'|translate}}</button> -->
              <button *ngIf="routeAction == 'new'" type="button" class="btn btn-sm btn-info rounded" (click)="savedata('Insert')" [disabled]="isLoadingResults">{{'save'|translate}}</button>
              <button *ngIf="routeAction == 'edit'" type="button" class="btn btn-sm btn-info rounded" (click)="savedata('Update')" [disabled]="isLoadingResults">{{'update'|translate}}</button>
              <button *ngIf="routeAction == 'edit'"  type="button" class="btn btn-sm btn-secondary rounded" (click)="printVoucher()">{{'print'|translate}}</button>
          </div>

         </div>
    </div>
  </div>
<!-- </form> -->
<app-footer></app-footer>
</div>
</div>
</div>
