
        <div class="w-100 clearfix text-right pb-2 pr-2 pt-2" id="printPageButton">
        <button class="btn btn-primary btn-sm rounded waves-effect waves-light customButton" (click)="print()">{{'print'| translate}}</button>
        <button class="btn btn-primary btn-sm rounded waves-effect waves-light customButton" (click)="pdf.saveAs('Die-Planning-Print.pdf')"  ><i class="ti-download"></i>&nbsp;{{'downloadpdf'| translate}}</button>
        <button class="btn btn-primary btn-sm rounded waves-effect waves-light customButton"  mat-dialog-close>
        <span aria-hidden="true"> &nbsp;&times; &nbsp;</span>
        </button>
     </div>
     <div class="example-container mat-elevation-z8">
      <div class="example-loading-shade"
           *ngIf="isLoadingResults ">
         <mat-spinner  [diameter]="40" *ngIf="isLoadingResults"></mat-spinner> 
        </div>
      </div>

     <kendo-pdf-export #pdf paperSize="A4" [scale]="0.6" [margin]="{top: 20, bottom: 50, right: 10, left: 10}" [repeatHeaders]="repeatHeaders">
                  
      <div class="row" id="ravinderpal" style="padding-left:2px;padding-right:2px">

        <div class="col-12">
           <div class="card" >
                <div class="custom-invoice" >
                <!-- <div class="header">
                  <h4>{{companyName}}</h4>
                  <h5>{{Address1}}</h5>
                  <h5>{{Address2}}</h5>
                    
                </div> -->
                <header style="width: 100%;">
        

                  <!-- <hr> -->
                 <table style="width: 100%; text-align: center;" >
                  <tr>
                     <td colspan="2" style="font-size: 16pt;font-weight: 700;">
                      <b>{{companyName}}</b>
                     </td> 
                  </tr>
                  <tr>
                    <td colspan="2" style="font-size: 13pt;font-weight: 700;">
                     <b>{{Address1}}</b>
                    </td> 
                  </tr>
                  <!-- <tr>
                    <td colspan="2" style="font-size: 13pt;font-weight: 700;">
                     <b>{{Address2}}</b>
                    </td> 
                  </tr> -->
                  <tr >
                  <td colspan="2" style="font-size: 12pt; font-weight: 700;text-align: center;">Tool Maintenance History From Date {{fromdate}} To {{todate}}</td>
                  </tr>
                   <!-- <tr>
                     <td style="width: 50%;"> <b>Plan No.</b> {{PlanNo}}</td>
                     <td style="width: 50%;">  <b>Plan Date</b> {{fendDate}}</td>
                   </tr> -->
              
                 </table>
               </header>
               <!-- <footer style="width: 100%;">
                 <hr>
              </footer> -->

 
                      <table id="selectedValue" class="w-100"  cellspacing="0" cellpadding="0" border="1">
                          <thead>
                          <tr>
                            <!-- <td style="width: 20px;font-weight: 400;" rowspan="2">{{'srno' | translate}}</td> -->
                            <td style="width: 250px;font-weight:700;" rowspan="2">{{'partyname' | translate}}</td>
                            <td rowspan="2" style="width: 120px;font-weight:700;">{{'drawingno/frameno' | translate}} </td>
                            <td rowspan="2" style="width: 70px;font-weight:700;">{{'dietype' | translate}}</td>
                            <td rowspan="2" style="width: 70px;font-weight:700;text-align:right;">{{'noofstrokesplanned' | translate}}</td>
                            <td rowspan="2" style="width: 70px;font-weight:700;">{{'mfgdate' | translate}}</td>
                            <td rowspan="2" style="width: 70px;font-weight:700;">{{'toolsource' | translate}}</td>

                          </tr>
                        </thead>
                        <tbody>
                          <tr > 
                            <!-- <td style="text-align: center;">
                              {{i+1}}
                            </td> -->
                            <td>{{Diehistoryarray.NAME}}</td>
                            <td>{{Diehistoryarray.DIENAME}}</td>
                            <td >{{Diehistoryarray.DIETYPEDESC}}</td>
                            <td style="text-align: right;">{{Diehistoryarray.BALPLANNEDSTROKES}}</td>
                            <td >{{Diehistoryarray.MFGDATE | date:'dd-MM-yy'}}</td>
                            <td >{{Diehistoryarray.TOOLSECTIONDESC}}</td>
                            </tr>
                        </tbody>
                    </table>
                      


                    <table id="selectedValue1" class="w-100"  cellspacing="0" cellpadding="0" border="1" style="margin-top: 25px;">
                      <thead>
                      <tr>
                        <td style="width: 30px;font-weight: 700;text-align: center;" rowspan="2">{{'srno' | translate}}</td>
                        <td style="width: 70px;font-weight: 700;" rowspan="2">{{'date' | translate}}</td>
                        <td rowspan="2" style="width: 250px;font-weight: 700;">{{'maintenanceworkdetail' | translate}} </td>
                        <td rowspan="2" style="width: 80px;font-weight: 700;text-align: right;">{{'noofstrokesdone' | translate}}</td>
                        <td rowspan="2" style="width: 80px;font-weight: 700;text-align: right;">{{'noofstrokesavailable' | translate}}</td>
                        <td rowspan="2" style="width: 240px;font-weight: 700;">{{'reasonorremarks' | translate}}</td>

                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let items of Diehistoryitemarray ; let i = index"> 
                        <td style="text-align: center;">
                          {{i+1}}
                        </td>
                        <td>{{items.MAINTENANCECOMPLETEDT | date:'dd-MM-yy'}}</td>
                        <td>{{items.EMPNAME}}</td>
                        <td style="text-align: right;">{{items.STROCKESMODE}}</td>
                        <td style="text-align: right;">{{items.BALPLANNEDSTROKES}}</td >
                        <td >{{items.REMARKS}}</td>
                 </tr>
                    </tbody>
                </table>
   
            </div>
       
        </div>
        </div>
      </div>
      </kendo-pdf-export>
    


    