<!-- 
<h1 mat-dialog-title>  &nbsp;&nbsp; &nbsp; Are you sure want to cancel ?    </h1>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>cancel</button>
  <button mat-button (click)="onNoClick()">ok</button>
  
</div> -->


<div class="modal-header">
    <h4 class="modal-title">Alert</h4>
     
    </div>
    <div class="modal-body">
        Are you sure want to cancel ?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" mat-dialog-close>Cancel</button>
      <button type="button" class="btn btn-primary" (click)="allClose()">Ok</button>
    </div>