<div class="preloader" style="display: none;">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
  </div>
  <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  
  <div class="page-wrapper" >
    <div class="container-fluid" style="background:#dcdcdc;">
        <div class="row {{canViewCommonClass}}">
        <div class="col-md-12">
            <div class="card" style="border-top: 2px solid #0e43af;box-shadow:0 1px 3px rgba(0,0,0,.3);">
                  <div class="card-body py-2 mb-2">
                    <div class="d-md-flex align-items-center">
                        <div class="form-row mx-0 d-flex bd-highlight w-100">
                              <h4 class="card-title m-0">{{'materialtransferorder' | translate}}</h4>
                              <div class="form-group mx-4 mb-2">
                                <button type="submit" class="btn btn-sm rounded btn-info waves-effect waves-light {{canCreateCommonClass}}" [routerLink]="['/add-material-transfer-order/0/new']" ><i class="ti-plus"></i>&nbsp;{{'addnew' | translate }}</button>
                                  </div>
                                  <!-- <div > -->
                                      <!-- <span class="d-flex">
                                              <input type="text" class="form-control form-control-sm search-box"  [(ngModel)]="name"
                                              [ngModelOptions]="{standalone: true}"   placeholder="{{'search'|translate}}" (keyup.enter)= "applyFilter(name)">
                                              <button class="close-icon" (click)="reset(name)"></button>
                                              <button type="submit" class="btn btn-sm rounded btn-info waves-effect waves-light ml-1" style="overflow: visible;" (click)="applyFilter(name)">{{'search'|translate}}</button></span>
                                          </div> -->
                        </div>
                    </div>
                </div>
            </div>
        
  
        </div> 
        <div class="col-md-12">
          <div class="d-flex justify-content-between align-items-stretch w-100 boxed-layout">
            <div class="w-100">
              <div class="example-loading-shade" *ngIf="isLoadingResults ">
                <mat-spinner [diameter]="40" *ngIf="isLoadingResults"></mat-spinner>
  
            </div>
  
              <div class="card example-container " style="box-shadow:0 1px 3px rgba(0,0,0,.3);">
                  <table mat-table [dataSource]="machinearray" matSort [matSortDisableClear]="true" class="table table-sm table-striped w-100 mb-0 mat-table" #table>
                        
                      <ng-container matColumnDef="MachineName">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell"  style="width:15%"><a style="color: #0e43af !important ">{{'machinename'|translate}} </a></th>
                          <td mat-cell *matCellDef="let element"> {{element.MachineName}} </td>
                      </ng-container>
  
                      <ng-container matColumnDef="MCSRNo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell"  style="width:8%"> <a style="color: #0e43af !important ">{{'srno'|translate}} </a></th>
                        <td mat-cell *matCellDef="let element"> {{element.MCSRNo}} </td>
                      </ng-container>  
                  
                      <ng-container matColumnDef="MCCatgName">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell"  style="width:15%"> <a style="color: #0e43af !important">{{'category'|translate}} </a></th>
                          <td mat-cell *matCellDef="let element"> {{element.MCCatgName}} </td>
                      </ng-container>
   
                      <ng-container matColumnDef="MCModel">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell"  style="width:12%"> <a style="color: #0e43af !important;">{{'model'|translate}} </a></th>
                        <td mat-cell *matCellDef="let element"> {{element.MCModel}} </td>
                      </ng-container> 
  
                      <ng-container matColumnDef="location">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell" style="width:15%"> <a style="color: #0e43af !important ">{{'location'|translate}} </a></th>
                        <td mat-cell *matCellDef="let element" matTooltip="{{element.location}}"><span class="limittext">  {{element.location}} </span></td>
                      </ng-container>
  
                      <ng-container matColumnDef="MCCapacity">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell"  style="width:15%"> <a style="color: #0e43af !important">{{'capacity'|translate}} </a></th>
                        <td mat-cell *matCellDef="let element"> {{element.MCCapacity}} </td>
                      </ng-container>
  
                      <ng-container matColumnDef="MCManufacturer">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="py-1 font-weight-bold text-dark sticky-cell" style="width:15%"> <a style="color: #0e43af !important;">{{'manufacturer'|translate}} </a></th>
                        <td mat-cell *matCellDef="let element"> {{element.MCManufacturer}} </td>
                      </ng-container>
  
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef class="py-1 font-weight-bold text-dark sticky-cell" style="width:5%">
                          <a style="color: #0e43af !important">{{'action' | translate}}</a></th>
                        <td mat-cell *matCellDef="let element">
                          <button type="button"  class="btn btn-sm btn-info rounded" (click)="openPopup(element)">{{'more' | translate}}</button> </td>
                      </ng-container>
            
                      <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true " class="bg-light" style="height:auto;"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="height:auto;" (dblclick)="editmachine(row)"></tr>
                  </table>
                  <mat-paginator class="mat-paginator-sticky sticky-cell" (page)="getUpdate($event)" [pageSizeOptions]="[ 20,50,100]"
                    [length]="resultsLength" [pageSize]="20"
                    showFirstLastButtons>
                  </mat-paginator>
              </div>
          </div>
        </div>
        </div>
  
        </div>
  
        <div *ngIf="userRightCheck.canview == 'False'" class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-body">
                      {{'youhavenotpermission' | translate}}
                  </div>
              </div>
          </div>
        </div>
        <app-footer></app-footer>
      </div>
    </div>
  </div>
  