<!-- <div class="modal-header">
  <h4 class="modal-title">Success</h4>
   
  </div>
  <div class="modal-body">
  
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" mat-dialog-close>ok</button>
   
  </div> -->
  <div *ngIf="wrongMessage == 'sucess'" class="modal-dialog modal-confirm mb-0">
    <div class="modal-content">
      <div class="modal-header text-center p-0">
        <div class="icon-box">
          <i class="material-icons">&#xE876;</i>
        </div>				
        <h4 class="modal-title w-100 mb-0">Success</h4>	
      </div>
    
      <div class="modal-footer py-2">
        <button class="btn btn-success btn-block" (click)="allClose()">OK</button>
      </div>
    </div>
  </div>

  <div *ngIf="wrongMessage == 'wrongData'" class="modal-dialog modal-confirm mb-0">
    <div class="modal-content">
      <div class="modal-header text-center p-0">
        <div class="icon-box" style="background: #dc3545;">
          <i class="fa">&#xf00d;</i>
        </div>				
        <h4 class="modal-title w-100 mb-0">{{displayMsg}}</h4>	
      </div>
    
      <div class="modal-footer py-2">
        <button class="btn btn-danger btn-block" style="background: #dc3545;" (click)="allClose()">OK</button>
      </div>
    </div>
  </div>


    <!-- <div class="scroll-spy px-3 pb-3" style="min-height:200px; width: 500px">
      <div class="card-body border-top item-master px-0 py-2">
        <div class="form-inline">
        <div [innerHTML]="displayMsg"></div>
      </div>
      </div>
      <div class="modal-footer">
          <button class="btn btn-danger" style="background: #dc3545;" (click)="allClose()">OK</button>
    </div>
  </div> -->
    <div  *ngIf="wrongMessage == 'validation'"  class="scroll-spy px-3 pb-3" style="height:170px; width: 500px">
      <div class="card-body border-top item-master px-0 py-2">
        <div class="form-inline">
            <div [innerHTML]="displayMsg"></div>
           
        </div>
       </div>
    </div>
    <div *ngIf="wrongMessage == 'validation'" class="modal-footer">
        <button type="button" class="btn btn-danger" mat-dialog-close>OK</button>
       
    </div>