/* .custom-invoice-table .email .pan-custom{
    text-align: right;
    margin: 0;
}
     */
/* .custom-invoice-table table tr td {
    border: solid 1px #ccc;
} */

/* .custom-invoice-table table tr td {
    padding: 1px 8px;
} */

.levyclass{
    display: none;
}

.header-tr-class td{
    vertical-align: middle;
    color: #4F5467;
    background-color: #e9ecef;
    border-color: #dee2e6;
    font-weight: 700;
}