<form >
  <div class="modal-header primary-bg py-2">
      <h6 class="p-2 mb-0" style="color:#fff;">Requirment Detail for :-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Item Code : {{parentData.ITEMCODE}}<br> Item Name : {{parentData.ITEMNAME}}</h6> 
  </div>
      <div class="modal-body" style="overflow-y:scroll;padding:0;max-width:950px;">
        <div class="table-scroll mx-1">
          <div class="card-body border-top supplier-master px-0 py-2" style="background: #ffffcf;min-height:470px;">
            <div class="example-loading-shade"
               *ngIf="isLoadingResults ">
            <mat-spinner  [diameter]="40" *ngIf="isLoadingResults"></mat-spinner> 
          </div>
        
        <div class="example-loading-shade" *ngIf="isLoadingResults ">
            <mat-spinner [diameter]="60" *ngIf="isLoadingResults"></mat-spinner>
          </div>
            <table class="table table-striped custom-table tr th">
              <thead>
                <tr>
                  <th style="width: 30px; text-align: right;"></th>
                  <th style="width: 100px; text-align: right;">Req No.</th>
                  <th style="text-align:right;width: 100px;">Req Date</th>
                  <th style="width: 150px;">Department</th>
                  <th style="width: 150px;">Cost Centre</th>
                  <th style="text-align: right; width: 100px;">Pending for <br>Issue </th>
                  <th style="text-align: right; width: 100px;">Indent Qty</th>
                  <th style="text-align: right; width: 100px;">Stock <br> In-Hand</th>
                  <th *ngIf="parentData.BALANCEQTY>0" style="text-align: right; width: 100px;">Balance for <br> Procurement</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let staff of itemDetail">
                  <td><mat-checkbox class="custom-checkbox-green" [(ngModel)]="staff.chkd"   [ngModelOptions]="{standalone: true}" ></mat-checkbox></td>
                  <td class="text-right"><em>{{staff.REQNO}}</em></td>
                  <td class="text-right"><em>{{staff.REQDATE|date:'d/M/y'}}</em></td>
                  <td class="text-left"><em>{{staff.DEPARTMENT}}</em></td>
                  <td class="text-left"><em>{{staff.COSTCENTER}}</em></td>
                  <td class="text-right"><em>{{staff.PENINGQTY}}</em></td>
                  <td class="text-right"><em>{{staff.INDENTQTY}}</em></td>
                  <td class="text-right"><em>{{staff.STOCKINHAND}}</em></td>
                  <td *ngIf="parentData.BALANCEQTY>0" class="text-right"><em>{{staff.BALANCEQTY}}</em></td>
                </tr>
              </tbody>
            </table>
            <div class="col-sm-12">
              <div class="col-sm-10" style="text-align: right;">
                <button *ngIf="parentData.BALANCEQTY>0" type="button" class="btn btn-danger" (click)="cancelDialog()">Cancel</button> &nbsp;&nbsp;&nbsp;
                <button  type="button" class="btn btn-primary" (click)="saveCurrentSelection()">Ok</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>