
<div class="preloader" style="display: none;">
  <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
  </div>
</div>

<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper" >
  <div class="container-fluid" style="background:#dcdcdc;">
<form autocomplete="off" >
<div class="row">
    <div class="col-12">
          <div class="example-loading-shade" *ngIf="isLoadingResults">
                  <mat-spinner  [diameter]="40" *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <div class="card" style="border-top: 2px solid #0e43af;box-shadow:0 1px 3px rgba(0,0,0,.3);">
            <div class="card-body border-bottom py-2">
                <div class="align-items-center justify-content-between">
                 
                    <div class="col-md-2">
                      
                      <!-- <button *ngIf="!isAddNew" type="submit" (click)="addNewOrder()"  class="btn btn-sm rounded btn-info waves-effect waves-light" > Add New</button>&nbsp; -->
                      <button *ngIf="isAddNew" type="submit" (click)="validateDetail('add')"  class="btn btn-sm rounded btn-info waves-effect waves-light" >Save</button>
                      <button *ngIf="!isAddNew" type="submit" (click)="validateDetail('update')"  class="btn btn-sm rounded btn-info waves-effect waves-light" >Update</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
              <div class="row">
              <div class="col-md-6">
                  <div class="row m-1">
                  <div class="col-md-3">
                  <b> Emp No</b> 
                
                  </div>
         
                  <div class="col-md-3">
                      
                      <input style="text-align:right" type="text" class="form-control form-control-sm" name="EmpNo"
                      [(ngModel)]="EmpNo" [ngModelOptions]="{standalone: true}" (focusout)="showData()"
                      oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');">
                   
                  </div>
                       
                 
                  <div class="col-md-3" >
                    <b>Dated</b> 
                    </div>
                    <div class="col-md-3">
                      <mat-form-field class="form-control py-1 mat-form-field-date-picker">
                          <input matInput [matDatepicker]="pickerd" name="myDate"
                              [(ngModel)]='myDate'
                              [ngModelOptions]="{standalone: true}">
                          <mat-datepicker-toggle matSuffix [for]="pickerd"></mat-datepicker-toggle>
                          <mat-datepicker #pickerd></mat-datepicker>
                       </mat-form-field>
                    </div>
                  </div>
                  <div class="row m-1">
                      <div class="col-md-3">
                          <b> Name</b> 
                      </div>
                      <div class="col-md-9">
                           <input  type="text" class="form-control form-control-sm" name="NAME"
                               [(ngModel)]="newData.NAME" [ngModelOptions]="{standalone: true}" readonly>
                      </div>
                  </div>
                  <div class="row m-1">
                      <div class="col-md-3">
                          <b> Designation</b> 
                      </div>
                      <div class="col-md-9">
                          
                        <input  type="text" class="form-control form-control-sm" name="DESIGNATION"
                               [(ngModel)]="newData.DESIGNATION" [ngModelOptions]="{standalone: true}" readonly>
                      </div>
                  </div>
                  <div class="row m-1">
                      <div class="col-md-3">
                          <b>Department</b> 
                      </div>
                      <div class="col-md-9">
                          <input type="text" class="form-control form-control-sm" name="DEPARTMENT" 
                          [(ngModel)]="newData.DEPARTMENT" [ngModelOptions]="{standalone: true}" readonly>
                      </div>
                  </div>
                  <div class="row m-1">
                    <div class="col-md-3">
                        <b>Advace Required</b> 
                    </div>
                    <div class="col-md-3">
                      <input type="text" class="form-control form-control-sm" name="ADVANCEAMT" 
                      [(ngModel)]="newData.ADVANCEAMT" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-md-3">
                        <b>Advance Type</b> 
                    </div>
                    <div class="col-md-3">
                      <ng-select
                          [(ngModel)]="newData.ADVANCETYPEID" [ngModelOptions]="{standalone: true}"
                          [items]="advancetypeList" 
                          bindLabel="ADVANCETYPE"
                          bindValue="ADVANCETYPEID"
                          placeholder="Select advance type"
                          class="form-control border-1 form-control-sm w-100">
                      </ng-select>
                    </div>
                </div>
                <div class="row m-1">
                  <div class="col-md-3">
                      <b style="color: #0e43af">Advance Balance</b> 
                  </div>
                  <div class="col-md-3">
                    <input type="text" class="form-control form-control-sm" name="ADVANCEBALANCE" 
                      [(ngModel)]="newData.ADVANCEBALANCE" [ngModelOptions]="{standalone: true}" readonly>
                  </div>
                </div>
                <div class="row m-1">
                  <div class="col-md-3">
                      <b  style="color: #0e43af">Loan Balance</b> 
                  </div>
                  <div class="col-md-3">
                    <input type="text" class="form-control form-control-sm" name="LAONBALANCE" 
                    [(ngModel)]="newData.LAONBALANCE" [ngModelOptions]="{standalone: true}" readonly>
                  </div>
                </div>
                <div class="row m-1">
                  <div class="col-md-3">
                      <b style="color: #0e43af">Tour Imprest Balance</b> 
                  </div>
                  <div class="col-md-3">
                    <input type="text" class="form-control form-control-sm" name="TOURIMPREST" 
                    [(ngModel)]="newData.TOURIMPREST" [ngModelOptions]="{standalone: true}" readonly>
                  </div>
                </div>
                <div class="row m-1">
                  <div class="col-md-3">
                      <b>Reason for Leave</b> 
                  </div>
                  <div class="col-md-9">
                      <textarea type="text" autosize class="form-control form-control-sm text-area-custom-item" name="REASON" [(ngModel)]="newData.REASON" >
                        </textarea>
                  </div>
                </div>

                </div>
                 
           
              </div>
          </div>
         </div>
    </div>
  </div>
</form>
<app-footer></app-footer>
</div>
</div>
</div>
