<form>
  <div class="example-loading-shade" *ngIf="isLoadingResults ">
      <mat-spinner [diameter]="40" *ngIf="isLoadingResults"></mat-spinner>
    </div>
    
  <div class="modal-header primary-bg py-2">
    <h5  class="modal-title text-white" id="exampleModalLabel">{{'uploaddocument'|translate}} </h5> 
    <button class="close text-white" mat-dialog-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" style="height:500px;overflow-y:scroll;padding:0;width:700px;max-width: 700px;">
      <div class="scroll-spy pb-3 pl-1" style="height:500px;overflow-y: scroll;" id="parentDiv" scrollSpy>

          <div class="form-inline">
              <div class="card-body border-top indent-entry px-0 py-2">
                <div classs="row">
                  <div class="text-left">
                    <input #file type="file" (change)="uploadattachment(file.files)" />
                    <div><p style="color: red;" >* Spaces in File Title will Replaced By Underscore('_')</p></div>
                  </div>           
              </div>
                <table class="table table-striped custom-table tr th">
                  <thead>
                    <tr style="background-color: #666666; color: #ffffff;">
                      <th scope="col" style="width:5%; text-align: left;">{{'sr' | translate}}</th>
                      <th scope="col" style="width:30%; text-align: left;">{{'title' | translate}}</th>
                      <th scope="col" style="width:30%; text-align: left;">{{'remarks' | translate}}</th>
                      <th scope="col" style="width:10%;">{{'download' | translate}}</th>
                      <th scope="col" style="width:10%;">{{'image' | translate}}</th>
                      <th scope="col" style="width:10%;">{{'action' | translate}}</th>
                    </tr>
                  </thead>
                  <tbody class="font-sm">
                    <tr *ngFor="let image of imagesArray ; let i = index">
                      <td class="text-left">{{i+1}}</td>
                      <td class="text-left">{{image.FILENAME}}</td>
                      <td class="text-left" >
                        <input [(ngModel)]="image.REMARKS" class="form-control w-100 text-left" style="width: 85% !important;"
                          [ngModelOptions]="{standalone: true}" autocomplete="off" maxlength="250">
                      </td>
                      <td>
                        <i class="fas fa-download customIcon" (click)="download(image)"></i>
                      </td>
                      <td class="custom-img-icon">
                        <img *ngIf="image.checkImgType == 'img'" width="80" height="80" [src]="image.images" (click)="imageView(image)">
                        <i *ngIf="image.checkImgType == 'xl'" class="fas fa-file-excel fa-5x customIcon"></i>
                        <i *ngIf="image.checkImgType == 'text'" class="fas fa-file fa-5x customIcon"></i>
                        <i *ngIf="image.checkImgType == 'pdf'" class="fas fa-file-pdf fa-5x customIcon"></i>
                        <i *ngIf="image.checkImgType == 'doc'" class="fas fa-file-doc fa-5x customIcon"></i>
                      </td>
                      <td>
                        <i class="far fa-trash-alt customIcon {{canDeleteCommonClass}}" (click)="removeImageArray(i)"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

    </div>
  </div>
  <div class="modal-footer">
    <button [disabled]="isLoadingResults" class="btn btn-sm btn-secondary rounded bg-danger" mat-dialog-close>{{'cancel' | translate}}</button>
    <button [disabled]="isLoadingResults"  class="btn btn-sm btn-info rounded"(click)="SaveImage()">{{'save' | translate}}</button>
  </div>
</form>