<div class="w-100 clearfix text-right pb-2 pr-2" id="printPageButton">
  <button class="btn btn-primary btn-sm rounded waves-effect waves-light customButton" (click)="print()">{{'print'|
    translate}}</button>
  <!-- <button class="btn btn-primary btn-sm rounded waves-effect waves-light customButton"
    (click)="pdf.saveAs('Die-Maint-Checkpoints.pdf')"><i class="ti-download"></i>&nbsp;{{'downloadpdf'|
    translate}}</button> -->
  <button class="btn btn-primary btn-sm rounded waves-effect waves-light customButton" mat-dialog-close>
    <span aria-hidden="true"> &nbsp;&times; &nbsp;</span>
  </button>
</div>
<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults ">
    <mat-spinner [diameter]="40" *ngIf="isLoadingResults"></mat-spinner>
  </div>
</div>
<kendo-pdf-export #pdf paperSize="A4" [scale]="0.6" [margin]="{top: 20, bottom: 50, right: 10, left: 10}"
  [repeatHeaders]="repeatHeaders">

  <div class="row" id="ravinderpal">

    <div class="col-12">
      <div class="card">
        <div class="custom-invoice">
          <!-- <div class="header">
                  <h4>{{companyName}}</h4>
                  <h5>{{Address1}}</h5>
                  <h5>{{Address2}}</h5>
                    
                </div> -->
          <header style="width: 100%;">


            <!-- <hr> -->
            <table style="width: 100%;">
              <tr>
                <td colspan="2" style="font-size: 16pt;font-weight: 700; text-align: center;">
                  <b>{{companyName}}</b>
                </td>
              </tr>
              <tr>
                <td colspan="2" style="text-align: center;">
                  <b> Die Maintenance For Dt: {{todate | date:'dd-MMM-yyyy'}}</b>
                </td>
              </tr>
              <!-- <tr>
                    <td colspan="2" style="font-size: 13pt;font-weight: 700;">
                     <b>{{Address1}}</b>
                    </td> 
                  </tr>
                  <tr>
                    <td colspan="2" style="font-size: 13pt;font-weight: 700;">
                     <b>{{Address2}}</b>
                    </td> 
                  </tr> -->
              <!-- <tr>
                <td style="width: 50%;"> <b>Movement Slip No.</b> {{PlanNo}}</td>
                <td style="width: 50%;"> <b>Dated</b> {{fendDate}}</td>
              </tr> -->

            </table>
          </header>
          <!-- <footer style="width: 100%;">
                 <hr>
              </footer> -->

          <div class="custom-main-loop" *ngFor="let stock of AllData">

            <table class="table table-sm table-striped table-custom custom-table-main w-100 m-b-0"
              id="contentToConvert">
              <thead>
                <tr class="bg-sky" style="background-color: rgb(148, 195, 250)">
                  <th scope="col" colspan="6" style="width: 28%;text-align : left;"><b>{{stock.DIENAME}}</b>
                  </th>
                  <th colspan="4"><b>{{stock.DIETYPEDESC}}</b></th>
                  <!-- <th ></th>
                  <th ></th>
                  <th ></th>
                  <th ></th>
                  <th ></th>
                  <th ></th> -->


                  <!-- <th scope="col" style="width: 10%;text-align : left;"></th>
                    <th scope="col" style="width: 40%;text-align : left;"> {{'itemname' | translate}} <br>
                      {{stock.itemname}}</th>
                    <th scope="col" style="width: 10%;text-align : left"> {{'oldcode' | translate}} <br> {{stock.oldcode}}
                    </th>
    
                    <th scope="col" style="width: 10%;text-align : right"> {{'recvunit' | translate}}<br>
                      {{stock.receivingunit}}</th>
                    <th scope="col" style="width: 10%;text-align : right"> {{'issueunit' | translate}}<br>
                      {{stock.issuingunit}}</th>
                    <th scope="col" style="width: 10%;text-align : right"> {{'openingrate' | translate}}<br>
                      {{stock.openingrate}}</th> -->
                </tr>
              </thead>
              <thead>
                <tr class="bg-purpel">
                  <th scope="col" style="width:4%; text-align: center;">{{'sr' | translate}}</th>
                  <th scope="col" style="width:24%;">{{'checkpoint' | translate}}</th>
                  <th scope="col" style="width:7%;text-align : right;">{{'obsvalue1' | translate}}</th>
                  <th scope="col" style="width:7%;text-align : right;">{{'obsvalue2' | translate}}</th>
                  <th scope="col" style="width:7%;text-align : right;">{{'obsvalue3' | translate}}</th>
                  <th scope="col" style="width:7%;text-align : right;">{{'obsvalue4' | translate}}</th>
                  <th scope="col" style="width:7%;text-align : right;">{{'standarddvalue' | translate}} </th>
                  <th scope="col" style="width:10%; text-align: center;"> {{'status' | translate}}</th>
                  <th scope="col" style="width:25%;text-align: left;">{{'remarks' | translate}} </th>
                </tr>
              </thead>
              <tbody class="font-sm">
                <tr *ngFor="let satement of stock.CHECKPOINTDETAIL ; let i = index">
                  <td style=" text-align: center;width: 4%" >{{i+1}}</td>
                  <td style="width: 24%;text-align : left;">{{satement.NAME}}</td>
                  <td style="width: 7%;text-align : right;">{{satement.OBSVALUE}}</td>
                  <td style="width: 7%;text-align : right;">{{satement.OBSVALUE1}}</td>
                  <td style="width: 7%;text-align : right;">{{satement.OBSVALUE2}}</td>
                  <td style="width: 7%;text-align : right;">{{satement.OBSVALUE3}}</td>
                  <td style="width: 7%;text-align : right;">{{satement.STDVALUE}}</td>
                  <td style="width: 10%;text-align : center;">{{satement.STATUS}}</td>
                  <td style="width: 25%;text-align : left;">{{satement.REMARKS}}</td>
                </tr>
                <tr>

                </tr>
              </tbody>

            </table>
          </div>

          <!-- <footer style="width: 90%;">
                          <table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin-left:10px;margin-right:10px;">
                  
                           <tr style=" border-top: 1px solid #cdd0d4;"> 
                             <td style="width: 25%;"><b>PPC-F-03</b></td>
                             <td style="text-align: center;width: 25%;"><b>Issue 01</b></td> 
                             <td style="text-align: center;"><b>Apr 1999</b></td> 
                             <td style="width: 25%; text-align: right;"><b>Issued By</b></td> 
                          </tr>
                          </table>
                        </footer> -->

        </div>

      </div>
    </div>
  </div>
</kendo-pdf-export>



<!-- 
      </div>
    </div>
    -->