<form>

  <div class="modal-header primary-bg py-2">
    <h5 class="modal-title text-white" id="exampleModalLabel">{{'wastage%'|translate}}</h5>

    <button class="close text-white" mat-dialog-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="min-height:250px;padding:5px;width:328px;">
    <!-- <div class="form-inline">
        <div class="form-row w-100">
          <div class="form-group col-12 mb-1">
            <label class="col-sm-3 text-right">{{segementlable}}</label>
          </div>
        </div>
      </div>   -->
    <div class="row" style="margin-right: -27px; margin-left: 0px;">
      <div class="col-12">
        <div class="table-scroll">
          <table class="table table-striped custom-table tr th">
            <thead>
              <tr style="background-color: #666666; color: #ffffff;">
                <th scope="col" style="width:2%;">{{'sr' | translate}}</th>
                <th scope="col" style="width:10%;">{{'' | translate}}</th>
                <th scope="col" style="width:13%;">{{'' | translate}}</th>


              </tr>
            </thead>
            <tbody class="font-sm">
              <tr *ngFor="let item of toolTypeArray ; let i = index">
                <td>
                  <mat-checkbox [(ngModel)]="item.selected" 
                    [ngModelOptions]="{standalone: true}">
                    {{i+1}} </mat-checkbox>
                </td>
                <td>{{item.DIETYPEDESC}}</td>
                <td><input *ngIf="item.selected==true" autocomplete="off" class="form-control form-control-sm text-left" name="value"
                    [(ngModel)]="item.value" placeholder=""
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" type="text"
                    [ngModelOptions]="{standalone: true}" maxlength="2"></td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-secondary rounded bg-danger" mat-dialog-close>{{'cancel'|translate}}</button>
    <button *ngIf="routeAction!='view' || routeAction!='notification'" type="button" class="btn btn-sm btn-info rounded"
      (click)="savesegement()">{{'save'|translate}}</button>
    <!-- <button  type="button" class="btn btn-sm btn-info rounded" (click)="saveaccounthead(newData, 'Update')">{{'update'|translate}}</button> -->
  </div>
</form>