<!-- used for font weight 600 as per user requirement  -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300&display=swap"
    rel="stylesheet">
<!-- end -->
<div class="preloader" style="display: none;">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
    <app-header></app-header>
    <app-sidebar></app-sidebar>

    <div class="page-wrapper">
        <div class="container-fluid" style="background:#dcdcdc;">
            <form [formGroup]="requisitionform" novalidate>
                <div class="example-loading-shade" *ngIf="isLoadingResults ">
                    <mat-spinner [diameter]="40" *ngIf="isLoadingResults"></mat-spinner>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card" style="border-top: 2px solid #0e43af;box-shadow:0 1px 3px rgba(0,0,0,.3);">
                            <div class="card-body border-bottom py-2 d-flex">
                                <div class="col-md-12">
                                    <div class="form-inline">
                                        <div class="col-md-8 d-md-flex align-items-center justify-content-between">
                                            <div class="d-flex">
                                                <a [routerLink]="['/material-transfer-to-blanking']"
                                                    class="btn btn-sm rounded btn-warning mr-3" title="Back"><i
                                                        class="mdi mdi-keyboard-backspace"></i></a>

                                                <h4 class="modal-title " id="exampleModalLabel">
                                                    {{'addmaterialtransfertoblanking'
                                                    | translate}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex- row">
                                <div class="col-md-12 tab-content m-t-10" id="pills-tabContent">
                                    <div class="card-body border-bottom purchase-order px-0 py-2">
                                        <div class="form-inline">

                                            <div class="form-group row col-md-8 mb-2">
                                                <label
                                                    class="col-md-3 text-right error-control-label required">{{'ipono'
                                                    | translate}}</label>
                                                <div class="col-md-9 ">
                                                    <ngx-select
                                                        class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"
                                                        [ngModelOptions]="{standalone: true}" name="ipono"
                                                        [allowClear]="true" [(ngModel)]="newData.ipono"
                                                        [items]="toolNoArray" optionValueField="id"
                                                        optionTextField="name"
                                                        placeholder="{{'pleaseselect' | translate}}">
                                                    </ngx-select>
                                                </div>
                                            </div>
                                            <div class="form-group row col-md-4 mb-2">
                                                <label class="col-md-6 text-right  ">{{'dated'
                                                    |translate}}</label>
                                                <div class="col-md-6 pr-1">
                                                    <mat-form-field
                                                        class="form-control w-100 mat-form-field-date-picker">
                                                        <input matInput [matDatepicker]="rdate" name="reqndate"
                                                            [(ngModel)]="newData.mfgdate"
                                                            [ngModelOptions]="{standalone: true}">
                                                        <mat-datepicker-toggle matSuffix [for]="rdate">
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker #rdate></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="form-group row col-md-8 mb-2">
                                                <label
                                                    class="col-md-3 text-right error-control-label required">{{'party'
                                                    |translate}}</label>
                                                <div class="col-md-9 ">
                                                    <input (keyup)="searchTermCustomer($event)" name="PARTYNAME"
                                                        [(ngModel)]='newData.PARTYNAME'
                                                        [ngModelOptions]="{standalone: true}"
                                                        [value]="newData.PARTYNAME || ''" autocomplete="off"
                                                        class="w-100 form-control error-border form-control-sm "
                                                        maxlength="250">
                                                    <button class="close-icon" style="position: absolute; top: 8px;"
                                                        (click)="reset(newData)"></button>
                                                    <div *ngIf="arrayItemCustomer != ''" class="search-list-header">
                                                        <!-- <div class="example-loading-shade" *ngIf="isLoading">
                                                            <mat-spinner [diameter]="20" *ngIf="isLoading">
                                                            </mat-spinner>
                                                        </div> -->
                                                        <table id="selectedValue"
                                                            class="table table-condensed table-striped table-hover">
                                                            <tr class="ui-menu-item" role="menuitem">
                                                                <th>{{'name' | translate}}</th>
                                                                <th>{{'address' | translate}}</th>
                                                            </tr>
                                                            <tr class="ui-menu-item" role="menuitem"
                                                                *ngFor="let result of photosBuffer"
                                                                (click)="onChangeOfItemCodeCustomer(result, newData)">
                                                                <td>{{ result.NAME }}</td>
                                                                <td>{{ result.ADDRESS1 }} </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row col-md-4 mb-2">
                                                <label class="col-md-6 text-right  p-0">{{'wipstages'
                                                    |translate}}</label>
                                                <div class="col-md-6 pr-1">
                                                    <ngx-select
                                                        class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap "
                                                        [ngModelOptions]="{standalone: true}" name="deptid"
                                                        [allowClear]="true" [(ngModel)]="newData.STAGES"
                                                        [items]="toolNoArray" optionValueField="DIETYPEID"
                                                        optionTextField="DIETYPEDESC"
                                                        placeholder="{{'pleaseselect' | translate}}">
                                                    </ngx-select>
                                                </div>
                                            </div>

                                            <div class="form-group row col-md-12 mb-2">
                                                <label class="col-md-2 text-right ">{{'remarks'
                                                    |translate}} </label>
                                                <div class="col-md-10 pl-2 pr-4">
                                                    <textarea type="text" autosize
                                                        class="form-control form-control-sm text-area-custom-item  "
                                                        style="height: 24px;" maxlength="500"
                                                        oninput="this.value = this.value.toUpperCase()"
                                                        [ngModelOptions]="{standalone: true}" name="REASONFORLEAVE"
                                                        [(ngModel)]="newData.REMARKS"></textarea>
                                                </div>
                                            </div>



                                            <div class="col-md-12">
                                                <h4 style="margin-left: 5px;">{{'Products Details'| translate}}</h4>
                                                <div class="table-scroll mx-1 ">
                                                    <div class="card-body border-top store-requisition px-0 py-2">
                                                        <table
                                                            class="table table-striped custom-table custom-table-big custom-table-big tr th ">
                                                            <thead>
                                                                <tr style="background-color: #666666; color: #ffffff;">
                                                                    <th scope="col" style="width:28%;">{{'productcode' | translate}}</th>
                                                                    <th scope="col" style="width:9%;;">{{'Ordered Stack Ht.' | translate}}</th>
                                                                    <th scope="col" style="width:8%;">Available Laminations</th>
                                                                    <th scope="col" style="width:9%;">Reqd. Bundle Height(mm)</th>
                                                                    <th scope="col" style="width:8%;">Reqd. Bundle Height(Inches)</th>
                                                                    <th scope="col" style="width:8%;">Possible Bundles</th>
                                                                    <th scope="col" style="width:9%;">Bundles Sent</th>
                                                                    <th scope="col" style="width:8%;">Laminations Sent</th>
                                                                    <th scope="col" style="width:8%;">Weight(Kg.)</th>
                                                                    <th scope="col" style="width:5%;">Action</th>

                                                                   
                                                                </tr>


                                                            </thead>
                                                            <tbody class="font-sm">
                                                                <tr *ngFor="let contact of contacts ; let i = index">
                                                                    <td>
                                                                        <input name="DRGNO" [(ngModel)]='contact.DRGNO'
                                                                            [ngModelOptions]="{standalone: true}"
                                                                            autocomplete="off"
                                                                            class="w-100 form-control error-border form-control-sm">
                                                                    </td>
                                                                    <td>
                                                                        <input name="DRGNO" [(ngModel)]='contact.DRGNO'
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        autocomplete="off"
                                                                        class="w-100 form-control error-border form-control-sm">
                                                                    </td>
                                                                    <td>
                                                                        <input name="DRGNO" [(ngModel)]='contact.DRGNO'
                                                                            [ngModelOptions]="{standalone: true}"
                                                                            autocomplete="off"
                                                                            class="w-100 form-control error-border form-control-sm">
                                                                    </td>
                                                                    <td>
                                                                        <input name="DRGNO" [(ngModel)]='contact.DRGNO'
                                                                            [ngModelOptions]="{standalone: true}"
                                                                            autocomplete="off"
                                                                            class="w-100 form-control error-border form-control-sm">
                                                                    </td>
                                                                    <td>
                                                                        <input name="DRGNO" [(ngModel)]='contact.DRGNO'
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        autocomplete="off"
                                                                        class="w-100 form-control error-border form-control-sm">
                                                                    </td>
                                                                    <td>
                                                                        <input name="DRGNO" [(ngModel)]='contact.DRGNO'
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        autocomplete="off"
                                                                        class="w-100 form-control error-border form-control-sm">
                                                                    </td>
                                                                    <td>
                                                                        <input name="DRGNO" [(ngModel)]='contact.DRGNO'
                                                                            [ngModelOptions]="{standalone: true}"
                                                                            autocomplete="off"
                                                                            class="w-100 form-control error-border form-control-sm">
                                                                    </td>
                                                                    <td>
                                                                        <input name="DRGNO" [(ngModel)]='contact.DRGNO'
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        autocomplete="off"
                                                                        class="w-100 form-control error-border form-control-sm">
                                                                    </td>
                                                                    <td>
                                                                        <input name="DRGNO" [(ngModel)]='contact.DRGNO'
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        autocomplete="off"
                                                                        class="w-100 form-control error-border form-control-sm">
                                                                    </td>
                                                                    <!-- <td style="width:60px;text-align: center;">
                                                                        <div>
                                                                            <i *ngIf="contact.id === editContactID" class="fas fa-check customIcon" (click)="updateContact(contact)"></i>
                                                                            <i *ngIf="contact.id !== editContactID" class="fas fa-edit customIcon" (click)="editContact(contact.id)"></i>
                                                                            <i style="margin-left: 5px;" class="far fa-trash-alt customIcon" (click)="removeContact(i)"></i>
                                                                        </div>
                                    
                                                                    </td> -->
                                                                    <td style="width:60px;text-align: center;">
                                                                        <i (click)="addContact()" class="fas fa-plus"></i>
                                                                    </td>

                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                        <div class="d-flex row">
                                            <div class="col-md-11 text-right ml-5 my-1">
                                                <button type="button"
                                                    class="btn btn-sm btn-secondary rounded bg-danger">{{'cancel' |
                                                    translate}}</button>
                                                &nbsp;
                                                <button type="button" class="btn btn-sm btn-info rounded "
                                                    (click)="validateBeforeSave(newData, 'Insert')">{{'save' |
                                                    translate}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <app-footer></app-footer>
        </div>
    </div>
</div>