<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
<header class="topbar" data-navbarbg="skin6">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <div class="navbar-header" data-logobg="skin5">
          
            <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                    class="ti-menu ti-close"></i></a>
       
            <a class="navbar-brand">
               
                <b class="logo-icon">
                    <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo">
                    <img src="assets/images/Logo.png" alt="homepage" class="light-logo" width="30">
                  </b>
                  <span class="logo-text">
                      <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo">
                      <img src="assets/images/LogoO.png" class="light-logo" alt="homepage" width="120">
                   </span>
            </a>
          
            <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
        </div>
     
        <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin6">
        
            <ul appMiniSidebar class="navbar-nav float-left mr-auto">
                <li class="nav-item d-none d-md-block">
                    <a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)"
                        data-sidebartype="mini-sidebar" >
                        <i class="mdi mdi-menu font-24"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <ul id="secondary-menu" class="list-inline py-2 w-100 text-light mt-3">
                        <li class="list-inline-item"><strong>KAPSONS INDUSTRIES PRIVATE LIMITED</strong></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
  </header>
  <aside class="left-sidebar" data-sidebarbg="skin5">
    <nav class="sidebar-nav">
        <ul id="sidebarnav">
            <p-panelMenu class="menu-custom-class" [multiple]="false" [transitionOptions]="'0ms'"  [style]="{'width':'300px'}"></p-panelMenu>    
      </ul>
    </nav>
   
</aside>
<div class="page-wrapper" >
    <div class="container-fluid" style="background:#dcdcdc;">     
<form [formGroup]="supplierForm" novalidate>
    <div class="row">
        <div class="col-12">

            <div class="example-loading-shade" *ngIf="isLoadingResults">
                <mat-spinner  [diameter]="40" *ngIf="isLoadingResults"></mat-spinner>
            </div>
            <div class="example-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner  [diameter]="60" *ngIf="isLoadingResults"></mat-spinner>
            </div>
            

          <div class="w-100">
                          <div class="form-group row col-12 mb-2 required">
                                <label  class="col-sm-2 text-right">{{'suppliercategory' | translate}}</label>
                                <div class="col-sm-8">
                                <ng-select
                                    class="form-control custom-slect-box error-border form-control-sm w-100 "
                                    [(ngModel)]='newData.CATEGORYID' 
                                    formControlName="CATEGORYID"
                                    [virtualScroll]="false" [multiple]="true"
                                    [searchable]="true" 
                                    [closeOnSelect]="false" (change)="onCategoryChange($event)"
                                    [items]="suppliercategorylist" bindLabel="CATEGORY" bindValue="CATEGORYID"
                                    placeholder="Select Category">
                                 </ng-select>
                                </div>
                            </div>
                            <div class="form-group row col-12 mb-2 required">
                                <label class="col-sm-2 text-right" for="inputPassword4">{{'companyname' | translate}}</label>
                                <div class="col-sm-8 d-flex">
                                    <input type="text" class="form-control form-control-sm  w-100" name="NAME" [(ngModel)]="newData.NAME" formControlName="NAME" placeholder="Enter Company Name">
                                </div>
                            </div>
                            <div class="form-group row col-12 required">
                                <label class="col-sm-2 text-right" >{{'address' | translate}}</label>
                                <div class="col-sm-8"
                                ><textarea class="form-control form-control-sm mb-2  w-100" rows="1" placeholder="Enter Address" name="ADDRESS1" [(ngModel)]="newData.ADDRESS1" formControlName="ADDRESS1" style="height:30px;"></textarea>
                            </div>
                            </div>
                            <div class="form-group row col-12 mb-2 ">
                                <label class="col-sm-2 text-right" >&nbsp;</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control form-control-sm  w-100" rows="1" placeholder="Enter Address" name="ADDRESS2" [(ngModel)]="newData.ADDRESS2" formControlName="ADDRESS2" style="height:30px;"></textarea>
                                </div>
                            </div>
                           
            
                            <div class="form-group row col-md-12  mb-2 required">
                                <label class="col-sm-2 text-right" >{{'country' | translate}}</label>
                                <div class="col-sm-3 d-flex">
                                  
                                    <ngx-select class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"  formControlName="COUNTRYID" name="COUNTRYID"  [allowClear]="true" [(ngModel)]="newData.COUNTRYID" [items]="country" optionValueField="COUNTRYID" optionTextField="COUNTRY" 
                                    placeholder=" Select Country" (select)="doSelect($event)" (remove)="doRemove($event)" (selectionChanges)="doSelectOptions($event)">
                                    </ngx-select>
                                    
                                </div>
                               
            
                                <label class="col-sm-2 text-right" >{{'state' | translate}}</label>
                                <div class="col-sm-3 d-flex">
                                   <ngx-select class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"  formControlName="STATEID" name="STATEID"  [allowClear]="true" [(ngModel)]="newData.STATEID" [items]="StateArray" optionValueField="STATEID" optionTextField="STATE" placeholder=" Select state" (select)="doSelect1($event)" (remove)="doRemove($event)" (selectionChanges)="doSelectOptions($event)">
                                    </ngx-select>
                                   
                                   
                                </div>
                            </div>
            
            
                            <div class="form-group row col-md-12  mb-2 required">
                                <label class="col-sm-2 text-right" >{{'city' | translate}}</label>
                                <div class="col-sm-8 d-flex">
                                   
                                  
                                    <ngx-select class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"  formControlName="CITYID" name="CITYID"  [allowClear]="true" [(ngModel)]="newData.CITYID" [items]="cityArray" optionValueField="CITYID" optionTextField="CITY" placeholder=" Select City" (select)="doSelect3($event)" (remove)="doRemove($event)" (selectionChanges)="doSelectOptions($event)">
                                    </ngx-select>
                                   
                                </div>
                            </div>
                            
                            <div class="form-group row col-md-12 mb-2">
                                <label class="col-sm-2 text-right required1" >{{'pin' | translate}}</label>
                                <div class="col-sm-3 d-flex  w-100"><input type="text" class="form-control form-control-sm" name="PINCODE" [(ngModel)]="newData.PINCODE" formControlName="PINCODE" placeholder="Enter PIN"
                                    maxlength="6" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"></div>
                          
                            <label class="col-sm-2 text-right" for="inputPassword4">{{'fax' | translate}}</label>
                            <div class="col-sm-3 d-flex"><input type="text" class="form-control form-control-sm  w-100" name="FAX" [(ngModel)]="newData.FAX" formControlName="FAX" placeholder="Enter FAX"></div>
                            </div>
            
                            <div class="form-group row col-md-12 mb-2 ">
            
                                            <label class="col-sm-2 text-right" for="inputPassword4">{{'gstin' | translate}}</label>
                                            <div class="col-sm-3 d-flex">
                                                <input class="form-control form-control-sm  w-100" name="GSTIN"  maxlength="15" [(ngModel)]="newData.GSTIN" formControlName="GSTIN" placeholder="Enter GSTIN" type="text" >
                                            </div>
                                            <label class="col-sm-2 text-right" >{{'pan' | translate}}</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control form-control-sm  w-100" name="PAN"   [(ngModel)]="newData.PAN" formControlName="PAN" placeholder="Enter PAN"
                                    maxlength="10" >
                                </div>
            
                            </div>
            
                           
                            <div class="form-group row col-md-12 mb-1 required">
                                <label class="col-sm-2 text-right" >{{'phonenumber' | translate}}</label>
                                <div class="col-sm-3"><input type="text" class="form-control form-control-sm  w-100" name="PHONE" [(ngModel)]="newData.PHONE" formControlName="PHONE" placeholder="Enter Phone Number"
                                    maxlength="11" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"></div>
                                <label class="col-sm-2 text-right" for="inputPassword4">{{'Registered Mobile Number' | translate}}</label>
                                <div class="col-sm-3"><input type="text" class="form-control form-control-sm  w-100" name="MOBILE" [(ngModel)]="newData.MOBILE" formControlName="MOBILE" placeholder="Enter Mobile Number"
                                    maxlength="11" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"></div>
                            </div>
                            <div class="form-group row col-md-12 mb-2 required">
                                    <label class="col-sm-2 text-right" >{{'email' | translate}}</label>
                                    <div class="col-sm-3"><input type="email" class="form-control form-control-sm  w-100" name="EMAIL" [(ngModel)]="newData.EMAIL" formControlName="EMAIL" placeholder="Enter Email">
                                        <span *ngIf="supplierForm.controls.EMAIL.hasError('pattern') && supplierForm.controls.EMAIL.touched" style="color:red">
                                                    Please enter the correct email, this email not valid.
                                        </span>
                                    </div>
                                    <label class="col-sm-2 text-right" >{{'currency' | translate}}</label>
                                    <div class="col-sm-3">
                                    <ngx-select class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"  formControlName="CURRENCYID" name="CURRENCYID"  [allowClear]="true" [(ngModel)]="newData.CURRENCYID" [items]="CurrencyList" optionValueField="name" optionTextField="name" placeholder=" Select currency"  (remove)="doRemove($event)" (selectionChanges)="doSelectOptions($event)">
                                    </ngx-select>
                                    </div>
                                </div>
                               <div class="form-group row col-md-12 mb-2 ">
                                    <label class="col-sm-2 text-right" for="inputPassword4">{{'website' | translate}}</label>
                                    <div class="col-sm-3"><input type="text" class="form-control form-control-sm  w-100" name="WEBSITE" [(ngModel)]="newData.WEBSITE" formControlName="WEBSITE" placeholder="Enter Website"></div>
                                </div>
                            </div>
                            <div class="form-group row col-md-12 mb-2">
                                <h4>{{'contactinfo'| translate}}</h4>
                                <div class="w-100">
                                    <div  class="card example-container" style="box-shadow:0 1px 3px rgba(0,0,0,.3);height: 150px;">
                                        <div class="table-wrapper-scroll-y">
                                            <table class="table table-striped custom-table">
                                                <thead>
                                                    <tr style="background-color: #666666; color: #ffffff;">
                                                        <th scope="col">{{'name' | translate}}</th>
                                                        <th scope="col">{{'phonenumber' | translate}}</th>
                                                        <th scope="col">{{'email' | translate}}</th>
                                                        <th scope="col">Department</th>
                                                        <th scope="col">{{'Designation' | translate}}</th>
                                                        <th scope="col" style="width:5%;text-align: center;">{{'action' | translate}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="font-sm">
                                                    <tr>
                                                        <td><input type="text" class="form-control w-100" [(ngModel)]="newContact.NAME" [ngModelOptions]="{standalone: true}"></td>
                                                        <td><input type="email" class="form-control w-100" [(ngModel)]="newContact.MOBILE" [ngModelOptions]="{standalone: true}" ></td>
                                                        <td><input type="text" class="form-control w-100" [(ngModel)]="newContact.EMAIL" [ngModelOptions]="{standalone: true}"></td>
                                                        <td>
                                                            <input type="text" class="form-control w-100" [(ngModel)]='newContact.DEPARTMENT' [ngModelOptions]="{standalone: true}">
                                                        <td>
                                                            <input type="text" class="form-control w-100" [(ngModel)]="newContact.POSITION"  [ngModelOptions]="{standalone: true}">
                                                        </td>
                                                        <td style="width:60px;text-align: center;">
                                                            <i (click)="addContact()" class="fas fa-plus"></i>
                                                        </td>
                                                    </tr>
                                                <tr *ngFor="let contact of contacts ; let i = index">
                                                        <td *ngIf="contact.id === editContactID"><input type="text" class="form-control w-100" [(ngModel)]='contact.NAME' [ngModelOptions]="{standalone: true}"></td>
                                                        <td *ngIf="contact.id !== editContactID" (dblclick)="editContact(contact.id)">{{contact.NAME}}</td>
                                                        <td *ngIf="contact.id === editContactID"><input type="text" class="form-control w-100" [(ngModel)]='contact.MOBILE' [ngModelOptions]="{standalone: true}"></td>
                                                        <td *ngIf="contact.id !== editContactID" (dblclick)="editContact(contact.id)">{{contact.MOBILE}}</td>
                                                        <td *ngIf="contact.id === editContactID"><input type="text" class="form-control w-100" [(ngModel)]='contact.EMAIL' [ngModelOptions]="{standalone: true}"></td>
                                                        <td *ngIf="contact.id !== editContactID" (dblclick)="editContact(contact.id)">{{contact.EMAIL}}</td>
                                                        <td *ngIf="contact.id === editContactID">
                                                            <input type="text" class="form-control w-100" [(ngModel)]='contact.DEPARTMENT' [ngModelOptions]="{standalone: true}">
                                                        </td>
                                                        <td *ngIf="contact.id !== editContactID" (dblclick)="editContact(contact.id)">{{contact.DEPARTMENT}}</td>
                                                        <td *ngIf="contact.id === editContactID"><input type="text" class="form-control w-100" [(ngModel)]='contact.POSITION' [ngModelOptions]="{standalone: true}"></td>
                                                        <td *ngIf="contact.id !== editContactID" (dblclick)="editContact(contact.id)">{{contact.POSITION | titlecase}}</td>
                                                        <td style="width:60px;text-align: center;">
                                                            <div>
                                                                <i *ngIf="contact.id === editContactID" class="fas fa-check customIcon" (click)="updateContact(contact)"></i>
                                                                <i *ngIf="contact.id !== editContactID" class="fas fa-edit customIcon" (click)="editContact(contact.id)"></i>
                                                                <i style="margin-left: 5px;" class="far fa-trash-alt customIcon" (click)="removeContact(i)"></i>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                 </div>
                            </div>

                            <div class="form-group row col-md-12 mb-2">
                                <h4>{{'otherinfo'| translate}}</h4>
                                <div class="w-100">
                                    <div  class="card example-container" style="box-shadow:0 1px 3px rgba(0,0,0,.3);height: 150px;">
                                        <div class="table-wrapper-scroll-y">
                                        <table class="table table-striped custom-table w-100">
                                            <thead>
                                            <tr style="background-color: #666666; color: #ffffff;">
                                                <th scope="col" style="width:25%; min-width: 80px;">{{'bank' | translate}}</th>
                                                <th scope="col" style="width:25%; min-width: 80px;"> {{'Bank A/c No.' | translate}}</th>
                                                <th scope="col" style="width:25%;min-width: 80px;">{{'branch' | translate}}</th>
                                                <th scope="col" style="width:20%;min-width: 80px;"> {{'ifsc' | translate}}</th>
                                                <th scope="col" style="width:5%; text-align: center;min-width: 20px;">{{'action' | translate}}</th>
                                            </tr>
                                            </thead>
                                            <tbody class="font-sm">
                                            <tr>
                                                <td>
                                                    <ngx-select class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap" name="BANKID" [allowClear]="true" [(ngModel)]="newOtherInfo.BANKID"
                                                        [ngModelOptions]="{standalone: true}" [items]="bankArray" optionValueField="BANKID" optionTextField="BANKNAME" (select)="onChangeOfBank(newOtherInfo.BANKID,newOtherInfo)" >
                                                    </ngx-select>
                                                </td>
                                                <td><input type="text" class="form-control w-100" name='bankacno' [(ngModel)]="newOtherInfo.BANKACNO" [ngModelOptions]="{standalone: true}"></td>
                                                <td><input type="text" class="form-control w-100" name='branch' [(ngModel)]="newOtherInfo.BRANCH" [ngModelOptions]="{standalone: true}"></td>
                                                <td><input type="text" class="form-control w-100" name='ifsc' [(ngModel)]="newOtherInfo.IFSC" [ngModelOptions]="{standalone: true}"></td>
                                                <td style="width:60px;text-align: center;">
                                                    <i (click)="addOtherInfo(newOtherInfo)" class="fas fa-plus"></i>
                                                </td>
                                            </tr>
                                            <tr *ngFor="let otherinfo of otherinfobank ; let i = index">
                                                <td *ngIf="otherinfo.id === editOtherInfoID">
                                                
                                                    <ngx-select class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap" name="BANKID" [allowClear]="true" [(ngModel)]="otherinfo.BANKID"
                                                        [ngModelOptions]="{standalone: true}" [items]="bankArray" optionValueField="BANKID" optionTextField="BANKNAME" (select)="onChangeOfBank(otherinfo.BANKID, otherinfo)" >
                                                    </ngx-select>
                                                </td>
                                                <td *ngIf="otherinfo.id !== editOtherInfoID" (dblclick)="editOtherInfo(otherinfo.id)">{{otherinfo.BANKNAME}}</td>
                                                <td *ngIf="otherinfo.id === editOtherInfoID"><input type="text" class="form-control form-control-sm" name="bankacno" [(ngModel)]="otherinfo.BANKACNO" [ngModelOptions]="{standalone: true}"></td>
                                                <td *ngIf="otherinfo.id !== editOtherInfoID" (dblclick)="editOtherInfo(otherinfo.id)">{{otherinfo.BANKACNO}}</td>
                                                <td *ngIf="otherinfo.id === editOtherInfoID"><input type="text" class="form-control form-control-sm" name="branch" [(ngModel)]="otherinfo.BRANCH" [ngModelOptions]="{standalone: true}"></td>
                                                <td *ngIf="otherinfo.id !== editOtherInfoID" (dblclick)="editOtherInfo(otherinfo.id)">{{otherinfo.BRANCH}}</td>
                                                <td *ngIf="otherinfo.id === editOtherInfoID"><input type="text" class="form-control form-control-sm" name="ifsc" [(ngModel)]="otherinfo.IFSC" [ngModelOptions]="{standalone: true}"></td>
                                                <td *ngIf="otherinfo.id !== editOtherInfoID" (dblclick)="editOtherInfo(otherinfo.id)">{{otherinfo.IFSC}}</td>
                                                <td style="width:60px;text-align: center;">
                                                    <div>
                                                        <i *ngIf="otherinfo.id === editOtherInfoID" class="fas fa-check customIcon" (click)="updateOtherInfo(otherinfo)"></i>
                                                        <i *ngIf="otherinfo.id !== editOtherInfoID" class="fas fa-edit customIcon" (click)="editOtherInfo(otherinfo.id)"></i>
                                                        <i style="margin-left: 5px;" class="far fa-trash-alt customIcon" (click)="removeOtherInfo(i)"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                            
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                         
      

      </div>
      </div>
      </div>
              <button *ngIf="action == 'add'"  type="button" class="btn btn-sm btn-info rounded" (click)="saveSupplier('insert',newData)"  [disabled]="supplierForm.pristine || supplierForm.invalid" >{{'save' | translate}}</button>
              <button *ngIf="action == 'edit'" type="button" class="btn btn-sm btn-info rounded" (click)="saveSupplier('update',newData)" [disabled]="supplierForm.pristine || supplierForm.invalid">Update</button>
      </form>
      </div>
      </div>
      <div style="text-align: center;">
        <app-footer></app-footer>
      </div>

</div>

<!-- <mat-tab-group  >
    <mat-tab>
      <ng-template mat-tab-label>{{'companyinfo'| translate}}</ng-template>
       
         <div class="tab-pane fade active show" id="receipt" aria-labelledby="pills-home-tab2">
           <div >
             <div class="col-lg-12">
              <div class="form-inline mx-0 ng-untouched ng-pristine ng-valid">
                 <div class="w-100">
                  <div  class="card example-container" style="box-shadow:0 1px 3px rgba(0,0,0,.3);height: 395px;">
                   <div class="col-lg-12">
                       <div class="col-lg-1">
                           .
                       </div>
                       <div class="col-lg-10">
                       <div class="form-group row col-12 mb-2 required">
                           <label  class="col-sm-2 text-right">{{'suppliercategory' | translate}}</label>
                           <div class="col-sm-8">
                           <ng-select
                               class="form-control custom-slect-box error-border form-control-sm w-100 "
                               [(ngModel)]='newData.CATEGORYID' 
                               formControlName="CATEGORYID"
                               [virtualScroll]="false" [multiple]="true"
                               [searchable]="true" 
                               [closeOnSelect]="false" (change)="onCategoryChange($event)"
                               [items]="suppliercategorylist" bindLabel="CATEGORY" bindValue="CATEGORYID"
                               placeholder="Select Category">
                            </ng-select>
                           </div>
                       </div>
                       <div class="form-group row col-12 mb-2 required">
                           <label class="col-sm-2 text-right" for="inputPassword4">{{'companyname' | translate}}</label>
                           <div class="col-sm-8 d-flex">
                               <input type="text" class="form-control form-control-sm  w-100" name="NAME" [(ngModel)]="newData.NAME" formControlName="NAME" placeholder="Enter Company Name">
                           </div>
                       </div>
                       <div class="form-group row col-12 required">
                           <label class="col-sm-2 text-right" >{{'address' | translate}}</label>
                           <div class="col-sm-8"
                           ><textarea class="form-control form-control-sm mb-2  w-100" rows="1" placeholder="Enter Address" name="ADDRESS1" [(ngModel)]="newData.ADDRESS1" formControlName="ADDRESS1" style="height:30px;"></textarea>
                       </div>
                       </div>
                       <div class="form-group row col-12 mb-2 ">
                           <label class="col-sm-2 text-right" >&nbsp;</label>
                           <div class="col-sm-8">
                               <textarea class="form-control form-control-sm  w-100" rows="1" placeholder="Enter Address" name="ADDRESS2" [(ngModel)]="newData.ADDRESS2" formControlName="ADDRESS2" style="height:30px;"></textarea>
                           </div>
                       </div>
                      
       
                       <div class="form-group row col-md-12  mb-2 required">
                           <label class="col-sm-2 text-right" >{{'country' | translate}}</label>
                           <div class="col-sm-3 d-flex">
                             
                               <ngx-select class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"  formControlName="COUNTRYID" name="COUNTRYID"  [allowClear]="true" [(ngModel)]="newData.COUNTRYID" [items]="country" optionValueField="COUNTRYID" optionTextField="COUNTRY" 
                               placeholder=" Select Country" (select)="doSelect($event)" (remove)="doRemove($event)" (selectionChanges)="doSelectOptions($event)">
                               </ngx-select>
                               
                           </div>
                          
       
                           <label class="col-sm-2 text-right" >{{'state' | translate}}</label>
                           <div class="col-sm-3 d-flex">
                              <ngx-select class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"  formControlName="STATEID" name="STATEID"  [allowClear]="true" [(ngModel)]="newData.STATEID" [items]="StateArray" optionValueField="STATEID" optionTextField="STATE" placeholder=" Select state" (select)="doSelect1($event)" (remove)="doRemove($event)" (selectionChanges)="doSelectOptions($event)">
                               </ngx-select>
                              
                              
                           </div>
                       </div>
       
       
                       <div class="form-group row col-md-12  mb-2 required">
                           <label class="col-sm-2 text-right" >{{'city' | translate}}</label>
                           <div class="col-sm-8 d-flex">
                              
                             
                               <ngx-select class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"  formControlName="CITYID" name="CITYID"  [allowClear]="true" [(ngModel)]="newData.CITYID" [items]="cityArray" optionValueField="CITYID" optionTextField="CITY" placeholder=" Select City" (select)="doSelect3($event)" (remove)="doRemove($event)" (selectionChanges)="doSelectOptions($event)">
                               </ngx-select>
                              
                           </div>
                       </div>
                       
                       <div class="form-group row col-md-12 mb-2">
                           <label class="col-sm-2 text-right required1" >{{'pin' | translate}}</label>
                           <div class="col-sm-3 d-flex  w-100"><input type="text" class="form-control form-control-sm" name="PINCODE" [(ngModel)]="newData.PINCODE" formControlName="PINCODE" placeholder="Enter PIN"
                               maxlength="6" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"></div>
                     
                       <label class="col-sm-2 text-right" for="inputPassword4">{{'fax' | translate}}</label>
                       <div class="col-sm-3 d-flex"><input type="text" class="form-control form-control-sm  w-100" name="FAX" [(ngModel)]="newData.FAX" formControlName="FAX" placeholder="Enter FAX"></div>
                       </div>
       
                       <div class="form-group row col-md-12 mb-2 ">
       
                                       <label class="col-sm-2 text-right" for="inputPassword4">{{'gstin' | translate}}</label>
                                       <div class="col-sm-3 d-flex">
                                           <input class="form-control form-control-sm  w-100" name="GSTIN"  maxlength="15" [(ngModel)]="newData.GSTIN" formControlName="GSTIN" placeholder="Enter GSTIN" type="text" >
                                       </div>
                                       <label class="col-sm-2 text-right" >{{'pan' | translate}}</label>
                           <div class="col-sm-3">
                               <input type="text" class="form-control form-control-sm  w-100" name="PAN"   [(ngModel)]="newData.PAN" formControlName="PAN" placeholder="Enter PAN"
                               maxlength="10" >
                           </div>
       
                       </div>
       
                      
                       <div class="form-group row col-md-12 mb-1 required">
                           <label class="col-sm-2 text-right" >{{'phonenumber' | translate}}</label>
                           <div class="col-sm-3"><input type="text" class="form-control form-control-sm  w-100" name="PHONE" [(ngModel)]="newData.PHONE" formControlName="PHONE" placeholder="Enter Phone Number"
                               maxlength="11" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"></div>
                           <label class="col-sm-2 text-right" for="inputPassword4">{{'Registered Mobile Number' | translate}}</label>
                           <div class="col-sm-3"><input type="text" class="form-control form-control-sm  w-100" name="MOBILE" [(ngModel)]="newData.MOBILE" formControlName="MOBILE" placeholder="Enter Mobile Number"
                               maxlength="11" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"></div>
                       </div>
                       <div class="form-group row col-md-12 mb-2 required">
                               <label class="col-sm-2 text-right" >{{'email' | translate}}</label>
                               <div class="col-sm-3"><input type="email" class="form-control form-control-sm  w-100" name="EMAIL" [(ngModel)]="newData.EMAIL" formControlName="EMAIL" placeholder="Enter Email">
                                   <span *ngIf="supplierForm.controls.EMAIL.hasError('pattern') && supplierForm.controls.EMAIL.touched" style="color:red">
                                               Please enter the correct email, this email not valid.
                                   </span>
                               </div>
                               <label class="col-sm-2 text-right" >{{'currency' | translate}}</label>
                               <div class="col-sm-3">
                               <ngx-select class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap"  formControlName="CURRENCYID" name="CURRENCYID"  [allowClear]="true" [(ngModel)]="newData.CURRENCYID" [items]="CurrencyList" optionValueField="name" optionTextField="name" placeholder=" Select currency"  (remove)="doRemove($event)" (selectionChanges)="doSelectOptions($event)">
                               </ngx-select>
                               </div>
                           </div>
                          <div class="form-group row col-md-12 mb-2 ">
                               <label class="col-sm-2 text-right" for="inputPassword4">{{'website' | translate}}</label>
                               <div class="col-sm-3"><input type="text" class="form-control form-control-sm  w-100" name="WEBSITE" [(ngModel)]="newData.WEBSITE" formControlName="WEBSITE" placeholder="Enter Website"></div>
                           </div>
                       </div>
                       <div class="col-lg-1">
                           .
                       </div>
                       </div>
                  </div>
               </div>
             </div>
           </div>
         </div>
         </div>
       
     </mat-tab>

     <mat-tab>
       <ng-template mat-tab-label>{{'contactinfo'| translate}}</ng-template>
     
          <div class="tab-pane fade  active show" id="receipt" aria-labelledby="pills-home-tab2">
            <div class="d-flex" style="padding-left: 40px;">
              <div class="col-lg-12 p-0">
               <div class="form-inline mx-0 ng-untouched ng-pristine ng-valid">
                  <div class="w-100">
                   <div  class="card example-container" style="box-shadow:0 1px 3px rgba(0,0,0,.3);height: 395px;">
                       <div class="table-wrapper-scroll-y">
                           <table class="table table-striped custom-table">
                               <thead>
                                   <tr style="background-color: #666666; color: #ffffff;">
                                       <th scope="col">{{'name' | translate}}</th>
                                       <th scope="col">{{'phonenumber' | translate}}</th>
                                       <th scope="col">{{'email' | translate}}</th>
                                       <th scope="col">Department</th>
                                       <th scope="col">{{'Designation' | translate}}</th>
                                       <th scope="col" style="width:5%;text-align: center;">{{'action' | translate}}</th>
                                   </tr>
                               </thead>
                               <tbody class="font-sm">
                                   <tr>
                                       <td><input type="text" class="form-control w-100" [(ngModel)]="newContact.NAME" [ngModelOptions]="{standalone: true}"></td>
                                       <td><input type="email" class="form-control w-100" [(ngModel)]="newContact.MOBILE" [ngModelOptions]="{standalone: true}" ></td>
                                       <td><input type="text" class="form-control w-100" [(ngModel)]="newContact.EMAIL" [ngModelOptions]="{standalone: true}"></td>
                                       <td>
                                           <input type="text" class="form-control w-100" [(ngModel)]='newContact.DEPARTMENT' [ngModelOptions]="{standalone: true}">
                                       <td>
                                           <input type="text" class="form-control w-100" [(ngModel)]="newContact.POSITION"  [ngModelOptions]="{standalone: true}">
                                       </td>
                                       <td style="width:60px;text-align: center;">
                                           <i (click)="addContact()" class="fas fa-plus"></i>
                                       </td>
                                   </tr>
                               <tr *ngFor="let contact of contacts ; let i = index">
                                       <td *ngIf="contact.id === editContactID"><input type="text" class="form-control w-100" [(ngModel)]='contact.NAME' [ngModelOptions]="{standalone: true}"></td>
                                       <td *ngIf="contact.id !== editContactID" (dblclick)="editContact(contact.id)">{{contact.NAME}}</td>
                                       <td *ngIf="contact.id === editContactID"><input type="text" class="form-control w-100" [(ngModel)]='contact.MOBILE' [ngModelOptions]="{standalone: true}"></td>
                                       <td *ngIf="contact.id !== editContactID" (dblclick)="editContact(contact.id)">{{contact.MOBILE}}</td>
                                       <td *ngIf="contact.id === editContactID"><input type="text" class="form-control w-100" [(ngModel)]='contact.EMAIL' [ngModelOptions]="{standalone: true}"></td>
                                       <td *ngIf="contact.id !== editContactID" (dblclick)="editContact(contact.id)">{{contact.EMAIL}}</td>
                                       <td *ngIf="contact.id === editContactID">
                                           <input type="text" class="form-control w-100" [(ngModel)]='contact.DEPARTMENT' [ngModelOptions]="{standalone: true}">
                                       </td>
                                       <td *ngIf="contact.id !== editContactID" (dblclick)="editContact(contact.id)">{{contact.DEPARTMENT}}</td>
                                       <td *ngIf="contact.id === editContactID"><input type="text" class="form-control w-100" [(ngModel)]='contact.POSITION' [ngModelOptions]="{standalone: true}"></td>
                                       <td *ngIf="contact.id !== editContactID" (dblclick)="editContact(contact.id)">{{contact.POSITION | titlecase}}</td>
                                       <td style="width:60px;text-align: center;">
                                           <div>
                                               <i *ngIf="contact.id === editContactID" class="fas fa-check customIcon" (click)="updateContact(contact)"></i>
                                               <i *ngIf="contact.id !== editContactID" class="fas fa-edit customIcon" (click)="editContact(contact.id)"></i>
                                               <i style="margin-left: 5px;" class="far fa-trash-alt customIcon" (click)="removeContact(i)"></i>
                                           </div>
                                       </td>
                                   </tr>
                                   
                               </tbody>
                           </table>
                       </div>
                   </div>
                </div>
              </div>
            </div>
          </div>
          </div>
       </mat-tab>

      <mat-tab>
       <ng-template mat-tab-label>{{'otherinfo'| translate}}</ng-template>

       <div class="scroll-spy" data-spy="scroll" data-target="#navbar-example2"
       data-offset="0">

       <div class="card-body border-top purchase-order px-0 py-2"  style="box-shadow:0 1px 3px rgba(0,0,0,.3);height: 395px;">
           <table class="table table-striped custom-table w-100">
               <thead>
                 <tr style="background-color: #666666; color: #ffffff;">
                   <th scope="col" style="width:25%; min-width: 80px;">{{'bank' | translate}}</th>
                   <th scope="col" style="width:25%; min-width: 80px;"> {{'Bank A/c No.' | translate}}</th>
                   <th scope="col" style="width:25%;min-width: 80px;">{{'branch' | translate}}</th>
                   <th scope="col" style="width:20%;min-width: 80px;"> {{'ifsc' | translate}}</th>
                   <th scope="col" style="width:5%; text-align: center;min-width: 20px;">{{'action' | translate}}</th>
                 </tr>
               </thead>
               <tbody class="font-sm">
                 <tr>
                      <td>
                       <ngx-select class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap" name="BANKID" [allowClear]="true" [(ngModel)]="newOtherInfo.BANKID"
                              [ngModelOptions]="{standalone: true}" [items]="bankArray" optionValueField="BANKID" optionTextField="BANKNAME" (select)="onChangeOfBank(newOtherInfo.BANKID,newOtherInfo)" >
                        </ngx-select>
                      </td>
                      <td><input type="text" class="form-control w-100" name='bankacno' [(ngModel)]="newOtherInfo.BANKACNO" [ngModelOptions]="{standalone: true}"></td>
                      <td><input type="text" class="form-control w-100" name='branch' [(ngModel)]="newOtherInfo.BRANCH" [ngModelOptions]="{standalone: true}"></td>
                      <td><input type="text" class="form-control w-100" name='ifsc' [(ngModel)]="newOtherInfo.IFSC" [ngModelOptions]="{standalone: true}"></td>
                      <td style="width:60px;text-align: center;">
                          <i (click)="addOtherInfo(newOtherInfo)" class="fas fa-plus"></i>
                      </td>
                 </tr>
                 <tr *ngFor="let otherinfo of otherinfobank ; let i = index">
                   <td *ngIf="otherinfo.id === editOtherInfoID">
                     
                       <ngx-select class="ngx-custom-select-dropdown ngx-custom-select-dropdown-text-wrap" name="BANKID" [allowClear]="true" [(ngModel)]="otherinfo.BANKID"
                           [ngModelOptions]="{standalone: true}" [items]="bankArray" optionValueField="BANKID" optionTextField="BANKNAME" (select)="onChangeOfBank(otherinfo.BANKID, otherinfo)" >
                       </ngx-select>
                   </td>
                   <td *ngIf="otherinfo.id !== editOtherInfoID" (dblclick)="editOtherInfo(otherinfo.id)">{{otherinfo.BANKNAME}}</td>
                   <td *ngIf="otherinfo.id === editOtherInfoID"><input type="text" class="form-control form-control-sm" name="bankacno" [(ngModel)]="otherinfo.BANKACNO" [ngModelOptions]="{standalone: true}"></td>
                   <td *ngIf="otherinfo.id !== editOtherInfoID" (dblclick)="editOtherInfo(otherinfo.id)">{{otherinfo.BANKACNO}}</td>
                   <td *ngIf="otherinfo.id === editOtherInfoID"><input type="text" class="form-control form-control-sm" name="branch" [(ngModel)]="otherinfo.BRANCH" [ngModelOptions]="{standalone: true}"></td>
                   <td *ngIf="otherinfo.id !== editOtherInfoID" (dblclick)="editOtherInfo(otherinfo.id)">{{otherinfo.BRANCH}}</td>
                   <td *ngIf="otherinfo.id === editOtherInfoID"><input type="text" class="form-control form-control-sm" name="ifsc" [(ngModel)]="otherinfo.IFSC" [ngModelOptions]="{standalone: true}"></td>
                   <td *ngIf="otherinfo.id !== editOtherInfoID" (dblclick)="editOtherInfo(otherinfo.id)">{{otherinfo.IFSC}}</td>
                   <td style="width:60px;text-align: center;">
                       <div>
                           <i *ngIf="otherinfo.id === editOtherInfoID" class="fas fa-check customIcon" (click)="updateOtherInfo(otherinfo)"></i>
                           <i *ngIf="otherinfo.id !== editOtherInfoID" class="fas fa-edit customIcon" (click)="editOtherInfo(otherinfo.id)"></i>
                           <i style="margin-left: 5px;" class="far fa-trash-alt customIcon" (click)="removeOtherInfo(i)"></i>
                       </div>
                   </td>
               </tr>
                 
               </tbody>
             </table>
       </div>

   </div>

      </mat-tab>
   </mat-tab-group> -->
